<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta http-equiv="pragma" content="no-cach" /> 
	<meta http-equiv="cache-control" content="no-cache" /> 
	<meta http-equiv="expires" content="0" />
	<title>B网路由配置表</title>
	<link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/erpbase.css" media="all">
	<link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/erpmanage.css" media="all">
	
	<link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/jModal.css" media="all">
	<script type="text/javascript" src="#springUrl('/static/js/jquery-1.8.0.min.js')"></script>
	<script type="text/javascript" src="#springUrl('/static/js/DatePicker/WdatePicker.js')"></script>
	<script type="text/javascript" src="#springUrl('/static/js/plugins/jquery.blockUI.js')"></script>
	<script type="text/javascript" src="#springUrl('/static/js/common/common-client.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/page-bar.js')"></script>
    <style type="text/css"></style>
</head>

<body>
	<script type="text/javascript" src="#springUrl('')/static/js/jquery-plugins/jquery.autocomplete.js"></script>
	<link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/jquery.autocomplete.css" />
	<script type="text/javascript" src="#springUrl('/static/js/b2bRouter/list.js')"></script>

	<script type="text/javascript">
	    $(document).ready(function(){
            main();
	    });
	</script>
<div id="breadcrumb">
	<p><a href="#">转运中心</a>&nbsp;&gt;&nbsp;<a href="#">B网路由配置表</a></p>
</div>
<!--[if !ie]>breadcrumb<![endif]-->
<div id="content" width="100%">
    <input type="hidden" id="contextPath" value="#springUrl('')">
	<div class="m">
		<div class="tbl-n">
			<form id="dataForm" name="dataForm" action="" method="post">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
                            <td align="right">始发网点：</td>
                            <td>
                                <input type="hidden"name ="originalSiteType" id="originalSiteType" value = "1" />
                                <input type="text" name="originalSiteName" id="originalSiteName" v="require;length:30;" value="$!queryInfo.originalSiteName" maxlength="50" style="width:130px"/>
                                <font class="star" style = "color:red">*</font>
                                <input type="hidden" name="originalSiteCode" id="originalSiteCode" value="$!queryInfo.originalSiteCode"/>
                            </td>

                            <td align="right">目的网点：</td>
                            <td>
                                <select id="destinationSiteType" name="destinationSiteType" class="select20" style="width:70px" value="$!queryInfo.destinationSiteType">
                                    <option value= 1 >转运</option>
                                    <option value= 2 >仓库</option>
                                </select>
                                <input type="text" name="destinationSiteName" id="destinationSiteName" v="require;length:30;" value="$!queryInfo.destinationSiteName" maxlength="50" style="width:130px"/>
                                <font class="star" style = "color:red">*</font>
                                <input type="hidden" name="destinationSiteCode" id="destinationSiteCode" value="$!queryInfo.destinationSiteCode"/>
                            </td>

							<td>
                                <input type="button" id="search" name="search" value="查询" class="btn_c"  onclick="queryBtn(1)"/>
                                <input type="button" id="add"    name="add"    value="新增" class="btn_c" onclick="addBtn()"/>
                                <input type="button" id="change" name="change" value="修改" class="btn_c"  onclick="updateBtn()"/>
                                <input type="button" id="delete" name="delete" value="删除" class="btn_c" onclick="deleteBtn()"/>
                                <input type="button" id="import" name="import" value="导入" class="btn_c" onclick="importBtn()"/>
							</td>
						</tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
	 <!--[if !ie]>tbl-n<![endif]-->
	 <div id="opening">
		<div class="tbl-list">
			<div class="tbl-bg">
				<TABLE  id="paperTable" cellSpacing=0 cellPadding=0 width="100%" class="tb-x1">
					<THEAD>
						<TR>
							<TH field="checkboxField" checkbox="true" rowspan="2">
								<input type="checkbox" id="checkAll" name="checkAll">
							</TH>
							<TH rowspan="2">始发网点</TH>
							<TH rowspan="2">中转网点1</TH>
							<TH rowspan="2">中转网点2</TH>
							<TH rowspan="2">中转网点3</TH>
							<TH rowspan="2">中转网点4</TH>
							<TH rowspan="2">中转网点5</TH>
							<TH rowspan="2">目的网点</TH>
							<TH rowspan="2">操作人</TH>
							<TH rowspan="2">操作时间</TH>
                        </TR>
                    </THEAD>
					<TBODY>
					
                    </TBODY>
                </TABLE>				
            </div>
        </div>

         <div id="pager">

        </div>
	 </div>
</div>
    <script type="text/javascript">
        var jaq = jaq || [];
        jaq.push(['account', 'JA2016_112453']);
        jaq.push(['domain', 'dms.etms.jd.com']);
        (function () {
            var ja = document.createElement('script');
            ja.type = 'text/javascript';
            ja.async = true;
            ja.src = '//wl.jd.com/joya.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ja, s);
        })()
    </script>
</body>
</html>
