<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.bluedragon.distribution.jy.dao.task.JyBizTaskBindDao" >
    <resultMap id="BaseResultMap" type="com.jd.bluedragon.distribution.jy.task.JyBizTaskBindEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="biz_id" property="bizId" jdbcType="VARCHAR" />
        <result column="detail_biz_id" property="detailBizId" jdbcType="VARCHAR" />
        <result column="bind_biz_id" property="bindBizId" jdbcType="VARCHAR" />
        <result column="bind_detail_biz_id" property="bindDetailBizId" jdbcType="VARCHAR" />
        <result column="operate_site_code" property="operateSiteCode" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="create_user_erp" property="createUserErp" jdbcType="VARCHAR" />
        <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
        <result column="update_user_erp" property="updateUserErp" jdbcType="VARCHAR" />
        <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="yn" property="yn" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, biz_id, detail_biz_id, bind_biz_id, bind_detail_biz_id, operate_site_code, type, create_user_erp,
        create_user_name, update_user_erp, update_user_name, create_time, update_time, yn
    </sql>

    <!-- 所有where都加 -->
    <sql id="Base_Condition_Sql" >
        yn = 1 and type = #{type}
    </sql>

    <insert id="batchAdd" parameterType="com.jd.bluedragon.distribution.jy.task.JyBizTaskBindEntity">
        insert into jy_biz_task_bind (
        biz_id,
        detail_biz_id,
        bind_biz_id,
        bind_detail_biz_id,
        operate_site_code,
        type,
        create_user_erp,
        create_user_name,
        create_time,
        update_time,
        yn
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.bizId},
            #{item.detailBizId},
            #{item.bindBizId},
            #{item.bindDetailBizId},
            #{item.operateSiteCode},
            #{item.type},
            #{item.createUserErp},
            #{item.createUserName},
            #{item.createTime},
            #{item.createTime},
            1
            )
        </foreach>
    </insert>

    <!-- 根据条件查询没有绑在bizId中的任务 -->
    <select id="queryBindTaskByBindDetailBizIds" parameterType="com.jd.bluedragon.distribution.jy.task.JyBizTaskBindEntityQueryCondition"
            resultMap="BaseResultMap" >
        select <include refid="Base_Column_List" />
        from jy_biz_task_bind
        where <include refid="Base_Condition_Sql" />
            and bind_detail_biz_id in
            <foreach collection="bindDetailBizIdList" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
    </select>

    <update id="taskUnbinding" parameterType="com.jd.bluedragon.distribution.jy.task.JyBizTaskBindEntity" >
        update jy_biz_task_bind
        set yn = 0,
            update_user_erp = #{updateUserErp},
            update_user_name = #{updateUserName},
            update_time = #{updateTime}
        where  <include refid="Base_Condition_Sql" />
            and biz_id = #{bizId}
            and detail_biz_id = #{detailBizId}
            and bind_biz_id = #{bindBizId}
            and bind_detail_biz_id = #{bindDetailBizId}
    </update>

    <select id="queryBindTaskList" parameterType="com.jd.bluedragon.distribution.jy.task.JyBizTaskBindEntityQueryCondition"
            resultMap="BaseResultMap" >
        select
            <include refid="Base_Column_List" />
        from
            jy_biz_task_bind
        where <include refid="Base_Condition_Sql" />
            and biz_id = #{bizId}
            and detail_biz_id = #{detailBizId}
            <if test="operateSiteCode != null" >
                and operate_site_code = #{operateSiteCode}
            </if>
        limit #{limit}
    </select>

    <select id="countBind" parameterType="java.lang.String" resultType="java.lang.Integer" >
        select count(*) from jy_biz_task_bind
        where yn = 1 and detail_biz_id = #{detailBizId}
    </select>

    <update id="delByBindDetailBizIds" parameterType="com.jd.bluedragon.distribution.jy.task.JyBizTaskBindEntityQueryCondition" >
        update jy_biz_task_bind
        set yn = 0,
            update_user_erp = #{updateUserErp},
            update_user_name = #{updateUserName},
            update_time = #{updateTime}
        where  <include refid="Base_Condition_Sql" />
            and detail_biz_id in
            <foreach collection="bindDetailBizIdList" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
    </update>
</mapper>