<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jd.bluedragon.distribution.jy.dao.send.JySendProductAggsDaoMain">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jd.bluedragon.distribution.jy.send.JySendProductAggsEntity" id="jySendProductAggsMap">
        <result property="id" column="id"/>
        <result property="sendVehicleBizId" column="send_vehicle_biz_id"/>
        <result property="bizId" column="biz_id"/>
        <result property="operateSiteId" column="operate_site_id"/>
        <result property="receiveSiteId" column="receive_site_id"/>
        <result property="shouldScanCount" column="should_scan_count"/>
        <result property="productType" column="product_type"/>
        <result property="createTime" column="create_time"/>
        <result property="yn" column="yn"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        send_vehicle_biz_id,
        biz_id,
        operate_site_id,
        receive_site_id,
        should_scan_count,
        create_time,
        product_type,
        yn,
        ts
    </sql>



    <select id="getSendVehicleProductTypeList" parameterType="java.lang.String" resultType="com.jd.bluedragon.distribution.jy.send.JySendVehicleProductType">
        select product_type as productType,
           sum(should_scan_count) as productwaitScanCount
           from jy_send_product_aggs
           WHERE
             yn = 1
           AND send_vehicle_biz_id = #{sendVehicleBizId}
           GROUP BY product_type
    </select>

    <select id="getToScanCountSum" parameterType="java.lang.String" resultType="java.lang.Long">
        select
               sum(should_scan_count) as productwaitScanCount
        from jy_send_product_aggs
        WHERE
            yn = 1
          AND send_vehicle_biz_id = #{sendVehicleBizId}

    </select>

    <!--查询关键字匹配 -->
    <update id="updateByBizProduct" parameterType="com.jd.bluedragon.distribution.jy.send.JySendProductAggsEntity">
        UPDATE
        jy_send_product_aggs set
        <if test="sendVehicleBizId != null">
            send_vehicle_biz_id = #{sendVehicleBizId},
        </if>
        <if test="operateSiteId != null">
            operate_site_id = #{operateSiteId},
        </if>
        <if test="receiveSiteId != null">
            receive_site_id = #{receiveSiteId},
        </if>
        <if test="shouldScanCount != null">
            should_scan_count = #{shouldScanCount},
        </if>
        <if test="createTime != null">
            create_time = #{createTime},
        </if>
        <if test="yn != null">
            yn = #{yn}
        </if>
        where biz_id = #{bizId} and product_type = #{productType}
    </update>

    <insert id="insert" parameterType="com.jd.bluedragon.distribution.jy.send.JySendProductAggsEntity">
        INSERT INTO jy_send_product_aggs
        (
        <if test="sendVehicleBizId != null">
            send_vehicle_biz_id,
        </if>
        <if test="bizId != null">
            biz_id,
        </if>
        <if test="operateSiteId != null">
            operate_site_id,
        </if>
        <if test="receiveSiteId != null">
            receive_site_id,
        </if>
        <if test="shouldScanCount != null">
            should_scan_count,
        </if>
        <if test="productType != null">
            product_type,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="yn != null">
            yn
        </if>
        )
        VALUES
        (
        <if test="sendVehicleBizId != null">
            #{sendVehicleBizId},
        </if>
        <if test="bizId != null">
            #{bizId},
        </if>
        <if test="operateSiteId != null">
            #{operateSiteId},
        </if>
        <if test="receiveSiteId != null">
            #{receiveSiteId},
        </if>
        <if test="shouldScanCount != null">
            #{shouldScanCount},
        </if>
        <if test="productType != null">
            #{productType},
        </if>
        <if test="createTime != null">
            #{createTime},
        </if>
        <if test="yn != null">
            #{yn}
        </if>
        )
    </insert>

    <select id="getSendProductAggMainData" parameterType="com.jd.bluedragon.distribution.jy.send.JySendProductAggsEntity" resultMap="jySendProductAggsMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM jy_send_product_aggs
        WHERE
        yn = 1
        <if test="operateSiteId!=null">
            and operate_site_id =#{operateSiteId}
        </if>
        <if test="bizId!=null">
            and biz_id =#{bizId}
        </if>
        <if test="productType != null">
            and  product_type = #{productType}
        </if>
    </select>

</mapper>