<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jd.bluedragon.distribution.jy.dao.send.JySendCodeDao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jd.bluedragon.distribution.jy.send.JySendCodeEntity" id="jySendCodeMap">
        <result property="id" column="id"/>
        <result property="sendVehicleBizId" column="send_vehicle_biz_id"/>
        <result property="sendDetailBizId" column="send_detail_biz_id"/>
        <result property="sendCode" column="send_code"/>
        <result property="createUserErp" column="create_user_erp"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="updateUserErp" column="update_user_erp"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="yn" column="yn"/>
        <result property="ts" column="ts"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,        send_vehicle_biz_id,        send_detail_biz_id,        send_code,        create_user_erp,        create_user_name,        update_user_erp,        update_user_name,        create_time,        update_time,        yn,        ts    </sql>

    <insert id="insert" parameterType="JySendCodeEntity">
        INSERT INTO jy_send_code (
        <if test="sendVehicleBizId != null">
            send_vehicle_biz_id,
        </if>
        <if test="sendDetailBizId != null">
            send_detail_biz_id,
        </if>
        <if test="sendCode != null">
            send_code,
        </if>
        <if test="createUserErp != null">
            create_user_erp,
        </if>
        <if test="createUserName != null">
            create_user_name,
        </if>
        <if test="updateUserErp != null">
            update_user_erp,
        </if>
        <if test="updateUserName != null">
            update_user_name,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="updateTime != null">
            update_time
        </if>
        ) VALUES (
        <if test="sendVehicleBizId != null">
            #{sendVehicleBizId},
        </if>
        <if test="sendDetailBizId != null">
            #{sendDetailBizId},
        </if>
        <if test="sendCode != null">
            #{sendCode},
        </if>
        <if test="createUserErp != null">
            #{createUserErp},
        </if>
        <if test="createUserName != null">
            #{createUserName},
        </if>
        <if test="updateUserErp != null">
            #{updateUserErp},
        </if>
        <if test="updateUserName != null">
            #{updateUserName},
        </if>
        <if test="createTime != null">
            #{createTime},
        </if>
        <if test="updateTime != null">
            #{updateTime}
        </if>
        )
    </insert>

    <update id="updateBySendCode" parameterType="com.jd.bluedragon.distribution.jy.dto.send.TransferDto">
        UPDATE jy_send_code
        set send_vehicle_biz_id = #{toSendVehicleBizId},
            send_detail_biz_id  = #{toSendVehicleDetailBizId},
            update_user_erp     = #{updateUserErp},
            update_user_name    = #{updateUserName},
            update_time         = now()
        where send_code = #{sendCode}
          and send_vehicle_biz_id = #{fromSendVehicleBizId}
          and send_detail_biz_id = #{fromSendVehicleDetailBizId}
    </update>

    <update id="deleteVehicleSendRelation" parameterType="com.jd.bluedragon.distribution.jy.dto.send.TransferDto">
        UPDATE jy_send_code
        set yn               =0,
            update_time      = now(),
            update_user_erp  =#{updateUserErp},
            update_user_name =#{updateUserName}
        where send_code = #{sendCode}
          and send_vehicle_biz_id = #{fromSendVehicleBizId}
          and send_detail_biz_id = #{fromSendVehicleDetailBizId}
    </update>

    <update id="deleteVehicleSendRelationByVehicleBizId" parameterType="com.jd.bluedragon.distribution.jy.dto.send.JySendCodeDto">
        UPDATE jy_send_code
        set yn               =0,
            update_time      = now(),
            update_user_erp  =#{updateUserErp},
            update_user_name =#{updateUserName}
        where send_vehicle_biz_id = #{sendVehicleBizId}
    </update>

    <update id="batchUpdateBySendCode" parameterType="com.jd.bluedragon.distribution.jy.dto.send.BatchTransferDto">
        UPDATE jy_send_code
        set send_vehicle_biz_id = #{toSendVehicleBizId},
        send_detail_biz_id = #{toSendVehicleDetailBizId},
        update_user_erp = #{updateUserErp},
        update_user_name = #{updateUserName},
        update_time = now()
        where send_code in
        <foreach item="item" index="index" collection="sendCodeList"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="querySendCodesByVehicleDetailBizId" parameterType="java.lang.String" resultType="java.lang.String">
        select send_code
        from jy_send_code
        where send_detail_biz_id = #{vehicleDetailBizId}
          and yn = 1
    </select>

    <select id="querySendCodesByVehicleBizId" parameterType="java.lang.String" resultType="java.lang.String">
        select send_code
        from jy_send_code
        where send_vehicle_biz_id = #{vehicleBizId}
          and yn = 1
    </select>

    <select id="findEarliestSendCode" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            send_code
        FROM jy_send_code
        WHERE
            yn = 1
        AND send_detail_biz_id = #{vehicleDetailBizId}
        ORDER BY id
        LIMIT 1
    </select>
</mapper>