<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.jy.dao.summary.JyStatisticsSummaryDao" >
  <resultMap id="BaseResultMap" type="com.jd.bluedragon.distribution.jy.summary.JyStatisticsSummaryEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="business_key" property="businessKey" jdbcType="VARCHAR" />
    <result column="business_key_type" property="businessKeyType" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="operate_site_code" property="operateSiteCode" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="volume" property="volume" jdbcType="DOUBLE" />
    <result column="item_num" property="itemNum" jdbcType="INTEGER" />
    <result column="seal_bind_aviation_task_num" property="sealBindAviationTaskNum" jdbcType="INTEGER" />
    <result column="seal_batch_code_num" property="sealBatchCodeNum" jdbcType="INTEGER" />
    <result column="sub_business_num" property="subBusinessNum" jdbcType="INTEGER" />
    <result column="transport_code" property="transportCode" jdbcType="VARCHAR" />
    <result column="depart_time" property="departTime" jdbcType="VARCHAR" />
    <result column="create_user_erp" property="createUserErp" jdbcType="VARCHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="update_user_erp" property="updateUserErp" jdbcType="VARCHAR" />
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="yn" property="yn" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, business_key, business_key_type, source, operate_site_code, weight, volume, item_num,
    seal_bind_aviation_task_num, seal_batch_code_num, sub_business_num, create_user_erp, create_user_name, update_user_erp,
    update_user_name, create_time, update_time, yn, transport_code, depart_time
  </sql>
<!--  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >-->
<!--    select-->
<!--    <include refid="Base_Column_List" />-->
<!--    from jy_statistics_summary-->
<!--    where id = #{id}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >-->
<!--    delete from jy_statistics_summary-->
<!--    where id = #{id}-->
<!--  </delete>-->
  <insert id="insert" parameterType="com.jd.bluedragon.distribution.jy.summary.JyStatisticsSummaryEntity" >
    insert into jy_statistics_summary (
      business_key, business_key_type, source, operate_site_code, weight, volume,
    item_num, seal_batch_code_num, seal_bind_aviation_task_num, sub_business_num, transport_code,depart_time
    create_user_erp, create_user_name, update_user_erp,
    update_user_name, create_time, update_time,
    yn)
    values
      #{businessKey}, #{businessKeyType}, #{source},
      #{operateSiteCode}, #{weight}, #{volume},
      #{itemNum}, #{sealBatchCodeNum}, #{sealBindAviationTaskNum}, #{subBusinessNum}, #{transportCode},#{departTime},
      #{createUserErp}, #{createUserName}, #{updateUserErp},
      #{updateUserName}, #{createTime}, #{updateTime},
      #{yn,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.jd.bluedragon.distribution.jy.summary.JyStatisticsSummaryEntity" >
    insert into jy_statistics_summary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="businessKey != null" >
        business_key,
      </if>
      <if test="businessKeyType != null" >
        business_key_type,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="operateSiteCode != null" >
        operate_site_code,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="volume != null" >
        volume,
      </if>
      <if test="itemNum != null" >
        item_num,
      </if>
      <if test="sealBatchCodeNum != null" >
        seal_batch_code_num,
      </if>
      <if test="sealBindAviationTaskNum != null" >
        seal_bind_aviation_task_num,
      </if>
      <if test="subBusinessNum != null" >
        sub_business_num,
      </if>
      <if test="transportCode != null" >
        transport_code,
      </if>
      <if test="departTime != null" >
        depart_time,
      </if>
      <if test="createUserErp != null" >
        create_user_erp,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="updateUserErp != null" >
        update_user_erp,
      </if>
      <if test="updateUserName != null" >
        update_user_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
        yn
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="businessKey != null" >
        #{businessKey},
      </if>
      <if test="businessKeyType != null" >
        #{businessKeyType},
      </if>
      <if test="source != null" >
        #{source},
      </if>
      <if test="operateSiteCode != null" >
        #{operateSiteCode},
      </if>
      <if test="weight != null" >
        #{weight},
      </if>
      <if test="volume != null" >
        #{volume},
      </if>
      <if test="itemNum != null" >
        #{itemNum},
      </if>
      <if test="sealBatchCodeNum != null" >
        #{sealBatchCodeNum},
      </if>
      <if test="sealBindAviationTaskNum != null" >
        #{sealBindAviationTaskNum},
      </if>
      <if test="subBusinessNum != null" >
        #{subBusinessNum},
      </if>
      <if test="transportCode != null" >
        #{transportCode},
      </if>
      <if test="departTime != null" >
        #{departTime},
      </if>
      <if test="createUserErp != null" >
        #{createUserErp},
      </if>
      <if test="createUserName != null" >
        #{createUserName},
      </if>
      <if test="updateUserErp != null" >
        #{updateUserErp},
      </if>
      <if test="updateUserName != null" >
        #{updateUserName},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      1
    </trim>
  </insert>



  <select id="queryByBusinessKeysAndType" resultMap="BaseResultMap" parameterType="com.jd.bluedragon.distribution.jy.summary.JyStatisticsSummaryCondition">
    SELECT
      <include refid="Base_Column_List" />
    FROM
      jy_statistics_summary
    WHERE
      yn = 1
      and business_key_type = #{businessKeyType}
      and source = #{source}
      and operate_site_code = #{operateSiteCode}
      and business_key IN
        <foreach collection="businessKeyList" item="item" index="index" open="(" separator="," close=")">
          #{item,jdbcType=VARCHAR}
        </foreach>
  </select>


  <select id="queryByBusinessKeyAndType" resultMap="BaseResultMap" parameterType="com.jd.bluedragon.distribution.jy.summary.JyStatisticsSummaryCondition">
    SELECT
      <include refid="Base_Column_List" />
    FROM
      jy_statistics_summary
    WHERE
      yn = 1
      and business_key_type = #{businessKeyType}
      and source = #{source}
      and operate_site_code = #{operateSiteCode}
      and business_key = #{businessKey}
    order by create_time desc
    limit 1
  </select>

  <!--  <update id="updateByPrimaryKeySelective" parameterType="com.jd.bluedragon.distribution.jy.summary.JyStatisticsSummaryEntity" >-->
<!--    update jy_statistics_summary-->
<!--    <set >-->
<!--      <if test="businessKey != null" >-->
<!--        business_key = #{businessKey},-->
<!--      </if>-->
<!--      <if test="businessKeyType != null" >-->
<!--        business_key_type = #{businessKeyType},-->
<!--      </if>-->
<!--      <if test="operateSiteCode != null" >-->
<!--        operate_site_code = #{operateSiteCode},-->
<!--      </if>-->
<!--      <if test="weight != null" >-->
<!--        weight = #{weight},-->
<!--      </if>-->
<!--      <if test="volume != null" >-->
<!--        volume = #{volume},-->
<!--      </if>-->
<!--      <if test="itemNum != null" >-->
<!--        item_num = #{itemNum},-->
<!--      </if>-->
<!--      <if test="batchCodeNum != null" >-->
<!--        batch_code_num = #{batchCodeNum},-->
<!--      </if>-->
<!--      <if test="subBusinessNum != null" >-->
<!--        sub_business_num = #{subBusinessNum},-->
<!--      </if>-->
<!--      <if test="createUserErp != null" >-->
<!--        create_user_erp = #{createUserErp},-->
<!--      </if>-->
<!--      <if test="createUserName != null" >-->
<!--        create_user_name = #{createUserName},-->
<!--      </if>-->
<!--      <if test="updateUserErp != null" >-->
<!--        update_user_erp = #{updateUserErp},-->
<!--      </if>-->
<!--      <if test="updateUserName != null" >-->
<!--        update_user_name = #{updateUserName},-->
<!--      </if>-->
<!--      <if test="createTime != null" >-->
<!--        create_time = #{createTime},-->
<!--      </if>-->
<!--      <if test="updateTime != null" >-->
<!--        update_time = #{updateTime},-->
<!--      </if>-->
<!--      <if test="yn != null" >-->
<!--        yn = #{yn,jdbcType=BIT},-->
<!--      </if>-->
<!--      <if test="ts != null" >-->
<!--        ts = #{ts},-->
<!--      </if>-->
<!--    </set>-->
<!--    where id = #{id}-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="com.jd.bluedragon.distribution.jy.summary.JyStatisticsSummaryEntity" >-->
<!--    update jy_statistics_summary-->
<!--    set business_key = #{businessKey},-->
<!--    business_key_type = #{businessKeyType},-->
<!--    operate_site_code = #{operateSiteCode},-->
<!--    weight = #{weight},-->
<!--    volume = #{volume},-->
<!--    item_num = #{itemNum},-->
<!--    batch_code_num = #{batchCodeNum},-->
<!--    sub_business_num = #{subBusinessNum},-->
<!--    create_user_erp = #{createUserErp},-->
<!--    create_user_name = #{createUserName},-->
<!--    update_user_erp = #{updateUserErp},-->
<!--    update_user_name = #{updateUserName},-->
<!--    create_time = #{createTime},-->
<!--    update_time = #{updateTime},-->
<!--    yn = #{yn,jdbcType=BIT},-->
<!--    ts = #{ts}-->
<!--    where id = #{id}-->
<!--  </update>-->
</mapper>