<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.station.dao.UserSignRecordDao" >

	<resultMap id="UserSignRecord" type="com.jd.bluedragon.distribution.station.domain.UserSignRecord" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="org_code" property="orgCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="site_code" property="siteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="user_code" property="userCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="wave_code" property="waveCode" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="job_code" property="jobCode" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="sign_date" property="signDate" javaType="java.util.Date" jdbcType="DATE" />
		<result column="sign_in_time" property="signInTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="sign_out_time" property="signOutTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="ref_plan_key" property="refPlanKey" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="ref_grid_key" property="refGridKey" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="ref_station_key" property="refStationKey" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_user_name" property="createUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user_name" property="updateUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="yn" property="yn" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="org_name" property="orgName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="site_name" property="siteName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="floor" property="floor" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="grid_no" property="gridNo" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="grid_code" property="gridCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="grid_name" property="gridName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="area_code" property="areaCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="area_name" property="areaName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="work_code" property="workCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="work_name" property="workName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="plan_name" property="planName" javaType="java.lang.String" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List" >
		id,org_code,site_code,user_code,wave_code,job_code,
		sign_date,sign_in_time,sign_out_time,ref_plan_key,ref_grid_key,
		ref_station_key,create_user,create_user_name,update_user,update_user_name,
		create_time,update_time,yn,ts,org_name,
		site_name,floor,grid_no,grid_code,grid_name,
		area_code,area_name,work_code,work_name,plan_name
	</sql>

	<insert id="insert" parameterType="com.jd.bluedragon.distribution.station.domain.UserSignRecord" useGeneratedKeys="true" keyProperty="id">
		insert into user_sign_record
			(
			<trim suffixOverrides=",">
				<if test="id != null" >
					id,
				</if>
				<if test="orgCode != null" >
					org_code,
				</if>
				<if test="siteCode != null" >
					site_code,
				</if>
				<if test="userCode != null" >
					user_code,
				</if>
				<if test="waveCode != null" >
					wave_code,
				</if>
				<if test="jobCode != null" >
					job_code,
				</if>
				<if test="signDate != null" >
					sign_date,
				</if>
				<if test="signInTime != null" >
					sign_in_time,
				</if>
				<if test="signOutTime != null" >
					sign_out_time,
				</if>
				<if test="refPlanKey != null" >
					ref_plan_key,
				</if>
				<if test="refGridKey != null" >
					ref_grid_key,
				</if>
				<if test="refStationKey != null" >
					ref_station_key,
				</if>
				<if test="createUser != null" >
					create_user,
				</if>
				<if test="createUserName != null" >
					create_user_name,
				</if>
				<if test="updateUser != null" >
					update_user,
				</if>
				<if test="updateUserName != null" >
					update_user_name,
				</if>
				<if test="createTime != null" >
					create_time,
				</if>
				<if test="updateTime != null" >
					update_time,
				</if>
				<if test="yn != null" >
					yn,
				</if>
				<if test="ts != null" >
					ts,
				</if>
				<if test="orgName != null" >
					org_name,
				</if>
				<if test="siteName != null" >
					site_name,
				</if>
				<if test="floor != null" >
					floor,
				</if>
				<if test="gridNo != null" >
					grid_no,
				</if>
				<if test="gridCode != null" >
					grid_code,
				</if>
				<if test="gridName != null" >
					grid_name,
				</if>
				<if test="areaCode != null" >
					area_code,
				</if>
				<if test="areaName != null" >
					area_name,
				</if>
				<if test="workCode != null" >
					work_code,
				</if>
				<if test="workName != null" >
					work_name,
				</if>
				<if test="planName != null" >
					plan_name,
				</if>
			</trim>
			)
			values
			(
			<trim suffixOverrides=",">
				<if test="id != null" >
					#{id,jdbcType=BIGINT},
				</if>
				<if test="orgCode != null" >
					#{orgCode,jdbcType=INTEGER},
				</if>
				<if test="siteCode != null" >
					#{siteCode,jdbcType=INTEGER},
				</if>
				<if test="userCode != null" >
					#{userCode,jdbcType=VARCHAR},
				</if>
				<if test="waveCode != null" >
					#{waveCode,jdbcType=TINYINT},
				</if>
				<if test="jobCode != null" >
					#{jobCode,jdbcType=TINYINT},
				</if>
				<if test="signDate != null" >
					#{signDate,jdbcType=DATE},
				</if>
				<if test="signInTime != null" >
					#{signInTime,jdbcType=TIMESTAMP},
				</if>
				<if test="signOutTime != null" >
					#{signOutTime,jdbcType=TIMESTAMP},
				</if>
				<if test="refPlanKey != null" >
					#{refPlanKey,jdbcType=VARCHAR},
				</if>
				<if test="refGridKey != null" >
					#{refGridKey,jdbcType=VARCHAR},
				</if>
				<if test="refStationKey != null" >
					#{refStationKey,jdbcType=VARCHAR},
				</if>
				<if test="createUser != null" >
					#{createUser,jdbcType=VARCHAR},
				</if>
				<if test="createUserName != null" >
					#{createUserName,jdbcType=VARCHAR},
				</if>
				<if test="updateUser != null" >
					#{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUserName != null" >
					#{updateUserName,jdbcType=VARCHAR},
				</if>
				<if test="createTime != null" >
					#{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateTime != null" >
					#{updateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="yn != null" >
					#{yn,jdbcType=TINYINT},
				</if>
				<if test="ts != null" >
					#{ts,jdbcType=TIMESTAMP},
				</if>
				<if test="orgName != null" >
					#{orgName,jdbcType=VARCHAR},
				</if>
				<if test="siteName != null" >
					#{siteName,jdbcType=VARCHAR},
				</if>
				<if test="floor != null" >
					#{floor,jdbcType=INTEGER},
				</if>
				<if test="gridNo != null" >
					#{gridNo,jdbcType=VARCHAR},
				</if>
				<if test="gridCode != null" >
					#{gridCode,jdbcType=VARCHAR},
				</if>
				<if test="gridName != null" >
					#{gridName,jdbcType=VARCHAR},
				</if>
				<if test="areaCode != null" >
					#{areaCode,jdbcType=VARCHAR},
				</if>
				<if test="areaName != null" >
					#{areaName,jdbcType=VARCHAR},
				</if>
				<if test="workCode != null" >
					#{workCode,jdbcType=VARCHAR},
				</if>
				<if test="workName != null" >
					#{workName,jdbcType=VARCHAR},
				</if>
				<if test="planName != null" >
					#{planName,jdbcType=VARCHAR},
				</if>
			</trim>
			)
	</insert>

	<update id="update" parameterType="com.jd.bluedragon.distribution.station.domain.UserSignRecord">
		update user_sign_record
			<set>
				<if test="id != null" >
					id = #{id,jdbcType=BIGINT},
				</if>
				<if test="orgCode != null" >
					org_code = #{orgCode,jdbcType=INTEGER},
				</if>
				<if test="siteCode != null" >
					site_code = #{siteCode,jdbcType=INTEGER},
				</if>
				<if test="userCode != null" >
					user_code = #{userCode,jdbcType=VARCHAR},
				</if>
				<if test="waveCode != null" >
					wave_code = #{waveCode,jdbcType=TINYINT},
				</if>
				<if test="jobCode != null" >
					job_code = #{jobCode,jdbcType=TINYINT},
				</if>
				<if test="signDate != null" >
					sign_date = #{signDate,jdbcType=DATE},
				</if>
				<if test="signInTime != null" >
					sign_in_time = #{signInTime,jdbcType=TIMESTAMP},
				</if>
				<if test="signOutTime != null" >
					sign_out_time = #{signOutTime,jdbcType=TIMESTAMP},
				</if>
				<if test="refPlanKey != null" >
					ref_plan_key = #{refPlanKey,jdbcType=VARCHAR},
				</if>
				<if test="refGridKey != null" >
					ref_grid_key = #{refGridKey,jdbcType=VARCHAR},
				</if>
				<if test="refStationKey != null" >
					ref_station_key = #{refStationKey,jdbcType=VARCHAR},
				</if>
				<if test="createUser != null" >
					create_user = #{createUser,jdbcType=VARCHAR},
				</if>
				<if test="createUserName != null" >
					create_user_name = #{createUserName,jdbcType=VARCHAR},
				</if>
				<if test="updateUser != null" >
					update_user = #{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUserName != null" >
					update_user_name = #{updateUserName,jdbcType=VARCHAR},
				</if>
				<if test="createTime != null" >
					create_time = #{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateTime != null" >
					update_time = #{updateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="yn != null" >
					yn = #{yn,jdbcType=TINYINT},
				</if>
				<if test="ts != null" >
					ts = #{ts,jdbcType=TIMESTAMP},
				</if>
				<if test="orgName != null" >
					org_name = #{orgName,jdbcType=VARCHAR},
				</if>
				<if test="siteName != null" >
					site_name = #{siteName,jdbcType=VARCHAR},
				</if>
				<if test="floor != null" >
					floor = #{floor,jdbcType=INTEGER},
				</if>
				<if test="gridNo != null" >
					grid_no = #{gridNo,jdbcType=VARCHAR},
				</if>
				<if test="gridCode != null" >
					grid_code = #{gridCode,jdbcType=VARCHAR},
				</if>
				<if test="gridName != null" >
					grid_name = #{gridName,jdbcType=VARCHAR},
				</if>
				<if test="areaCode != null" >
					area_code = #{areaCode,jdbcType=VARCHAR},
				</if>
				<if test="areaName != null" >
					area_name = #{areaName,jdbcType=VARCHAR},
				</if>
				<if test="workCode != null" >
					work_code = #{workCode,jdbcType=VARCHAR},
				</if>
				<if test="workName != null" >
					work_name = #{workName,jdbcType=VARCHAR},
				</if>
				<if test="planName != null" >
					plan_name = #{planName,jdbcType=VARCHAR},
				</if>
			</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="deleteById" parameterType="java.lang.Long">
		update user_sign_record
			set yn = 0
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="queryById" parameterType="java.lang.Long" resultMap="UserSignRecord">
		select
			<include refid="Base_Column_List"/>
		from
			user_sign_record t
		where yn = 1 and id = #{id,jdbcType=BIGINT}
	</select>

	<select id="queryListByConditionWithPage" parameterType="java.util.Map" resultMap="UserSignRecord">
		select
			<include refid="Base_Column_List"/>
		from
			user_sign_record t
		where yn = 1 
	</select>

</mapper>