<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.spare.dao.SpareSaleDao" >

	<resultMap id="spareSale" type="com.jd.bluedragon.distribution.spare.domain.SpareSale" >
		<result column="id" property="id" />
		<result column="spare_code" property="spareCode" />
        <result column="product_id" property="productId" />
		<result column="product_name" property="productName" />
		<result column="sale_amount" property="saleAmount" />
		<result column="sale_time" property="saleTime" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="yn" property="yn" />
	</resultMap>
	
	<insert id="add" parameterType="spareSale" >
		INSERT INTO spare_sale (
			spare_code, product_id, product_name,
            sale_amount, sale_time, create_time, update_time, yn)
		VALUES (
			#{spareCode,jdbcType=VARCHAR}, 
			#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR},
			#{saleAmount,jdbcType=INTEGER}, #{saleTime,jdbcType=TIMESTAMP},
			NOW(), NOW(), 1)
	</insert>
	
	<update id="update"  parameterType="spareSale" >
		UPDATE spare_sale
		<set>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="productName != null and productName != ''">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="saleAmount != null">
                sale_amount = #{saleAmount,jdbcType=INTEGER},
            </if>
            <if test="saleTime != null">
                sale_time = #{saleTime,jdbcType=TIMESTAMP},
            </if>
            <if test="yn != null">
                yn = #{yn,jdbcType=INTEGER},
            </if>
            update_time = NOW()
        </set>
        <where>
			<choose>
				<when test="id != null and id != 0">
					and id = #{id,jdbcType=INTEGER}
				</when>
				<otherwise>
					<if test="spareCode != null and spareCode != ''">
						and spare_code = #{spareCode,jdbcType=VARCHAR} 
					</if>
				</otherwise>
			</choose>
			and yn = 1
		</where>
	</update>
</mapper>