<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.spare.dao.SpareDao" >

	<resultMap id="spare" type="com.jd.bluedragon.distribution.spare.domain.Spare" >
		<result column="spare_id" property="id" />
		<result column="spare_code" property="code" />
		<result column="spare_type" property="type" />
		<result column="create_user_code" property="createUserCode" />
		<result column="create_user" property="createUser" />
		<result column="create_time" property="createTime" />
		<result column="update_user_code" property="updateUserCode" />
		<result column="update_user" property="updateUser" />
		<result column="update_time" property="updateTime" />
		<result column="spare_status" property="status" />
		<result column="times" property="times" />
		<result column="yn" property="yn" />
	</resultMap>
	
	<insert id="add" parameterType="spare" >
		INSERT INTO Spare (
		    spare_code, spare_type, create_user_code, create_user,
			update_user_code, update_user, create_time, update_time, times,
			spare_status, yn)
		VALUES (
			#{code,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
			#{createUserCode,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR},
			#{createUserCode,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR},
			NOW(), NOW(), 1, 1, 1)
	</insert>
	
	<update id="update"  parameterType="spare" >
        UPDATE Spare
        <set>
            <if test="createUserCode != null">
                create_user_code = #{createUserCode,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateUserCode != null">
                update_user_code = #{updateUserCode,jdbcType=INTEGER},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                spare_status = #{status,jdbcType=INTEGER},
            </if>
            update_time = NOW(), times = (times + 1)
        </set>
        WHERE spare_code = #{code}
    </update>
	
	<select id="findBySpareCode" resultMap="spare" parameterType="String" >
		SELECT spare_id, spare_code, spare_type, create_user_code, spare_status, times
		FROM Spare
		WHERE yn = 1 AND spare_code = #{code}
			AND ROWNUM <![CDATA[<=]]> 1
	</select>
	
	<select id="findSpares" resultMap="spare" parameterType="spare" >
		SELECT spare_id, spare_code, times
		FROM Spare
		WHERE yn = 1
		    AND spare_type = #{type}
		    AND spare_status = #{status}
		     AND times = #{times}
			AND ROWNUM <![CDATA[<=]]> #{quantity}
	</select>
	
</mapper>