<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>验货集齐查询已验包裹</title>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    #parse("system/common/baseImport.vm")
    <script src="/static/js/inspectionCheck/listPackage.js"></script>
</head>
<body>

<div id="dataTableDiv" class="main">
    <ol class="breadcrumb">
        <li><a href="#">分拣中心</a></li>
        <li class="active">已验包裹</li>
    </ol>

    <!-- 查询条件 -->
    <div id="query-condition">
        <form id="query-form" class="form-horizontal">
            <fieldset>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label col-xs-4">运单号：</label>
                                <div class="col-xs-6">
                                    <input type="text" id="waybillCode" name="waybillCode" class="form-control search-param" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    <hr />

    <!-- 主页面操作按钮 -->
    <div id="toolbar" class="btn-group">
        <button id="btn_query" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;查询
        </button>
    </div>
    <table id="dataTable"></table>
</div>
<script type="text/javascript">
    var jaq = jaq || [];
    jaq.push(['account', 'JA2016_112453']);
    jaq.push(['domain', 'dms.etms.jd.com']);
    (function () {
        var ja = document.createElement('script');
        ja.type = 'text/javascript';
        ja.async = true;
        ja.src = '//wl.jd.com/joya.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ja, s);
    })()
</script>
#parse("system/security/watermark.vm")
</body>
</html>