<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jd.bluedragon.distribution.jy.dao.task.JyBizTaskUnloadVehicleDao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jd.bluedragon.distribution.jy.task.JyBizTaskUnloadVehicleEntity"
               id="jyBizTaskUnloadVehicleMap">
        <result property="id" column="id"/>
        <result property="bizId" column="biz_id"/>
        <result property="sealCarCode" column="seal_car_code"/>
        <result property="vehicleNumber" column="vehicle_number"/>
        <result property="transWorkItemCode" column="trans_work_item_code"/>
        <result property="fuzzyVehicleNumber" column="fuzzy_vehicle_number"/>
        <result property="vehicleStatus" column="vehicle_status"/>
        <result property="manualCreatedFlag" column="manual_created_flag"/>
        <result property="startSiteId" column="start_site_id"/>
        <result property="startSiteName" column="start_site_name"/>
        <result property="endSiteId" column="end_site_id"/>
        <result property="endSiteName" column="end_site_name"/>
        <result property="sortTime" column="sort_time"/>
        <result property="ranking" column="ranking"/>
        <result property="predictionArriveTime" column="prediction_arrive_time"/>
        <result property="actualArriveTime" column="actual_arrive_time"/>
        <result property="desealCarTime" column="deseal_car_time"/>
        <result property="unloadFinishTime" column="unload_finish_time"/>
        <result property="lessCount" column="less_count"/>
        <result property="moreCount" column="more_count"/>
        <result property="abnormalFlag" column="abnormal_flag"/>
        <result property="totalCount" column="total_count"/>
        <result property="unloadProgress" column="unload_progress"/>
        <result property="lineType" column="line_type"/>
        <result property="lineTypeName" column="line_type_name"/>
        <result property="tagsSign" column="tags_sign"/>
        <result property="createUserErp" column="create_user_erp"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="updateUserErp" column="update_user_erp"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="yn" column="yn"/>
        <result property="ts" column="ts"/>
    </resultMap>

    <resultMap type="com.jd.bluedragon.distribution.jy.dto.task.JyBizTaskUnloadCountDto" id="JyBizTaskUnloadCountMap">
        <result property="vehicleStatus" column="vehicle_status"/>
        <result property="lineType" column="line_type"/>
        <result property="sum" column="v_sum"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        biz_id,
        seal_car_code,
        vehicle_number,
        trans_work_item_code,
        fuzzy_vehicle_number,
        vehicle_status,
        manual_created_flag,
        start_site_id,
        start_site_name,
        end_site_id,
        end_site_name,
        sort_time,
        ranking,
        prediction_arrive_time,
        actual_arrive_time,
        deseal_car_time,
        unload_finish_time,
        less_count,
        more_count,
        abnormal_flag,
        total_count,
        unload_progress,
        line_type,
        line_type_name,
        tags_sign,
        create_user_erp,
        create_user_name,
        update_user_erp,
        update_user_name,
        create_time,
        update_time,
        yn,
        ts
    </sql>


    <insert id="insert" parameterType="JyBizTaskUnloadVehicleEntity">
        INSERT INTO jy_biz_task_unload_vehicle (

        biz_id,

        <if test="sealCarCode != null">
            seal_car_code,
        </if>
        <if test="vehicleNumber != null">
            vehicle_number,
        </if>
        <if test="transWorkItemCode != null">
            trans_work_item_code,
        </if>
        <if test="fuzzyVehicleNumber != null">
            fuzzy_vehicle_number,
        </if>
        <if test="vehicleStatus != null">
            vehicle_status,
        </if>
        <if test="manualCreatedFlag != null">
            manual_created_flag,
        </if>
        <if test="startSiteId != null">
            start_site_id,
        </if>
        <if test="startSiteName != null">
            start_site_name,
        </if>
        <if test="endSiteId != null">
            end_site_id,
        </if>
        <if test="endSiteName != null">
            end_site_name,
        </if>
        <if test="sortTime != null">
            sort_time,
        </if>
        <if test="ranking != null">
            ranking,
        </if>
        <if test="predictionArriveTime != null">
            prediction_arrive_time,
        </if>
        <if test="actualArriveTime != null">
            actual_arrive_time,
        </if>
        <if test="desealCarTime != null">
            deseal_car_time,
        </if>
        <if test="unloadFinishTime != null">
            unload_finish_time,
        </if>
        <if test="lessCount != null">
            less_count,
        </if>
        <if test="moreCount != null">
            more_count,
        </if>
        <if test="abnormalFlag != null">
            abnormal_flag,
        </if>
        <if test="totalCount != null">
            total_count,
        </if>
        <if test="unloadProgress != null">
            unload_progress,
        </if>
        <if test="lineType != null">
            line_type,
        </if>
        <if test="lineTypeName != null">
            line_type_name,
        </if>
        <if test="tagsSign != null">
            tags_sign,
        </if>
        <if test="createUserErp != null">
            create_user_erp,
        </if>
        <if test="createUserName != null">
            create_user_name,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        yn

        ) VALUES (

        #{bizId},

        <if test="sealCarCode != null">
            #{sealCarCode},
        </if>
        <if test="vehicleNumber != null">
            #{vehicleNumber},
        </if>
        <if test="transWorkItemCode != null">
            #{transWorkItemCode},
        </if>
        <if test="fuzzyVehicleNumber != null">
            #{fuzzyVehicleNumber},
        </if>
        <if test="vehicleStatus != null">
            #{vehicleStatus},
        </if>
        <if test="manualCreatedFlag != null">
            #{manualCreatedFlag},
        </if>
        <if test="startSiteId != null">
            #{startSiteId},
        </if>
        <if test="startSiteName != null">
            #{startSiteName},
        </if>
        <if test="endSiteId != null">
            #{endSiteId},
        </if>
        <if test="endSiteName != null">
            #{endSiteName},
        </if>
        <if test="sortTime != null">
            #{sortTime},
        </if>
        <if test="ranking != null">
            #{ranking},
        </if>
        <if test="predictionArriveTime != null">
            #{predictionArriveTime},
        </if>
        <if test="actualArriveTime != null">
            #{actualArriveTime},
        </if>
        <if test="desealCarTime != null">
            #{desealCarTime},
        </if>
        <if test="unloadFinishTime != null">
            #{unloadFinishTime},
        </if>
        <if test="lessCount != null">
            #{lessCount},
        </if>
        <if test="moreCount != null">
            #{moreCount},
        </if>
        <if test="abnormalFlag != null">
            #{abnormalFlag},
        </if>
        <if test="totalCount != null">
            #{totalCount},
        </if>
        <if test="unloadProgress != null">
            #{unloadProgress},
        </if>
        <if test="lineType != null">
            #{lineType},
        </if>
        <if test="lineTypeName != null">
            #{lineTypeName},
        </if>
        <if test="tagsSign != null">
            #{tagsSign},
        </if>
        <if test="createUserErp != null">
            #{createUserErp},
        </if>
        <if test="createUserName != null">
            #{createUserName},
        </if>
        <if test="createTime != null">
            #{createTime},
        </if>

        1

        )
    </insert>


    <select id="findByBizId" resultMap="jyBizTaskUnloadVehicleMap">
        select
        <include refid="Base_Column_List"/>
        from jy_biz_task_unload_vehicle
        where biz_id = #{bizId} and yn = 1
        order by ts desc
        limit 1;
    </select>

    <select id="findByTransWorkItemCode" resultMap="jyBizTaskUnloadVehicleMap">
        select
        <include refid="Base_Column_List"/>
        from jy_biz_task_unload_vehicle
        where trans_work_item_code = #{transWorkItemCode} and yn = 1
        order by ts desc
        limit 1;
    </select>

    <select id="findIdByBizId" resultType="java.lang.Long">
        select id
        from jy_biz_task_unload_vehicle
        where biz_id = #{bizId}
          and yn = 1
        order by ts desc limit 1;
    </select>

    <select id="findIdAndStatusByBizId" resultMap="jyBizTaskUnloadVehicleMap">
        select id,
               vehicle_status
        from jy_biz_task_unload_vehicle
        where biz_id = #{bizId}
          and yn = 1
        order by ts desc limit 1;
    </select>
    <select id="findStatusCountByCondition4Status" resultMap="JyBizTaskUnloadCountMap">
        select
        vehicle_status,count(1) as v_sum
        from jy_biz_task_unload_vehicle

        <where>

            <include refid="queryTaskCondition"/>

            <if test="statuses != null">
                and vehicle_status in
                <foreach collection="statuses" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="sealCarCodes != null">
                AND seal_car_code IN
                <foreach collection="sealCarCodes" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>

        group by vehicle_status

    </select>

    <sql id="queryTaskCondition">
            yn = 1

            AND end_site_id = #{entity.endSiteId}

            <if test="entity.sealCarCode">
                and seal_car_code = #{entity.sealCarCode}
            </if>

            <if test="entity.sortTime != null">
                AND sort_time >= #{entity.sortTime}
            </if>

            <choose>
                <when test="entity.startSiteId != null and entity.fuzzyVehicleNumber != null">
                    AND (start_site_id = #{entity.startSiteId} OR fuzzy_vehicle_number = #{entity.fuzzyVehicleNumber})
                </when>
                <otherwise>
                    <if test="entity.fuzzyVehicleNumber">
                        AND fuzzy_vehicle_number = #{entity.fuzzyVehicleNumber}
                    </if>
                    <if test="entity.startSiteId != null">
                        AND start_site_id = #{entity.startSiteId}
                    </if>
                </otherwise>
            </choose>
    </sql>


    <select id="findStatusCountByCondition4StatusAndLine" resultMap="JyBizTaskUnloadCountMap">
        select
        vehicle_status,line_type,count(1) as v_sum
        from jy_biz_task_unload_vehicle

        <where>

            <include refid="queryTaskCondition"/>

            <if test="statuses != null">
                and vehicle_status in
                <foreach collection="statuses" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="sealCarCodes != null">
                AND seal_car_code IN
                <foreach collection="sealCarCodes" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>

        group by vehicle_status,line_type

    </select>


    <select id="findByConditionOfPage" resultMap="jyBizTaskUnloadVehicleMap">
        select
        <include refid="Base_Column_List"/>
        from jy_biz_task_unload_vehicle

        <where>
            <include refid="queryTaskCondition"/>

            <if test="entity.vehicleStatus != null">
                and vehicle_status = #{entity.vehicleStatus}
            </if>

            <if test="entity.lineType != null">
                AND line_type = #{entity.lineType}
            </if>

            <if test="sealCarCodes != null">
                AND seal_car_code IN
                <foreach collection="sealCarCodes" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>

        </where>

        <if test="orderType != null">
            order by
            <choose>
                <when test="orderType == 1">
                    sort_time asc
                </when>
                <when test="orderType == 2">
                    abnormal_flag desc,sort_time desc
                </when>
                <when test="orderType == 3">
                    ranking
                </when>
                <when test="orderType == 4">
                    deseal_car_time desc
                </when>
                <when test="orderType == 5">
                    unload_progress desc
                </when>
                <otherwise>
                    id
                </otherwise>
            </choose>

        </if>

        limit #{offset},#{limit}
    </select>

    <update id="updateStatusByBizId" parameterType="jyBizTaskUnloadVehicleEntity">
        update jy_biz_task_unload_vehicle
        <set>
            vehicle_status = #{vehicleStatus},
            update_user_erp = #{updateUserErp},
            update_user_name = #{updateUserName},
            update_time = #{updateTime}
        </set>

        <where>
            biz_id = #{bizId} and yn = 1
        </where>

    </update>

    <update id="updateOfBaseInfoById" parameterType="JyBizTaskUnloadVehicleEntity">
        UPDATE jy_biz_task_unload_vehicle
        <set>
            <if test="sealCarCode != null">
                seal_car_code = #{sealCarCode},
            </if>
            <if test="vehicleNumber != null">
                vehicle_number = #{vehicleNumber},
            </if>
            <if test="transWorkItemCode != null">
                trans_work_item_code = #{transWorkItemCode},
            </if>
            <if test="fuzzyVehicleNumber != null">
                fuzzy_vehicle_number = #{fuzzyVehicleNumber},
            </if>
            <if test="manualCreatedFlag != null">
                manual_created_flag = #{manualCreatedFlag},
            </if>
            <if test="startSiteId != null">
                start_site_id = #{startSiteId},
            </if>
            <if test="startSiteName != null">
                start_site_name = #{startSiteName},
            </if>
            <if test="endSiteId != null">
                end_site_id = #{endSiteId},
            </if>
            <if test="endSiteName != null">
                end_site_name = #{endSiteName},
            </if>
            <if test="updateUserErp != null">
                update_user_erp = #{updateUserErp},
            </if>
            <if test="updateUserName != null">
                update_user_name = #{updateUserName},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id} and yn = 1
        </where>
    </update>

    <update id="updateOfBusinessInfoById" parameterType="JyBizTaskUnloadVehicleEntity">
        UPDATE jy_biz_task_unload_vehicle
        <set>
            <if test="sortTime != null">
                sort_time = #{sortTime},
            </if>
            <if test="ranking != null">
                ranking = #{ranking},
            </if>
            <if test="predictionArriveTime != null">
                prediction_arrive_time = #{predictionArriveTime},
            </if>
            <if test="actualArriveTime != null">
                actual_arrive_time = #{actualArriveTime},
            </if>
            <if test="desealCarTime != null">
                deseal_car_time = #{desealCarTime},
            </if>
            <if test="lineType != null">
                line_type = #{lineType},
            </if>
            <if test="lineTypeName != null">
                line_type_name = #{lineTypeName},
            </if>
            <if test="unloadFinishTime != null">
                unload_finish_time = #{unloadFinishTime},
            </if>
            <if test="lessCount != null">
                less_count = #{lessCount},
            </if>
            <if test="moreCount != null">
                more_count = #{moreCount},
            </if>
            <if test="abnormalFlag != null">
                abnormal_flag = #{abnormalFlag},
            </if>
            <if test="totalCount != null">
                total_count = #{totalCount},
            </if>
            <if test="unloadProgress != null">
                unload_progress = #{unloadProgress},
            </if>
            <if test="tagsSign != null">
                tags_sign = #{tagsSign},
            </if>
            <if test="updateUserErp != null">
                update_user_erp = #{updateUserErp},
            </if>
            <if test="updateUserName != null">
                update_user_name = #{updateUserName},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id} and yn = 1
        </where>
    </update>
    <select id="countByVehicleNumberAndStatus" resultType="java.lang.Long">
        select count(1)
        from jy_biz_task_unload_vehicle
        <where>
            end_site_id = #{endSiteId}
            and vehicle_number = #{vehicleNumber}
            <if test="statusCodeList != null">
                and vehicle_status in
                <foreach collection="statusCodeList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            and yn = 1           
        </where>
     </select>

    <select id="needCleanSite" parameterType="JyBizTaskUnloadVehicleEntity" resultType="Integer">
        select end_site_id
        from jy_biz_task_unload_vehicle
        group by end_site_id

    </select>

    <update id="cleanByParam" parameterType="JyBizTaskUnloadVehicleEntity">
        update jy_biz_task_unload_vehicle
        set yn = 0
        where yn = 1
        and end_site_id = #{endSiteId}
        and vehicle_status = #{vehicleStatus}
        <if test="createTime != null">
            and create_time <![CDATA[ < ]]> #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time <![CDATA[ < ]]> #{updateTime}
        </if>
        <if test="unloadFinishTime != null">
            and unload_finish_time <![CDATA[ < ]]> #{unloadFinishTime}
        </if>
        <if test="ts != null">
            and ts <![CDATA[ < ]]> #{ts}
        </if>


    </update>
</mapper>