<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.jy.dao.exception.JyExceptionScrappedDao" >
  <resultMap id="BaseResultMap" type="com.jd.bluedragon.distribution.jy.exception.JyExceptionScrappedPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="site_code" property="siteCode" jdbcType="INTEGER" />
    <result column="site_name" property="siteName" jdbcType="VARCHAR" />
    <result column="biz_id" property="bizId" jdbcType="VARCHAR" />
    <result column="waybill_code" property="waybillCode" jdbcType="VARCHAR" />
    <result column="exception_type" property="exceptionType" jdbcType="INTEGER" />
    <result column="goods_image_url" property="goodsImageUrl" jdbcType="VARCHAR" />
    <result column="certify_image_url" property="certifyImageUrl" jdbcType="VARCHAR" />
    <result column="first_checker" property="firstChecker" jdbcType="VARCHAR" />
    <result column="first_check_status" property="firstCheckStatus" jdbcType="INTEGER" />
    <result column="first_check_time" property="firstCheckTime" jdbcType="TIMESTAMP" />
    <result column="second_checker" property="secondChecker" jdbcType="VARCHAR" />
    <result column="second_check_status" property="secondCheckStatus" jdbcType="INTEGER" />
    <result column="second_check_time" property="secondCheckTime" jdbcType="TIMESTAMP" />
    <result column="third_checker" property="thirdChecker" jdbcType="VARCHAR" />
    <result column="third_check_status" property="thirdCheckStatus" jdbcType="INTEGER" />
    <result column="third_check_time" property="thirdCheckTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_erp" property="createErp" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_erp" property="updateErp" jdbcType="VARCHAR" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
    <result column="yn" property="yn" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, site_code, site_name, biz_id, waybill_code, exception_type, goods_image_url, 
    certify_image_url, first_checker, first_check_status, first_check_time, second_checker,
    second_check_status, second_check_time, third_checker, third_check_status, third_check_time,
    create_time, create_erp, update_time, update_erp, ts, yn
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from jy_exception_scrapped
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectOneByBizId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from jy_exception_scrapped
    where biz_id = #{bizId,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="com.jd.bluedragon.distribution.jy.exception.JyExceptionScrappedPO" >
    insert into jy_exception_scrapped (id, site_code, site_name, 
      biz_id, waybill_code, exception_type, 
      goods_image_url, certify_image_url, first_checker, 
      first_check_status, second_checker, second_check_status, 
      third_checker, third_check_status, create_time, 
      create_erp, update_time, update_erp, 
      ts, yn)
    values (#{id,jdbcType=BIGINT}, #{siteCode,jdbcType=INTEGER}, #{siteName,jdbcType=VARCHAR}, 
      #{bizId,jdbcType=VARCHAR}, #{waybillCode,jdbcType=VARCHAR}, #{exceptionType,jdbcType=INTEGER}, 
      #{goodsImageUrl,jdbcType=VARCHAR}, #{certifyImageUrl,jdbcType=VARCHAR}, #{firstChecker,jdbcType=VARCHAR}, 
      #{firstCheckStatus,jdbcType=INTEGER}, #{secondChecker,jdbcType=VARCHAR}, #{secondCheckStatus,jdbcType=INTEGER}, 
      #{thirdChecker,jdbcType=VARCHAR}, #{thirdCheckStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createErp,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateErp,jdbcType=VARCHAR}, 
      #{ts,jdbcType=TIMESTAMP}, #{yn,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.jd.bluedragon.distribution.jy.exception.JyExceptionScrappedPO" >
    insert into jy_exception_scrapped (

      <if test="siteCode != null" >
        site_code,
      </if>
      <if test="siteName != null" >
        site_name,
      </if>
      <if test="bizId != null" >
        biz_id,
      </if>
      <if test="waybillCode != null" >
        waybill_code,
      </if>
      <if test="exceptionType != null" >
        exception_type,
      </if>
      <if test="goodsImageUrl != null" >
        goods_image_url,
      </if>
      <if test="certifyImageUrl != null" >
        certify_image_url,
      </if>
      <if test="firstChecker != null" >
        first_checker,
      </if>
      <if test="firstCheckStatus != null" >
        first_check_status,
      </if>
      <if test="firstCheckTime != null" >
        first_check_time,
      </if>
      <if test="secondChecker != null" >
        second_checker,
      </if>
      <if test="secondCheckStatus != null" >
        second_check_status,
      </if>
      <if test="secondCheckTime != null" >
        second_check_time,
      </if>
      <if test="thirdChecker != null" >
        third_checker,
      </if>
      <if test="thirdCheckStatus != null" >
        third_check_status,
      </if>
      <if test="thirdCheckTime != null" >
        third_check_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createErp != null" >
        create_erp,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateErp != null" >
        update_erp,
      </if>
      <if test="ts != null" >
        ts,
      </if>
        yn)
    values (

      <if test="siteCode != null" >
        #{siteCode,jdbcType=INTEGER},
      </if>
      <if test="siteName != null" >
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="bizId != null" >
        #{bizId,jdbcType=VARCHAR},
      </if>
      <if test="waybillCode != null" >
        #{waybillCode,jdbcType=VARCHAR},
      </if>
      <if test="exceptionType != null" >
        #{exceptionType,jdbcType=INTEGER},
      </if>
      <if test="goodsImageUrl != null" >
        #{goodsImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="certifyImageUrl != null" >
        #{certifyImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="firstChecker != null" >
        #{firstChecker,jdbcType=VARCHAR},
      </if>
      <if test="firstCheckStatus != null" >
        #{firstCheckStatus,jdbcType=INTEGER},
      </if>
      <if test="firstCheckTime != null" >
        #{firstCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="secondChecker != null" >
        #{secondChecker,jdbcType=VARCHAR},
      </if>
      <if test="secondCheckStatus != null" >
        #{secondCheckStatus,jdbcType=INTEGER},
      </if>
      <if test="secondCheckTime != null" >
        #{secondCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="thirdChecker != null" >
        #{thirdChecker,jdbcType=VARCHAR},
      </if>
      <if test="thirdCheckStatus != null" >
        #{thirdCheckStatus,jdbcType=INTEGER},
      </if>
      <if test="thirdCheckTime != null" >
        #{thirdCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createErp != null" >
        #{createErp,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateErp != null" >
        #{updateErp,jdbcType=VARCHAR},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
       1)

  </insert>
  <update id="updateByBizId" parameterType="com.jd.bluedragon.distribution.jy.exception.JyExceptionScrappedPO" >
    update jy_exception_scrapped
    <set >
      <if test="siteCode != null" >
        site_code = #{siteCode,jdbcType=INTEGER},
      </if>
      <if test="siteName != null" >
        site_name = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="waybillCode != null" >
        waybill_code = #{waybillCode,jdbcType=VARCHAR},
      </if>
      <if test="exceptionType != null" >
        exception_type = #{exceptionType,jdbcType=INTEGER},
      </if>
      <if test="goodsImageUrl != null" >
        goods_image_url = #{goodsImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="certifyImageUrl != null" >
        certify_image_url = #{certifyImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="firstChecker != null" >
        first_checker = #{firstChecker,jdbcType=VARCHAR},
      </if>
      <if test="firstCheckStatus != null" >
        first_check_status = #{firstCheckStatus,jdbcType=INTEGER},
      </if>
      <if test="firstCheckTime != null" >
        first_check_time = #{firstCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="secondChecker != null" >
        second_checker = #{secondChecker,jdbcType=VARCHAR},
      </if>
      <if test="secondCheckStatus != null" >
        second_check_status = #{secondCheckStatus,jdbcType=INTEGER},
      </if>
      <if test="secondCheckTime != null" >
        second_check_time = #{secondCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="thirdChecker != null" >
        third_checker = #{thirdChecker,jdbcType=VARCHAR},
      </if>
      <if test="thirdCheckStatus != null" >
        third_check_status = #{thirdCheckStatus,jdbcType=INTEGER},
      </if>
      <if test="thirdCheckTime != null" >
        third_check_time = #{thirdCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createErp != null" >
        create_erp = #{createErp,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateErp != null" >
        update_erp = #{updateErp,jdbcType=VARCHAR},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null" >
        yn = #{yn,jdbcType=BIT},
      </if>
    </set>
    where biz_id = #{bizId}
  </update>
</mapper>