<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.jy.dao.exception.JyExceptionInterceptDetailKvDao">
    <!-- table映射实体对象 -->
    <resultMap id="RM_JyExceptionInterceptDetailKv" type="com.jd.bluedragon.distribution.jy.exception.model.JyExceptionInterceptDetailKv">
        <result property="id" column="id"/>
        <result property="keyword" column="keyword"/>
        <result property="value" column="value"/>
        <result property="ts" column="ts"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="Base_Column_List">
        `id`, `keyword`, `value`, `ts`
    </sql>

    <!-- 插入 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.jd.bluedragon.distribution.jy.exception.model.JyExceptionInterceptDetailKv">
        insert into `jy_exception_intercept_detail_kv`(
            id,
            keyword,
            value,
            ts
        ) values (
            #{id},
            #{keyword},
            #{value},
            #{ts}
        )
    </insert>

    <!-- 增加 -->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.jd.bluedragon.distribution.jy.exception.model.JyExceptionInterceptDetailKv">
        insert into `jy_exception_intercept_detail_kv`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="keyword != null and keyword != ''">
                keyword,
            </if>
            <if test="value != null and value != ''">
                value,
            </if>
            <if test="ts != null">
                ts,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="keyword != null and keyword != ''">
                #{keyword},
            </if>
            <if test="value != null and value != ''">
                #{value},
            </if>
            <if test="ts != null">
                #{ts},
            </if>
        </trim>
    </insert>
    <!-- 批量增加 -->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        insert into `jy_exception_intercept_detail_kv`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            keyword,
            value,
            ts,
        </trim>
        values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                    #{item.id},
                    #{item.keyword},
                    #{item.value},
                    #{item.ts},
            </trim>
        </foreach>
    </insert>
    <!-- 更新 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.jd.bluedragon.distribution.jy.exception.model.JyExceptionInterceptDetailKv">
        UPDATE `jy_exception_intercept_detail_kv`
        <set>
            <if test="keyword != null and keyword != ''">
                keyword = #{keyword},
            </if>
            <if test="value != null and value != ''">
                value = #{value},
            </if>
            <if test="ts != null ">
                ts = #{ts}
            </if>
        </set>
        WHERE
            id = #{id}
    </update>
    <!-- 批量更新 -->
    <update id="batchUpdateByPrimaryKeySelective" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index"  separator=";">
            UPDATE `jy_exception_intercept_detail_kv`
            <set>
                <if test="item.keyword != null and item.keyword != ''">
                    keyword = #{item.keyword},
                </if>
                <if test="item.value != null and item.value != ''">
                    value = #{item.value},
                </if>
                <if test="item.ts != null">
                    ts = #{item.ts}
                </if>
            </set>
            WHERE
                id = #{item.id}
        </foreach>
    </update>
    <!-- 按主键查询 -->
    <select id="selectByPrimaryKey" resultMap="RM_JyExceptionInterceptDetailKv" parameterType="com.jd.bluedragon.distribution.jy.exception.model.JyExceptionInterceptDetailKv">
        SELECT
        <include refid="Base_Column_List"/>
        <![CDATA[
            FROM `jy_exception_intercept_detail_kv`
            WHERE
                id = #{id} 
        ]]>
    </select>
    <!-- 按条件查询单条记录 -->
    <select id="selectOne" resultMap="RM_JyExceptionInterceptDetailKv" parameterType="com.jd.bluedragon.distribution.jy.exception.query.JyExceptionInterceptDetailKvQuery">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `jy_exception_intercept_detail_kv`
        <include refid="where"/>
    </select>
    <!-- where条件 -->
    <sql id="where">
        <where>
            <include refid="sql_if_not_null"/>
        </where>
    </sql>
    <!-- 判断空值 -->
    <sql id="sql_if_not_null">
        <if test="keyword != null and keyword != ''">
            AND keyword = #{keyword}
        </if>
    </sql>
    <!-- 查询行数 -->
    <select id="queryCount" resultType="long" parameterType="com.jd.bluedragon.distribution.jy.exception.query.JyExceptionInterceptDetailKvQuery">
        SELECT count(1) FROM `jy_exception_intercept_detail_kv`
        <include refid="where"/>
    </select>
    <!-- 查询集合 如果pageNumber小于或等于0,则不进行分页操作 -->
    <select id="queryList" resultMap="RM_JyExceptionInterceptDetailKv" parameterType="com.jd.bluedragon.distribution.jy.exception.query.JyExceptionInterceptDetailKvQuery">
        SELECT
        <include refid="Base_Column_List" />
        FROM `jy_exception_intercept_detail_kv`
        <include refid="where"/>
        <if test="pageNumber > 0">
            limit #{limitStart}, #{pageSize}
        </if>
    </select>
    <!-- 伪删除（更新删除行的识别码） -->
    <update id="deleteByPrimaryKey" parameterType="com.jd.bluedragon.distribution.jy.exception.model.JyExceptionInterceptDetailKv">
        UPDATE `jy_exception_intercept_detail_kv` SET
        <if test="updateUserId != null">
            update_user_id = #{updateUserId},
        </if>
        <if test="updateUserCode != null and updateUserCode != ''">
            update_user_code = #{updateUserCode},
        </if>
        <if test="updateUserName != null and updateUserName != ''">
            update_user_name = #{updateUserName},
        </if>
        <if test="updateTime != null ">
            update_time = #{updateTime},
        </if>
        yn = 0
        WHERE
        id = #{id} 
    </update>
    <!-- 批量伪删除 -->
    <update id="batchDeleteByPrimaryKeys" parameterType="com.jd.bluedragon.distribution.jy.exception.query.JyExceptionInterceptDetailKvQuery">
        UPDATE `jy_exception_intercept_detail_kv` SET
        <if test="updateUserId != null">
            update_user_id = #{updateUserId},
        </if>
        <if test="updateUserCode != null and updateUserCode != ''">
            update_user_code = #{updateUserCode},
        </if>
        <if test="updateUserName != null and updateUserName != ''">
            update_user_name = #{updateUserName},
        </if>
        <if test="updateTime != null ">
            update_time = #{updateTime},
        </if>
        yn = 0
        WHERE id IN
        <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!-- 按条件查询单条记录 -->
    <select id="selectLastOneByKeyword" resultMap="RM_JyExceptionInterceptDetailKv" parameterType="com.jd.bluedragon.distribution.jy.exception.query.JyExceptionInterceptDetailKvQuery">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `jy_exception_intercept_detail_kv`
        <include refid="where"/>
        order by ts desc
        limit 1
    </select>
</mapper>

