<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>抽检统计报表</title>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    #parse("system/common/baseImport.vm")
    <script src="/static/js/exportConcurrencyLimit/exportConcurrencyLimit.js"></script>
    <script src="/static/js/spotcheck/spotCheckReport.js?v=20210906"></script>
</head>
<body>
<div id="dataTableDiv" class="main">
        <ol class="breadcrumb">
            <li><a href="#">分拣中心</a></li>
            <li class="active">抽检统计报表</li>
        </ol>
		<!-- 查询条件 -->
        <div id="query-condition">
            <form id="query-form" class="form-horizontal">
                <fieldset>
                	<div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-3">
                                <div class="form-group" >
                                    <label class="control-label col-xs-4" for="box-code-input">复核区域 ：</label>
                                    <div class="col-xs-6 ">
                                        <select id="site-group-select" class="form-control " name="site-group-select"
                                                value=""></select>
                                    </div>
                                    <input type="hidden" id="reviewOrgCode" name="reviewOrgCode"
                                           class="form-control search-param " >
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-xs-4" for="site-select">复核分拣 ：</label>
                                    <div class=" col-xs-6 ">
                                        <select id="site-select" class="form-control" name="site-select" value=""></select>
                                    </div>
                                    <input type="hidden" id="reviewSiteCode" name="reviewSiteCode"
                                           class="form-control search-param " >
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-xs-4 ">复核日期 ：</label>
                                    <div class=" col-xs-6">
                                        <input type="text" id="reviewStartTime" name="reviewStartTime"  readonly="readonly" class="form-control search-param ">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-xs-4 ">至 ：</label>
                                    <div class=" col-xs-6">
                                        <input type="text" id="reviewEndTime" name="reviewEndTime"  readonly="readonly" class="form-control search-param " >
                                    </div>
                                </div>
                            </div>
                        </div>
               		</div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-xs-4">运单号 ：</label>
                                    <div class="col-xs-6">
                                        <input type="text" id="waybillCode" name="waybillCode" class="form-control search-param" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-xs-4">商家名称 ：</label>
                                    <div class="col-xs-6">
                                        <input type="text" id="merchantName" name="merchantName" class="form-control search-param" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-xs-4">复核人ERP ：</label>
                                    <div class="col-xs-6">
                                        <input type="text" id="reviewErp" name="reviewErp" class="form-control search-param" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-xs-4">核对人ERP ：</label>
                                    <div class="col-xs-6">
                                        <input type="text" id="contrastErp" name="contrastErp" class="form-control search-param" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-3">
                                <div class="form-group" >
                                    <label class="control-label col-xs-4" for="box-code-input">业务类型 ：</label>
                                    <div class="col-xs-6 ">
                                        <select type="text" class="form-control" id="businessTypeSelect" name="businessTypeSelect">
                                            <option value="" selected>全部</option>
                                            <option value=3>冷链</option>
                                            <option value=2>医药</option>
                                            <option value=1>B网</option>
                                            <option value=0>C网</option>
                                        </select>
                                        <input type="hidden" id="businessType" class="form-control  search-param " name="businessType">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group" >
                                    <label class="control-label col-xs-4" for="box-code-input">是否信任商家 ：</label>
                                    <div class="col-xs-6 ">
                                        <select type="text" class="form-control" id="isTrustMerchantSelect" name="isTrustMerchantSelect">
                                            <option value="" selected>全部</option>
                                            <option value=1>是</option>
                                            <option value=0>否</option>
                                        </select>
                                        <input type="hidden" id="isTrustMerchant" class="form-control  search-param " name="isTrustMerchant">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-3">
                                <div class="form-group" >
                                    <label class="control-label col-xs-4" for="box-code-input">是否集齐 ：</label>
                                    <div class="col-xs-6 ">
                                        <select type="text" class="form-control" id="isGatherTogetherSelect" name="isGatherTogetherSelect">
                                            <option value="" selected>全部</option>
                                            <option value=1>是</option>
                                            <option value=0>否</option>
                                        </select>
                                        <input type="hidden" id="isGatherTogether" class="form-control  search-param " name="isGatherTogether">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group" >
                                    <label class="control-label col-xs-4" for="box-code-input">是否超标 ：</label>
                                    <div class="col-xs-6 ">
                                        <select type="text" class="form-control" id="isExcessSelect" name="isExcessSelect">
                                            <option value="">全部</option>
                                            <option value=1 selected>是</option>
                                            <option value=0>否</option>
                                            <option value=2>集齐待计算</option>
                                        </select>
                                        <input type="hidden" id="isExcess" class="form-control  search-param " name="isExcess">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group" >
                                    <label class="control-label col-xs-4" for="box-code-input">是否下发 ：</label>
                                    <div class="col-xs-6 ">
                                        <select type="text" class="form-control" id="isIssueDownstreamSelect" name="isIssueDownstreamSelect">
                                            <option value="" selected>全部</option>
                                            <option value=1>是</option>
                                            <option value=0>否</option>
                                        </select>
                                        <input type="hidden" id="isIssueDownstream" class="form-control  search-param " name="isIssueDownstream">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        <hr />
        <!-- 主页面操作按钮 -->
        <div id="toolbar" class="btn-group">
            <button id="btn_query" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;查询
            </button>
            <button id="btn_export" type="button" class="btn btn-default" data-toggle="tooltip"  title="再导出需重新查询">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>导出
            </button>
        </div>
        <table id="dataTable"></table>
        <div class="package-detail-container" id="packageDetailContainer" style="display: none">
            <form class="form-horizontal form-container" id="packageDetailForm" style="margin: 10px 0">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label col-xs-4">包裹号：</label>
                                <div class="col-xs-6">
                                    <input type="text" id="packageCode" name="packageCode" class="form-control search-param">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 主页面操作按钮 -->
            <div id="detailToolbar" class="btn-group">
                <button id="pack_btn_query" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;查询
                </button>

            </div>
            <table id="packageDetailTable"></table>
        </div>
</div>
#parse("system/security/watermark.vm")
<script type="text/javascript">
    var jaq = jaq || [];
    jaq.push(['account', 'JA2016_112453']);
    jaq.push(['domain', 'dms.etms.jd.com']);
    (function () {
        var ja = document.createElement('script');
        ja.type = 'text/javascript';
        ja.async = true;
        ja.src = '//wl.jd.com/joya.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ja, s);
    })()
</script>
#parse("system/security/watermark.vm")
</body>
</html>
