<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="autoMappingBehavior" value="FULL"/>
        <setting name="defaultStatementTimeout" value="30"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.jd.bluedragon.distribution.box.domain.Box" alias="Box"/>
        <typeAlias type="com.jd.bluedragon.distribution.sorting.domain.Sorting" alias="Sorting"/>
        <typeAlias type="com.jd.bluedragon.distribution.send.domain.SendM" alias="SendM"/>
        <typeAlias type="com.jd.bluedragon.distribution.send.domain.SendDetail" alias="SendDetail"/>
        <typeAlias type="com.jd.bluedragon.distribution.receive.domain.CenConfirm" alias="CenConfirm"/>
        <typeAlias type="com.jd.bluedragon.distribution.inspection.domain.Inspection" alias="Inspection"/>
        <typeAlias type="com.jd.bluedragon.distribution.weightAndMeasure.domain.DmsOutWeightAndVolume" alias="DmsOutWeightAndVolume"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.jd.coo.sa.mybatis.plugins.id.AutoIncrementKeyPlugin">
            <property name="idGen.type" value="com.jd.coo.sa.mybatis.plugins.id.SequenceGenAdaptor"/>
            <property name="interceptTableSettings" value="
                box=id:box_id,
                cen_confirm=confirmId:confirm_id,
                inspection=inspectionId:inspection_id,
                send_d=sendDId:send_d_id,
                send_m=sendMId:send_m_id,
                sorting=id:sorting_id,
                dms_out_weight_volume=id:id
             "/>
            <property name="replaceNextValue" value="true"/>
            <property name="replaceExistsNewId" value="true"/>
        </plugin>
    </plugins>

    <mappers>
        <mapper resource="mappers/mysql/box/BoxMapper.xml"/>
        <mapper resource="mappers/mysql/sorting/SortingMapper.xml"/>
        <mapper resource="mappers/mysql/send/SendMMapper.xml"/>
        <mapper resource="mappers/mysql/send/SendDatailMapper.xml"/>
        <mapper resource="mappers/mysql/receive/CenConfirmMapper.xml"/>
        <mapper resource="mappers/mysql/inspection/InspectionMapper.xml"/>
        <mapper resource="mappers/mysql/kvIndex/KvIndexMapper.xml"/>
        <mapper resource="mappers/mysql/weightAndVolume/DmsOutWeightAndVolumeMapper.xml"/>
    </mappers>

</configuration>
