<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties>
		<property name="dialect" value="MYSQL"/>
	</properties>
	<settings>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="autoMappingBehavior" value="FULL"/>
		<setting name="defaultStatementTimeout" value="30"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.jd.bluedragon.distribution.jy.group.JyGroupEntity" alias="JyGroupEntity"/>
		<typeAlias type="com.jd.bluedragon.distribution.jy.group.JyGroupMemberEntity" alias="JyGroupMemberEntity"/>
		<typeAlias type="com.jd.bluedragon.distribution.jy.group.JyTaskGroupMemberEntity" alias="JyTaskGroupMemberEntity"/>
		<typeAlias type="com.jd.bluedragon.distribution.jy.task.JyBizTaskUnloadVehicleEntity" alias="JyBizTaskUnloadVehicleEntity"/>
		<typeAlias type="com.jd.bluedragon.distribution.jy.unload.JyBizUnloadVehicleBatchEntity" alias="JyBizUnloadVehicleBatchEntity"/>
		<typeAlias type="com.jd.bluedragon.distribution.jy.unload.JyUnloadAggsEntity" alias="JyUnloadAggsEntity"/>
		<typeAlias type="com.jd.bluedragon.distribution.jy.task.JyBizTaskSendVehicleEntity" alias="JyBizTaskSendVehicleEntity" />
		<typeAlias type="com.jd.bluedragon.distribution.jy.task.JyBizTaskSendVehicleDetailEntity" alias="JyBizTaskSendVehicleDetailEntity" />
		<typeAlias type="com.jd.bluedragon.distribution.jy.send.JySendAttachmentEntity" alias="JySendAttachmentEntity" />
		<typeAlias type="com.jd.bluedragon.distribution.jy.send.JySendCodeEntity" alias="JySendCodeEntity" />
		<typeAlias type="com.jd.bluedragon.distribution.jy.send.JySendSealCodeEntity" alias="JySendSealCodeEntity" />
        <typeAlias type="com.jd.bluedragon.distribution.jy.send.JySendAggsEntity" alias="JySendAggsEntity" />
		<typeAlias type="com.jd.bluedragon.distribution.jy.send.JySendTransferLogEntity" alias="JySendTransferLogEntity" />
	</typeAliases>


	<mappers>

		<mapper resource="mappers/mysql/jy/group/JyGroupMapper.xml" />
		<mapper resource="mappers/mysql/jy/group/JyGroupMemberMapper.xml" />
		<mapper resource="mappers/mysql/jy/seal/JyAppDataSealMapper.xml" />
		<mapper resource="mappers/mysql/jy/seal/JyAppDataSealCodeMapper.xml" />
		<mapper resource="mappers/mysql/jy/seal/JyAppDataSealSendCodeMapper.xml" />
		<mapper resource="mappers/mysql/jy/group/JyTaskGroupMemberMapper.xml" />
		<mapper resource="mappers/mysql/jy/task/JyBizTaskUnloadVehicleMapper.xml" />
		<mapper resource="mappers/mysql/jy/unload/JyBizUnloadVehicleBatchMapper.xml" />
		<mapper resource="mappers/mysql/jy/unload/JyUnloadVehicleBoardMapper.xml" />
		<mapper resource="mappers/mysql/jy/unload/JyBizTaskUnloadVehicleStageMapper.xml" />
		<mapper resource="mappers/mysql/jy/unload/JyUnloadAggsMapper.xml" />
		<mapper resource="mappers/mysql/jy/config/JyWorkMapFuncConfigMapper.xml" />
		<mapper resource="mappers/mysql/jy/task/JyBizTaskSendVehicleMapper.xml" />
		<mapper resource="mappers/mysql/jy/exception/JyBizTaskExceptionMapper.xml"/>
		<mapper resource="mappers/mysql/jy/exception/JyBizTaskExceptionLogMapper.xml"/>
		<mapper resource="mappers/mysql/jy/task/JyBizTaskSendVehicleDetailMapper.xml" />
		<mapper resource="mappers/mysql/jy/send/JySendAttachmentMapper.xml" />
		<mapper resource="mappers/mysql/jy/send/JySendCodeMapper.xml" />
		<mapper resource="mappers/mysql/jy/send/JySendSealCodeMapper.xml" />
		<mapper resource="mappers/mysql/jy/send/JySendAggsMapper.xml" />
		<mapper resource="mappers/mysql/jy/send/JySendTransferLogMapper.xml" />
		<mapper resource="mappers/mysql/jy/send/JySendProductAggsMapper.xml" />
		<mapper resource="mappers/mysql/jy/goodsPhotoInfo/GoodsPhotoInfoMapper.xml" />
		<mapper resource="mappers/mysql/jy/calibrate/JyBizTaskMachineCalibrateMapper.xml" />
		<mapper resource="mappers/mysql/jy/calibrate/JyBizTaskMachineCalibrateDetailMapper.xml" />

		<mapper resource="mappers/mysql/jy/comboard/JyBizTaskComboardMapper.xml" />
		<mapper resource="mappers/mysql/jy/comboard/JyComboardAggsMapper.xml" />
		<mapper resource="mappers/mysql/jy/comboard/JyGroupSortCrossDetailMapper.xml" />

		<mapper resource="mappers/mysql/jy/evaluate/JyEvaluateDimensionMapper.xml" />
		<mapper resource="mappers/mysql/jy/evaluate/JyEvaluateRecordMapper.xml" />
	</mappers>
</configuration>
