<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties>
		<property name="dialect" value="MYSQL"/>
	</properties>
	<settings>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="autoMappingBehavior" value="FULL"/>
		<setting name="defaultStatementTimeout" value="30"/>
	</settings>

	<typeAliases>

		<typeAlias type="com.jd.bluedragon.distribution.jy.unload.JyUnloadAggsEntity" alias="JyUnloadAggsEntity"/>
        <typeAlias type="com.jd.bluedragon.distribution.jy.send.JySendAggsEntity" alias="JySendAggsEntity" />
		<typeAlias type="com.jd.bluedragon.distribution.jy.send.JySendProductAggsEntity" alias="JySendProductAggsEntity" />
	</typeAliases>


	<mappers>

		<mapper resource="mappers/mysql/jy/unload/JyUnloadAggsBakMapper.xml" />
		<mapper resource="mappers/mysql/jy/send/JySendAggsBakMapper.xml" />
		<mapper resource="mappers/mysql/jy/send/JySendProductAggsBakMapper.xml" />

	</mappers>
</configuration>
