<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties>
		<property name="dialect" value="MYSQL"/>
	</properties>
    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="autoMappingBehavior" value="FULL"/>
        <setting name="defaultStatementTimeout" value="30"/>
    </settings>

    <typeAliases>
        <!-- 箱号与集包袋绑定 -->
        <typeAlias type="com.jd.bluedragon.distribution.cyclebox.domain.BoxMaterialRelation" alias="BoxMaterialRelation"/>
    </typeAliases>

    <mappers>
        <!-- 箱号与集包袋绑定 -->
        <mapper resource="mappers/mysql/boxmaterialrelation/BoxMaterialRelationMapper.xml"/>

    </mappers>
</configuration>
