<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties>
		<property name="dialect" value="MYSQL"/>
	</properties>
	<settings>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="autoMappingBehavior" value="FULL"/>
		<setting name="defaultStatementTimeout" value="30"/>
	</settings>


	<mappers>
		<mapper resource="mappers/mysql/jy/comboard/JyComboardAggsMapper.xml" />
		<mapper resource="mappers/mysql/jy/send/jySendPredictAggsMapper.xml" />
	</mappers>
</configuration>
