<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="autoMappingBehavior" value="FULL"/>
        <!-- 默认全局超时都设置成30秒 -->
        <setting name="defaultStatementTimeout" value="100"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.jd.bluedragon.distribution.send.domain.SendDetail" alias="SendDetail"/>
        <typeAlias type="com.jd.bluedragon.distribution.inspection.domain.Inspection" alias="Inspection"/>
        <typeAlias type="com.jd.bluedragon.distribution.send.domain.SendM" alias="SendM"/>
        <typeAlias type="com.jd.bluedragon.distribution.businessCode.domain.BusinessCodePo" alias="BusinessCodePo" />
        <typeAlias type="com.jd.bluedragon.distribution.businessCode.domain.BusinessCodeAttributePo" alias="BusinessCodeAttributePo" />
    </typeAliases>

    <mappers>
        <mapper resource="mappers/mysql/send/SendDatailReadMapper.xml"/>
        <mapper resource="mappers/mysql/inspection/InspectionReadMapper.xml"/>
        <mapper resource="mappers/mysql/send/SendMReadMapper.xml"/>
        <mapper resource="mappers/mysql/BusinessCode/BusinessCodeMapper.xml"/>
    </mappers>

</configuration>