<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="autoMappingBehavior" value="FULL"/>
		<setting name="defaultStatementTimeout" value="30"/>
	</settings>
	
	<typeAliases>
	    <typeAlias type="com.jd.bluedragon.distribution.rule.domain.Rule" alias="rule" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/mysql/rule/RuleMapper.xml"/>
        <mapper resource="mappers/mysql/waybill/CancelWaybillMapper.xml"/>
	</mappers>
	
</configuration>
