<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties>
		<property name="dialect" value="MYSQL"/>
	</properties>
    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="autoMappingBehavior" value="FULL"/>
        <setting name="defaultStatementTimeout" value="30"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.jd.bluedragon.distribution.loadAndUnload.LoadCar" alias="loadCar"/>
        <typeAlias type="com.jd.bluedragon.distribution.loadAndUnload.LoadCarHelper" alias="loadHelper"/>

        <!-- 装车发货扫描 -->
        <typeAlias type="com.jd.bluedragon.distribution.goodsLoadScan.domain.GoodsLoadScan" alias="goodsLoadScan"/>
        <typeAlias type="com.jd.bluedragon.distribution.goodsLoadScan.domain.GoodsLoadScanRecord" alias="goodsLoadScanRecord"/>

        <!-- 卸车扫描 -->
        <typeAlias type="com.jd.bluedragon.distribution.loadAndUnload.UnloadScan" alias="unloadScan"/>
        <typeAlias type="com.jd.bluedragon.distribution.loadAndUnload.UnloadScanRecord" alias="unloadScanRecord"/>

        <typeAlias type="com.jd.bluedragon.distribution.loadAndUnload.UnloadCar" alias="unloadCar"/>
        <typeAlias type="com.jd.bluedragon.distribution.loadAndUnload.UnloadCarDistribution" alias="unloadCarDistribution"/>
        <typeAlias type="com.jd.bluedragon.distribution.loadAndUnload.UnloadCarTransBoard" alias="unloadCarTransBoard"/>

        <typeAlias type="com.jd.bluedragon.distribution.board.domain.TaskBoard" alias="taskBoard"/>
        <typeAlias type="com.jd.bluedragon.distribution.jy.config.WaybillConfig" alias="waybillConfig"/>
    </typeAliases>


    <mappers>

        <!-- 装卸车业务 -->
        <mapper resource="mappers/mysql/loadAndUnload/LoadCarHelperMapper.xml" />
        <mapper resource="mappers/mysql/loadAndUnload/LoadCarMapper.xml" />

        <!-- 装车扫描业务 -->
        <mapper resource="mappers/mysql/loadscan/GoodsLoadScanMapper.xml" />
        <mapper resource="mappers/mysql/loadscan/GoodsLoadScanRecordMapper.xml" />

        <!-- 卸车扫描业务 -->
        <mapper resource="mappers/mysql/loadAndUnload/UnloadScanMapper.xml" />
        <mapper resource="mappers/mysql/loadAndUnload/UnloadScanRecordMapper.xml" />

        <mapper resource="mappers/mysql/loadAndUnload/UnloadCarForTysMapper.xml" />
        <mapper resource="mappers/mysql/loadAndUnload/UnloadCarDistributionForTysMapper.xml" />
        <mapper resource="mappers/mysql/loadAndUnload/UnloadCarTransBoardForTysMapper.xml" />

        <!-- 老组板和卸车任务绑定业务 -->
        <mapper resource="mappers/mysql/board/TaskBoardMapper.xml" />

        <!-- 大宗扫描配置业务 -->
        <mapper resource="mappers/mysql/loadAndUnload/WaybillConfigMapper.xml" />

    </mappers>
</configuration>
