<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties>
		<property name="dialect" value="MYSQL"/>
	</properties>

    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="autoMappingBehavior" value="FULL"/>
        <setting name="defaultStatementTimeout" value="30"/>
    </settings>

    <typeAliases>
        <!-- 箱号与集包袋绑定 -->
        <typeAlias type="com.jd.bluedragon.distribution.cyclebox.domain.BoxMaterialRelation" alias="BoxMaterialRelation"/>
        <!-- 包裹回流扫描 -->
        <typeAlias type="com.jd.bluedragon.distribution.reflowPackage.doman.ReflowPackage" alias="ReflowPackage"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.jd.coo.sa.mybatis.plugins.id.AutoIncrementKeyPlugin">
            <property name="idGen.type" value="com.jd.coo.sa.mybatis.plugins.id.SequenceGenAdaptor"/>
            <property name="interceptTableSettings" value="
                reflow_package=id:id,
             "/>
            <property name="replaceNextValue" value="true"/>
            <property name="replaceExistsNewId" value="true"/>
        </plugin>
    </plugins>

    <mappers>
        <!-- 箱号与集包袋绑定 -->
        <mapper resource="mappers/mysql/boxmaterialrelation/BoxMaterialRelationMapper.xml"/>
        <!-- 包裹回流扫描 -->
        <mapper resource="mappers/mysql/reflowPackage/ReflowPackageMapper.xml"/>

    </mappers>
</configuration>
