<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.consumable.dao.PackingConsumableInfoDao">

	<resultMap id="PackingConsumableInfo" type="com.jd.bluedragon.distribution.consumable.domain.PackingConsumableInfo" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="code" property="code" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="type" property="type" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="type_name" property="typeName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="volume" property="volume" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
		<result column="volume_coefficient" property="volumeCoefficient" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
		<result column="specification" property="specification" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="unit" property="unit" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="operate_user_code" property="operateUserCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="operate_user_erp" property="operateUserErp" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="operate_time" property="operateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result column="weight" property="weight" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
	</resultMap>

	<resultMap id="PackingConsumableBaseInfo" type="com.jd.bluedragon.distribution.packingconsumable.domain.PackingConsumableBaseInfo" >
		<result column="code" property="packingCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="name" property="packingName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="type" property="packingType" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="type_name" property="packingTypeName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="volume" property="packingVolume" javaType="java.lang.Double" jdbcType="DECIMAL" />
		<result column="volume_coefficient" property="volumeCoefficient" javaType="java.lang.Double" jdbcType="DECIMAL" />
		<result column="specification" property="packingSpecification" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="unit" property="packingUnit" javaType="java.lang.String" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List" >
		id,code,name,type,type_name,volume,volume_coefficient,weight,
		specification,unit,operate_user_code,operate_user_erp,operate_time,
		create_time,update_time,is_delete,ts
	</sql>

	<insert id="insert" parameterType="com.jd.bluedragon.distribution.consumable.domain.PackingConsumableInfo" useGeneratedKeys="true" keyProperty="id">
		insert into packing_consumable_info
			(
			<trim suffixOverrides=",">
				<if test="code != null">
					code,
				</if>
				<if test="name != null">
					name,
				</if>
				<if test="type != null">
					type,
				</if>
				<if test="typeName != null">
					type_name,
				</if>
				<if test="volume != null">
					volume,
				</if>
				<if test="volumeCoefficient != null">
					volume_coefficient,
				</if>
				<if test="specification != null">
					specification,
				</if>
				<if test="unit != null">
					unit,
				</if>
				<if test="operateUserCode != null">
					operate_user_code,
				</if>
				<if test="operateUserErp != null">
					operate_user_erp,
				</if>
				<if test="operateTime != null">
					operate_time,
				</if>
				<if test="createTime != null">
					create_time,
				</if>
				<if test="updateTime != null">
					update_time,
				</if>
				<if test="isDelete != null">
					is_delete,
				</if>
				<if test="ts != null">
					ts,
				</if>
                <if test="weight != null">
                    weight
                </if>
			</trim>
			)
			values
			(
			<trim suffixOverrides=",">
				<if test="code != null">
					#{code,jdbcType=VARCHAR},
				</if>
				<if test="name != null">
					#{name,jdbcType=VARCHAR},
				</if>
				<if test="type != null">
					#{type,jdbcType=VARCHAR},
				</if>
				<if test="typeName != null">
					#{typeName,jdbcType=VARCHAR},
				</if>
				<if test="volume != null">
					#{volume,jdbcType=DECIMAL},
				</if>
				<if test="volumeCoefficient != null">
					#{volumeCoefficient,jdbcType=DECIMAL},
				</if>
				<if test="specification != null">
					#{specification,jdbcType=VARCHAR},
				</if>
				<if test="unit != null">
					#{unit,jdbcType=VARCHAR},
				</if>
				<if test="operateUserCode != null">
					#{operateUserCode,jdbcType=VARCHAR},
				</if>
				<if test="operateUserErp != null">
					#{operateUserErp,jdbcType=VARCHAR},
				</if>
				<if test="operateTime != null">
					#{operateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="createTime != null">
					#{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateTime != null">
					#{updateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="isDelete != null">
					#{isDelete,jdbcType=TINYINT},
				</if>
				<if test="ts != null">
					#{ts,jdbcType=TIMESTAMP},
				</if>
                <if test="weight != null">
                    #{weight,jdbcType=DECIMAL}
                </if>
			</trim>
			)
	</insert>

	<insert id="batchInsert" parameterType="List">
		insert into packing_consumable_info
			(
				code,name,type,type_name,volume,
				volume_coefficient,specification,unit,operate_user_code,operate_user_erp,
				operate_time,create_time,update_time,is_delete,ts
			)
			values
			<foreach collection="list" item="item" index="index" separator=",">
				(
					#{item.code,jdbcType=VARCHAR},
					#{item.name,jdbcType=VARCHAR},
					#{item.type,jdbcType=VARCHAR},
				    #{item.typeName,jdbcType=VARCHAR},
					#{item.volume,jdbcType=DECIMAL},
					#{item.volumeCoefficient,jdbcType=DECIMAL},
					#{item.specification,jdbcType=VARCHAR},
					#{item.unit,jdbcType=VARCHAR},
					#{item.operateUserCode,jdbcType=VARCHAR},
					#{item.operateUserErp,jdbcType=VARCHAR},
					#{item.operateTime,jdbcType=TIMESTAMP},
					#{item.createTime,jdbcType=TIMESTAMP},
					#{item.updateTime,jdbcType=TIMESTAMP},
					#{item.isDelete,jdbcType=TINYINT},
					#{item.ts,jdbcType=TIMESTAMP}
				)
			</foreach>
	</insert>

	<update id="update" parameterType="com.jd.bluedragon.distribution.consumable.domain.PackingConsumableInfo">
		update packing_consumable_info
			<set>
				<if test="code != null">
					code = #{code,jdbcType=VARCHAR},
				</if>
				<if test="name != null">
					name = #{name,jdbcType=VARCHAR},
				</if>
				<if test="type != null">
					type = #{type,jdbcType=VARCHAR},
				</if>
				<if test="typeName != null">
					type_name = #{typeName,jdbcType=VARCHAR},
				</if>
				<if test="volume != null">
					volume = #{volume,jdbcType=DECIMAL},
				</if>
				<if test="volumeCoefficient != null">
					volume_coefficient = #{volumeCoefficient,jdbcType=DECIMAL},
				</if>
				<if test="specification != null">
					specification = #{specification,jdbcType=VARCHAR},
				</if>
				<if test="unit != null">
					unit = #{unit,jdbcType=VARCHAR},
				</if>
				<if test="operateUserCode != null">
					operate_user_code = #{operateUserCode,jdbcType=VARCHAR},
				</if>
				<if test="operateUserErp != null">
					operate_user_erp = #{operateUserErp,jdbcType=VARCHAR},
				</if>
				<if test="operateTime != null">
					operate_time = #{operateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="createTime != null">
					create_time = #{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateTime != null">
					update_time = #{updateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="isDelete != null">
					is_delete = #{isDelete,jdbcType=TINYINT},
				</if>
				<if test="ts != null">
					ts = #{ts,jdbcType=TIMESTAMP},
				</if>
                <if test="weight != null">
                    weight = #{weight,jdbcType=DECIMAL}
                </if>
			</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="deleteById" parameterType="Long">
		update packing_consumable_info
			set is_delete = 1
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="deleteByIds" parameterType="List">
		update packing_consumable_info
			set is_delete = 1
		where id in
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item,jdbcType=BIGINT}
		</foreach>
	</update>

	<select id="findById" parameterType="Long" resultMap="PackingConsumableInfo">
		select 
		 <include refid="Base_Column_List"/>
		from 
		  packing_consumable_info 
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="findByUniqueKey" parameterType="com.jd.bluedragon.distribution.consumable.domain.PackingConsumableInfo" resultMap="PackingConsumableInfo">
		select 
		 <include refid="Base_Column_List"/>
		from 
		  packing_consumable_info 
		where id = #{id,jdbcType=BIGINT}
		  order by ts desc
		limit 1
	</select>

	<sql id="Base_Condition_Sql" >
			and is_delete=0 
	</sql>

	<select id="pageNum_queryByPagerCondition" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultType="Integer">
		select 
		 count(1) as num
		from 
		  packing_consumable_info 
		where 1=1 
		 <include refid="Base_Condition_Sql"/>
	</select>

	<select id="queryByPagerCondition" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultMap="PackingConsumableInfo">
		select 
		 <include refid="Base_Column_List"/>
		from 
		  packing_consumable_info 
		where 1=1 
		 <include refid="Base_Condition_Sql"/>
		 limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
	</select>

	<select id="getPackingConsumableInfoByCode" resultMap="PackingConsumableBaseInfo" parameterType="String">
		select
		code,name,type,type_name,volume/1000000 as volume,volume_coefficient,specification,unit
		from packing_consumable_info
		where code = #{code, jdbcType=VARCHAR} and is_delete = 0 limit 1
	</select>

    <select id="listPackingConsumableInfoByCodes" parameterType="java.util.List" resultMap="PackingConsumableInfo">
        SELECT
            code,name,type,type_name,volume,volume_coefficient,weight
        FROM packing_consumable_info
        WHERE
            code IN
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item, jdbcType=VARCHAR}
            </foreach>
            AND is_delete = 0
    </select>
    
    <select id="listByTypeCode" resultMap="PackingConsumableInfo" parameterType="java.lang.String">
        SELECT
            <include refid="Base_Column_List"/>
        FROM packing_consumable_info
        WHERE
            is_delete = 0
        AND type = #{typeCode,jdbcType=VARCHAR}
    </select>
</mapper>