<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.cross.dao.CrossSortingDao">

	<resultMap id="crossSorting"
		type="com.jd.bluedragon.distribution.cross.domain.CrossSorting">
		<result column="id" property="id" />
		<result column="org_id" property="orgId" />
		<result column="create_dms_code" property="createDmsCode" />
		<result column="create_dms_name" property="createDmsName" />
		<result column="destination_dms_code" property="destinationDmsCode" />
		<result column="destination_dms_name" property="destinationDmsName" />
		<result column="mix_dms_code" property="mixDmsCode" />
		<result column="mix_dms_name" property="mixDmsName" />
		<result column="create_user_code" property="createUserCode" />
		<result column="create_user_name" property="createUserName" />
		<result column="delete_user_code" property="deleteUserCode" />								
		<result column="delete_user_name" property="deleteUserName" />
		<result column="create_time" property="createTime" />
		<result column="delete_time" property="deleteTime" />
		<result column="yn" property="yn" />
	</resultMap>

	<insert id="add" parameterType="crossSorting">
		INSERT INTO
		cross_sorting (
		id, org_id, create_dms_code, create_dms_name,
		destination_dms_code, destination_dms_name, mix_dms_code, mix_dms_name,
		create_user_code, create_user_name, delete_user_code, delete_user_name,
		create_time, delete_time, yn)
		VALUES (
		SEQ_CROSS_SORTING.NEXTVAL, #{orgId,jdbcType=INTEGER},
		#{createDmsCode,jdbcType=INTEGER},#{createDmsName,jdbcType=VARCHAR},
		#{destinationDmsCode,jdbcType=INTEGER}, #{destinationDmsName,jdbcType=VARCHAR},
		#{mixDmsCode,jdbcType=INTEGER}, #{mixDmsName,jdbcType=VARCHAR},
		#{createUserCode,jdbcType=INTEGER}, #{createUserName,jdbcType=VARCHAR},
		#{deleteUserCode,jdbcType=INTEGER}, #{deleteUserName,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, #{yn,jdbcType=INTEGER})
	</insert>

	<insert id="addBatch" parameterType="list"> 
		INSERT INTO cross_sorting ( 
			id, org_id, create_dms_code, create_dms_name,
			destination_dms_code, destination_dms_name, mix_dms_code, mix_dms_name,
			create_user_code, create_user_name, delete_user_code, delete_user_name,
			create_time, delete_time, yn
		) SELECT SEQ_CROSS_SORTING.NEXTVAL, A.* FROM( 
		<foreach collection="list" item="item" index="index" separator="UNION ALL"> 
			<![CDATA[ 
				SELECT 
					#{item.orgId,jdbcType=INTEGER} AS org_id, 
					#{item.createDmsCode,jdbcType=INTEGER} AS create_dms_code, 
					#{item.createDmsName,jdbcType=VARCHAR} AS create_dms_name,
					#{item.destinationDmsCode,jdbcType=INTEGER} AS destination_dms_code,
					#{item.destinationDmsName,jdbcType=VARCHAR} AS destination_dms_name,
					#{item.mixDmsCode,jdbcType=INTEGER} AS mix_dms_code,
					#{item.mixDmsName,jdbcType=VARCHAR} AS mix_dms_name,
					#{item.createUserCode,jdbcType=INTEGER} AS create_user_code,
					#{item.createUserName,jdbcType=VARCHAR} AS create_user_name,
					#{item.deleteUserCode,jdbcType=INTEGER} AS delete_user_code,
					#{item.deleteUserName,jdbcType=VARCHAR} AS delete_user_name,
					#{item.createTime,jdbcType=TIMESTAMP} AS create_time,
					#{item.deleteTime,jdbcType=TIMESTAMP} AS delete_time,
					#{item.yn,jdbcType=INTEGER} AS yn
				FROM dual 
			]]> 
		</foreach> 
		) A 
	</insert>

	<update id="updateForDelete" parameterType="crossSorting">
		UPDATE cross_sorting 
		SET yn = 0, delete_user_code = #{deleteUserCode,jdbcType=INTEGER},
		    delete_user_name = #{deleteUserName,jdbcType=VARCHAR},
		    delete_time = #{deleteTime,jdbcType=TIMESTAMP}
		WHERE id = #{id,jdbcType=INTEGER}
	</update>
	
	<delete id="delete" parameterType="map">
		DELETE FROM cross_sorting WHERE yn = 1 AND id = #{id,jdbcType=INTEGER}
	</delete>

	<select id="findCrossSorting" resultMap="crossSorting" parameterType="crossSorting">
		SELECT
		id, org_id, create_dms_code, destination_dms_code,
		mix_dms_code, mix_dms_name
		FROM cross_sorting
		WHERE yn = 1
		AND create_dms_code = #{createDmsCode,jdbcType=INTEGER}
		AND destination_dms_code = #{destinationDmsCode,jdbcType=INTEGER}
		AND mix_dms_code = #{mixDmsCode,jdbcType=INTEGER}
	</select>


	<update id="updateCrossSorting" parameterType="crossSorting">
		UPDATE cross_sorting
		<set>
			<if test="orgId != null">
				org_id =  #{orgId,jdbcType=INTEGER},
			</if>
			<if test="createDmsName != null">
				create_dms_name =  #{createDmsName,jdbcType=VARCHAR},
			</if>
			<if test="destinationDmsName != null">
				destination_dms_name =  #{destinationDmsName,jdbcType=VARCHAR},
			</if>
			<if test="mixDmsName != null">
				mix_dms_name =  #{mixDmsName,jdbcType=VARCHAR},
			</if>
			<if test="createUserCode != null">
				create_user_code =  #{createUserCode,jdbcType=INTEGER},
			</if>
			<if test="createUserName != null">
				create_user_name =   #{createUserName,jdbcType=VARCHAR},
			</if>
			<if test="deleteUserCode != null">
				delete_user_code =  #{deleteUserCode,jdbcType=INTEGER},
			</if>
			<if test="deleteUserName != null">
				delete_user_name =   #{deleteUserName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time =  #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleteTime != null">
				delete_time =  #{deleteTime,jdbcType=TIMESTAMP}
			</if>
		</set>
		WHERE yn = 1
		AND create_dms_code = #{createDmsCode,jdbcType=INTEGER}
		AND destination_dms_code = #{destinationDmsCode,jdbcType=INTEGER}
        AND mix_dms_code = #{mixDmsCode,jdbcType=INTEGER}
    </update>
</mapper>