/target/
/*.project
/*.classpath
/.settings/
/.iml
rebel.xml
.gitignore
.project
bluedragon-distribution.iml
.idea
.settings
*.iml
/bluedragon-distribution-web/*.iml
/bluedragon-distribution-worker/*.iml
/bluedragon-distribution-sdk/*.iml
/.iml
/bluedragon-distribution-worker/overlays/com.jd.bluedragon.bluedragon-distribution-DBArchive-0.0.1-SNAPSHOT/WEB-INF/classes/spring/*.xml
/.idea/artifacts/bluedragon_distribution_worker_war_exploded.xml
/.idea/artifacts/*.xml
.idea
/bluedragon-distribution-core/bluedragon-distribution-core.iml
/bluedragon-distribution-core/src/main/resources/rebel.xml
/bluedragon-distribution-proxy/bluedragon-distribution-proxy.iml
/bluedragon-distribution-proxy/src/main/java/rebel.xml
/bluedragon-distribution-saf/bluedragon-distribution-saf.iml
/bluedragon-distribution-sdk/bluedragon-distribution-sdk.iml
/bluedragon-distribution-web/bluedragon-distribution-web.iml
/bluedragon-distribution-worker/bluedragon-distribution-worker.iml
/bluedragon-distribution-worker/overlays/com.jd.bluedragon.bluedragon-distribution-DBArchive-0.0.1-SNAPSHOT.info
/bluedragon-distribution-worker/overlays/com.jd.bluedragon.bluedragon-distribution-DBArchive-0.0.1-SNAPSHOT/WEB-INF/classes/com/jd/bluedragon/dbArchive/domain/DBArchiveConfig.class
/bluedragon-distribution-worker/overlays/com.jd.bluedragon.bluedragon-distribution-DBArchive-0.0.1-SNAPSHOT/WEB-INF/classes/com/jd/bluedragon/dbArchive/service/DBArchiveService.class
/bluedragon-distribution-worker/overlays/com.jd.bluedragon.bluedragon-distribution-DBArchive-0.0.1-SNAPSHOT/WEB-INF/classes/com/jd/bluedragon/dbArchive/service/DBArchiveServiceImpl.class
/bluedragon-distribution-worker/overlays/com.jd.bluedragon.bluedragon-distribution-DBArchive-0.0.1-SNAPSHOT/WEB-INF/classes/com/jd/bluedragon/dbArchive/task/DBArchiveTask.class
/bluedragon-distribution-worker/overlays/com.jd.bluedragon.bluedragon-distribution-DBArchive-0.0.1-SNAPSHOT/WEB-INF/classes/configured/dbArchive.properties
/bluedragon-distribution-worker/src/main/resources/rebel.xml
/bluedragon-distribution.iml
/*.gitignore
/.gitignore
overlays/
/bluedragon-distribution-sdk/.checkstyle
*.diff
*.ipr
bluedragon-distribution.iws
*.orig
/bluedragon-distribution-utils/*.classpath
/bluedragon-distribution-common-android/target
