<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.b2bRouter.dao.B2BRouterDao">
    <resultMap id="b2bRouterMap" type="B2BRouter">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="original_site_type" jdbcType="INTEGER" property="originalSiteType"/>
        <result column="original_site_code" jdbcType="INTEGER" property="originalSiteCode"/>
        <result column="original_site_name" jdbcType="VARCHAR" property="originalSiteName"/>

        <result column="destination_site_type" jdbcType="INTEGER" property="destinationSiteType"/>
        <result column="destination_site_code" jdbcType="INTEGER" property="destinationSiteCode"/>
        <result column="destination_site_name" jdbcType="VARCHAR" property="destinationSiteName"/>

        <result column="code_full_line" jdbcType="VARCHAR" property="siteIdFullLine"/>
        <result column="name_full_line" jdbcType="VARCHAR" property="siteNameFullLine"/>

        <result column="operator_code" jdbcType="VARCHAR" property="operatorUserErp"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorUserName"/>

        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>

        <result column="yn" jdbcType="TINYINT" property="yn"/>
    </resultMap>

	<sql id="sql_columns">
		id,original_site_type,original_site_code,original_site_name,destination_site_type,destination_site_code,destination_site_name,
		code_full_line,name_full_line,operator_code,operator_name,create_time,update_time,yn
	</sql>

    <insert id="addB2BRouter" parameterType="B2BRouter" keyProperty="id" useGeneratedKeys="true">
		insert into
		b2b_router(
		original_site_type,original_site_code,original_site_name,destination_site_type,destination_site_code,destination_site_name,
		code_full_line,name_full_line,operator_code,operator_name,create_time,update_time,yn)
		values(
		#{originalSiteType,jdbcType=INTEGER},
		#{originalSiteCode,jdbcType=INTEGER},
		#{originalSiteName,jdbcType=VARCHAR},

		#{destinationSiteType,jdbcType=INTEGER},
		#{destinationSiteCode,jdbcType=INTEGER},
		#{destinationSiteName,jdbcType=VARCHAR},

		#{siteIdFullLine,jdbcType=VARCHAR},
		#{siteNameFullLine,jdbcType=VARCHAR},

		#{operatorUserErp,jdbcType=VARCHAR},
		#{operatorUserName,jdbcType=VARCHAR},

		#{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP},
		#{yn,jdbcType=TINYINT})
	</insert>

	<update id="deleteById" parameterType="B2BRouter">
		update b2b_router
		set
		operator_code = #{operatorUserErp,jdbcType=VARCHAR},
		operator_name = #{operatorUserName,jdbcType=VARCHAR},
		yn = 0,
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where
		id=#{id,jdbcType=INTEGER}
	</update>

	<select id="queryByCondition" parameterType="java.util.Map" resultMap="b2bRouterMap">
		select
		<include refid="sql_columns"/>
		from b2b_router
		where
		  yn =1
		<if test="originalSiteType != null">
		    and original_site_type=#{originalSiteType,jdbcType=INTEGER}
		</if>
		<if test="originalSiteCode != null">
		    and original_site_code = #{originalSiteCode,jdbcType=INTEGER}
		</if>
		<if test="destinationSiteType != null">
		    and destination_site_type=#{destinationSiteType,jdbcType=INTEGER}
		</if>
		<if test="destinationSiteCode != null">
		    and destination_site_code = #{destinationSiteCode,jdbcType=INTEGER}
		</if>
		 order by id desc
		<if test="startIndex != null">
		    LIMIT #{startIndex},#{pageSize}
		</if>
	</select>

	<select id="countByCondition" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from b2b_router
		where
		yn =1
		<if test="originalSiteType != null">
			 and original_site_type=#{originalSiteType,jdbcType=INTEGER}
		</if>
		<if test="originalSiteCode != null">
		     and original_site_code = #{originalSiteCode,jdbcType=INTEGER}
		</if>
		<if test="destinationSiteType != null">
		    and destination_site_type=#{destinationSiteType,jdbcType=INTEGER}
		</if>
		<if test="destinationSiteCode != null">
		    and destination_site_code = #{destinationSiteCode,jdbcType=INTEGER}
		</if>
	</select>

	<select id="getRouterById" parameterType="java.lang.Integer" resultMap="b2bRouterMap">
		select
		<include refid="sql_columns"/>
		from b2b_router
		<where>
			yn =1 and id = #{id,jdbcType=INTEGER}
		</where>
	</select>

	<select id="selectByFullLine" parameterType="String" resultMap="b2bRouterMap">
		select
		<include refid="sql_columns"/>
		from b2b_router
		<where>
			yn =1 and code_full_line = #{siteIdFullLine,jdbcType=VARCHAR}
			order by update_time desc
		</where>
	</select>

	<update id="updateById" parameterType="B2BRouter">
		update b2b_router
		set
		operator_code = #{operatorUserErp,jdbcType=VARCHAR},
		operator_name = #{operatorUserName,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where
		id=#{id,jdbcType=INTEGER}
	</update>
</mapper>