<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.b2bRouter.dao.B2BRouterDao">
    <resultMap id="b2bRouterMap" type="B2BRouter">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="original_site_type" jdbcType="INTEGER" property="originalSiteType"/>
        <result column="original_site_code" jdbcType="INTEGER" property="originalSiteCode"/>
        <result column="original_site_name" jdbcType="VARCHAR" property="originalSiteName"/>

        <result column="destination_site_type" jdbcType="INTEGER" property="destinationSiteType"/>
        <result column="destination_site_code" jdbcType="INTEGER" property="destinationSiteCode"/>
        <result column="destination_site_name" jdbcType="VARCHAR" property="destinationSiteName"/>

        <result column="code_full_line" jdbcType="VARCHAR" property="siteIdFullLine"/>
        <result column="name_full_line" jdbcType="VARCHAR" property="siteNameFullLine"/>

        <result column="operator_code" jdbcType="VARCHAR" property="operatorUserErp"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorUserName"/>

        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>

        <result column="yn" jdbcType="TINYINT" property="yn"/>
    </resultMap>

	<sql id="sql_columns">
		original_site_type,original_site_code,original_site_name,destination_site_type,destination_site_code,destination_site_name,
		code_full_line,operator_code,operator_name,create_time,update_time
	</sql>

    <insert id="addB2BRouter" parameterType="B2BRouter" keyProperty="id" useGeneratedKeys="true">
		insert into
		b2b_router(
		original_site_type,original_site_code,original_site_name,destination_site_type,destination_site_code,destination_site_name,
		code_full_line,operator_code,operator_name,create_time,update_time)
		values(
		#{originalSiteType,jdbcType=INTEGER},
		#{originalSiteCode,jdbcType=INTEGER},
		#{originalSiteName,jdbcType=VARCHAR},

		#{destinationSiteType,jdbcType=INTEGER},
		#{destinationSiteCode,jdbcType=INTEGER},
		#{destinationSiteName,jdbcType=VARCHAR},

		#{siteIdFullLine,jdbcType=VARCHAR},
		#{siteNameFullLine,jdbcType=VARCHAR},

		#{operatorUserErp,jdbcType=VARCHAR},
		#{operatorUserName,jdbcType=VARCHAR},

		#{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP},
		#{yn,jdbcType=TINYINT}
	</insert>

	<update id="deleteById" parameterType="B2BRouter">
		update b2b_router
		set
		operator_code = #{operatorUserErp,jdbcType=VARCHAR},
		operator_name = #{operatorUserName,jdbcType=VARCHAR},
		yn = 0,
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where
		id=#{id,jdbcType=INTEGER}
	</update>

	<select id="selectFullLineBySiteCode" parameterType="B2BRouter" resultType="B2BRouter">
		select sql_columns from b2b_router
		where
		original_site_type = #{originalSiteType,jdbcType=INTEGER}
		and original_site_code = #{originalSiteCode,jdbcType=INTEGER}
		and destination_site_type = #{destinationSiteType,jdbcType=INTEGER}
		and destination_site_code=#{destinationSiteCode,jdbcType=INTEGER}
		and yn =1
	</select>

	<select id="selectFullLineId" parameterType="B2BRouter" resultType="String">
		select code_full_line from b2b_router
		where original_site_type = #{originalSiteType,jdbcType=INTEGER}
		and original_site_code = #{originalSiteCode,jdbcType=INTEGER}
		and destination_site_type = #{destinationSiteType,jdbcType=INTEGER}
		and destination_site_code=#{destinationSiteCode,jdbcType=INTEGER}
		and yn =1
	</select>

	<select id="selectAllRouter" parameterType="B2BRouter" resultType="B2BRouter">
		select code_full_line from b2b_router
		where
		yn =1
	</select>

</mapper>