<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.b2bRouter.dao.B2BRouterNodeDao">
    <resultMap id="b2bRouterNodeMap" type="B2BRouterNode">
        <id column="id" jdbcType="INTEGER" property="id"/>
		<result column="chain_id" jdbcType="INTEGER" property="routerChainId"/>

        <result column="original_site_type" jdbcType="INTEGER" property="originalSiteType"/>
        <result column="original_site_code" jdbcType="INTEGER" property="originalSiteCode"/>
        <result column="original_site_name" jdbcType="VARCHAR" property="originalSiteName"/>

        <result column="destination_site_type" jdbcType="INTEGER" property="destinationSiteType"/>
        <result column="destination_site_code" jdbcType="INTEGER" property="destinationSiteCode"/>
        <result column="destination_site_name" jdbcType="VARCHAR" property="destinationSiteName"/>

        <result column="operator_code" jdbcType="VARCHAR" property="operatorUserErp"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorUserName"/>

        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>

		<result column="yn" jdbcType="TINYINT" property="yn"/>
    </resultMap>

    <insert id="addB2BRouterNodes" parameterType="java.util.List">
		insert into
		b2b_router(
		chain_id,original_site_type,original_site_code,original_site_name,destination_site_type,destination_site_code,destination_site_name,
		operator_code,operator_name,create_time,update_time)
		values
		<foreach collection="list" item="b2bRouterNode" index="index" separator=",">
			#{routerChainId,jdbcType=INTEGER},

			#{originalSiteType,jdbcType=INTEGER},
			#{originalSiteCode,jdbcType=INTEGER},
			#{originalSiteName,jdbcType=VARCHAR},

			#{destinationSiteType,jdbcType=INTEGER},
			#{destinationSiteCode,jdbcType=INTEGER},
			#{destinationSiteName,jdbcType=VARCHAR},

			#{operatorUserErp,jdbcType=VARCHAR},
			#{operatorUserName,jdbcType=VARCHAR},

			#{createTime,jdbcType=TIMESTAMP},
			#{createTime,jdbcType=TIMESTAMP},
			#{updateTime,jdbcType=TIMESTAMP}
		</foreach>
	</insert>

	<update id="deleteRouterNodeByChainId" parameterType="int">
		update b2b_router_chain
		set
		operator_code = #{operatorUserErp,jdbcType=VARCHAR},
		operator_name = #{operatorUserName,jdbcType=VARCHAR},
		yn = 0,
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where
		id=#{id,jdbcType=INTEGER}
	</update>

	<select id="getNextNode" parameterType="B2BRouterNode" resultType="B2BRouterNode">
		select destination_site_type,destination_site_code,destination_site_name,
        from b2b_router_chain
		where
		chain_id = #{routerChainId,jdbcType=INTEGER}
		and original_site_type = #{originalSiteType,jdbcType=INTEGER}
		and original_site_code = #{originalSiteCode,jdbcType=INTEGER}
		and yn =1
	</select>

</mapper>