<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>分拣机自动发货补打印界面</title>
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpmanage.css')">
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/static/js/plugins/jquery-easyui/themes/default/easyui.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/plugins/jquery-easyui/themes/icon.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/jquery.autocomplete.css')" />
    <script type="application/javascript" src="#springUrl('/static/js/jquery-1.8.0.min.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/plugins/jquery.blockUI.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/plugins/jquery-easyui/jquery.easyui.min.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/common/common-client.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/common/page-bar.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/DatePicker/WdatePicker.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/printDevice/printer.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/jquery.cookie.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/jquery-plugins/jquery.autocomplete.js')"></script>
    <style  type="text/css">
        .textField {
            width: 150px;
        }

        .checkboxArea .checkbox , label {
            vertical-align: middle;
        }

    </style>
    <script type="application/javascript">
        $(document).ready(function () {
            var siteNo = $("#createSiteCode").val();
            querySubSite();//初始化子站点

            /**
             * 全选/取消
             */
            $("#all").click(function () {
                if($(this).prop("checked")){
                    $("input[name=item]").each(function(){
                        $(this).prop("checked",true);
                    })
                }else{
                    $("input[name=item]:checked").each(function(){
                        $(this).prop("checked",false);
                    })
                }
            })
        })

        /**
         * 执行子站点的初始化
         */
        function querySubSite() {
            var url = $("#contextPath").val() + "/sortMachineAutoSend/querySubSiteNo"
            var slefSites = "";
            var selfSiteArray;
            CommonClient.post(url,getParams(),function(msg){
                if (msg.code == 200) {
                    jQuery.each(msg.data, function(infoIndex, info) {
                        if(infoIndex == 0){
                            slefSites = getSites(info);
                        }else {
                            slefSites = getSites(info) + " " + slefSites;
                        }
                    });
                }
                selfSiteArray = slefSites.split(" ");
                orginalDms(selfSiteArray);
            })
        }

        /**
         * 执行查询事件
         */
        function query(pageNo){
            var params = getParams();
            params.pageNo = pageNo;
            doQuery(params);
        }

        /**
         * 提交查询参数
         */
        function doQuery(params) {
            var url = $("#contextPath").val() + "/sortMachineAutoSend/query";
            var url2 = $("#contextPath").val() + "/sortMachineAutoSend/summaryBySendCode";
            CommonClient.post(url,params,function (data) {
                if(data == undefined && data == null){
                    jQuery.messager.alert("提示：","HTTP请求没有数据返回!!","info");
                }
                if(data.code == 200 && data.data != null) {
                    var page = data.data;
                    var list = page.data;
                    var temp = "";
                    for (var i = 0;i < list.length;i++) {
                        var packageSum = 0.00;//总数量
                        var volumeSum = 0.00;//总体积
                        CommonClient.syncPost(url2,{"sendCode":list[i].sendCode},function (data) {
                            if (data != undefined && data != null){
                                var sum = data.data;
                                if(sum.packageSum != null && sum.volumeSum != null){
                                    packageSum = sum.packageSum;
                                    volumeSum = sum.volumeSum;
                                }
                            }
                        })
                        temp += "<tr id='" + (i+1) + "'>";
                        temp += "<td><input type='checkbox' name='item'></td>";
                        temp += "<td name='receiveSite' title='" + list[i].receiveSiteCode + "'>" + list[i].receiveSiteName + "</td>";
                        temp += "<td name='sendCode'>" + list[i].sendCode + "</td>";
                        temp += "<td name='packageSum' >"+packageSum+"</td>";
                        temp += "<td>"+volumeSum+"</td>";
                        temp += "<td name='createTime' >" + timeStampToDate(list[i].createTime) + "</td>";
                        temp += "</tr>";
                    }
                    $("#pagerTable tbody").html(temp);
                    //添加分页显示
                    $("#pager").html(PageBar.getHtml("query",page.totalSize,page.pageNo,page.totalNo));

                }else if(data.code == 200 && data.data ==null){
                    jQuery.messager.alert("提示：","服务器请求成功，无数据返回!","info");
                }else if(data.code == 500){
                    jQuery.messager.alert("提示：","服务器请求数据处理异常","info");
                }else{
                    jQuery.messager.alert("提示：","服务器请求数据处理异常","info");
                }
            })
        }

        /**
         * 获取页面参数
         */
        function getParams(){
            var params = {};
            params.machineId = $("#machineId").val();
            params.createSiteCode = $("#createSiteCode").val();
            params.createSiteName = $("#createSiteName").val();
            if($("#receiveSiteCodeInputHide").val() != ""){
                params.receiveSiteCode = $("#receiveSiteCodeInputHide").val();
            }
            if($("#startTime").val() != null){
                params.startTime = new Date($("#startTime").val());
            }
            if($("#endTime").val() != null){
                params.endTime = new Date($("#endTime").val());
            }
            return params;
        }

        /**
         * 打印点击事件，需要选中
         */
        function printBatch(){

            /** 判断是否有选中单个进行打印并完结的事件 **/
            var list = [];

            $("input[name=item]:checked").each(function () {
                var param = {};
                param.sendCode = $(this).parents("tr").find("[name=sendCode]").text();
                param.packageSum = $(this).parents("tr").find("[name=packageSum]").text();
                param.receiveSiteName = $(this).parents("tr").find("[name=receiveSite]").text();
                list.push(param);
            });
            if(list.length == 0){
                jQuery.messager.alert("提示","请选择要打印的目的地","info");
                return;
            }

            labelPrint(list);//打印事件

            /** 刷新当前页面 **/
            var currentPage = $(".current").text();
            query(currentPage);
        }

        /** 分拣机批次打印调用组件*/
        labelPrint = function(list){
            for(var i=0;i<list.length;i++){

                var param=list[i];
                var labelPrintRequst = new Object();
                labelPrintRequst['systemCode'] = 'dms';
                labelPrintRequst['businessType'] = 'dms-sendBarcode';
                labelPrintRequst['siteCode'] =$("#createSiteCode").val();
                labelPrintRequst['siteName'] = $("#createSiteName").val();

                var labelParams=new Object();
                labelParams.SendCode=param.sendCode;
                labelParams.receiveSiteName=param.receiveSiteName;
                labelParams.createSiteName=$("#createSiteName").val();
                labelParams.SumNum=param.packageSum;

                labelPrintRequst['labelParams']=labelParams;

                var formJson = JSON.stringify(labelPrintRequst);
                var labelPrintUrl = 'http://localhost:9099/services/label/print';
                /*提交表单*/
                CommonClient.asyncPost(labelPrintUrl,formJson,function (res) {
                    if(res != null && res.status=== 200){
                        var result=$.parseJSON(res.responseText);
                        if (result.code===200) {
                            console.log("调用结果", "调用打印成功");
                        }else{
                            jQuery.messager.alert("提示", "请求发送成功但是调用打印组件失败", res.statusText.message);
                        }
                    }else {
                        jQuery.messager.alert("提示", "服务器异常", res.statusText);
                    }
                });
            }

        }

        /**
         * 打印点击事件，需要选中
         */
        function subPrintClick(){
            var machineId = $("#machineId").val();
            var createSiteCode = $("#createSiteCode").val();
            if(machineId == undefined || machineId == "" || machineId == 0 ){
                return;
            }

            /** 读取cookie中设置的打印机的值 **/
            var labelPrinterValue = $.cookie("labelPrinterValue");
            var listPrinterValue = $.cookie("listPrinterValue");
            if(labelPrinterValue == null || listPrinterValue == null){
                jQuery.messager.alert("提示","没有设置打印机，请前往设置","info");
                return;
            }
            var printerNames = {"labelPrinter":labelPrinterValue,"listPrinter":listPrinterValue};

            /** 第二步判断是否有选中单个进行打印并完结的事件 **/
            var list = [];
            var param = {};
            $("input[name=item]:checked").each(function () {
                param.machineId = machineId
                param.createSiteCode = createSiteCode;
                param.receiveSiteCode = $(this).parents("tr").find("[name=receiveSite]").attr("title");
                param.sendCode = $(this).parents("tr").find("[name=sendCode]").text();
                param.packageSum = $(this).parents("tr").find("[name=packageSum]").text();
                param.createTime = new Date($(this).parents("tr").find("[name=createTime]").text());
                param.createSiteName = $("#createSiteName").val();
                param.receiveSiteName = $("#receiveSiteCodeInputName").val();
                list.push(param);
            });
            if(list.length == 0){
                jQuery.messager.alert("提示","请选择要打印的目的地","info");
                return;
            }

            printEvent(list,printerNames);//打印事件


            /** 刷新当前页面 **/
            var currentPage = $(".current").text();
            query(currentPage);
        }

        /**
         * 打印提交事件
         */
        function printEvent(param,printerNames){
            var width = 200;
            var height = 100;
            var imageStr = "";
            var url = $("#contextPath").val() + "/sortMachineAutoSend/sendCodePrint";
            CommonClient.postJson(url,param,function (data) {
                if(data == undefined && data == null){
                    jQuery.messager.alert("提示：","获取打印内容异常，请稍后再试","info");
                    return;
                }
                var responseList = data.data;
                if(data.code==200){
                    $.blockUI({ message:"<span class='pl20 icon-loading'>正在处理打印,请不要关闭页面...</span>"});
                    for(var i = 0;i<responseList.length;i++){
                        imageStr = responseList[i].sendCodeImgStr;
                        if(responseList[i].printType == 1){
                            printPic(printerNames.labelPrinter,imageStr,width,height);
                        }
                        if(responseList[i].printType == 2){
                            printPic(printerNames.listPrinter,imageStr,width,height);
                        }
                    }
                    $.unblockUI();
                }else{
                    jQuery.messager.alert("警告：","打印失败!","warning");
                }
            })
        }


        /**
         * 将时间戳转换为时间对象 如2016-12-19 20:13:03
         * @param ts
         */
        function timeStampToDate(ts){
            var date = new Date(ts);
            var Y = date.getFullYear() + "-";
            var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + "-";
            var D = date.getDate() < 10? "0"+date.getDate() : date.getDate();
            var h = date.getHours() + ":";
            var m = date.getMinutes() + ":";
            var s = date.getSeconds();
            var timeStr = Y + M + D + " " + h + m + s;
            return timeStr;
        }

        function orginalDms(selfSiteArray) {
            $('#receiveSiteCodeInputName').autocomplete(selfSiteArray, {
                minChars : 0,
                max : 20,
                matchContains : true
            }).result(function(event, data, formatted) {
                var result = data[0].split("|");
                $("#receiveSiteCodeInputName").val(result[0]);
                $("#receiveSiteCodeInputHide").val(result[1]);
            });
        }

        function getSites(info) {
            return info.receiveSiteName + "|" + info.receiveSiteCode + "|";
        }

        //        $("#receiveSiteCode").keyup(function(){
//            //过滤空
//            var keyword = $(this).val().toLowerCase().replace(/(^\s*)|(\s*$)/g, "");
//            if (keyword) {
//                //使用正则
//                var reg = new RegExp(keyword,'i');
//                //遍历option
//                $('option').each(function(key,val){
//                    //定义要搜索的字符串
//                    var ref = $(this).attr('ref');
//                    //如果搜到，设置select值
//                    if(ref && reg.test( ref ) ){
//                        $("select").val($(val).val());
//                        return false;
//                    }
//                });//end each
//            }//end if keyword
//        });

//        function searchList(strValue) {
//            var count = 0;
//            if (strValue != "") {
//                $(".nice_select ul li").each(function(i) {
//                    var contentValue = $(this).text();
//                    if (contentValue.toLowerCase().indexOf(strValue.toLowerCase()) < 0) {
//                        $(this).hide();
//                        count++;
//                    } else {
//                        $(this).show();
//                    }
//                    if (count == (i + 1)) {
//                        $(".nice_select").find("ul").hide();
//                    } else {
//                        $(".nice_select").find("ul").show();
//                    }
//                });
//            } else {
//                $(".nice_select ul li").each(function(i) {
//                    $(this).show();
//                });
//            }
//        }
    </script>
</head>
<body>
<input type="hidden" id="contextPath" value="#springUrl('')">
<div id="breadcrumb">
    <P>
        <a href="javascript:void(0)">分拣中心</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0)">分拣机自动发货</a>&nbsp;&gt;&nbsp;<a herf="javascript:void(0)">补打印界面</a>
    </P>
</div>
<div id="content">
    <div>
        <input type="hidden" class="textField" id="machineId" value="$!{machineId}">
        <input type="hidden" class="textField" id="createSiteCode" value="$!{createSiteCode}">
        <input type="hidden" class="textField" id="createSiteName" value="$!{createSiteName}">
    </div>
    <div class="m">
        <div class="tbl-n">
            <div id="part-1" class="part">
                <span>查询站点：</span>
                <span class="nice_select">
                    <input type="text" id="receiveSiteCodeInputName" name="receiveSiteCodeInputName" value="">
                    <input type="hidden" id="receiveSiteCodeInputHide" name="receiveSiteCodeInputHide" value="">
                </span>
                <span>起始时间：</span>
                <input type="text" id= "startTime"  name="startTime" style="width: 130px" class="Wdate"
                                        onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="$!{startTime}"/>
                --
                <span>结束时间：</span>
                <input type="text" id= "endTime"  name="endTime" style="width: 130px" class="Wdate"
                       onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="$!{endTime}"/>
                <input type="button" class="btn_c" value="查询" onclick="query(1)">
                <input type="button" class="btn_c" value="打印" onclick="printBatch()"/>
            </div>
        </div>
    </div>
    <div class="opening">
        <div class="tbl-list">
            <div class="tbl-bg">
                <table id="pagerTable" class="tb-x1" cellspacing="0" cellpadding="0" style="width: 100%;min-width:1100px;">
                    <thead>
                    <tr>
                        <th class="checkboxArea"><input type="checkbox" id="all" name="all" value="all" class="checkbox"><label for="all">全选</label></th>
                        <th>批次目的地</th>
                        <th>批次号</th>
                        <th>包裹数量</th>
                        <th>总体积（m³）</th>
                        <th>批次创建时间</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <div id="pager" class="tbl-n">

        </div>
    </div>
</div>
<script type="text/javascript">
    var jaq = jaq || [];
    jaq.push(['account', 'JA2016_112453']);
    jaq.push(['domain', 'dms.etms.jd.com']);
    (function () {
        var ja = document.createElement('script');
        ja.type = 'text/javascript';
        ja.async = true;
        ja.src = '//wl.jd.com/joya.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ja, s);
    })()
</script>
</body>
</html>
