<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>分拣机自动发货</title>
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpmanage.css')">
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/static/js/plugins/jquery-easyui/themes/default/easyui.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/plugins/jquery-easyui/themes/icon.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/popUp/popUp.css')">
    <script type="application/javascript" src="#springUrl('/static/js/jquery-1.8.0.min.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/jquery.form.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/plugins/jquery.blockUI.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/plugins/jquery-easyui/jquery.easyui.min.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/common/common-client.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/common/page-bar.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/popUp/popUp.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/printDevice/printer.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/jquery.cookie.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/common/utils.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/sortMachine/sortMachineAutoSend.js?_t=35')"></script>
    <style  type="text/css">
        .part {
            margin-top: 30px;
            margin-bottom: 30px;
            float: none;
        }
        #part-2 table {
            width: 235px;
        }
        .divBlock {
            float: left;
            border: 1px dotted gray;
            margin-right: 50px;
            padding-left: 8px;
            padding-right: 8px;
            width: 250px;
        }
        .divTitle {
            font-size: 14px;
            font-weight: bold;
            padding-left: 5px;
        }
        .blankTr {
            height: 30px;
        }
        .blankTd {
            width: 80px;
        }
        .checkboxArea .checkbox , span {
            vertical-align: middle;
        }

        #exceptionNum {
            text-align: center;
            font-size: 14px;
            color: #b81900;
        }
        #warning {
            width: auto;
            text-align: center;
            font-family: 微软雅黑;
            font-size: 16px;
            color: #be1f1f;
            margin-right: auto;
            margin-left: auto;
        }
        .textField {
            width: 150px;
        }
        .trHeight {
            height: 40px;
        }
    </style>
</head>
<body>
    <input type="hidden" id="contextPath" value="#springUrl('')">
    <input type="hidden" class="textField" id="createSiteCode" value="$!{createSiteCode}">
    <input type="hidden" class="textField" id="createSiteName" value="$!{createSiteName}">
    <div id="breadcrumb">
        <P>
            <a href="javascript:void(0)">分拣中心</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0)">分拣机自动发货</a>
        </P>
    </div>
    <div id="content">
        <div class="m">
            <div class="tbl-n">
                <div id="part-0">
                    <span style="color: red"><b>该页面已经迁移!!! </b>请未迁移的场地在5月14号之前完成迁移。请没有及时迁移的场地，联系值班人员进行切换
                        <a href="https://cf.jd.com/pages/viewpage.action?pageId=75524948" target="_blank">https://cf.jd.com/pages/viewpage.action?pageId=75524948</a></span>
                </div>
                <div id="part-1" class="part">
                    <span>分拣机代码：
                    </span>
                    <select name="sortMachine" id="sortMachine">
                    <option value="">请选择分拣机</option>
                    </select>
                    <input id="queryBtn" value="查询" type="button" class="btn_c">
                    <label style="margin-left: 60px;"><input type="checkbox" id="flash" class="checkbox" style="vertical-align: middle"><span>定时刷新</span></label>
                </div>
                <div id="part-2" class="part">
                    <div class="divBlock">
                        <table>
                            <tr>
                                <td colspan="3" class="divTitle">打印功能：</td>
                                <td><input type="button" class="btn_c" value="打印批次" id="printBatch"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="checkboxArea"><label><input type="checkbox" name="printStyle" value="1" class="checkbox" checked="checked"><span>打批次号</span></label></td>
                                <td></td>
                                <td><input type="button" id="printAndEndSend" value="完结、打印、换批次" class="btn_c"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="checkboxArea">
                                    <label>
                                        <input type="checkbox" name="printStyle" value="2" class="checkbox" checked="checked"><span>汇总单</span>
                                    </label>
                                </td>
                                <td></td>
                                <td><input type="button" value="换批次" id="generateSendCodeBtn" class="btn_c"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><input type="button" value="补打印" id="replenishPrint" class="btn_c"></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="divBlock" style="width: 340px;">
                        <table>
                            <tr>
                                <td class="divTitle">发货组：</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td >
                                    <select name="sendGroup" id="sendGroup">
                                        <option value="">请选择发货组</option>
                                    </select>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="button" value="新建组" id="newGroupbtn" class="btn_c"></td>
                                <td><input type="button" value="修改组" id="modifyGroupbtn" class="btn_c"></td>
                                <td><input type="button" value="删除组" id="delGroupbtn" class="btn_c"></td>
                            </tr>
                        </table>
                    </div>
                    <br/><br/><br/><br/><br/><br/><br/>
                    <div>
                        <a href="javascript:void(0)" id="warning"">提示：一个批次最多用24个小时!</a>
                    </div>
                    <div style="clear: both;height: 0;line-height: 0;font-size: 0;"></div>
                </div>
                <div id="part-3" style="margin-top: 30px;">
                    <span>异常数据：</span><a href="#" id="exceptionNum">0</a>
                </div>
            </div>
        </div>
        <div class="opening">
            <div class="tbl-list">
                <div class="tbl-bg">
                    <table id="pagerTable" class="tb-x1" cellspacing="0" cellpadding="0" style="width: 100%;min-width:1100px;">
                        <thead>
                        <tr>
                            <th class="checkboxArea"><input type="checkbox" id="all" name="all" value="all" class="checkbox"><label for="all">全选</label></th>
                            <th>物理滑槽</th>
                            <th>发货目的地代码</th>
                            <th>发货目的地名称</th>
                            <th>批次号</th>
                            <th>批次开始时间</th>
                            <th>已发货箱数(原包数量)</th>
                            <th>总体积</th>
                        </tr>
                        </thead>
                        <tbody id="chuteTb">

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pager" class="tbl-n">

            </div>
        </div>
    </div>

    <div class="popup_block" id="printSettingPopUp">
        <div style="border:1px solid black;width:300px;height: 180px;padding30px;margin-left: auto;margin-top: auto;margin-right: auto;margin-bottom: auto;">
            <table>
                <tr class="trHeight">
                    <td colspan="3" class="divTitle">打印机设置：</td>
                </tr>
                <tr style="height: 5px;">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="trHeight">
                    <td></td>
                    <td>标签打印机：</td>
                    <td><select name="" id="labelPrinter" class="textField">
                        <option value="">(读取打印机失败)</option>
                    </select></td>
                </tr>
                <tr class="trHeight">
                    <td></td>
                    <td>清单打印机：</td>
                    <td><select name="" id="listPrinter" class="textField">
                        <option value="">(读取打印机失败)</option>
                    </select></td>
                </tr>
                <tr class="trHeight">
                    <td></td>
                    <td></td>
                    <td><input type="button" id="printSettingSaveBtn" value="保存" class="btn_c"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="popup_block" id="addSendGroupDiv">
        <div style="border:1px solid black;width:300px;height: 180px;padding30px;margin-left: auto;margin-top: auto;margin-right: auto;margin-bottom: auto;">
            <table>
                <tr class="trHeight">
                    <td colspan="3" class="divTitle">添加发货组：</td>
                </tr>
                <tr style="height: 5px;">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="trHeight">
                    <td></td>
                    <td>组名：</td>
                    <td><input id="sendGroupName" value=""/></td>
                </tr>
                <tr class="trHeight">
                    <td></td>
                    <td><input type="button" id="addGroupSaveBtn" value="保存" class="btn_c"></td>
                    <td><input type="button" style="float: right" id="addGroupCancelBtn" value="取消" class="btn_c"></td>
                </tr>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        var jaq = jaq || [];
        jaq.push(['account', 'JA2016_112453']);
        jaq.push(['domain', 'dms.etms.jd.com']);
        (function () {
            var ja = document.createElement('script');
            ja.type = 'text/javascript';
            ja.async = true;
            ja.src = '//wl.jd.com/joya.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ja, s);
        })()
    </script>
    #parse("system/security/watermark.vm")
</body>
</html>
