<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jd.bluedragon.distribution.jy.dao.calibrate.JyBizTaskMachineCalibrateDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jd.bluedragon.distribution.jy.calibrate.JyBizTaskMachineCalibrateEntity" id="jyBizTaskMachineCalibrateMap">
        <result property="id" column="id"/>
        <result property="machineCode" column="machine_code"/>
        <result property="calibrateTaskStartTime" column="calibrate_task_start_time"/>
        <result property="calibrateTaskCloseTime" column="calibrate_task_close_time"/>
        <result property="createUserErp" column="create_user_erp"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="yn" column="yn"/>
        <result property="ts" column="ts"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, machine_code, calibrate_task_start_time, calibrate_task_close_time, create_user_erp, create_time, update_time, yn, ts
    </sql>

    <insert id="insert" parameterType="com.jd.bluedragon.distribution.jy.calibrate.JyBizTaskMachineCalibrateEntity">
        INSERT INTO jy_biz_task_machine_calibrate (
            <trim suffixOverrides=",">
                <if test="id != null">
                    id,
                </if>
                <if test="machineCode != null">
                    machine_code,
                </if>
                <if test="calibrateTaskStartTime != null">
                    calibrate_task_start_time,
                </if>
                <if test="calibrateTaskCloseTime != null">
                    calibrate_task_close_time,
                </if>
                <if test="createUserErp != null">
                    create_user_erp,
                </if>
                <if test="createTime != null">
                    create_time,
                </if>
                <if test="updateTime != null">
                    update_time,
                </if>
                <if test="yn != null">
                    yn,
                </if>
                <if test="ts != null">
                    ts
                </if>
            </trim>
        ) VALUES (
            <trim suffixOverrides=",">
                <if test="id != null">
                    #{id},
                </if>
                <if test="machineCode != null">
                    #{machineCode},
                </if>
                <if test="calibrateTaskStartTime != null">
                    #{calibrateTaskStartTime},
                </if>
                <if test="calibrateTaskCloseTime != null">
                    #{calibrateTaskCloseTime},
                </if>
                <if test="createUserErp != null">
                    #{createUserErp},
                </if>
                <if test="createTime != null">
                    #{createTime},
                </if>
                <if test="updateTime != null">
                    #{updateTime},
                </if>
                <if test="yn != null">
                    #{yn},
                </if>
                <if test="ts != null">
                    #{ts}
                </if>
            </trim>
        )
    </insert>

    <update id="update" parameterType="com.jd.bluedragon.distribution.jy.calibrate.JyBizTaskMachineCalibrateEntity">
        UPDATE jy_biz_task_machine_calibrate
        <set>
            <if test="machineCode != null">
                machine_code = #{machineCode} ,
            </if>
            <if test="calibrateTaskStartTime != null">
                calibrate_task_start_time = #{calibrateTaskStartTime} ,
            </if>
            <if test="calibrateTaskCloseTime != null">
                calibrate_task_close_time = #{calibrateTaskCloseTime} ,
            </if>
            <if test="createUserErp != null">
                create_user_erp = #{createUserErp} ,
            </if>
            <if test="createTime != null">
                create_time = #{createTime} ,
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime} ,
            </if>
            <if test="yn != null">
                yn = #{yn} ,
            </if>
            <if test="ts != null">
                ts = #{ts}
            </if>
        </set>
        <where>
            yn = 1
            and machine_code = #{machineCode,jdbcType=VARCHAR}
            <if test="createUserErp != null and createUserErp != ''">
                AND create_user_erp = #{createUserErp,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <update id="delete" parameterType="com.jd.bluedragon.distribution.jy.calibrate.JyBizTaskMachineCalibrateEntity">
        update upee_product
        <set>
            yn = 0,
            update_time = #{updateTime},
            update_user = #{updateUser}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="queryOneByCondition" parameterType="com.jd.bluedragon.distribution.jy.calibrate.JyBizTaskMachineCalibrateEntity" resultMap="jyBizTaskMachineCalibrateMap">
        select
        <include refid="Base_Column_List"/>
        from
            jy_biz_task_machine_calibrate
        where yn = 1
        and machine_code = #{machineCode,jdbcType=VARCHAR}
        order by calibrate_task_start_time desc
        limit 1
    </select>

</mapper>