<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.sorting.dao.SortingExceptionDao" >
    <resultMap id="sortingExceptionResult" type="com.jd.bluedragon.distribution.sorting.domain.SortingException">
        <result column="ID" property="id"/>
        <result column="CREATE_SITE_CODE" property="createSiteCode"/>
        <result column="RECEIVE_SITE_CODE" property="receiveSiteCode"/>
        <result column="BUSINESS_TYPE" property="businessType"/>
        <result column="BOX_CODE" property="boxCode"/>
        <result column="PACKAGE_CODE" property="packageCode"/>
        <result column="EXCEPTION_CODE" property="exceptionCode"/>
        <result column="EXCEPTION_MSG" property="exceptionMessage"/>
        <result column="CREATE_USER_CODE" property="createUserCode"/>
        <result column="CREATE_USER_NAME" property="createUserName"/>
        <result column="UPDATE_USER_CODE" property="updateUserCode"/>
        <result column="UPDATE_USER_NAME" property="updateUserName"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="YN" property="yn"/>
    </resultMap>
    
    <sql id="field">
              CREATE_SITE_CODE
            , RECEIVE_SITE_CODE
            , BUSINESS_TYPE
            , BOX_CODE
            , PACKAGE_CODE
            ,EXCEPTION_CODE
            , EXCEPTION_MSG
            , CREATE_USER_CODE
            , CREATE_USER_NAME
            ,UPDATE_USER_CODE
            , UPDATE_USER_NAME
            , CREATE_TIME
            , UPDATE_TIME
            , YN
    </sql>
	
	<insert id="add" parameterType="com.jd.bluedragon.distribution.sorting.domain.SortingException" >
        INSERT INTO SORTING_EC
            (<include refid="field"/> )
            VALUES
            (#{createSiteCode,jdbcType=INTEGER}
            , #{receiveSiteCode,jdbcType=INTEGER}
            , #{businessType,jdbcType=INTEGER}
            , #{boxCode,jdbcType=VARCHAR}
            , #{packageCode,jdbcType=VARCHAR}
            , #{exceptionCode,jdbcType=INTEGER}
            , #{exceptionMessage,jdbcType=VARCHAR}
            , #{createUserCode,jdbcType=INTEGER}
            , #{createUserName,jdbcType=VARCHAR}
            , #{updateUserCode,jdbcType=INTEGER}
            , #{updateUserName,jdbcType=VARCHAR}
            , #{createTime,jdbcType=TIMESTAMP}
            , #{updateTime,jdbcType=TIMESTAMP}
            , #{yn,jdbcType=INTEGER})
	</insert>
	
    <select id="getListByBatchCodeAndSiteCode" parameterType="java.util.Map" resultMap="sortingExceptionResult">
      select  <include refid="field"/>
        from SORTING_EC
          WHERE BOX_CODE=#{sendCode,jdbcType=VARCHAR}
                AND RECEIVE_SITE_CODE=#{siteCode,jdbcType=INTEGER}
    </select>
</mapper>