<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.sorting.dao.SortingDao" >

	<resultMap id="sorting" type="com.jd.bluedragon.distribution.sorting.domain.Sorting" >
		<result column="sorting_id" property="id" />
		<result column="bsend_code"  property="bsendCode" />
		<result column="box_code" property="boxCode" />
		<result column="package_code" property="packageCode" />
		<result column="waybill_code" property="waybillCode" />
		<result column="pickup_code" property="pickupCode" />
		<result column="create_site_code" property="createSiteCode" />
		<result column="receive_site_code" property="receiveSiteCode" />
		<result column="create_user_code" property="createUserCode" />
		<result column="create_user" property="createUser" />
		<result column="create_time" property="createTime" />
		<result column="update_user_code" property="updateUserCode" />
		<result column="update_user" property="updateUser" />
		<result column="update_time" property="updateTime" />
		<result column="operate_time" property="operateTime"/>
		<result column="sorting_type" property="type" />
		<result column="sorting_status" property="status" />
		<result column="is_cancel" property="isCancel" />
		<result column="excute_count" property="excuteCount" />
		<result column="excute_time" property="excuteTime" />
		<result column="yn" property="yn" />
		<result column="spare_reason"  property="spareReason" />
		<result column="is_loss" property="isLoss"/>
		<result column="feature_type" property="featureType"/>
	</resultMap>
	
	<insert id="add" parameterType="sorting" >
	
	<!--	<selectKey resultType="long"  keyProperty="id" order="BEFORE" statementType="PREPARED">      
			<![CDATA[select dms_core_sorting.nextval]]>
	    </selectKey>-->
	    
		INSERT INTO Sorting (
			sorting_id, bsend_code , box_code, package_code, waybill_code, pickup_code, 
			sorting_type, create_site_code, receive_site_code,
			create_user_code, create_user, update_user_code, update_user,
			create_time, update_time, operate_time, is_cancel, excute_count, excute_time, 
			sorting_status, yn, spare_reason, is_loss, feature_type)
		VALUES (
			#{id,jdbcType=BIGINT}, #{bsendCode,jdbcType=VARCHAR}, #{boxCode,jdbcType=VARCHAR}, #{packageCode,jdbcType=VARCHAR},
			#{waybillCode,jdbcType=VARCHAR}, #{pickupCode,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
			#{createSiteCode,jdbcType=INTEGER}, #{receiveSiteCode,jdbcType=INTEGER},
			#{createUserCode,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR},
			#{createUserCode,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR},
			NOW(), NOW(),#{operateTime,jdbcType=TIMESTAMP}, #{isCancel,jdbcType=INTEGER}, 
			0, NOW(), 1, 1, #{spareReason,jdbcType=VARCHAR}, #{isLoss,jdbcType=INTEGER}, #{featureType,jdbcType=INTEGER})
    </insert>

	<!-- Author by lixin456 指定更新时使用索引 解决更新死锁问题 若对该表索引进行调整 请注意修改此处 -->
	<update id="update" parameterType="sorting" >
		UPDATE Sorting FORCE INDEX(IND_SORTING_PCODE_P)
		SET 
		    bsend_code = #{bsendCode,jdbcType=VARCHAR},
		    box_code = #{boxCode,jdbcType=VARCHAR},
		    package_code = #{packageCode,jdbcType=VARCHAR},
			waybill_code = #{waybillCode,jdbcType=VARCHAR},
			pickup_code = #{pickupCode,jdbcType=VARCHAR},
			sorting_type = #{type,jdbcType=INTEGER},
			receive_site_code = #{receiveSiteCode,jdbcType=INTEGER},
			operate_time = #{operateTime,jdbcType=TIMESTAMP},
			update_user_code = #{updateUserCode,jdbcType=INTEGER},
		    update_user = #{updateUser,jdbcType=VARCHAR},
			update_time = NOW(),
			spare_reason = #{spareReason,jdbcType=VARCHAR},
			is_cancel = #{isCancel,jdbcType=INTEGER},
			is_loss = #{isLoss,jdbcType=INTEGER},
			feature_type = #{featureType,jdbcType=INTEGER}
	    WHERE yn = 1
	        AND box_code = #{boxCode}
	        AND sorting_type = #{type}
	        AND package_code = #{packageCode}
		    AND create_site_code = #{createSiteCode}
			AND receive_site_code = #{receiveSiteCode}
    </update>
	
	<select id="findSortingPackages" resultMap="sorting" parameterType="sorting">
		SELECT sorting_id, box_code, package_code, waybill_code, create_site_code, receive_site_code,
		    create_user_code, create_user, update_user_code, update_user, excute_count
		FROM Sorting
		WHERE yn=1 AND is_cancel = 0
		    AND sorting_type = #{type}
		    AND box_code IN
            <foreach collection="boxCodeList" item="item" index="index" open="(" separator="," close=")">
                #{item,jdbcType=VARCHAR}
            </foreach>
		    AND create_site_code = #{createSiteCode}
			<if test="packageCode != null">
				AND package_code = #{packageCode}
			</if>
			<if test="waybillCode != null">
				AND waybill_code = #{waybillCode}
			</if>
	</select>	
  
	<select id="findByBoxCode" resultMap="sorting" parameterType="sorting">
		SELECT sorting_id, box_code, package_code, waybill_code, create_site_code, receive_site_code,create_time,
		    create_user_code, create_user, update_user_code, update_user, excute_count, sorting_type, spare_reason
		FROM Sorting
		WHERE yn=1 AND is_cancel = 0
		    AND box_code = #{boxCode} 
		    AND create_site_code = #{createSiteCode}
		<if test="receiveSiteCode != null">
			AND receive_site_code = #{receiveSiteCode}
		</if>
		<if test="type != null">
			AND sorting_type = #{type}
		</if>
	</select>

	<select id="findByBoxCodeAndFetchNum" resultMap="sorting" parameterType="java.util.Map">
		SELECT box_code, package_code, waybill_code, create_site_code, receive_site_code
		FROM Sorting
		WHERE yn=1 AND is_cancel = 0
		AND box_code = #{boxCode}
		AND create_site_code = #{createSiteCode}
		<if test="receiveSiteCode != null">
			AND receive_site_code = #{receiveSiteCode}
		</if>
		limit #{fetchNum}
	</select>

	<update id="canCancel" parameterType="sorting">
		UPDATE Sorting 
		SET is_cancel = 1, update_user_code = #{updateUserCode,jdbcType=INTEGER},
		    update_user = #{updateUser,jdbcType=VARCHAR}, update_time = NOW()
		WHERE yn=1 AND is_cancel = 0
		    AND create_site_code = #{createSiteCode} 
			AND sorting_type = #{type}
		<if test="packageCode != null">
			AND package_code = #{packageCode}
		</if>
		<if test="waybillCode != null">
			AND waybill_code = #{waybillCode}
		</if>
		<if test=" null!=boxCode and ''!=boxCode ">
			AND box_code = #{boxCode,jdbcType=VARCHAR}
		</if>
		<if test=" null!=receiveSiteCode and ''!=receiveSiteCode ">
			AND receive_site_code = #{receiveSiteCode,jdbcType=VARCHAR}
		</if>
	</update>
	<select id="findOrderDetail" resultMap="sorting" parameterType="sorting">
		SELECT box_code, package_code, waybill_code, receive_site_code,
		   create_time, operate_time, create_user
		FROM Sorting
		WHERE yn=1 AND is_cancel = 0
		<if test="boxCode != null">
			AND box_code = #{boxCode}
		</if>
		<if test="createSiteCode != null">
			AND create_site_code = #{createSiteCode}
		</if>
		<if test="receiveSiteCode != null">
			AND receive_site_code = #{receiveSiteCode}
		</if>
		<if test="createTime != null">
			AND create_time >= #{createTime,jdbcType=TIMESTAMP}
		</if>
		<if test="updateTime != null">
			AND create_time <![CDATA[<=]]> #{updateTime,jdbcType=TIMESTAMP}
		</if>
	</select>
	<select id="findOrder" resultMap="sorting" parameterType="sorting">
		SELECT package_code
		FROM Sorting
		WHERE yn=1 AND is_cancel = 0
		<if test="boxCode != null">
			AND box_code = #{boxCode}
		</if>
		<if test="createSiteCode != null">
			AND create_site_code = #{createSiteCode}
		</if>
		<if test="receiveSiteCode != null">
			AND receive_site_code = #{receiveSiteCode}
		</if>
		<if test="createTime != null">
			AND create_time >= #{createTime,jdbcType=TIMESTAMP}
		</if>
	</select>
	<update id="canCancelFuzzy" parameterType="sorting">
		UPDATE Sorting 
		SET is_cancel = 1, update_user_code = #{updateUserCode,jdbcType=INTEGER},
		    update_user = #{updateUser,jdbcType=VARCHAR}, update_time = NOW()
		WHERE yn=1 AND is_cancel = 0
		    AND create_site_code = #{createSiteCode} 
			AND sorting_type = #{type}
			AND package_code like #{packageCode}
		<if test="waybillCode != null">
			AND waybill_code = #{waybillCode}
		</if>
		<if test=" null!=boxCode and ''!=boxCode ">
			AND box_code = #{boxCode,jdbcType=VARCHAR}
		</if>
		<if test=" null!=receiveSiteCode and ''!=receiveSiteCode ">
			AND receive_site_code = #{receiveSiteCode,jdbcType=VARCHAR}
		</if>
	</update>
	
	<select id="findPackCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		SELECT count(*) AS totalPack
		FROM Sorting
		WHERE yn=1 AND is_cancel = 0
			AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
			AND box_code = #{boxCode, jdbcType=VARCHAR} 
	</select>
	
	<select id="findBoxDescSite" resultMap="sorting" parameterType="java.util.HashMap">
		<![CDATA[
			SELECT sorting_id, box_code, package_code, waybill_code, create_site_code, receive_site_code,create_time,
			    create_user_code, create_user, update_user_code, update_user, excute_count
			FROM Sorting
			WHERE yn=1 AND is_cancel = 0
			    AND box_code = #{boxCode, jdbcType=VARCHAR}
			    AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
			    LIMIT 1
		]]>
	</select>
	
	<select id="findBoxPackList" resultMap="sorting" parameterType="sorting">
		SELECT box_code, package_code, waybill_code, create_time
		FROM Sorting
		WHERE yn=1 AND is_cancel = 0
		<if test="createSiteCode != null"> 
		    AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
		</if> 
		<if test="type != null">
			AND sorting_type = #{type,jdbcType=INTEGER}
		</if>
		<if test="waybillCode != null">
			AND waybill_code = #{waybillCode,jdbcType=VARCHAR}
		</if>
		<if test="packageCode != null">
			AND package_code = #{packageCode,jdbcType=VARCHAR}
		</if>
	</select>
	
	
	<select id="existSortingByPackageCode" resultType="java.lang.Integer" parameterType="sorting">
		SELECT count(*)	FROM Sorting
		WHERE yn=1 AND package_code = #{packageCode,jdbcType=VARCHAR}
		<if test="createSiteCode != null"> 
			AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
		</if>
	</select>
	
	<select id="queryByCode" resultMap="sorting" parameterType="sorting">
		SELECT 
			box_code, create_site_code, receive_site_code, package_code, 
			waybill_code, sorting_type, update_user_code, update_user, spare_reason
		FROM sorting
		WHERE create_site_code = #{createSiteCode,jdbcType=INTEGER}
		AND sorting_type = #{type,jdbcType=INTEGER}
		<if test="waybillCode != null">
			AND waybill_code = #{waybillCode,jdbcType=VARCHAR}
		</if>
		<if test="packageCode != null">
			AND package_code = #{packageCode,jdbcType=VARCHAR}
		</if>
		AND is_cancel = 0
		AND NOT EXISTS 
		(
			SELECT box_code FROM SEND_M m 
			WHERE sorting.box_code = m.box_code AND sorting.create_site_code = m.create_site_code
			AND sorting.sorting_type = m.send_type
			AND m.yn=1
		)
	</select>

	<!--取消分拣正向模块取数  这里因为不知道是不是有别的地方在用 所以新加了一个方法 start-->
	<select id="queryByCode2" resultMap="sorting" parameterType="sorting">
		SELECT
		box_code, create_site_code, receive_site_code, package_code,
		waybill_code, sorting_type, update_user_code, update_user, spare_reason
		FROM sorting
		WHERE create_site_code = #{createSiteCode,jdbcType=INTEGER}
		<if test="waybillCode != null">
			AND waybill_code = #{waybillCode,jdbcType=VARCHAR}
		</if>
		<if test="packageCode != null">
			AND package_code = #{packageCode,jdbcType=VARCHAR}
		</if>
		AND is_cancel = 0
		AND NOT EXISTS
		(
		SELECT box_code FROM SEND_M m
		WHERE sorting.box_code = m.box_code AND sorting.create_site_code = m.create_site_code
		AND m.yn=1
		)
	</select>

	<update id="canCancel2" parameterType="sorting">
		UPDATE Sorting
		SET is_cancel = 1, update_user_code = #{updateUserCode,jdbcType=INTEGER},
		update_user = #{updateUser,jdbcType=VARCHAR}, update_time = NOW()
		WHERE yn=1 AND is_cancel = 0
		AND create_site_code = #{createSiteCode}
		<if test="packageCode != null">
			AND package_code = #{packageCode}
		</if>
		<if test="waybillCode != null">
			AND waybill_code = #{waybillCode}
		</if>
		<if test=" null!=boxCode and ''!=boxCode ">
			AND box_code = #{boxCode,jdbcType=VARCHAR}
		</if>
		<if test=" null!=receiveSiteCode and ''!=receiveSiteCode ">
			AND receive_site_code = #{receiveSiteCode,jdbcType=VARCHAR}
		</if>
	</update>

	<!--取消分拣正向模块 所以新加了一个方法 end-->
	<select id="findByBsendCode" resultMap="sorting" parameterType="sorting">
		<![CDATA[
			SELECT distinct(box_code),create_site_code,receive_site_code
			FROM Sorting
			WHERE  bsend_code = #{bsendCode,jdbcType=VARCHAR}
			and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		]]>
	</select>

	<select id="findPackageBoxCodesByWaybillCode" resultMap="sorting" parameterType="sorting">
		SELECT package_code,box_code
		FROM  sorting
		WHERE yn=1  AND  waybill_code = #{waybillCode}  AND create_site_code = #{createSiteCode,jdbcType=INTEGER} AND is_cancel = 0
	</select>

	<select id="findByPackageCode" resultMap="sorting" parameterType="sorting">
		SELECT box_code, package_code, waybill_code, pickup_code,
		    create_site_code, receive_site_code,
			create_user_code, create_user,
			create_time, update_time, operate_time, is_cancel,
			sorting_status, yn, is_loss
		FROM  sorting
		WHERE yn=1  AND  package_code = #{packageCode}  AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
	</select>

	<select id="findByWaybillCodeOrPackageCode" resultMap="sorting" parameterType="sorting">
		SELECT waybill_code,package_code,box_code
		FROM  sorting
		WHERE yn=1  AND is_cancel = 0 AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
		<if test="waybillCode != null">
			AND waybill_code = #{waybillCode,jdbcType=VARCHAR}
		</if>
		<if test="packageCode != null">
			AND package_code = #{packageCode,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="findPageSorting" resultMap="sorting" parameterType="map">
		select box_code, package_code, waybill_code, pickup_code,
		    create_site_code, receive_site_code,
			create_user_code, create_user,
			create_time, update_time, operate_time, is_cancel,
			sorting_status, yn, is_loss
		from sorting
		where yn=1 and package_code = #{packageCode,jdbcType=VARCHAR} and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		order by operate_time limit #{startIndex},#{pageSize}
	</select>


</mapper>