<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.abnormal.dao.DmsOperateHintDao">

	<resultMap id="DmsOperateHint" type="com.jd.bluedragon.distribution.abnormal.domain.DmsOperateHint" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="dms_site_code" property="dmsSiteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="dms_site_name" property="dmsSiteName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="waybill_code" property="waybillCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="hint_type" property="hintType" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="hint_code" property="hintCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="hint_name" property="hintName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="hint_message" property="hintMessage" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="hint_content" property="hintContent" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="is_enable" property="isEnable" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="create_user_code" property="createUserCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="create_user" property="createUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_user_name" property="createUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="update_user_code" property="updateUserCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="update_user" property="updateUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user_name" property="updateUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List" >
		id,dms_site_code,dms_site_name,waybill_code,hint_type,hint_code,
		hint_name,hint_message,hint_content,is_enable,create_user_code,
		create_user,create_user_name,create_time,update_user_code,update_user,
		update_user_name,update_time,is_delete,ts
	</sql>

	<insert id="insert" parameterType="com.jd.bluedragon.distribution.abnormal.domain.DmsOperateHint">
		insert into dms_operate_hint
			(
			<trim suffixOverrides=",">
				<if test="dmsSiteCode != null">
					dms_site_code,
				</if>
				<if test="dmsSiteName != null">
					dms_site_name,
				</if>
				<if test="waybillCode != null">
					waybill_code,
				</if>
				<if test="hintType != null">
					hint_type,
				</if>
				<if test="hintCode != null">
					hint_code,
				</if>
				<if test="hintName != null">
					hint_name,
				</if>
				<if test="hintMessage != null">
					hint_message,
				</if>
				<if test="hintContent != null">
					hint_content,
				</if>				
				<if test="isEnable != null">
					is_enable,
				</if>
				<if test="createUserCode != null">
					create_user_code,
				</if>
				<if test="createUser != null">
					create_user,
				</if>
				<if test="createUserName != null">
					create_user_name,
				</if>
				create_time,
				<if test="updateUserCode != null">
					update_user_code,
				</if>
				<if test="updateUser != null">
					update_user,
				</if>
				<if test="updateUserName != null">
					update_user_name,
				</if>
				update_time,
				is_delete,
				ts
			</trim>
			)
			values
			(
			<trim suffixOverrides=",">
				<if test="dmsSiteCode != null">
					#{dmsSiteCode,jdbcType=INTEGER},
				</if>
				<if test="dmsSiteName != null">
					#{dmsSiteName,jdbcType=VARCHAR},
				</if>
				<if test="waybillCode != null">
					#{waybillCode,jdbcType=VARCHAR},
				</if>
				<if test="hintType != null">
					#{hintType,jdbcType=INTEGER},
				</if>				
				<if test="hintCode != null">
					#{hintCode,jdbcType=INTEGER},
				</if>
				<if test="hintName != null">
					#{hintName,jdbcType=VARCHAR},
				</if>
				<if test="hintMessage != null">
					#{hintMessage,jdbcType=VARCHAR},
				</if>
				<if test="hintContent != null">
					#{hintContent,jdbcType=VARCHAR},
				</if>				
				<if test="isEnable != null">
					#{isEnable,jdbcType=TINYINT},
				</if>
				<if test="createUserCode != null">
					#{createUserCode,jdbcType=INTEGER},
				</if>
				<if test="createUser != null">
					#{createUser,jdbcType=VARCHAR},
				</if>
				<if test="createUserName != null">
					#{createUserName,jdbcType=VARCHAR},
				</if>
				now(),
				<if test="updateUserCode != null">
					#{updateUserCode,jdbcType=INTEGER},
				</if>
				<if test="updateUser != null">
					#{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUserName != null">
					#{updateUserName,jdbcType=VARCHAR},
				</if>
				now(),
				0,
				now()
			</trim>
			)
	</insert>

	<insert id="batchInsert" parameterType="List">
		insert into dms_operate_hint
			(
				dms_site_code,dms_site_name,waybill_code,hint_type,
				hint_code,hint_name,hint_message,hint_content,is_enable,
				create_user_code,create_user,create_user_name,create_time,update_user_code,
				update_user,update_user_name,update_time,is_delete,ts
			)
			values
			<foreach collection="list" item="item" index="index" separator=",">
				(
					#{item.dmsSiteCode,jdbcType=INTEGER},
					#{item.dmsSiteName,jdbcType=VARCHAR},
					#{item.waybillCode,jdbcType=VARCHAR},
					#{item.hintType,jdbcType=INTEGER},
					#{item.hintCode,jdbcType=INTEGER},
					#{item.hintName,jdbcType=VARCHAR},
					#{item.hintMessage,jdbcType=VARCHAR},
					#{item.hintContent,jdbcType=VARCHAR},
					#{item.isEnable,jdbcType=TINYINT},
					#{item.createUserCode,jdbcType=INTEGER},
					#{item.createUser,jdbcType=VARCHAR},
					#{item.createUserName,jdbcType=VARCHAR},
					#{item.createTime,jdbcType=TIMESTAMP},
					#{item.updateUserCode,jdbcType=INTEGER},
					#{item.updateUser,jdbcType=VARCHAR},
					#{item.updateUserName,jdbcType=VARCHAR},
					#{item.updateTime,jdbcType=TIMESTAMP},
					#{item.isDelete,jdbcType=TINYINT},
					#{item.ts,jdbcType=TIMESTAMP}
				)
			</foreach>
	</insert>

	<update id="update" parameterType="com.jd.bluedragon.distribution.abnormal.domain.DmsOperateHint">
		update dms_operate_hint
			<set>
				<if test="dmsSiteCode != null">
					dms_site_code = #{dmsSiteCode,jdbcType=INTEGER},
				</if>
				<if test="dmsSiteName != null">
					dms_site_name = #{dmsSiteName,jdbcType=VARCHAR},
				</if>
				<if test="waybillCode != null">
					waybill_code = #{waybillCode,jdbcType=VARCHAR},
				</if>
				<if test="hintType != null">
					hint_type = #{hintType,jdbcType=INTEGER},
				</if>				
				<if test="hintCode != null">
					hint_code = #{hintCode,jdbcType=INTEGER},
				</if>
				<if test="hintName != null">
					hint_name = #{hintName,jdbcType=VARCHAR},
				</if>
				<if test="hintMessage != null">
					hint_message = #{hintMessage,jdbcType=VARCHAR},
				</if>
				<if test="hintContent != null">
					hint_content = #{hintContent,jdbcType=VARCHAR},
				</if>				
				<if test="isEnable != null">
					is_enable = #{isEnable,jdbcType=TINYINT},
				</if>
				<if test="updateUserCode != null">
					update_user_code = #{updateUserCode,jdbcType=INTEGER},
				</if>
				<if test="updateUser != null">
					update_user = #{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUserName != null">
					update_user_name = #{updateUserName,jdbcType=VARCHAR},
				</if>
				update_time = NOW()
			</set>
		where id = #{id,jdbcType=BIGINT} and waybill_code = #{waybillCode,jdbcType=VARCHAR} and is_delete = 0
	</update>

	<update id="deleteById" parameterType="Long">
		update dms_operate_hint
			set is_delete = 1
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="deleteByIds" parameterType="List">
		update dms_operate_hint
			set is_delete = 1
		where id in
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item,jdbcType=BIGINT}
		</foreach>
	</update>

	<select id="findById" parameterType="Long" resultMap="DmsOperateHint">
		select 
		 <include refid="Base_Column_List"/>
		from 
		  dms_operate_hint 
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="findByUniqueKey" parameterType="com.jd.bluedragon.distribution.abnormal.domain.DmsOperateHint" resultMap="DmsOperateHint">
		select 
		 <include refid="Base_Column_List"/>
		from 
		  dms_operate_hint 
		where id = #{id,jdbcType=BIGINT}
		  order by ts desc
		limit 1
	</select>

    <sql id="where_condition">
        <where>
            is_delete = 0
            <if test="dmsSiteCode != null">
                AND dms_site_code = #{dmsSiteCode,jdbcType=INTEGER}
            </if>
            <if test="hintType != null">
                AND hint_type = #{hintType,jdbcType=INTEGER}
            </if>            
            <if test="waybillCode != null">
                AND waybill_code = #{waybillCode,jdbcType=VARCHAR}
            </if>
            <if test="startTime != null">
                AND create_time <![CDATA[ >= ]]> #{startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null">
                AND create_time <![CDATA[ <= ]]> #{endTime,jdbcType=TIMESTAMP}
            </if>
            <if test="isEnable != null">
                AND is_enable = #{isEnable,jdbcType=TINYINT}
            </if>
        </where>
    </sql>

	<select id="pageNum_queryByPagerCondition" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultType="Integer">
		select 
		 count(1) as num
		from 
		  dms_operate_hint
        <include refid="where_condition"/>
	</select>

	<select id="queryByPagerCondition" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultMap="DmsOperateHint">
		select 
		 <include refid="Base_Column_List"/>
		from 
		 dms_operate_hint
        <include refid="where_condition"/>
         ORDER BY create_time DESC
		 limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
	</select>
	<select id="queryNeedReprintHintByWaybillCode" parameterType="com.jd.bluedragon.distribution.abnormal.domain.DmsOperateHintCondition" resultMap="DmsOperateHint">
		select 
		 <include refid="Base_Column_List"/>
		from dms_operate_hint
          where hint_type = #{hintType,jdbcType=INTEGER}
           AND hint_code = #{hintCode,jdbcType=INTEGER}
           AND waybill_code = #{waybillCode,jdbcType=VARCHAR}
         ORDER BY ts DESC
		 limit 1
	</select>
</mapper>