<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.popAbnormal.dao.PopAbnormalDetailDao">
	<resultMap id="popAbnormalDetail"
		type="com.jd.bluedragon.distribution.popAbnormal.domain.PopAbnormalDetail">
		<result column="ABNORMAL_DETAIL_ID" property="abnormalDetailId" />
		<result column="ABNORMAL_ID" property="abnormalId" />
		<result column="OPERATOR_CODE" property="operatorCode" />
		<result column="OPERATOR_NAME" property="operatorName" />
		<result column="OPERATOR_TIME" property="operatorTime" />
		<result column="REMARK" property="remark" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="FINGERPRINT" property="fingerPrint" />
		<result column="YN" property="yn" />
	</resultMap>

	<sql id="Base_Column_List">
		ABNORMAL_DETAIL_ID, ABNORMAL_ID, OPERATOR_CODE, OPERATOR_NAME, OPERATOR_TIME,
		REMARK, CREATE_TIME, UPDATE_TIME, FINGERPRINT, YN
	</sql>
	
	<sql id="Pop_Abnormal_Detail_Where_List">
		<where>
	 		YN = 1
	 		<choose>
	 			<when test="abnormalDetailId != null">
	 				and ABNORMAL_DETAIL_ID = #{abnormalDetailId, jdbcType=BIGINT}
	 			</when>
	 			<otherwise>
	 				<if test="fingerPrint != null and fingerPrint != ''">
						and FINGERPRINT = #{fingerPrint, jdbcType=VARCHAR}
					</if>
	 				<if test="abnormalId != null and abnormalId != 0">
						and ABNORMAL_ID = #{abnormalId, jdbcType=BIGINT}
					</if>
		 			<if test="operatorCode != null">
						and OPERATOR_CODE = #{operatorCode, jdbcType=INTEGER}
					</if>
		 			<if test="operatorName != null and operatorName != ''">
						and OPERATOR_NAME = #{operatorName, jdbcType=VARCHAR}
					</if>
	 			</otherwise>
	 		</choose>
		</where>
	</sql>
	
	<select id="findByObj" resultMap="popAbnormalDetail" parameterType="PopAbnormalDetail">
    	SELECT
    	<include refid="Base_Column_List" />
	    FROM POP_ABNORMAL_DETAIL 
	    <include refid="Pop_Abnormal_Detail_Where_List" />
    </select>
    
	<select id="findListByAbnormalId" resultMap="popAbnormalDetail" parameterType="long">
    	SELECT
    	<include refid="Base_Column_List" />
	    FROM POP_ABNORMAL_DETAIL 
	    where
	    	ABNORMAL_ID = #{abnormalId, jdbcType=BIGINT}
	    	AND YN = 1
	    	order by CREATE_TIME asc
    </select>
	
	<insert id="add" parameterType="PopAbnormalDetail">
		insert into POP_ABNORMAL_DETAIL (
		<include refid="Base_Column_List" />
		)
		values (
		SEQ_POP_ABNORMAL_DETAIL.NEXTVAL, #{abnormalId, jdbcType=BIGINT},
		#{operatorCode, jdbcType=INTEGER}, #{operatorName, jdbcType=VARCHAR},
		#{operatorTime, jdbcType=TIMESTAMP}, #{remark, jdbcType=VARCHAR},
		sysdate, sysdate, #{fingerPrint, jdbcType=VARCHAR}, 1
		)
	</insert>
</mapper>