<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="pragma" content="no-cach"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <title>区域批次目的地配置表</title>
    <link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/bootstrap.min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/erpbase.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/erpmanage.css" media="all"/>

    <link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/jModal.css" media="all">
#*<script type="text/javascript" src="#springUrl('/static/js/jquery-1.8.0.min.js')"></script>*#
    <script type="text/javascript" src="#springUrl('/static/js/bootstrap/jquery.js')"></script>
    <script type="text/javascript">
        jQuery.browser = {};
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();
    </script>
    <script type="text/javascript" src="#springUrl('/static/js/DatePicker/WdatePicker.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/jquery.blockUI.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/common-client.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/page-bar.js')"></script>
    <style type="text/css"></style>
</head>

<body>
<input type="hidden" id="contextPath" value="#springUrl('')"/>
<script type="text/javascript" src="#springUrl('')/static/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="#springUrl('')/static/js/bootstrap/multiselect.min.js"></script>
<script type="text/javascript" src="#springUrl('')/static/js/jquery-plugins/jquery.autocomplete.js"></script>
<link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/jquery.autocomplete.css"/>
<script type="text/javascript" src="#springUrl('')/static/js/areadest/add.js"></script>
<div id="breadcrumb">
    <p><a href="#">分拣中心</a>&nbsp;&gt;&nbsp;<a href="#">区域批次目的地配置表新增</a></p>
</div>
<!--[if !ie]>breadcrumb<![endif]-->
<div id="content" width="100%">
    <div class="m">
        <div class="tbl-n">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td align="right">始发分拣中心：</td>
                    <td>
                        <input type="text" id="createSiteName" name="createSiteName" maxlength="50" disabled="true"
                               style="width:150px" value="$!{createSiteName}"/>
                        <input type="hidden" id="createSiteCode" name="createSiteCode" value="$!{createSiteCode}"/>
                    </td>
                    <td align="right">所在机构：</td>
                    <td>
                        <select id="deviceOrg" style="width:150px">
                            <option value="">所有机构</option>
                            #if(!$null.isNull($!allOrgs))
                                #foreach($org in $allOrgs)
                                    <option value="$org.orgId">$org.orgName</option>
                                #end
                            #end
                        </select>
                    </td>
                    <td align="right">中转分拣中心：</td>
                    <td>
                        <select id="transferSite" style="width:150px">
                            #if($!{transferSiteCode})
                                <option value="$!{transferSiteCode}">$!{transferSiteCode}
                                    &nbsp$!{transferSiteName}</option>
                            #else
                                <option value="-1">所有分拣中心</option>
                            #end
                        </select>
                    </td>
                    <td>
                        <input type="button" id="saveBtn" name="search" value="保存" class="btn_c"/>
                        <input type="button" id="goBackBtn" name="goback" value="返回" class="btn_c"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--[if !ie]>tbl-n<![endif]-->
    <div id="opening">
        <div class="tbl-list">
            <div class="tbl-bg">
                <div class="tbl-left" style="width:30%;float:left">
                    <ul id="myTab" class="nav nav-pills nav-stacked" style="display:block;width:30%;float:right;padding-top:30px;">
                        #*<li class="active">
                            <a href="#all" data-toggle="tab">全国</a>
                        </li>*#
                        #if(!$null.isNull($!allOrgs))
                            #foreach($org in $allOrgs)
                                <li >
                                    <a href="#$org.orgId" data-toggle="tab">$org.orgName</a>
                                </li>
                            #end
                        #end
                    </ul>
                </div>
                <div class="tbl-right" style="width:70%;float:right;">
                    <div class="tab-content">
                        #*<div id="all" class="tab-pane fade in active">
                            <table class="display" style="width:70%;float:left;margin:0 auto">
                                <tbody>
                                <tr>
                                    <td>可选目的分拣中心：</td>
                                    <td></td>
                                    <td>已选目的分拣中心：</td>
                                </tr>
                                <tr>
                                    <td width="500px">
                                        <select id="from_all" name="from[]" size=20 class="multiselect form-control" multiple="multiple" data-right="#to_all" data-right-all="#right_all" data-right-selected="#right_selected" data-left-all="#left_all" data-left-selected="#left_selected">
                                        </select>
                                    </td>
                                    <td width="18px" align="center" valign="middle">
                                        <i id="right_all" class="glyphicon glyphicon-forward"></i><br/><br/><br/>
                                        <i id="right_selected" class="glyphicon glyphicon-chevron-right"></i><br/><br/><br/>
                                        <i id="left_selected" class="glyphicon glyphicon-chevron-left"></i><br/><br/><br/>
                                        <i id="left_all" class="glyphicon glyphicon-backward"></i><br/><br/><br/>
                                    </td>
                                    <td width="500px">
                                        <select id="to_all" name="to[]" size=20 class="form-control" multiple="multiple">
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>*#
                        #if(!$null.isNull($!allOrgs))
                            #foreach($org in $allOrgs)
                                <div id="$org.orgId" class="tab-pane fade">
                                    <table class="display" style="width:70%;float:left;margin:0 auto">
                                        <tbody>
                                        <tr>
                                            <td>可选目的分拣中心：</td>
                                            <td></td>
                                            <td>已选目的分拣中心：</td>
                                        </tr>
                                        <tr>
                                            <td width="500px">
                                                <select id="from_$org.orgId" name="from[]" size=20 class="multiselect form-control" multiple="multiple" data-right="#to_$org.orgId" data-right-all="#right_all_$org.orgId" data-right-selected="#right_selected_$org.orgId" data-left-all="#left_all_$org.orgId" data-left-selected="#left_selected_$org.orgId">
                                                </select>
                                            </td>
                                            <td width="18px" align="center" valign="middle">
                                                <i id="right_all_$org.orgId" class="glyphicon glyphicon-forward"></i><br/><br/><br/>
                                                <i id="right_selected_$org.orgId" class="glyphicon glyphicon-chevron-right"></i><br/><br/><br/>
                                                <i id="left_selected_$org.orgId" class="glyphicon glyphicon-chevron-left"></i><br/><br/><br/>
                                                <i id="left_all_$org.orgId" class="glyphicon glyphicon-backward"></i><br/><br/><br/>
                                            </td>
                                            <td width="500px">
                                                <select id="to_$org.orgId" name="to[]" size=20 class="form-control" multiple="multiple"></select>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            #end
                        #end
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#myTab li:eq(0) a').tab('show');
        $('.multiselect').multiselect();
    });
</script>
</body>
</html>
