<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.seal.dao.SealVehicleDao">

	<resultMap id="sealVehicle"
		type="com.jd.bluedragon.distribution.seal.domain.SealVehicle">
		<result column="system_id" property="id" />
		<result column="receiving_site_code" property="receiveSiteCode" />
		<result column="create_site_code" property="createSiteCode" />
		<result column="vehicle_code" property="vehicleCode" />
		<result column="seal_code" property="code" />
		<result column="driver_code" property="driverCode" />
		<result column="driver" property="driver" />
		<result column="send_code" property="sendCode" />
		<result column="volume" property="volume" />
		<result column="weight" property="weight" />
		<result column="package_num" property="packageNum" />								
		<result column="create_user_code" property="createUserCode" />
		<result column="create_user" property="createUser" />
		<result column="create_time" property="createTime" />
		<result column="update_user_code" property="updateUserCode" />
		<result column="update_user" property="updateUser" />
		<result column="update_time" property="updateTime" />
		<result column="yn" property="yn" />
	</resultMap>

	<insert id="add" parameterType="sealVehicle">
		INSERT INTO
		seal_vehicle (
		vehicle_code, seal_code, driver_code, driver,
		create_site_code, receive_site_code, create_user_code, create_user,
		update_user_code, update_user, create_time, update_time, yn)
		VALUES (
		#{vehicleCode,jdbcType=VARCHAR},
		#{code,jdbcType=VARCHAR},
		#{driverCode,jdbcType=VARCHAR}, #{driver,jdbcType=VARCHAR},
		#{createSiteCode,jdbcType=INTEGER}, #{receiveSiteCode,jdbcType=INTEGER},
		#{createUserCode,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR},
		#{updateUserCode,jdbcType=INTEGER}, #{updateUser,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{yn,jdbcType=INTEGER})
	</insert>
	
	<insert id="add2" parameterType="sealVehicle">
		INSERT INTO
		seal_vehicle (
		vehicle_code, seal_code, driver_code, driver,
		create_site_code, receive_site_code, create_user_code, create_user,
		update_user_code, update_user, create_time, update_time, yn,
		send_code, volume, weight, package_num)
		VALUES (
		#{vehicleCode,jdbcType=VARCHAR},
		#{code,jdbcType=VARCHAR},
		#{driverCode,jdbcType=VARCHAR}, #{driver,jdbcType=VARCHAR},
		#{createSiteCode,jdbcType=INTEGER}, #{receiveSiteCode,jdbcType=INTEGER},
		#{createUserCode,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR},
		#{updateUserCode,jdbcType=INTEGER}, #{updateUser,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{yn,jdbcType=INTEGER},
		#{sendCode,jdbcType=VARCHAR}, #{volume,jdbcType=DOUBLE}, #{weight,jdbcType=DOUBLE},
		#{packageNum,jdbcType=INTEGER})
	</insert>
	
	<update id="updateSealVehicle" parameterType="sealVehicle">
		UPDATE
		seal_vehicle
		<set>
			<if test="driverCode != null">
				driver_code = #{driverCode,jdbcType=VARCHAR},
      		</if>
			<if test="driver != null">
				driver = #{driver,jdbcType=VARCHAR},
      		</if>
			<if test="receiveSiteCode != null">
				receive_site_code = #{receiveSiteCode,jdbcType=INTEGER},
      		</if>
			<if test="updateUserCode != null">
				update_user_code = #{updateUserCode,jdbcType=INTEGER},
      		</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=VARCHAR},
      		</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
      		</if>
		</set>
		WHERE seal_code = #{code,jdbcType=VARCHAR} 
			and vehicle_code = #{vehicleCode,jdbcType=VARCHAR}
			and (create_site_code is not null) 
			and yn = 1
	</update>
	
	<update id="updateSealVehicle2" parameterType="sealVehicle">
		UPDATE
		seal_vehicle
		<set>
			<if test="driverCode != null">
				driver_code = #{driverCode,jdbcType=VARCHAR},
      		</if>
			<if test="driver != null">
				driver = #{driver,jdbcType=VARCHAR},
      		</if>
			<if test="receiveSiteCode != null">
				receive_site_code = #{receiveSiteCode,jdbcType=INTEGER},
      		</if>
			<if test="updateUserCode != null">
				update_user_code = #{updateUserCode,jdbcType=INTEGER},
      		</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=VARCHAR},
      		</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
      		</if>
		</set>
		WHERE send_code = #{sendCode,jdbcType=VARCHAR} 
			and seal_code = #{code,jdbcType=VARCHAR} 
			and vehicle_code = #{vehicleCode,jdbcType=VARCHAR}
			and (create_site_code is not null) 
			and yn = 1
	</update>
	
	<update id="updateDisable" parameterType="sealVehicle">
		UPDATE seal_vehicle set yn = 0 
		<where>
			<choose>
				<when test="id != null and id != 0">
					and system_id = #{id,jdbcType=INTEGER}
				</when>
				<otherwise>
					<if test="code != null and code != ''">
						and seal_code = #{code,jdbcType=VARCHAR} 
					</if>
					<if test="createSiteCode != null">
						and create_site_code = #{createSiteCode,jdbcType=INTEGER},
		      		</if>
				</otherwise>
			</choose>
			and yn = 1
		</where>
	</update>

	<select id="findBySealCode" resultMap="sealVehicle"
		parameterType="String">
		SELECT system_id, vehicle_code, seal_code, driver_code, driver,
		create_site_code, receive_site_code, create_user_code, create_user,
		update_user_code, update_user, create_time, update_time
		FROM seal_vehicle
		WHERE seal_code = #{sealCode} AND yn = 1
		and LIMIT 1
	</select>

	<insert id="addBatch" parameterType="list">
	     INSERT INTO seal_vehicle
         (
			vehicle_code, seal_code, driver_code, driver,
			create_site_code, receive_site_code, create_user_code, create_user,
			update_user_code, update_user, create_time, update_time, yn,
			send_code, volume, weight, package_num
         ) select  A.* FROM(
	        <foreach collection="list" item="item" index="index" separator="UNION ALL">
				SELECT
					#{item.vehicleCode,jdbcType=VARCHAR} AS vehicle_code,
					#{item.code,jdbcType=VARCHAR} AS seal_code,
					#{item.driverCode,jdbcType=VARCHAR} AS driver_code,
					#{item.driver,jdbcType=VARCHAR} AS driver,
					#{item.createSiteCode,jdbcType=INTEGER} AS create_site_code,
					#{item.receiveSiteCode,jdbcType=INTEGER} AS receive_site_code,
					#{item.createUserCode,jdbcType=INTEGER} AS create_user_code, 
					#{item.createUser,jdbcType=VARCHAR} AS create_user,
					#{item.updateUserCode,jdbcType=INTEGER} AS update_user_code, 
					#{item.updateUser,jdbcType=VARCHAR} AS update_user,
					#{item.createTime,jdbcType=TIMESTAMP} AS create_time, 
					#{item.updateTime,jdbcType=TIMESTAMP} AS update_time, 
					#{item.yn,jdbcType=INTEGER} AS yn,
					#{item.sendCode,jdbcType=VARCHAR} AS send_code, 
					#{item.volume,jdbcType=DOUBLE} AS volume, 
					#{item.weight,jdbcType=DOUBLE} AS weight,
					#{item.packageNum,jdbcType=INTEGER} AS package_num
	            FROM dual
	        </foreach>
        ) A 
	</insert>
	
	<update id="updateBatch" parameterType="sealVehicle">
		UPDATE seal_vehicle
		<set>
			<if test="driverCode != null">
				driver_code = #{driverCode,jdbcType=VARCHAR},
      		</if>
			<if test="driver != null">
				driver = #{driver,jdbcType=VARCHAR},
      		</if>
			<if test="receiveSiteCode != null">
				receive_site_code = #{receiveSiteCode,jdbcType=INTEGER},
      		</if>
			<if test="updateUserCode != null">
				update_user_code = #{updateUserCode,jdbcType=INTEGER},
      		</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=VARCHAR},
      		</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
      		</if>
			yn = 1
		</set> 
		WHERE yn = 1
			and (create_site_code is not null) 
			and (receive_site_code is null)
			and vehicle_code = #{vehicleCode,jdbcType=VARCHAR}
	</update>
</mapper>