<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.seal.dao.SealBoxDao">

	<resultMap id="sealBox"
		type="com.jd.bluedragon.distribution.seal.domain.SealBox">
		<result column="system_id" property="id" />
		<result column="receiving_site_code" property="receiveSiteCode" />
		<result column="create_site_code" property="createSiteCode" />
		<result column="box_code" property="boxCode" />
		<result column="seal_code" property="code" />
		<result column="create_user_code" property="createUserCode" />
		<result column="create_user" property="createUser" />
		<result column="create_time" property="createTime" />
		<result column="update_user_code" property="updateUserCode" />
		<result column="update_user" property="updateUser" />
		<result column="update_time" property="updateTime" />
		<result column="yn" property="yn" />
	</resultMap>

	<insert id="add" parameterType="sealBox">
		INSERT INTO seal_box (
		system_id,
		box_code, seal_code, create_site_code,receive_site_code,
		create_user_code, create_user, update_user_code, update_user,
		create_time, update_time, yn)
		VALUES (
		#{id,jdbcType=BIGINT},
		#{boxCode,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
		#{createSiteCode,jdbcType=INTEGER},
		#{receiveSiteCode,jdbcType=INTEGER},
		#{createUserCode,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR},
		#{updateUserCode,jdbcType=INTEGER}, #{updateUser,jdbcType=VARCHAR},
		NOW(), NOW(), 1)
	</insert>

	<insert id="addSealBox" parameterType="sealBox">
		INSERT INTO seal_box (
		system_id,
		box_code, seal_code, create_site_code,receive_site_code,
		create_user_code, create_user, update_user_code, update_user,
		create_time, update_time, yn)
		VALUES (
		#{id,jdbcType=BIGINT},
		#{boxCode,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
		#{createSiteCode,jdbcType=INTEGER},
		#{receiveSiteCode,jdbcType=INTEGER},
		#{createUserCode,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR},
		#{updateUserCode,jdbcType=INTEGER}, #{updateUser,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 1)
	</insert>

	<update id="update" parameterType="sealBox">
		UPDATE seal_box
		SET
		receive_site_code = #{receiveSiteCode,jdbcType=INTEGER},
		update_user_code = #{updateUserCode,jdbcType=INTEGER},
		update_user =
		#{updateUser,jdbcType=VARCHAR}, update_time = NOW()
		WHERE
		seal_code =
		#{code}
	</update>
	
	<update id="updateSealBox" parameterType="sealVehicle">
		UPDATE
		seal_box
		<set>
			<if test="createSiteCode != null">
				create_site_code = #{createSiteCode,jdbcType=INTEGER},
      		</if>
			<if test="createUserCode != null">
				create_user_code = #{createUserCode,jdbcType=INTEGER},
      		</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
      		</if>
			<if test="receiveSiteCode != null">
				receive_site_code = #{receiveSiteCode,jdbcType=INTEGER},
      		</if>
			<if test="updateUserCode != null">
				update_user_code = #{updateUserCode,jdbcType=INTEGER},
      		</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=VARCHAR},
      		</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
      		</if>
		</set>
		WHERE
		seal_code = #{code,jdbcType=VARCHAR} and yn = 1
	</update>

	<select id="findBySealCode" resultMap="sealBox" parameterType="String">
		SELECT system_id, box_code, seal_code, create_site_code,
		receive_site_code,
		create_user_code, create_user, create_time,
		update_user_code, update_user, update_time
		FROM seal_box
		WHERE seal_code
		= #{sealCode}
		LIMIT 1
	</select>

    <select id="findByBoxCode" resultMap="sealBox" parameterType="String">
		select SEAL_CODE,create_time from  (SELECT seal_code,create_time
		FROM seal_box
		WHERE box_code
		= #{boxCode}  order by create_time  desc
		) a
		 LIMIT 1
	</select>

	<select id="findListByBoxCodes" resultMap="sealBox">
		SELECT seal_code,create_time
		FROM seal_box
		WHERE box_code in
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
			#{item,jdbcType=VARCHAR}
		</foreach>
		order by create_time desc
	</select>

</mapper>