<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增通知</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    #parse("system/common/baseImport.vm")
    <script src="/static/js/notice/add.js"></script>
    <style>
        hr {
            padding: 0;
            margin: 4px;
        }

        #add-form input {
            height: 30px;
        }
    </style>
</head>
<body>
<div id="main" style="margin-left: 10px;">
    <ol class="breadcrumb">
        <li>通知栏管理</li>
        <li>新增通知</li>
    </ol>
    <div id="add-form-wrapper">
        <form id="add-form" class="form-inline" enctype="multipart/form-data" method="POST">
            <fieldset>
                <div class="form-group" style="margin-left: 30px;">
                    <label class="control-label" for="theme-input">主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题 ：</label>
                    <textarea type="text" class="form-control edit-param no-update" id="theme-input" name="theme" placeholder="请输入主题" style="display:inline;width: 200px;"></textarea>
                </div>
                <hr/>
                <div class="form-group" style="margin-left: 30px;">
                    <label class="control-label" for="type-select">通知类型 ：</label>
                    <select id="type-select" name="type" class="form-control" style="display:inline; width:300px;">
                        #foreach($type in $typeValues)
                            <option value="$!{type.code}">$!{type.name}</option>
                        #end
                    </select>
                </div>
                <hr/>
                <div class="form-group" style="margin-left: 30px;">
                    <label class="control-label" for="level-select">通知级别 ：</label>
                    <select id="level-select" name="level" class="form-control" style="display:inline;width:300px;">
                        #foreach($level in $levelValues)
                            <option value="$!{level.code}">$!{level.name}</option>
                        #end
                    </select>
                </div>
                <hr/>
                <div class="form-group" style="margin-left: 30px;">
                    <label class="control-label" for="top-display-select">置顶显示 ：</label>
                    <select id="top-display-select" name="isTopDisplay" class="form-control" style="display:inline;width:300px;">
                        #foreach($topDisplay in $topDisplayValues)
                            <option value="$!{topDisplay.code}">$!{topDisplay.name}</option>
                        #end
                    </select>
                </div>
                <hr/>
                <div class="form-group" style="margin-left: 30px;">
                    <div class="form-group">
                        <label for="importFiles">选择上传附件</label>
                        <input type="file" id="importFiles" name="importFiles" multiple="multiple"/>
                        <p class="help-block">附件数量不得超过5个，每个附件大小不能超过20M</p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <hr/>

    <div id="toolbar" class="btn-group" style="float:right;margin-right: 60px;margin-top: 20px;">
        <button id="btn_add" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;保存&nbsp;
        </button>
        <button id="btn_cancel" type="button" class="btn btn-default" style="margin-left: 20px;">
            <span aria-hidden="true"></span>&nbsp;取消&nbsp;
        </button>
    </div>

</div>

</body>
</html>
