<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.jy.dao.pickinggood.JyBizTaskPickingGoodDao" >
  <resultMap id="BaseResultMap" type="com.jd.bluedragon.distribution.jy.pickinggood.JyBizTaskPickingGoodEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="biz_id" property="bizId" jdbcType="VARCHAR" />
    <result column="start_site_id" property="startSiteId" jdbcType="BIGINT" />
    <result column="next_site_id" property="nextSiteId" jdbcType="BIGINT" />
    <result column="business_number" property="businessNumber" jdbcType="VARCHAR" />
    <result column="service_number" property="serviceNumber" jdbcType="VARCHAR" />
    <result column="begin_node_code" property="beginNodeCode" jdbcType="VARCHAR" />
    <result column="begin_node_name" property="beginNodeName" jdbcType="VARCHAR" />
    <result column="end_node_code" property="endNodeCode" jdbcType="VARCHAR" />
    <result column="end_node_name" property="endNodeName" jdbcType="VARCHAR" />
    <result column="node_plan_start_time" property="nodePlanStartTime" jdbcType="TIMESTAMP" />
    <result column="node_real_start_time" property="nodeRealStartTime" jdbcType="TIMESTAMP" />
    <result column="node_plan_arrive_time" property="nodePlanArriveTime" jdbcType="TIMESTAMP" />
    <result column="node_real_arrive_time" property="nodeRealArriveTime" jdbcType="TIMESTAMP" />
    <result column="operate_node_type" property="operateNodeType" jdbcType="INTEGER" />
    <result column="cargo_number" property="cargoNumber" jdbcType="INTEGER" />
    <result column="cargo_weight" property="cargoWeight" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="complete_node" property="completeNode" jdbcType="TINYINT" />
    <result column="picking_start_time" property="pickingStartTime" jdbcType="TIMESTAMP" />
    <result column="picking_complete_time" property="pickingCompleteTime" jdbcType="TIMESTAMP" />
    <result column="intercept" property="intercept" jdbcType="TINYINT" />
    <result column="intercept_time" property="interceptTime" jdbcType="TIMESTAMP" />
    <result column="task_type" property="taskType" jdbcType="TINYINT" />
    <result column="manual_created_flag" property="manualCreatedFlag" jdbcType="TINYINT" />
    <result column="create_user_erp" property="createUserErp" jdbcType="VARCHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="update_user_erp" property="updateUserErp" jdbcType="VARCHAR" />
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="yn" property="yn" jdbcType="BIT" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, biz_id, start_site_id, next_site_id, business_number, service_number, begin_node_code, 
    begin_node_name, end_node_code, end_node_name, node_plan_start_time, node_real_start_time, node_plan_arrive_time,
    node_real_arrive_time, operate_node_type, cargo_number, cargo_weight, status, complete_node, picking_start_time,
    picking_complete_time, intercept, intercept_time, task_type, manual_created_flag, create_user_erp, create_user_name,
    update_user_erp, update_user_name, create_time, update_time, yn, ts
  </sql>

    <insert id="insertSelective" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyBizTaskPickingGoodEntity" >
      insert into jy_biz_task_picking_good
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          id,
        </if>
        <if test="bizId != null" >
          biz_id,
        </if>
        <if test="startSiteId != null" >
          start_site_id,
        </if>
        <if test="nextSiteId != null" >
          next_site_id,
        </if>
        <if test="businessNumber != null" >
          business_number,
        </if>
        <if test="serviceNumber != null" >
          service_number,
        </if>
        <if test="beginNodeCode != null" >
          begin_node_code,
        </if>
        <if test="beginNodeName != null" >
          begin_node_name,
        </if>
        <if test="endNodeCode != null" >
          end_node_code,
        </if>
        <if test="endNodeName != null" >
          end_node_name,
        </if>
        <if test="nodePlanStartTime != null" >
          node_plan_start_time,
        </if>
        <if test="nodeRealStartTime != null" >
          node_real_start_time,
        </if>
        <if test="nodePlanArriveTime != null" >
          node_plan_arrive_time,
        </if>
        <if test="nodeRealArriveTime != null" >
          node_real_arrive_time,
        </if>
        <if test="operateNodeType != null" >
          operate_node_type,
        </if>
        <if test="cargoNumber != null" >
          cargo_number,
        </if>
        <if test="cargoWeight != null" >
          cargo_weight,
        </if>
        <if test="status != null" >
          status,
        </if>
        <if test="completeNode != null" >
          complete_node,
        </if>
        <if test="pickingStartTime != null" >
          picking_start_time,
        </if>
        <if test="pickingCompleteTime != null" >
          picking_complete_time,
        </if>
        <if test="intercept != null" >
          intercept,
        </if>
        <if test="interceptTime != null" >
          intercept_time,
        </if>
        <if test="taskType != null" >
          task_type,
        </if>
        <if test="manualCreatedFlag != null" >
          manual_created_flag,
        </if>
        <if test="createUserErp != null" >
          create_user_erp,
        </if>
        <if test="createUserName != null" >
          create_user_name,
        </if>
        <if test="updateUserErp != null" >
          update_user_erp,
        </if>
        <if test="updateUserName != null" >
          update_user_name,
        </if>
        <if test="createTime != null" >
          create_time,
        </if>
        <if test="updateTime != null" >
          update_time,
        </if>
        yn
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          #{id},
        </if>
        <if test="bizId != null" >
          #{bizId},
        </if>
        <if test="startSiteId != null" >
          #{startSiteId},
        </if>
        <if test="nextSiteId != null" >
          #{nextSiteId},
        </if>
        <if test="businessNumber != null" >
          #{businessNumber},
        </if>
        <if test="serviceNumber != null" >
          #{serviceNumber},
        </if>
        <if test="beginNodeCode != null" >
          #{beginNodeCode},
        </if>
        <if test="beginNodeName != null" >
          #{beginNodeName},
        </if>
        <if test="endNodeCode != null" >
          #{endNodeCode},
        </if>
        <if test="endNodeName != null" >
          #{endNodeName},
        </if>
        <if test="nodeStartTime != null" >
          #{nodeStartTime},
        </if>
        <if test="nodePlanArriveTime != null" >
          #{nodePlanArriveTime},
        </if>
        <if test="nodeRealArriveTime != null" >
          #{nodeRealArriveTime},
        </if>
        <if test="operateNodeType != null" >
          #{operateNodeType},
        </if>
        <if test="cargoNumber != null" >
          #{cargoNumber},
        </if>
        <if test="cargoWeight != null" >
          #{cargoWeight},
        </if>
        <if test="status != null" >
          #{status},
        </if>
        <if test="completeNode != null" >
          #{completeNode},
        </if>
        <if test="pickingStartTime != null" >
          #{pickingStartTime},
        </if>
        <if test="pickingCompleteTime != null" >
          #{pickingCompleteTime},
        </if>
        <if test="intercept != null" >
          #{intercept},
        </if>
        <if test="interceptTime != null" >
          #{interceptTime},
        </if>
        <if test="taskType != null" >
          #{taskType},
        </if>
        <if test="manualCreatedFlag != null" >
          #{manualCreatedFlag},
        </if>
        <if test="createUserErp != null" >
          #{createUserErp},
        </if>
        <if test="createUserName != null" >
          #{createUserName},
        </if>
        <if test="updateUserErp != null" >
          #{updateUserErp},
        </if>
        <if test="updateUserName != null" >
          #{updateUserName},
        </if>
        <if test="createTime != null" >
          #{createTime},
        </if>
        <if test="updateTime != null" >
          #{updateTime},
        </if>
        1
      </trim>
    </insert>



  <insert id="batchInsert" parameterType="List">
    insert into jy_biz_task_picking_good_subsidiary
    (
    biz_id,
    start_site_id,
    next_site_id,
    business_number,
    service_number,
    begin_node_code,
    begin_node_name,
    end_node_code,
    end_node_name,
    node_plan_start_time,
    node_real_start_time,
    node_plan_arrive_time,
    node_real_arrive_time,
    operate_node_type,
    cargo_number,
    cargo_weight,
    status,
    complete_node,
    picking_start_time,
    picking_complete_time,
    intercept,
    intercept_time,
    task_type,
    manual_created_flag,
    create_user_erp,
    create_user_name,
    update_user_erp,
    update_user_name,
    create_time,
    update_time,
    yn
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      #{bizId},
      #{startSiteId},
      #{nextSiteId},
      #{businessNumber},
      #{serviceNumber},
      #{beginNodeCode},
      #{beginNodeName},
      #{endNodeCode},
      #{endNodeName},
      #{nodePlanStartTime},
      #{nodeRealStartTime},
      #{nodePlanArriveTime},
      #{nodeRealArriveTime},
      #{operateNodeType},
      #{cargoNumber},
      #{cargoWeight},
      #{status},
      #{completeNode},
      #{pickingStartTime},
      #{pickingCompleteTime},
      #{intercept},
      #{interceptTime},
      #{taskType},
      #{manualCreatedFlag},
      #{createUserErp},
      #{createUserName},
      #{updateUserErp},
      #{updateUserName},
      #{createTime},
      #{updateTime}
      1
      )
    </foreach>
  </insert>
  
  <select id="findByBizIdWithYn" resultMap="BaseResultMap" parameterType="JyPickingSendRecordEntity" >
    select <include refid="Base_Column_List" />
    from jy_biz_task_picking_good
    where biz_id = #{bizId}
      <if test="yn != null" >
        and yn = #{yn}
      </if>
    limit 1
  </select>

  <update id="updateStatusByBizId" parameterType="JyPickingSendRecordEntity">
    update  jy_biz_task_picking_good
    set     complete_node = #{completeNode},
            status = #{status}
    where   yn = 1
    and     biz_id = #{bizId}
  </update>



    <update id="updateTaskByBizIdWithCondition" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyBizTaskPickingGoodEntityCondition" >
      update jy_biz_task_picking_good
      <set>
        <if test="status != null" >
          status = #{status},
        </if>
        <if test="completeNode != null" >
          complete_node = #{completeNode},
        </if>
        <if test="pickingStartTime != null" >
          picking_start_time = #{pickingStartTime},
        </if>
        <if test="pickingCompleteTime != null" >
          picking_complete_time = #{pickingCompleteTime},
        </if>
        <if test="intercept != null" >
          intercept = #{intercept},
        </if>
        <if test="interceptTime != null" >
          intercept_time = #{interceptTime},
        </if>
      </set>
      where yn = 1 and biz_id = #{bizId}
    </update>


  <select id="findLatestEffectiveManualCreateTask" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="Base_Column_List" />
    from jy_biz_task_picking_good
    where next_site_id= #{siteId} and manual_created_flag = 1 and status != 2 and yn = 1
    order by create_time desc
    limit 1
  </select>

  <select id="findLatestTaskByBusinessNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
    from jy_biz_task_picking_good
    where business_number= #{businessNumber} and yn = 1
    order by create_time desc
    limit 1
  </select>

  <select id="findAllTaskByBusinessNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
    from jy_biz_task_picking_good
    where business_number= #{businessNumber} and yn = 1
    order by create_time desc
  </select>

  <update id="deleteByBusinessNumber" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyBizTaskPickingGoodEntityCondition" >
    update jy_biz_task_picking_good
    set
      <if test="updateUserErp != null" >
        update_user_erp = #{updateUserErp},
      </if>
      <if test="updateUserName != null" >
        update_user_name = #{updateUserName},
      </if>
      update_time = #{updateTime},
      yn = 0
    where yn = 1 and business_number = #{businessNumber}
  </update>

  <select id="listTaskGroupByPickingNodeCode" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" />
    from    jy_biz_task_picking_good
    where   yn = 1
    and     picking_site_id = #{pickingSiteId}
    and     status = #{status}
    and     task_type = #{taskType}
    and     create_time >= {createTime}
    group by picking_node_code
    limit #{offset}, #{limit}
  </select>

  <select id="listTaskByPickingNodeCode" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" />
    from    jy_biz_task_picking_good
    where   yn = 1
    and     picking_site_id = #{pickingSiteId}
    and     status = #{status}
    and     task_type = #{taskType}
    and     create_time >= {createTime}
    and     picking_node_code in
    <foreach collection="pickingNodeCodeList" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </select>

  <select id="countAllStatusByPickingSiteId" resultType="com.jd.bluedragon.common.dto.operation.workbench.aviationRailway.picking.res.AirRailTaskCountDto">
    select  count(*) as count,
            status
    from    jy_biz_task_picking_good
    where   yn = 1
    and     picking_site_id = #{pickingSiteId}
    and     task_type = #{taskType}
    and     create_time >= {createTime}
    group by status
  </select>

  <update id="batchUpdateStatusByBizId">
    update  jy_biz_task_picking_good
    set     complete_node = #{completeNode},
            status = #{status}
    where   yn = 1
    and     biz_id in
    <foreach collection="bizIdList" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </update>

  <select id="pageRecentCreatedManualBizId">
    select biz_id
    from jy_biz_task_picking_good
    where yn = 1
    and create_time <![CDATA[ >= ]]> #{startTime}
    and create_time <![CDATA[ <= ]]> #{endTime}
    and task_type = #{taskType}
    and manual_created_flag = 1
    limit #{offset}, #{limit}
  </select>

<!--  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >-->
<!--    select -->
<!--    <include refid="Base_Column_List" />-->
<!--    from jy_biz_task_picking_good-->
<!--    where id = #{id}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >-->
<!--    delete from jy_biz_task_picking_good-->
<!--    where id = #{id}-->
<!--  </delete>-->
<!--  <insert id="insert" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyBizTaskPickingGoodEntity" >-->
<!--    insert into jy_biz_task_picking_good (id, biz_id, start_site_id, -->
<!--      next_site_id, business_number, service_number, -->
<!--      begin_node_code, begin_node_name, end_node_code, -->
<!--      end_node_name, node_plan_start_time, node_real_start_time, node_plan_arrive_time, -->
<!--      node_real_arrive_time, status, complete_node, -->
<!--      picking_start_time, picking_complete_time, -->
<!--      intercept, intercept_time, task_type, -->
<!--      manual_created_flag, create_user_erp, create_user_name, -->
<!--      update_user_erp, update_user_name, create_time, -->
<!--      update_time, yn, ts)-->
<!--    values (#{id}, #{bizId}, #{startSiteId}, -->
<!--      #{nextSiteId}, #{businessNumber}, #{serviceNumber}, -->
<!--      #{beginNodeCode}, #{beginNodeName}, #{endNodeCode}, -->
<!--      #{endNodeName}, #{nodeStartTime}, #{nodePlanArriveTime}, -->
<!--      #{nodeRealArriveTime}, #{status}, #{completeNode}, -->
<!--      #{pickingStartTime}, #{pickingCompleteTime}, -->
<!--      #{intercept}, #{interceptTime}, #{taskType}, -->
<!--      #{manualCreatedFlag}, #{createUserErp}, #{createUserName}, -->
<!--      #{updateUserErp}, #{updateUserName}, #{createTime}, -->
<!--      #{updateTime}, #{yn}, #{ts})-->
<!--  </insert>-->

<!--  <update id="updateByPrimaryKeySelective" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyBizTaskPickingGoodEntity" >-->
<!--    update jy_biz_task_picking_good-->
<!--    <set >-->
<!--      <if test="bizId != null" >-->
<!--        biz_id = #{bizId},-->
<!--      </if>-->
<!--      <if test="startSiteId != null" >-->
<!--        start_site_id = #{startSiteId},-->
<!--      </if>-->
<!--      <if test="nextSiteId != null" >-->
<!--         next_site_id= #{nextSiteId},-->
<!--      </if>-->
<!--      <if test="businessNumber != null" >-->
<!--        business_number = #{businessNumber},-->
<!--      </if>-->
<!--      <if test="serviceNumber != null" >-->
<!--        service_number = #{serviceNumber},-->
<!--      </if>-->
<!--      <if test="beginNodeCode != null" >-->
<!--        begin_node_code = #{beginNodeCode},-->
<!--      </if>-->
<!--      <if test="beginNodeName != null" >-->
<!--        begin_node_name = #{beginNodeName},-->
<!--      </if>-->
<!--      <if test="endNodeCode != null" >-->
<!--        end_node_code = #{endNodeCode},-->
<!--      </if>-->
<!--      <if test="endNodeName != null" >-->
<!--        end_node_name = #{endNodeName},-->
<!--      </if>-->
<!--      <if test="nodePlanStartTime != null" >-->
<!--        node_plan_start_time = #{nodePlanStartTime},-->
<!--      </if>-->
<!--      <if test="nodeRealStartTime != null" >-->
<!--        node_real_start_time = #{nodeRealStartTime},-->
<!--      </if>-->
<!--      <if test="nodePlanArriveTime != null" >-->
<!--        node_plan_arrive_time = #{nodePlanArriveTime},-->
<!--      </if>-->
<!--      <if test="nodeRealArriveTime != null" >-->
<!--        node_real_arrive_time = #{nodeRealArriveTime},-->
<!--      </if>-->
<!--      <if test="status != null" >-->
<!--        status = #{status},-->
<!--      </if>-->
<!--      <if test="completeNode != null" >-->
<!--        complete_node = #{completeNode},-->
<!--      </if>-->
<!--      <if test="pickingStartTime != null" >-->
<!--        picking_start_time = #{pickingStartTime},-->
<!--      </if>-->
<!--      <if test="pickingCompleteTime != null" >-->
<!--        picking_complete_time = #{pickingCompleteTime},-->
<!--      </if>-->
<!--      <if test="intercept != null" >-->
<!--        intercept = #{intercept},-->
<!--      </if>-->
<!--      <if test="interceptTime != null" >-->
<!--        intercept_time = #{interceptTime},-->
<!--      </if>-->
<!--      <if test="taskType != null" >-->
<!--        task_type = #{taskType},-->
<!--      </if>-->
<!--      <if test="manualCreatedFlag != null" >-->
<!--        manual_created_flag = #{manualCreatedFlag},-->
<!--      </if>-->
<!--      <if test="createUserErp != null" >-->
<!--        create_user_erp = #{createUserErp},-->
<!--      </if>-->
<!--      <if test="createUserName != null" >-->
<!--        create_user_name = #{createUserName},-->
<!--      </if>-->
<!--      <if test="updateUserErp != null" >-->
<!--        update_user_erp = #{updateUserErp},-->
<!--      </if>-->
<!--      <if test="updateUserName != null" >-->
<!--        update_user_name = #{updateUserName},-->
<!--      </if>-->
<!--      <if test="createTime != null" >-->
<!--        create_time = #{createTime},-->
<!--      </if>-->
<!--      <if test="updateTime != null" >-->
<!--        update_time = #{updateTime},-->
<!--      </if>-->
<!--      <if test="yn != null" >-->
<!--        yn = #{yn},-->
<!--      </if>-->
<!--      <if test="ts != null" >-->
<!--        ts = #{ts},-->
<!--      </if>-->
<!--    </set>-->
<!--    where id = #{id}-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyBizTaskPickingGoodEntity" >-->
<!--    update jy_biz_task_picking_good-->
<!--    set biz_id = #{bizId},-->
<!--      start_site_id = #{startSiteId},-->
<!--      next_site_id = #{nextSiteId},-->
<!--      business_number = #{businessNumber},-->
<!--      service_number = #{serviceNumber},-->
<!--      begin_node_code = #{beginNodeCode},-->
<!--      begin_node_name = #{beginNodeName},-->
<!--      end_node_code = #{endNodeCode},-->
<!--      end_node_name = #{endNodeName},-->
<!--      node_plan_start_time = #{nodePlanStartTime},-->
<!--      node_real_start_time = #{nodeRealStartTime},-->
<!--      node_plan_arrive_time = #{nodePlanArriveTime},-->
<!--      node_real_arrive_time = #{nodeRealArriveTime},-->
<!--      status = #{status},-->
<!--      complete_node = #{completeNode},-->
<!--      picking_start_time = #{pickingStartTime},-->
<!--      picking_complete_time = #{pickingCompleteTime},-->
<!--      intercept = #{intercept},-->
<!--      intercept_time = #{interceptTime},-->
<!--      task_type = #{taskType},-->
<!--      manual_created_flag = #{manualCreatedFlag},-->
<!--      create_user_erp = #{createUserErp},-->
<!--      create_user_name = #{createUserName},-->
<!--      update_user_erp = #{updateUserErp},-->
<!--      update_user_name = #{updateUserName},-->
<!--      create_time = #{createTime},-->
<!--      update_time = #{updateTime},-->
<!--      yn = #{yn},-->
<!--      ts = #{ts}-->
<!--    where id = #{id}-->
<!--  </update>-->
</mapper>