<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.jy.dao.pickinggood.JyPickingTaskAggsDao" >
  <resultMap id="BaseResultMap" type="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingTaskAggsEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="biz_id" property="bizId" jdbcType="VARCHAR" />
    <result column="picking_site_id" property="pickingSiteId" jdbcType="BIGINT" />
    <result column="picking_node_code" property="pickingNodeCode" jdbcType="VARCHAR" />
    <result column="receive_item_count" property="receiveItemCount" jdbcType="INTEGER" />
    <result column="wait_scan_package_count" property="waitScanPackageCount" jdbcType="INTEGER" />
    <result column="wait_scan_box_count" property="waitScanBoxCount" jdbcType="INTEGER" />
    <result column="wait_scan_total_count" property="waitScanTotalCount" jdbcType="INTEGER" />
    <result column="handover_scan_package_count" property="handoverScanPackageCount" jdbcType="INTEGER" />
    <result column="handover_scan_box_count" property="handoverScanBoxCount" jdbcType="INTEGER" />
    <result column="handover_scan_total_count" property="handoverScanTotalCount" jdbcType="INTEGER" />
    <result column="scan_package_count" property="scanPackageCount" jdbcType="INTEGER" />
    <result column="scan_box_count" property="scanBoxCount" jdbcType="INTEGER" />
    <result column="scan_total_count" property="scanTotalCount" jdbcType="INTEGER" />
    <result column="more_scan_package_count" property="moreScanPackageCount" jdbcType="INTEGER" />
    <result column="more_scan_box_count" property="moreScanBoxCount" jdbcType="INTEGER" />
    <result column="more_scan_total_count" property="moreScanTotalCount" jdbcType="INTEGER" />
    <result column="send_package_count" property="sendPackageCount" jdbcType="INTEGER" />
    <result column="send_box_count" property="sendBoxCount" jdbcType="INTEGER" />
    <result column="send_total_count" property="sendTotalCount" jdbcType="INTEGER" />
    <result column="more_send_package_count" property="moreSendPackageCount" jdbcType="INTEGER" />
    <result column="more_send_box_count" property="moreSendBoxCount" jdbcType="INTEGER" />
    <result column="more_send_total_count" property="moreSendTotalCount" jdbcType="INTEGER" />
    <result column="force_send_package_count" property="forceSendPackageCount" jdbcType="INTEGER" />
    <result column="force_send_box_count" property="forceSendBoxCount" jdbcType="INTEGER" />
    <result column="force_send_total_count" property="forceSendTotalCount" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="yn" property="yn" jdbcType="BIT" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, biz_id, picking_site_id, picking_node_code, receive_item_count, wait_scan_package_count, wait_scan_box_count,
    wait_scan_total_count, handover_scan_package_count, handover_scan_box_count, handover_scan_total_count,
    scan_package_count, scan_box_count, scan_total_count, more_scan_package_count,
    more_scan_box_count, more_scan_total_count, send_package_count, send_box_count, send_total_count, 
    more_send_package_count, more_send_box_count, more_send_total_count, force_send_package_count, 
    force_send_box_count, force_send_total_count, create_time, update_time, yn, ts
  </sql>

  <select id="pageRecentWaitScanEqZero" resultType="java.lang.String">
    select biz_id
    from jy_picking_task_aggs
    where yn = 1
    and create_time <![CDATA[ >= ]]> #{startTime}
    and create_time <![CDATA[ <= ]]> #{endTime}
    and wait_scan_total_count = 0
    limit #{offset}, #{limit}
  </select>


    <insert id="insertSelective" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingTaskAggsEntity" >
      insert into jy_picking_task_aggs
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          id,
        </if>
        <if test="bizId != null" >
          biz_id,
        </if>
        <if test="pickingSiteId != null" >
          picking_site_id,
        </if>
        <if test="pickingNodeCode != null" >
          picking_node_code,
        </if>
        <if test="waitScanPackageCount != null" >
          wait_scan_package_count,
        </if>
        <if test="waitScanBoxCount != null" >
          wait_scan_box_count,
        </if>
        <if test="waitScanTotalCount != null" >
          wait_scan_total_count,
        </if>
        <if test="scanPackageCount != null" >
          scan_package_count,
        </if>
        <if test="scanBoxCount != null" >
          scan_box_count,
        </if>
        <if test="scanTotalCount != null" >
          scan_total_count,
        </if>
        <if test="moreScanPackageCount != null" >
          more_scan_package_count,
        </if>
        <if test="moreScanBoxCount != null" >
          more_scan_box_count,
        </if>
        <if test="moreScanTotalCount != null" >
          more_scan_total_count,
        </if>
        <if test="sendPackageCount != null" >
          send_package_count,
        </if>
        <if test="sendBoxCount != null" >
          send_box_count,
        </if>
        <if test="sendTotalCount != null" >
          send_total_count,
        </if>
        <if test="moreSendPackageCount != null" >
          more_send_package_count,
        </if>
        <if test="moreSendBoxCount != null" >
          more_send_box_count,
        </if>
        <if test="moreSendTotalCount != null" >
          more_send_total_count,
        </if>
        <if test="forceSendPackageCount != null" >
          force_send_package_count,
        </if>
        <if test="forceSendBoxCount != null" >
          force_send_box_count,
        </if>
        <if test="forceSendTotalCount != null" >
          force_send_total_count,
        </if>
        <if test="createTime != null" >
          create_time,
        </if>
        <if test="updateTime != null" >
          update_time,
        </if>
          yn
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          #{id},
        </if>
        <if test="bizId != null" >
          #{bizId},
        </if>
        <if test="pickingSiteId != null" >
          #{pickingSiteId},
        </if>
        <if test="pickingNodeCode != null" >
          #{pickingNodeCode},
        </if>
        <if test="waitScanPackageCount != null" >
          #{waitScanPackageCount},
        </if>
        <if test="waitScanBoxCount != null" >
          #{waitScanBoxCount},
        </if>
        <if test="waitScanTotalCount != null" >
          #{waitScanTotalCount},
        </if>
        <if test="scanPackageCount != null" >
          #{scanPackageCount},
        </if>
        <if test="scanBoxCount != null" >
          #{scanBoxCount},
        </if>
        <if test="scanTotalCount != null" >
          #{scanTotalCount},
        </if>
        <if test="moreScanPackageCount != null" >
          #{moreScanPackageCount},
        </if>
        <if test="moreScanBoxCount != null" >
          #{moreScanBoxCount},
        </if>
        <if test="moreScanTotalCount != null" >
          #{moreScanTotalCount},
        </if>
        <if test="sendPackageCount != null" >
          #{sendPackageCount},
        </if>
        <if test="sendBoxCount != null" >
          #{sendBoxCount},
        </if>
        <if test="sendTotalCount != null" >
          #{sendTotalCount},
        </if>
        <if test="moreSendPackageCount != null" >
          #{moreSendPackageCount},
        </if>
        <if test="moreSendBoxCount != null" >
          #{moreSendBoxCount},
        </if>
        <if test="moreSendTotalCount != null" >
          #{moreSendTotalCount},
        </if>
        <if test="forceSendPackageCount != null" >
          #{forceSendPackageCount},
        </if>
        <if test="forceSendBoxCount != null" >
          #{forceSendBoxCount},
        </if>
        <if test="forceSendTotalCount != null" >
          #{forceSendTotalCount},
        </if>
        <if test="createTime != null" >
          #{createTime},
        </if>
        <if test="updateTime != null" >
          #{updateTime},
        </if>
        1
      </trim>
    </insert>

  <select id="findByBizIdsAndCondition" resultMap="BaseResultMap" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingTaskAggsCondition" >
    select  <include refid="Base_Column_List" />
    from jy_picking_task_aggs
    where yn = 1 and picking_site_id = #{pickingSiteId}
    and biz_id in
    <foreach collection="bizIdList" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>


  <select id="findByBizId" resultMap="BaseResultMap" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingTaskAggsEntity" >
    select  <include refid="Base_Column_List" />
    from jy_picking_task_aggs
    where yn = 1 
    and picking_site_id = #{pickingSiteId}
    and biz_id =  #{bizId}
    limit 1
  </select>

  <update id="updatePickingAggWaitScanItemNum" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingTaskAggsEntity" >
    update jy_picking_task_aggs
    set
      wait_scan_total_count = #{waitScanTotalCount},
      update_time = #{updateTime}
    where
      yn = 1
      and biz_id = #{bizId}
      and picking_site_id = #{pickingSiteId}
  </update>

  <update id="updateScanStatistics" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingTaskAggsEntity" >
    update jy_picking_task_aggs
    <set >
      <if test="scanPackageCount != null" >
        scan_package_count = #{scanPackageCount},
      </if>
      <if test="scanBoxCount != null" >
        scan_box_count = #{scanBoxCount},
      </if>
      <if test="scanTotalCount != null" >
        scan_total_count = #{scanTotalCount},
      </if>
      <if test="moreScanPackageCount != null" >
        more_scan_package_count = #{moreScanPackageCount},
      </if>
      <if test="moreScanBoxCount != null" >
        more_scan_box_count = #{moreScanBoxCount},
      </if>
      <if test="moreScanTotalCount != null" >
        more_scan_total_count = #{moreScanTotalCount},
      </if>
      <if test="sendPackageCount != null" >
        send_package_count = #{sendPackageCount},
      </if>
      <if test="sendBoxCount != null" >
        send_box_count = #{sendBoxCount},
      </if>
      <if test="sendTotalCount != null" >
        send_total_count = #{sendTotalCount},
      </if>
      <if test="moreSendPackageCount != null" >
        more_send_package_count = #{moreSendPackageCount},
      </if>
      <if test="moreSendBoxCount != null" >
        more_send_box_count = #{moreSendBoxCount},
      </if>
      <if test="moreSendTotalCount != null" >
        more_send_total_count = #{moreSendTotalCount},
      </if>
      <if test="forceSendPackageCount != null" >
        force_send_package_count = #{forceSendPackageCount},
      </if>
      <if test="forceSendBoxCount != null" >
        force_send_box_count = #{forceSendBoxCount},
      </if>
      <if test="forceSendTotalCount != null" >
        force_send_total_count = #{forceSendTotalCount},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
    </set>
    where  yn = 1
      and biz_id = #{bizId}
      and picking_site_id = #{pickingSiteId}
  </update>

</mapper>