<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.jy.dao.pickinggood.JyPickingSendRecordDao" >
  <resultMap id="BaseResultMap" type="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingSendRecordEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="biz_id" property="bizId" jdbcType="VARCHAR" />
    <result column="picking_site_id" property="pickingSiteId" jdbcType="BIGINT" />
    <result column="picking_node_code" property="pickingNodeCode" jdbcType="VARCHAR" />
    <result column="package_code" property="packageCode" jdbcType="VARCHAR" />
    <result column="waybill_code" property="waybillCode" jdbcType="VARCHAR" />
    <result column="scan_code" property="scanCode" jdbcType="VARCHAR" />
    <result column="wait_scan_code" property="waitScanCode" jdbcType="VARCHAR" />
    <result column="wait_scan_code_type" property="waitScanCodeType" jdbcType="TINYINT" />
    <result column="init_next_site_id" property="initNextSiteId" jdbcType="BIGINT" />
    <result column="box_init_flow_key" property="boxInitFlowKey" jdbcType="VARCHAR" />
    <result column="wait_scan_flag" property="waitScanFlag" jdbcType="TINYINT" />
    <result column="scan_flag" property="scanFlag" jdbcType="TINYINT" />
    <result column="scan_code_type" property="scanCodeType" jdbcType="TINYINT" />
    <result column="more_scan_flag" property="moreScanFlag" jdbcType="TINYINT" />
    <result column="picking_user_erp" property="pickingUserErp" jdbcType="VARCHAR" />
    <result column="picking_user_name" property="pickingUserName" jdbcType="VARCHAR" />
    <result column="picking_time" property="pickingTime" jdbcType="TIMESTAMP" />
    <result column="send_flag" property="sendFlag" jdbcType="TINYINT" />
    <result column="real_next_site_id" property="realNextSiteId" jdbcType="BIGINT" />
    <result column="box_real_flow_key" property="boxRealFlowKey" jdbcType="VARCHAR" />
    <result column="more_send_flag" property="moreSendFlag" jdbcType="TINYINT" />
    <result column="force_send_flag" property="forceSendFlag" jdbcType="TINYINT" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="send_user_erp" property="sendUserErp" jdbcType="VARCHAR" />
    <result column="send_user_name" property="sendUserName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="yn" property="yn" jdbcType="BIT" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, biz_id, picking_site_id, picking_node_code, package_code, waybill_code, scan_code,
    wait_scan_code, wait_scan_code_type, init_next_site_id, box_init_flow_key, wait_scan_flag,
    scan_flag, scan_code_type, more_scan_flag, picking_user_erp, picking_user_name, picking_time,
    send_flag, real_next_site_id, box_real_flow_key, more_send_flag, force_send_flag,
    send_time, send_user_erp, send_user_name, create_time, update_time, yn, ts
  </sql>


    <insert id="insertSelective" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingSendRecordEntity" >
      insert into jy_picking_send_record
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          id,
        </if>
        <if test="bizId != null" >
          biz_id,
        </if>
        <if test="pickingSiteId != null" >
          picking_site_id,
        </if>
        <if test="pickingNodeCode != null" >
          picking_node_code,
        </if>
        <if test="packageCode != null" >
          package_code,
        </if>
        <if test="waybillCode != null" >
          waybill_code,
        </if>
        <if test="scanCode != null" >
          scan_code,
        </if>
        <if test="waitScanCode != null" >
          wait_scan_code,
        </if>
        <if test="waitScanCodeType != null" >
          wait_scan_code_type,
        </if>
        <if test="initNextSiteId != null" >
          init_next_site_id,
        </if>
        <if test="boxInitFlowKey != null" >
          box_init_flow_key,
        </if>
        <if test="waitScanFlag != null" >
          wait_scan_flag,
        </if>
        <if test="scanFlag != null" >
          scan_flag,
        </if>
        <if test="scanCodeType != null" >
          scan_code_type,
        </if>
        <if test="moreScanFlag != null" >
          more_scan_flag,
        </if>
        <if test="pickingUserErp != null" >
          picking_user_erp,
        </if>
        <if test="pickingUserName != null" >
          picking_user_name,
        </if>
        <if test="pickingTime != null" >
          picking_time,
        </if>
        <if test="sendFlag != null" >
          send_flag,
        </if>
        <if test="realNextSiteId != null" >
          real_next_site_id,
        </if>
        <if test="boxRealFlowKey != null" >
          box_real_flow_key,
        </if>
        <if test="moreSendFlag != null" >
          more_send_flag,
        </if>
        <if test="forceSendFlag != null" >
          force_send_flag,
        </if>
        <if test="sendTime != null" >
          send_time,
        </if>
        <if test="sendUserErp != null" >
          send_user_erp,
        </if>
        <if test="sendUserName != null" >
          send_user_name,
        </if>
        <if test="createTime != null" >
          create_time,
        </if>
        <if test="updateTime != null" >
          update_time,
        </if>
        <if test="ts != null" >
          ts,
        </if>
        yn
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          #{id,jdbcType=BIGINT},
        </if>
        <if test="bizId != null" >
          #{bizId,jdbcType=VARCHAR},
        </if>
        <if test="pickingSiteId != null" >
          #{pickingSiteId,jdbcType=BIGINT},
        </if>
        <if test="pickingNodeCode != null" >
          #{pickingNodeCode,jdbcType=VARCHAR},
        </if>
        <if test="packageCode != null" >
          #{packageCode,jdbcType=VARCHAR},
        </if>
        <if test="waybillCode != null" >
          #{waybillCode,jdbcType=VARCHAR},
        </if>
        <if test="scanCode != null" >
          #{scanCode,jdbcType=VARCHAR},
        </if>
        <if test="waitScanCode != null" >
          #{waitScanCode,jdbcType=VARCHAR},
        </if>
        <if test="waitScanCodeType != null" >
          #{waitScanCodeType,jdbcType=TINYINT},
        </if>
        <if test="initNextSiteId != null" >
          #{initNextSiteId,jdbcType=BIGINT},
        </if>
        <if test="boxInitFlowKey != null" >
          #{boxInitFlowKey,jdbcType=VARCHAR},
        </if>
        <if test="waitScanFlag != null" >
          #{waitScanFlag,jdbcType=TINYINT},
        </if>
        <if test="scanFlag != null" >
          #{scanFlag,jdbcType=TINYINT},
        </if>
        <if test="scanCodeType != null" >
          #{scanCodeType,jdbcType=TINYINT},
        </if>
        <if test="moreScanFlag != null" >
          #{moreScanFlag,jdbcType=TINYINT},
        </if>
        <if test="pickingUserErp != null" >
          #{pickingUserErp,jdbcType=VARCHAR},
        </if>
        <if test="pickingUserName != null" >
          #{pickingUserName,jdbcType=VARCHAR},
        </if>
        <if test="pickingTime != null" >
          #{pickingTime,jdbcType=TIMESTAMP},
        </if>
        <if test="sendFlag != null" >
          #{sendFlag,jdbcType=TINYINT},
        </if>
        <if test="realNextSiteId != null" >
          #{realNextSiteId,jdbcType=BIGINT},
        </if>
        <if test="boxRealFlowKey != null" >
          #{boxRealFlowKey,jdbcType=VARCHAR},
        </if>
        <if test="moreSendFlag != null" >
          #{moreSendFlag,jdbcType=TINYINT},
        </if>
        <if test="forceSendFlag != null" >
          #{forceSendFlag,jdbcType=TINYINT},
        </if>
        <if test="sendTime != null" >
          #{sendTime,jdbcType=TIMESTAMP},
        </if>
        <if test="sendUserErp != null" >
          #{sendUserErp,jdbcType=VARCHAR},
        </if>
        <if test="sendUserName != null" >
          #{sendUserName,jdbcType=VARCHAR},
        </if>
        <if test="createTime != null" >
          #{createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="updateTime != null" >
          #{updateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="ts != null" >
          #{ts,jdbcType=TIMESTAMP},
        </if>
        1
      </trim>
    </insert>

  <select id="fetchWaitPickingBizIdByBarCode" resultType="java.lang.String" parameterType="JyPickingSendRecordEntity" >
    select biz_id
    from jy_picking_send_record
    where yn = 1 and picking_site_id = #{pickingSiteId} and wait_scan_code = #{waitScanCode}
    limit 1
  </select>

  <select id="fetchRealPickingRecordByBarCodeAndBizId" resultMap="BaseResultMap" parameterType="JyPickingSendRecordEntity" >
    select <include refid="Base_Column_List" />
    from jy_picking_send_record
    where yn = 1 and picking_site_id = #{pickingSiteId} and scan_code = #{waitScanCode} and biz_id = #{bizId}
    limit 1
  </select>

  <select id="fetchByPackageCodeAndBizId" resultMap="BaseResultMap" parameterType="JyPickingSendRecordEntity" >
    select <include refid="Base_Column_List" />
    from jy_picking_send_record
    where yn = 1 and picking_site_id = #{pickingSiteId} and package_code = #{packageCode} and biz_id = #{bizId}
    limit 1
  </select>

  <select id="latestPickingRecord" resultMap="BaseResultMap" parameterType="JyPickingSendRecordEntity" >
    select <include refid="Base_Column_List" />
    from jy_picking_send_record
    where yn = 1 and picking_site_id = #{pickingSiteId} and scan_code = #{waitScanCode}
      <if test="bizId != null" >
        and biz_id = #{bizId}
      </if>
    order by picking_time desc
    limit 1
  </select>
  <!-- 任务待提、流向待发 件数-->
  <select id="countTaskWaitScanItemNum" resultType="java.lang.Integer" parameterType="JyPickingSendRecordEntity" >
    select count(*)
    from (
      select wait_scan_code
      from jy_picking_send_record
      where yn = 1 and picking_site_id = #{pickingSiteId} and biz_id = #{bizId} and wait_scan_flag = 1
        <if test="initNextSiteId != null" >
          and init_next_site_id = #{initNextSiteId}
        </if>
      group by wait_scan_code
      ) t
  </select>
  <!-- 任务已提、流向已发/任务多提、流向多发 件数 -->
  <select id="countTaskRealScanItemNum" resultType="java.lang.Integer" parameterType="JyPickingSendRecordEntity" >
    select count(*)
    from (
    select scan_code
    from jy_picking_send_record
    where yn = 1 and picking_site_id = #{pickingSiteId} and biz_id = #{bizId} and scan_flag = 1
    <if test="moreScanFlag != null" >
      and more_scan_flag = #{moreScanFlag},
    </if>
    <if test="initNextSiteId != null" >
      and init_next_site_id = #{initNextSiteId}
      and send_flag = 1
    </if>
    group by wait_scan_code
    ) t
  </select>



    <update id="updatePickingGoodRecordByWaitScanCode" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingSendRecordEntity" >
      update jy_picking_send_record
      set
          scan_code = #{scanCode,jdbcType=VARCHAR},
          scan_flag = #{scanFlag,jdbcType=TINYINT},
          scan_code_type = #{scanCodeType,jdbcType=TINYINT},
          picking_user_erp = #{pickingUserErp,jdbcType=VARCHAR},
          picking_user_name = #{pickingUserName,jdbcType=VARCHAR},
          picking_time = #{pickingTime,jdbcType=TIMESTAMP},
          update_time = #{updateTime},
        <if test="moreScanFlag != null" >
          more_scan_flag = #{moreScanFlag},
        </if>
        <if test="sendFlag != null" >
          send_flag = #{sendFlag,jdbcType=TINYINT},
        </if>
        <if test="realNextSiteId != null" >
          real_next_site_id = #{realNextSiteId,jdbcType=BIGINT},
        </if>
        <if test="boxRealFlowKey != null" >
          box_real_flow_key = #{boxRealFlowKey,jdbcType=VARCHAR},
        </if>
        <if test="moreSendFlag != null" >
          more_send_flag = #{moreSendFlag,jdbcType=TINYINT},
        </if>
        <if test="forceSendFlag != null" >
          force_send_flag = #{forceSendFlag,jdbcType=TINYINT},
        </if>
        <if test="sendTime != null" >
          send_time = #{sendTime,jdbcType=TIMESTAMP},
        </if>
        <if test="sendUserErp != null" >
          send_user_erp = #{sendUserErp,jdbcType=VARCHAR},
        </if>
        <if test="sendUserName != null" >
          send_user_name = #{sendUserName,jdbcType=VARCHAR},
        </if>
      where yn = 1
        and picking_site_id = #{pickingSiteId}
        and biz_id = #{bizId}
        and wait_scan_code = #{waitScanCode}
    </update>



  <!--  -->
<!--  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >-->
<!--    select-->
<!--    <include refid="Base_Column_List" />-->
<!--    from jy_picking_send_record-->
<!--    where id = #{id,jdbcType=BIGINT}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >-->
<!--    delete from jy_picking_send_record-->
<!--    where id = #{id,jdbcType=BIGINT}-->
<!--  </delete>-->
<!--  <insert id="insert" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingSendRecordEntity" >-->
<!--    insert into jy_picking_send_record (id, biz_id, picking_site_id,-->
<!--    picking_node_code, package_code, waybill_code,-->
<!--    scan_code, wait_scan_code, wait_scan_code_type,-->
<!--    init_next_site_id, box_init_flow_key, wait_scan_flag,-->
<!--    scan_flag, scan_code_type, more_scan_flag,-->
<!--    picking_user_erp, picking_user_name, picking_time,-->
<!--    send_flag, real_next_site_id, box_real_flow_key,-->
<!--    more_send_flag, force_send_flag, send_time,-->
<!--    send_user_erp, send_user_name, create_time,-->
<!--    update_time, yn, ts)-->
<!--    values (#{id,jdbcType=BIGINT}, #{bizId,jdbcType=VARCHAR}, #{pickingSiteId,jdbcType=BIGINT},-->
<!--    #{pickingNodeCode,jdbcType=VARCHAR}, #{packageCode,jdbcType=VARCHAR}, #{waybillCode,jdbcType=VARCHAR},-->
<!--    #{scanCode,jdbcType=VARCHAR}, #{waitScanCode,jdbcType=VARCHAR}, #{waitScanCodeType,jdbcType=TINYINT},-->
<!--    #{initNextSiteId,jdbcType=BIGINT}, #{boxInitFlowKey,jdbcType=VARCHAR}, #{waitScanFlag,jdbcType=TINYINT},-->
<!--    #{scanFlag,jdbcType=TINYINT}, #{scanCodeType,jdbcType=TINYINT}, #{moreScanFlag,jdbcType=TINYINT},-->
<!--    #{pickingUserErp,jdbcType=VARCHAR}, #{pickingUserName,jdbcType=VARCHAR}, #{pickingTime,jdbcType=TIMESTAMP},-->
<!--    #{sendFlag,jdbcType=TINYINT}, #{realNextSiteId,jdbcType=BIGINT}, #{boxRealFlowKey,jdbcType=VARCHAR},-->
<!--    #{moreSendFlag,jdbcType=TINYINT}, #{forceSendFlag,jdbcType=TINYINT}, #{sendTime,jdbcType=TIMESTAMP},-->
<!--    #{sendUserErp,jdbcType=VARCHAR}, #{sendUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},-->
<!--    #{updateTime,jdbcType=TIMESTAMP}, #{yn,jdbcType=BIT}, #{ts,jdbcType=TIMESTAMP})-->
<!--  </insert>-->
<!--  <update id="updateByPrimaryKeySelective" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingSendRecordEntity" >-->
<!--    update jy_picking_send_record-->
<!--    <set >-->
<!--      <if test="bizId != null" >-->
<!--        biz_id = #{bizId,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="pickingSiteId != null" >-->
<!--        picking_site_id = #{pickingSiteId,jdbcType=BIGINT},-->
<!--      </if>-->
<!--      <if test="pickingNodeCode != null" >-->
<!--        picking_node_code = #{pickingNodeCode,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="packageCode != null" >-->
<!--        package_code = #{packageCode,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="waybillCode != null" >-->
<!--        waybill_code = #{waybillCode,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="scanCode != null" >-->
<!--        scan_code = #{scanCode,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="waitScanCode != null" >-->
<!--        wait_scan_code = #{waitScanCode,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="waitScanCodeType != null" >-->
<!--        wait_scan_code_type = #{waitScanCodeType,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="initNextSiteId != null" >-->
<!--        init_next_site_id = #{initNextSiteId,jdbcType=BIGINT},-->
<!--      </if>-->
<!--      <if test="boxInitFlowKey != null" >-->
<!--        box_init_flow_key = #{boxInitFlowKey,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="waitScanFlag != null" >-->
<!--        wait_scan_flag = #{waitScanFlag,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="scanFlag != null" >-->
<!--        scan_flag = #{scanFlag,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="scanCodeType != null" >-->
<!--        scan_code_type = #{scanCodeType,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="moreScanFlag != null" >-->
<!--        more_scan_flag = #{moreScanFlag,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="pickingUserErp != null" >-->
<!--        picking_user_erp = #{pickingUserErp,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="pickingUserName != null" >-->
<!--        picking_user_name = #{pickingUserName,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="pickingTime != null" >-->
<!--        picking_time = #{pickingTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="sendFlag != null" >-->
<!--        send_flag = #{sendFlag,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="realNextSiteId != null" >-->
<!--        real_next_site_id = #{realNextSiteId,jdbcType=BIGINT},-->
<!--      </if>-->
<!--      <if test="boxRealFlowKey != null" >-->
<!--        box_real_flow_key = #{boxRealFlowKey,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="moreSendFlag != null" >-->
<!--        more_send_flag = #{moreSendFlag,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="forceSendFlag != null" >-->
<!--        force_send_flag = #{forceSendFlag,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="sendTime != null" >-->
<!--        send_time = #{sendTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="sendUserErp != null" >-->
<!--        send_user_erp = #{sendUserErp,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="sendUserName != null" >-->
<!--        send_user_name = #{sendUserName,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="createTime != null" >-->
<!--        create_time = #{createTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="updateTime != null" >-->
<!--        update_time = #{updateTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="yn != null" >-->
<!--        yn = #{yn,jdbcType=BIT},-->
<!--      </if>-->
<!--      <if test="ts != null" >-->
<!--        ts = #{ts,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--    </set>-->
<!--    where id = #{id,jdbcType=BIGINT}-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingSendRecordEntity" >-->
<!--    update jy_picking_send_record-->
<!--    set biz_id = #{bizId,jdbcType=VARCHAR},-->
<!--    picking_site_id = #{pickingSiteId,jdbcType=BIGINT},-->
<!--    picking_node_code = #{pickingNodeCode,jdbcType=VARCHAR},-->
<!--    package_code = #{packageCode,jdbcType=VARCHAR},-->
<!--    waybill_code = #{waybillCode,jdbcType=VARCHAR},-->
<!--    scan_code = #{scanCode,jdbcType=VARCHAR},-->
<!--    wait_scan_code = #{waitScanCode,jdbcType=VARCHAR},-->
<!--    wait_scan_code_type = #{waitScanCodeType,jdbcType=TINYINT},-->
<!--    init_next_site_id = #{initNextSiteId,jdbcType=BIGINT},-->
<!--    box_init_flow_key = #{boxInitFlowKey,jdbcType=VARCHAR},-->
<!--    wait_scan_flag = #{waitScanFlag,jdbcType=TINYINT},-->
<!--    scan_flag = #{scanFlag,jdbcType=TINYINT},-->
<!--    scan_code_type = #{scanCodeType,jdbcType=TINYINT},-->
<!--    more_scan_flag = #{moreScanFlag,jdbcType=TINYINT},-->
<!--    picking_user_erp = #{pickingUserErp,jdbcType=VARCHAR},-->
<!--    picking_user_name = #{pickingUserName,jdbcType=VARCHAR},-->
<!--    picking_time = #{pickingTime,jdbcType=TIMESTAMP},-->
<!--    send_flag = #{sendFlag,jdbcType=TINYINT},-->
<!--    real_next_site_id = #{realNextSiteId,jdbcType=BIGINT},-->
<!--    box_real_flow_key = #{boxRealFlowKey,jdbcType=VARCHAR},-->
<!--    more_send_flag = #{moreSendFlag,jdbcType=TINYINT},-->
<!--    force_send_flag = #{forceSendFlag,jdbcType=TINYINT},-->
<!--    send_time = #{sendTime,jdbcType=TIMESTAMP},-->
<!--    send_user_erp = #{sendUserErp,jdbcType=VARCHAR},-->
<!--    send_user_name = #{sendUserName,jdbcType=VARCHAR},-->
<!--    create_time = #{createTime,jdbcType=TIMESTAMP},-->
<!--    update_time = #{updateTime,jdbcType=TIMESTAMP},-->
<!--    yn = #{yn,jdbcType=BIT},-->
<!--    ts = #{ts,jdbcType=TIMESTAMP}-->
<!--    where id = #{id,jdbcType=BIGINT}-->
<!--  </update>-->
</mapper>