<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.jy.dao.pickinggood.JyPickingSendDestinationDetailDao" >
  <resultMap id="BaseResultMap" type="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingSendDestinationDetailEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_site_id" property="createSiteId" jdbcType="BIGINT" />
    <result column="next_site_id" property="nextSiteId" jdbcType="BIGINT" />
    <result column="send_code" property="sendCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="seal_flag" property="sealFlag" jdbcType="TINYINT" />
    <result column="first_scan_time" property="firstScanTime" jdbcType="TIMESTAMP" />
    <result column="complete_time" property="completeTime" jdbcType="TIMESTAMP" />
    <result column="create_user_erp" property="createUserErp" jdbcType="VARCHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="update_user_erp" property="updateUserErp" jdbcType="VARCHAR" />
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="yn" property="yn" jdbcType="BIT" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_site_id, next_site_id, send_code, status, seal_flag, first_scan_time, 
    complete_time, create_user_erp, create_user_name, update_user_erp, update_user_name, 
    create_time, update_time, yn, ts
  </sql>


    <select id="fetchLatestNoCompleteBatchCode" resultMap="BaseResultMap" parameterType="JyPickingSendDestinationDetailEntity" >
      select send_code
      from jy_picking_send_destination_detail
      where yn = 1
        and create_site_id = #{createSiteId}
        and next_site_id = #{nextSiteId}
        and status = 1
      order by create_time desc limit 1
    </select>


    <insert id="insertSelective" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingSendDestinationDetailEntity" >
      insert into jy_picking_send_destination_detail
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          id,
        </if>
        <if test="createSiteId != null" >
          create_site_id,
        </if>
        <if test="nextSiteId != null" >
          next_site_id,
        </if>
        <if test="sendCode != null" >
          send_code,
        </if>
        <if test="status != null" >
          status,
        </if>
        <if test="sealFlag != null" >
          seal_flag,
        </if>
        <if test="firstScanTime != null" >
          first_scan_time,
        </if>
        <if test="completeTime != null" >
          complete_time,
        </if>
        <if test="createUserErp != null" >
          create_user_erp,
        </if>
        <if test="createUserName != null" >
          create_user_name,
        </if>
        <if test="updateUserErp != null" >
          update_user_erp,
        </if>
        <if test="updateUserName != null" >
          update_user_name,
        </if>
        <if test="createTime != null" >
          create_time,
        </if>
        <if test="updateTime != null" >
          update_time,
        </if>
        <if test="yn != null" >
          yn,
        </if>
        <if test="ts != null" >
          ts,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          #{id,jdbcType=BIGINT},
        </if>
        <if test="createSiteId != null" >
          #{createSiteId,jdbcType=BIGINT},
        </if>
        <if test="nextSiteId != null" >
          #{nextSiteId,jdbcType=BIGINT},
        </if>
        <if test="sendCode != null" >
          #{sendCode,jdbcType=VARCHAR},
        </if>
        <if test="status != null" >
          #{status,jdbcType=TINYINT},
        </if>
        <if test="sealFlag != null" >
          #{sealFlag,jdbcType=TINYINT},
        </if>
        <if test="firstScanTime != null" >
          #{firstScanTime,jdbcType=TIMESTAMP},
        </if>
        <if test="completeTime != null" >
          #{completeTime,jdbcType=TIMESTAMP},
        </if>
        <if test="createUserErp != null" >
          #{createUserErp,jdbcType=VARCHAR},
        </if>
        <if test="createUserName != null" >
          #{createUserName,jdbcType=VARCHAR},
        </if>
        <if test="updateUserErp != null" >
          #{updateUserErp,jdbcType=VARCHAR},
        </if>
        <if test="updateUserName != null" >
          #{updateUserName,jdbcType=VARCHAR},
        </if>
        <if test="createTime != null" >
          #{createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="updateTime != null" >
          #{updateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="yn != null" >
          #{yn,jdbcType=BIT},
        </if>
        <if test="ts != null" >
          #{ts,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </insert>
<!--  -->
<!--  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >-->
<!--    select -->
<!--    <include refid="Base_Column_List" />-->
<!--    from jy_picking_send_destination_detail-->
<!--    where id = #{id,jdbcType=BIGINT}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >-->
<!--    delete from jy_picking_send_destination_detail-->
<!--    where id = #{id,jdbcType=BIGINT}-->
<!--  </delete>-->
<!--  <insert id="insert" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingSendDestinationDetailEntity" >-->
<!--    insert into jy_picking_send_destination_detail (id, create_site_id, next_site_id, -->
<!--      send_code, status, seal_flag, -->
<!--      first_scan_time, complete_time, create_user_erp, -->
<!--      create_user_name, update_user_erp, update_user_name, -->
<!--      create_time, update_time, yn, -->
<!--      ts)-->
<!--    values (#{id,jdbcType=BIGINT}, #{createSiteId,jdbcType=BIGINT}, #{nextSiteId,jdbcType=BIGINT}, -->
<!--      #{sendCode,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{sealFlag,jdbcType=TINYINT}, -->
<!--      #{firstScanTime,jdbcType=TIMESTAMP}, #{completeTime,jdbcType=TIMESTAMP}, #{createUserErp,jdbcType=VARCHAR}, -->
<!--      #{createUserName,jdbcType=VARCHAR}, #{updateUserErp,jdbcType=VARCHAR}, #{updateUserName,jdbcType=VARCHAR}, -->
<!--      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{yn,jdbcType=BIT}, -->
<!--      #{ts,jdbcType=TIMESTAMP})-->
<!--  </insert>-->
<!--  <update id="updateByPrimaryKeySelective" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingSendDestinationDetailEntity" >-->
<!--    update jy_picking_send_destination_detail-->
<!--    <set >-->
<!--      <if test="createSiteId != null" >-->
<!--        create_site_id = #{createSiteId,jdbcType=BIGINT},-->
<!--      </if>-->
<!--      <if test="nextSiteId != null" >-->
<!--        next_site_id = #{nextSiteId,jdbcType=BIGINT},-->
<!--      </if>-->
<!--      <if test="sendCode != null" >-->
<!--        send_code = #{sendCode,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="status != null" >-->
<!--        status = #{status,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="sealFlag != null" >-->
<!--        seal_flag = #{sealFlag,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="firstScanTime != null" >-->
<!--        first_scan_time = #{firstScanTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="completeTime != null" >-->
<!--        complete_time = #{completeTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="createUserErp != null" >-->
<!--        create_user_erp = #{createUserErp,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="createUserName != null" >-->
<!--        create_user_name = #{createUserName,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="updateUserErp != null" >-->
<!--        update_user_erp = #{updateUserErp,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="updateUserName != null" >-->
<!--        update_user_name = #{updateUserName,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="createTime != null" >-->
<!--        create_time = #{createTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="updateTime != null" >-->
<!--        update_time = #{updateTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="yn != null" >-->
<!--        yn = #{yn,jdbcType=BIT},-->
<!--      </if>-->
<!--      <if test="ts != null" >-->
<!--        ts = #{ts,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--    </set>-->
<!--    where id = #{id,jdbcType=BIGINT}-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingSendDestinationDetailEntity" >-->
<!--    update jy_picking_send_destination_detail-->
<!--    set create_site_id = #{createSiteId,jdbcType=BIGINT},-->
<!--      next_site_id = #{nextSiteId,jdbcType=BIGINT},-->
<!--      send_code = #{sendCode,jdbcType=VARCHAR},-->
<!--      status = #{status,jdbcType=TINYINT},-->
<!--      seal_flag = #{sealFlag,jdbcType=TINYINT},-->
<!--      first_scan_time = #{firstScanTime,jdbcType=TIMESTAMP},-->
<!--      complete_time = #{completeTime,jdbcType=TIMESTAMP},-->
<!--      create_user_erp = #{createUserErp,jdbcType=VARCHAR},-->
<!--      create_user_name = #{createUserName,jdbcType=VARCHAR},-->
<!--      update_user_erp = #{updateUserErp,jdbcType=VARCHAR},-->
<!--      update_user_name = #{updateUserName,jdbcType=VARCHAR},-->
<!--      create_time = #{createTime,jdbcType=TIMESTAMP},-->
<!--      update_time = #{updateTime,jdbcType=TIMESTAMP},-->
<!--      yn = #{yn,jdbcType=BIT},-->
<!--      ts = #{ts,jdbcType=TIMESTAMP}-->
<!--    where id = #{id,jdbcType=BIGINT}-->
<!--  </update>-->
  <update id="updateSendTaskStatus" parameterType="com.jd.bluedragon.distribution.jy.pickinggood.JyPickingSendDestinationDetailEntity">
    update
        jy_picking_send_destination_detail
    set
        status = #{status}
    where
        yn = 1
    and
        send_code = #{send_code}
    <if test="createSiteId != null">
    and create_site_id = #{createSiteId}
    </if>
    <if test="nextSiteId != null">
    and next_site_id = #{nextSiteId}
    </if>
    <if test="completeTime != null">
    and complete_time = #{completeTime}
    </if>
  </update>
</mapper>