<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.waybill.dao.CancelWaybillDao">

	<resultMap id="cancelWaybill" type="com.jd.bluedragon.distribution.waybill.domain.CancelWaybill">
		<result column="waybill_code" property="waybillCode" />
		<result column="package_code" property="packageCode" />
		<result column="feature_type" property="featureType" />
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="business_type" property="businessType"/>
		<result column="intercept_type" property="interceptType"/>
		<result column="intercept_mode" property="interceptMode"/>
		<result column="operate_time" property="operateTime"/>
		<result column="operate_time_order" property="operateTimeOrder"/>
		<result column="yn" property="yn"/>
		<result column="ts" property="ts"/>
	</resultMap>

	<select id="getByWaybillCode" resultMap="cancelWaybill" parameterType="String">
		SELECT
		waybill_code,
		feature_type,
		create_time,
		update_time,
		business_type,
		intercept_type,
		intercept_mode,
		operate_time,
		operate_time_order
		FROM waybill_cancel
		WHERE waybill_code = #{waybillCode}
		AND yn = 1
		AND (package_code IS NULL OR LENGTH(package_code) = 0)
		ORDER BY operate_time_order DESC , ts DESC
	</select>

    <select id="get" resultMap="cancelWaybill" parameterType="String">
		SELECT
		waybill_code,
		feature_type,
		intercept_type,
		intercept_mode
		FROM waybill_cancel
		WHERE waybill_code = #{waybillCode} and yn = 1
		order by operate_time_order desc , operate_time desc
	</select>



	<select id="getFeatureTypeByWaybillCode" resultType="java.lang.Integer" parameterType="String">
		SELECT feature_type
		FROM waybill_cancel
		WHERE waybill_code = #{waybillCode}
		and (package_code is null or LENGTH(package_code) = 0)
		and yn = 1
		order by operate_time_order desc , ts desc
	</select>

    <select id="findCrossCode" resultType="java.lang.String" parameterType="java.util.Map">
		SELECT cross_code
		FROM cross_tag
		WHERE dms_code = #{dmsCode,jdbcType=VARCHAR}
			AND station_code = #{stationCode,jdbcType=VARCHAR}
			AND yn = 1
			LIMIT 1
	</select>

	<select id="countWaybillCancelLatest" resultType="Integer" parameterType="int">
		SELECT case when create_time >= date_add(now(),interval - #{viableLimit} hour) then 1 else 0 end num
		FROM waybill_cancel
		WHERE system_id = (select max(system_id) from waybill_cancel)
	</select>

    <insert id="insertWaybillCancel" parameterType="cancelWaybill">
		insert into waybill_cancel
		(waybill_code,
		business_type,
		create_time,
		update_time,
		operate_time,
		yn,
		operate_time_order,
		feature_type,
		ts)
		values(
		#{waybillCode,jdbcType=VARCHAR},
		#{businessType ,jdbcType=VARCHAR},
		now(),
		now(),
		#{operateTime,jdbcType=TIMESTAMP},
		1,
		#{operateTimeOrder,jdbcType=BIGINT},
		#{featureType,jdbcType=INTEGER},
		#{ts,jdbcType=BIGINT}
		)
	</insert>
	<insert id="insertBatchWaybillCancel" parameterType="java.util.List">
		insert into waybill_cancel
		(waybill_code,
		package_code,
		business_type,
		create_time,
		update_time,
		operate_time,
		yn,
		operate_time_order,
		feature_type,
		ts)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.waybillCode,jdbcType=VARCHAR},
			#{item.packageCode,jdbcType=VARCHAR},
			#{item.businessType,jdbcType=VARCHAR},
			now(),
			now(),
			#{item.operateTime,jdbcType=TIMESTAMP},
			1,
			#{item.operateTimeOrder,jdbcType=BIGINT},
			#{item.featureType,jdbcType=INTEGER},
			#{item.ts,jdbcType=BIGINT}
			)
		</foreach>
	</insert>
	<select id="getAllWaybillCancel" resultMap="cancelWaybill" parameterType="String">
		SELECT
			waybill_code AS waybillCode,
			feature_type AS featureType,
			create_time AS createTime,
			update_time AS updateTime,
			business_type AS businessType,
			intercept_type AS interceptType,
			intercept_mode AS interceptMode,
			operate_time AS operateTime,
			operate_time_order AS operateTimeOrder,
			yn,
			ts
		FROM Waybill_Cancel
		WHERE waybill_code = #{waybillCode}
	</select>

	<select id="getAllWaybillCancelWithFeatureTypes" resultMap="cancelWaybill" parameterType="java.util.Map">
		SELECT
		waybill_code AS waybillCode,
		feature_type AS featureType,
		create_time AS createTime,
		update_time AS updateTime,
		business_type AS businessType,
		intercept_type AS interceptType,
		intercept_mode AS interceptMode,
		operate_time AS operateTime,
		operate_time_order AS operateTimeOrder,
		yn,
		ts
		FROM Waybill_Cancel
		WHERE waybill_code = #{waybillCode}
		AND yn = 1
		AND feature_type IN
		  <foreach collection="featureTypes" index="index" item="featureType" separator="," open="(" close=")">
			  #{featureType, jdbcType=INTEGER}
		  </foreach>
	</select>

	<select id="getAllWaybillCancelByCondition" resultMap="cancelWaybill" parameterType="cancelWaybill">
		SELECT
		waybill_code ,
		feature_type ,
		create_time ,
		update_time ,
		business_type ,
		intercept_type ,
		intercept_mode ,
		operate_time ,
		operate_time_order ,
		yn,
		ts
		FROM Waybill_Cancel
		<where>
		<if test="po.waybillCode != null and po.waybillCode != ''">
			waybill_code = #{po.waybillCode,jdbcType=VARCHAR}
		</if>
		<if test="po.businessType != null and po.businessType != ''">
			and business_type = #{po.businessType,jdbcType=VARCHAR}
		</if>
		<if test="po.featureType != null and po.featureType != ''">
			and feature_type = #{po.featureType,jdbcType=INTEGER}
		</if>
		<if test="po.yn != null and po.yn != ''">
			and yn = #{po.yn,jdbcType=INTEGER}
		</if>
		</where>
		limit 100
	</select>

	<update id="updatWaybillbusinessType" parameterType="cancelWaybill">
		UPDATE waybill_cancel
		<set>
			business_type = #{businessType, jdbcType=VARCHAR},
			update_time = #{updateTime,jdbcType=DATE},
			ts = #{ts,jdbcType=BIGINT}
		</set>
		WHERE waybill_code = #{waybillCode,jdbcType=VARCHAR}
		AND (package_code is null OR LENGTH(package_code)=0)
		AND feature_type = #{featureType, jdbcType=INTEGER}
		AND yn=1
	</update>

	<update id="updateByPackageCodeAndFeatureType" parameterType="java.util.Map">
		UPDATE waybill_cancel
		SET
			business_type = #{businessType, jdbcType=VARCHAR},
			update_time = #{updateTime,jdbcType=DATE},
			ts = #{ts,jdbcType=BIGINT}
		WHERE package_code =#{packageCode,jdbcType=VARCHAR}
		AND business_type != #{businessType, jdbcType=VARCHAR}
		AND feature_type IN
		<foreach collection="featureTypes" item="featureType" index="index" open="(" close=")" separator=",">
			#{featureType, jdbcType=INTEGER}
		</foreach>
	</update>

	<select id="findWaybillCancelByCodeAndFeatureType" parameterType="java.util.Map" resultMap="cancelWaybill">
		SELECT
			waybill_code,
			feature_type,
			create_time,
			update_time,
			business_type,
			intercept_type,
			intercept_mode,
			operate_time,
			operate_time_order,
			yn,
			ts
		FROM Waybill_Cancel
		WHERE
			waybill_code = #{waybillCode}
			AND  (package_code is null OR LENGTH(package_code)=0)
			AND feature_type = #{featureType}
			AND yn = 1
		order by operate_time_order desc limit 1
	</select>

	<select id="findPackageCodesByFeatureTypeAndWaybillCode" parameterType="java.util.Map"  resultMap="cancelWaybill">
		SELECT
		waybill_code,
		package_code,
		feature_type,
		create_time,
		update_time,
		business_type,
		intercept_type,
		intercept_mode,
		operate_time,
		operate_time_order,
		yn,
		ts
		FROM Waybill_Cancel
		WHERE
		waybill_code= #{waybillCode,jdbcType=VARCHAR}
		AND  package_code is NOT null and LENGTH(package_code)>0
		AND feature_type = #{featureType,jdbcType=INTEGER}
		AND yn = 1
		AND business_type= #{businessType,jdbcType=VARCHAR}
		limit #{limitCount,jdbcType=INTEGER}
	</select>
	<select id="findPackageCodeCountByFeatureTypeAndWaybillCode" parameterType="java.util.Map"  resultType="Long">
		SELECT
		COUNT(*)
		FROM Waybill_Cancel
		WHERE
		waybill_code= #{waybillCode,jdbcType=VARCHAR}
		and package_code is NOT null and LENGTH(package_code)>0
		AND feature_type = #{featureType,jdbcType=INTEGER}
		AND yn = 1
		AND business_type= #{businessType,jdbcType=VARCHAR}
	</select>
	<update id="updatePackageBusinessTypeByWaybillCode" parameterType="java.util.Map">
		UPDATE waybill_cancel
		SET
		business_type = #{businessType,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=DATE},
		ts = #{ts,jdbcType=BIGINT}
		WHERE waybill_code = #{waybillCode,jdbcType=VARCHAR}
		AND feature_type IN
		<foreach collection="featureTypes" item="featureType" index="index" open="(" close=")" separator=",">
			#{featureType,jdbcType=INTEGER}
		</foreach>
		and business_type != #{businessType,jdbcType=VARCHAR}
	</update>

	<select id="findPackageBlockedByCodeAndFeatureType" parameterType="java.util.Map" resultMap="cancelWaybill">
		SELECT
		waybill_code,
		package_code,
		feature_type,
		create_time,
		update_time,
		business_type,
		intercept_type,
		intercept_mode,
		operate_time,
		operate_time_order,
		yn,
		ts
		FROM Waybill_Cancel
		WHERE
		package_code = #{packageCode,jdbcType=VARCHAR}
		AND feature_type = #{featureType,jdbcType=INTEGER}
		AND yn = 1
		order by operate_time_order desc limit 1
	</select>
	<select id="findWaybillBlockByWaybillCode" parameterType="java.util.Map" resultMap="cancelWaybill">
		SELECT
		waybill_code,
		feature_type,
		create_time,
		update_time,
		business_type,
		intercept_type,
		intercept_mode,
		operate_time,
		operate_time_order,
		yn,
		ts
		FROM Waybill_Cancel
		WHERE
		waybill_code = #{waybillCode}
		AND  (package_code is null OR LENGTH(package_code)=0)
		AND yn = 1
		AND business_type = #{businessType,jdbcType=VARCHAR}
		order by operate_time_order desc limit 1
	</select>
	<select id="findWaybillBlockByFeatureTypeAndInterceptType" parameterType="java.util.Map" resultMap="cancelWaybill">
		SELECT
		waybill_code,
		feature_type,
		create_time,
		update_time,
		business_type,
		operate_time,
		operate_time_order,
		intercept_type,
		intercept_mode,
		yn,
		ts
		FROM Waybill_Cancel
		WHERE
		waybill_code = #{waybillCode}
		AND  (package_code is null OR LENGTH(package_code)=0)
		AND yn = 1
		AND business_type = #{businessType,jdbcType=VARCHAR}
		and (feature_type IN
		<foreach collection="featureTypes" index="index" item="featureType" separator="," open="(" close=")">
			#{featureType, jdbcType=INTEGER}
		</foreach>
		OR intercept_type in
		<foreach collection="interceptTypes" index="index" item="interceptType" separator="," open="(" close=")">
			#{interceptType, jdbcType=INTEGER}
		</foreach>
		)
		AND (intercept_mode = #{interceptMode, jdbcType=INTEGER} OR intercept_mode IS NULL )
		order by operate_time_order DESC
	</select>
	<!--根据 feature_type 查询 无包裹拦截的运单拦截记录-->
	<select id="selectWaybillBlockByFeatureTypesAndNoPackageCode" parameterType="java.util.Map" resultMap="cancelWaybill">
		<foreach collection="featureTypes" index="index" item="featureType" separator=" UNION ">
		SELECT
		waybill_code,
		feature_type,
		create_time,
		update_time,
		business_type,
		operate_time,
		operate_time_order,
		intercept_type,
		intercept_mode,
		yn,
		ts
		FROM Waybill_Cancel
		WHERE
		waybill_code = #{waybillCode}
		AND  (package_code is null OR LENGTH(package_code)=0)
		AND yn = 1
		AND business_type = #{businessType,jdbcType=VARCHAR}
		and feature_type = #{featureType, jdbcType=INTEGER}
		AND not exists(
			SELECT waybill_code
			FROM Waybill_Cancel
			WHERE
			waybill_code = #{waybillCode}
			AND yn = 1
			AND package_code = #{packageCode}
			and feature_type  = #{featureType, jdbcType=INTEGER}
			)
		</foreach>
	</select>
	<!--根据运单号和业务类型 把包裹拦截记录更新为无效-->
	<update id="updateInvalidPackageCodeBlockByWaybillCodeAndFeatureTypes" parameterType="java.util.Map">
		UPDATE
		Waybill_Cancel
		set yn =0
		WHERE
		waybill_code = #{waybillCode}
		AND yn = 1
		AND business_type = #{businessType,jdbcType=VARCHAR}
		AND LENGTH(package_code) > 0
		AND feature_type IN
		<foreach collection="featureTypes" index="index" item="featureType" separator="," open="(" close=")">
			#{featureType, jdbcType=INTEGER}
		</foreach>
	</update>

</mapper>
