<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jd.bluedragon.distribution.dao.CWaybillExtendDao">
    <resultMap id="CWaybillExtend" type="CWaybillExtend">
        <result property="waybillId" column="waybill_id" />
        <result property="orgId" column="org_id" />
        <result property="cky2" column="cky2" />
        <result property="waybillCode" column="waybill_code" />
        <result property="siteCode" column="site_code" />
        <result property="roadCode" column="road_code" />
        <result property="siteName" column="site_name" />
        <result property="paymentType" column="payment_type" />
        <result property="waybillType" column="waybill_type" />
        <result property="sendPay" column="send_pay" />
        <result property="weight" column="weight" />
        <result property="quantity" column="quantity" />
        <result property="address" column="address" />
        <result property="popSupId" column="pop_sup_id" />
        <result property="popSupName" column="pop_sup_name" />
        <result property="transferStationId" column="transfer_station_id" />
        <result property="crossCode" column="cross_code" />
        <!--  新增龙车号和库房号 2013-4 -->
        <result property="trolleyCode" column="trolley_code" />
        <result property="distributeStoreId" column="distribute_store_id" />
        <result property="busiId" column="busi_id" />
        <result property="distributeType" column="distribute_type" />
        <result property="waybillSign" column="waybill_Sign" />
        <result property="distributeStoreName" column="distribute_store_name"/>
        <result property="busiName" column="busi_name"/>

        <result property="volume" column="good_volume"/>
        <result property="provinceId" column="province_id"/>
        <result property="provinceName" column="province_name"/>
        <result property="cityId" column="city_id"/>
        <result property="cityName" column="city_name"/>
        <result property="countryId" column="country_id"/>
        <result property="countryName" column="country_name"/>
        <result property="townId" column="town_id"/>
        <result property="townName" column="town_name"/>
        <result property="vendorId" column="vendor_id"/>
        <result property="receiverZipCode" column="receiver_zipcode"/>
        <result property="importantHint" column="important_hint"/>
        <result property="relWaybillCode" column="rel_waybill_code"/>
        <result property="waybillState" column="waybill_state"/>
        <result property="newRecAddr" column="new_rec_addr"/>
        <result property="busiOrderCode" column="busi_order_code"/>
        <result property="sourceCode" column="source_code"/>
        <result property="userLevel" column="user_level"/>
        <result property="spareColumn1" column="spare_column1"/>
        <result property="flagInfo" column="flag_info"/>
        <result property="freight" column="freight"/>

    </resultMap>
    <resultMap id="waybillMap" type="com.jd.bluedragon.distribution.domain.Waybill">
        <result column="org_id" property="orgId"/>
        <result column="waybill_code" property="waybillCode"/>
        <result column="waybill_type" property="type"/>
        <result column="pop_sup_id" property="popSupId"/>
        <result column="pop_sup_name" property="popSupName"/>
        <result column="transfer_station_id" property="transferStationId"/>
        <result column="site_code" property="siteCode"/>
        <result column="road_code" property="roadCode"/>
        <result column="site_name" property="siteName"/>
        <result column="payment_type" property="paymentType"/>
        <result column="send_pay" property="sendPay"/>
        <result column="weight" property="weight"/>
        <result column="good_volume" property="volume"/>
        <result column="freight" property="freight"/>
        <result column="quantity" property="quantity"/>
        <result column="address" property="address"/>
        <result column="cross_code" property="crossCode"/>
        <result column="distribute_store_id" property="distributeStoreId"/>
        <result column="trolley_code" property="trolleyCode"/>
        <result column="busi_id" property="busiId"/>
        <result column="distribute_type" property="distributeType"/>
        <result column="waybill_Sign" property="waybillSign"/>
        <result column="distribute_store_name" property="distributeStoreName"/>
        <result column="busi_name" property="busiName"/>
        <result column="cky2" property="cky2"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insertOnDuplicate" parameterType="CWaybillExtend" >
        insert into ${tableName} (
        org_id,
        waybill_code,
        site_code,
        road_code,
        site_name,
        payment_type,
        waybill_type,
        send_pay,
        weight,
        quantity,
        address,
        address_encrypt,
        pop_sup_id,
        pop_sup_name,
        create_time,
        update_time,
        cky2,
        transfer_station_id,
        cross_code,
        trolley_code,
        distribute_store_id,
        busi_id,
        distribute_type,
        waybill_Sign,
        distribute_store_name,
        busi_name,
        good_volume,
        province_id,
        province_name,
        city_id,
        city_name,
        country_id,
        country_name,
        town_id,
        town_name,
        vendor_id,
        receiver_zipcode,
        important_hint,
        rel_waybill_code,
        waybill_state,
        new_rec_addr,
        busi_order_code,
        source_code,
        user_level,
        spare_column1,
        flag_info
        <if test="freight != null">
            ,freight
        </if>
        )
        values(
        #{orgId,jdbcType=INTEGER},
        #{waybillCode,jdbcType=VARCHAR},
        #{siteCode,jdbcType=INTEGER},
        #{roadCode,jdbcType=VARCHAR},
        #{siteName,jdbcType=VARCHAR},
        #{paymentType,jdbcType=INTEGER},
        #{waybillType,jdbcType=INTEGER},
        #{sendPay,jdbcType=VARCHAR},
        #{weight,jdbcType=DOUBLE},
        #{quantity,jdbcType=INTEGER},
        #{address,typeHandler=com.jd.security.aces.mybatis.handle.AcesPlainTextHandle},
        #{address,typeHandler=com.jd.security.aces.mybatis.handle.AcesCipherTextHandle},
        #{popSupId,jdbcType=INTEGER},
        #{popSupName,jdbcType=VARCHAR},
        now(),
        now(),
        #{cky2,jdbcType=INTEGER},
        #{transferStationId,jdbcType=INTEGER},
        #{crossCode,jdbcType=VARCHAR},
        #{trolleyCode,jdbcType=VARCHAR},
        #{distributeStoreId,jdbcType=INTEGER},
        #{busiId,jdbcType=INTEGER},
        #{distributeType,jdbcType=INTEGER},
        #{waybillSign,jdbcType=VARCHAR},
        #{distributeStoreName,jdbcType=VARCHAR},
        #{busiName,jdbcType=VARCHAR},
        #{volume,jdbcType=DOUBLE},
        #{provinceId,jdbcType=INTEGER},
        #{provinceName,jdbcType=VARCHAR},
        #{cityId,jdbcType=INTEGER},
        #{cityName,jdbcType=VARCHAR},
        #{countryId,jdbcType=INTEGER},
        #{countryName,jdbcType=VARCHAR},
        #{townId,jdbcType=INTEGER},
        #{townName,jdbcType=VARCHAR},
        #{vendorId,jdbcType=INTEGER},
        #{receiverZipCode,jdbcType=VARCHAR},
        #{importantHint,jdbcType=VARCHAR},
        #{relWaybillCode,jdbcType=VARCHAR},
        #{waybillState,jdbcType=INTEGER},
        #{newRecAddr,jdbcType=VARCHAR},
        #{busiOrderCode,jdbcType=VARCHAR},
        #{sourceCode,jdbcType=VARCHAR},
        #{userLevel,jdbcType=INTEGER},
        #{spareColumn1,jdbcType=VARCHAR},
        #{flagInfo,jdbcType=VARCHAR}
        <if test="freight != null">
            ,#{freight,jdbcType=VARCHAR}
        </if>)
        ON DUPLICATE KEY UPDATE
        org_id = #{orgId,jdbcType=INTEGER},
        <if test="siteCode != null">
            site_code = #{siteCode,jdbcType=INTEGER},
        </if>
        <if test="roadCode != null">
            road_code = #{roadCode,jdbcType=VARCHAR},
        </if>
        <if test="siteName != null">
            site_name = #{siteName,jdbcType=VARCHAR},
        </if>
        <if test="paymentType != null">
            payment_type = #{paymentType,jdbcType=INTEGER},
        </if>
        <if test="waybillType != null">
            waybill_type = #{waybillType,jdbcType=INTEGER},
        </if>
        <if test="sendPay != null">
            send_pay = #{sendPay,jdbcType=VARCHAR},
        </if>
        <if test="weight != null">
            weight = #{weight,jdbcType=DOUBLE},
        </if>
        <if test="address != null">
            address = #{address,typeHandler=com.jd.security.aces.mybatis.handle.AcesPlainTextHandle},
        </if>
        <if test="address != null">
            address_encrypt = #{address,typeHandler=com.jd.security.aces.mybatis.handle.AcesCipherTextHandle},
        </if>
        <if test="popSupId != null">
            pop_sup_id = #{popSupId,jdbcType=INTEGER},
        </if>
        <if test="popSupName != null">
            pop_sup_name = #{popSupName,jdbcType=VARCHAR},
        </if>
        <if test="quantity != null">
            quantity = #{quantity,jdbcType=DOUBLE},
        </if>
        <if test="cky2 != null">
            cky2 = #{cky2,jdbcType=INTEGER},
        </if>
        <if test="transferStationId != null">
            transfer_station_id = #{transferStationId,jdbcType=INTEGER},
        </if>
        <if test="crossCode != null">
            cross_code = #{crossCode,jdbcType=VARCHAR},
        </if>
        <if test="trolleyCode != null">
            trolley_code = #{trolleyCode,jdbcType=VARCHAR},
        </if>
        <if test="distributeStoreId != null">
            distribute_store_id = #{distributeStoreId,jdbcType=INTEGER},
        </if>
        <if test="busiId != null">
            busi_id = #{busiId,jdbcType=INTEGER},
        </if>
        <if test="distributeType != null">
            distribute_type = #{distributeType,jdbcType=INTEGER},
        </if>
        <if test="waybillSign != null">
            waybill_Sign = #{waybillSign,jdbcType=INTEGER},
        </if>
        <if test="distributeStoreName != null">
            distribute_store_name = #{distributeStoreName,jdbcType=VARCHAR},
        </if>
        <if test="busiName != null">
            busi_name = #{busiName,jdbcType=VARCHAR},
        </if>
        <if test="volume != null">
            good_volume = #{volume,jdbcType=DOUBLE},
        </if>
        <if test="provinceId != null">
            province_id = #{provinceId,jdbcType=INTEGER},
        </if>
        <if test="provinceName != null">
            province_name = #{provinceName,jdbcType=VARCHAR},
        </if>
        <if test="cityId != null">
            city_id = #{cityId,jdbcType=INTEGER},
        </if>
        <if test="cityName != null">
            city_name = #{cityName,jdbcType=VARCHAR},
        </if>
        <if test="countryId != null">
            country_id = #{countryId,jdbcType=INTEGER},
        </if>
        <if test="countryName != null">
            country_name = #{countryName,jdbcType=VARCHAR},
        </if>
        <if test="townId != null">
            town_id = #{townId,jdbcType=INTEGER},
        </if>
        <if test="townName != null">
            town_name = #{townName,jdbcType=VARCHAR},
        </if>
        <if test="receiverTel != null">
            receiver_tel = #{receiverTel,jdbcType=VARCHAR},
        </if>
        <if test="receiverZipCode != null">
            receiver_zipcode = #{receiverZipCode,jdbcType=VARCHAR},
        </if>
        <if test="importantHint != null">
            important_hint = #{importantHint,jdbcType=VARCHAR},
        </if>
        <if test="relWaybillCode != null">
            rel_waybill_code = #{relWaybillCode,jdbcType=VARCHAR},
        </if>
        <if test="waybillState != null">
            waybill_state = #{waybillState,jdbcType=INTEGER},
        </if>
        <if test="newRecAddr != null">
            new_rec_addr = #{newRecAddr,jdbcType=VARCHAR},
        </if>
        <if test="busiOrderCode != null">
            busi_order_code = #{busiOrderCode,jdbcType=VARCHAR},
        </if>
        <if test="sourceCode != null">
            source_code = #{sourceCode,jdbcType=VARCHAR},
        </if>
        <if test="userLevel != null">
            user_level = #{userLevel,jdbcType=INTEGER},
        </if>
        <if test="spareColumn1 != null">
            spare_column1 = #{spareColumn1,jdbcType=VARCHAR},
        </if>
        <if test="flagInfo != null">
            flag_info = #{flagInfo,jdbcType=VARCHAR},
        </if>
        <if test="freight != null">
            freight = #{freight,jdbcType=VARCHAR},
        </if>
        update_time = now()
    </insert>

    <insert id="batchInsertOnDuplicate" parameterType="java.util.Map" >
        INSERT INTO ${tableName} (
        org_id,
        waybill_code,
        site_code,
        road_code,
        site_name,
        payment_type,
        waybill_type,
        send_pay,
        weight,
        quantity,
        address,
        address_encrypt,
        pop_sup_id,
        pop_sup_name,
        create_time,
        update_time,
        cky2,
        transfer_station_id,
        cross_code,
        trolley_code,
        distribute_store_id,
        busi_id,
        distribute_type,
        waybill_sign,
        distribute_store_name,
        busi_name,
        good_volume,
        province_id,
        province_name,
        city_id,
        city_name,
        country_id,
        country_name,
        town_id,
        town_name,
        vendor_id,
        receiver_zipcode,
        important_hint,
        rel_waybill_code,
        waybill_state,
        new_rec_addr,
        busi_order_code,
        source_code,
        user_level,
        spare_column1,
        flag_info,
        freight)
        VALUES
        <foreach item="item" collection="list" index="index" separator=",">
            (
            #{item.orgId,jdbcType=INTEGER},
            #{item.waybillCode,jdbcType=VARCHAR},
            #{item.siteCode,jdbcType=INTEGER},
            #{item.roadCode,jdbcType=VARCHAR},
            #{item.siteName,jdbcType=VARCHAR},
            #{item.paymentType,jdbcType=INTEGER},
            #{item.waybillType,jdbcType=INTEGER},
            #{item.sendPay,jdbcType=VARCHAR},
            #{item.weight,jdbcType=DOUBLE},
            #{item.quantity,jdbcType=INTEGER},
            #{item.address,typeHandler=com.jd.security.aces.mybatis.handle.AcesPlainTextHandle},
            #{item.address,typeHandler=com.jd.security.aces.mybatis.handle.AcesCipherTextHandle},
            #{item.popSupId,jdbcType=INTEGER},
            #{item.popSupName,jdbcType=VARCHAR},
            now(),
            now(),
            #{item.cky2,jdbcType=INTEGER},
            #{item.transferStationId,jdbcType=INTEGER},
            #{item.crossCode,jdbcType=VARCHAR},
            #{item.trolleyCode,jdbcType=VARCHAR},
            #{item.distributeStoreId,jdbcType=INTEGER},
            #{item.busiId,jdbcType=INTEGER},
            #{item.distributeType,jdbcType=INTEGER},
            #{item.waybillSign,jdbcType=VARCHAR},
            #{item.distributeStoreName,jdbcType=VARCHAR},
            #{item.busiName,jdbcType=VARCHAR},
            #{item.volume,jdbcType=DOUBLE},
            #{item.provinceId,jdbcType=INTEGER},
            #{item.provinceName,jdbcType=VARCHAR},
            #{item.cityId,jdbcType=INTEGER},
            #{item.cityName,jdbcType=VARCHAR},
            #{item.countryId,jdbcType=INTEGER},
            #{item.countryName,jdbcType=VARCHAR},
            #{item.townId,jdbcType=INTEGER},
            #{item.townName,jdbcType=VARCHAR},
            #{item.vendorId,jdbcType=INTEGER},
            #{item.receiverZipCode,jdbcType=VARCHAR},
            #{item.importantHint,jdbcType=VARCHAR},
            #{item.relWaybillCode,jdbcType=VARCHAR},
            #{item.waybillState,jdbcType=INTEGER},
            #{item.newRecAddr,jdbcType=VARCHAR},
            #{item.busiOrderCode,jdbcType=VARCHAR},
            #{item.sourceCode,jdbcType=VARCHAR},
            #{item.userLevel,jdbcType=INTEGER},
            #{item.spareColumn1,jdbcType=VARCHAR},
            #{item.flagInfo,jdbcType=VARCHAR},
            #{item.freight,jdbcType=VARCHAR})
        </foreach>
        ON DUPLICATE KEY UPDATE
        org_id = VALUES(org_id),
        site_code = VALUES(site_code),
        road_code = VALUES(road_code),
        site_name = VALUES(site_name),
        payment_type = VALUES(payment_type),
        waybill_type = VALUES(waybill_type),
        send_pay = VALUES(send_pay),
        weight = VALUES(weight),
        address = #{item.address,typeHandler=com.jd.security.aces.mybatis.handle.AcesPlainTextHandle},
        address_encrypt = #{item.address,typeHandler=com.jd.security.aces.mybatis.handle.AcesCipherTextHandle},
        pop_sup_id = VALUES(pop_sup_id),
        pop_sup_name = VALUES(pop_sup_name),
        quantity = VALUES(quantity),
        cky2 = VALUES(cky2),
        transfer_station_id = VALUES(transfer_station_id),
        cross_code = VALUES(cross_code),
        trolley_code = VALUES(trolley_code),
        distribute_store_id = VALUES(distribute_store_id),
        busi_id = VALUES(busi_id),
        distribute_type = VALUES(distribute_type),
        waybill_sign = VALUES(waybill_sign),
        distribute_store_name = VALUES(distribute_store_name),
        busi_name = VALUES(busi_name),
        good_volume = VALUES(good_volume),
        province_id = VALUES(province_id),
        province_name = VALUES(province_name),
        city_id = VALUES(city_id),
        city_name = VALUES(city_name),
        country_id = VALUES(country_id),
        country_name = VALUES(country_name),
        town_id = VALUES(town_id),
        town_name = VALUES(town_name),
        receiver_tel = VALUES(receiver_tel),
        receiver_zipcode = VALUES(receiver_zipcode),
        important_hint = VALUES(important_hint),
        rel_waybill_code = VALUES(rel_waybill_code),
        waybill_state = VALUES(waybill_state),
        new_rec_addr = VALUES(new_rec_addr),
        busi_order_code = VALUES(busi_order_code),
        source_code = VALUES(source_code),
        user_level = VALUES(user_level),
        spare_column1 = VALUES(spare_column1),
        flag_info = VALUES(flag_info),
        freight = VALUES(freight),
        update_time = now()
    </insert>

    <select id="get" resultMap="CWaybillExtend" parameterType="CWaybillExtend">
        select waybill_code,cky2,site_code from ${tableName} where waybill_code = #{waybillCode} limit 1
    </select>

    <select id = "getWeightByWaybillCode" resultMap="CWaybillExtend" parameterType="java.util.Map">
        select waybill_code,weight from ${tableName} where waybill_code = #{waybillCode} limit 1
    </select>

    <select id = "getRouterByWaybillCode" resultType="String" parameterType="java.util.Map">
        select router from ${tableName} where waybill_code = #{waybillCode} limit 1
    </select>
    <select id="getLocalWaybillByWaybillCode" resultMap="waybillMap" parameterType="java.util.Map">
        SELECT
        org_id, waybill_code, pop_sup_id, pop_sup_name, site_code,
        site_name, payment_type, send_pay, weight,good_volume, quantity, address,
        waybill_type, transfer_station_id, cross_code
        , distribute_store_id, trolley_code, busi_id,cky2,
        distribute_type,road_code,waybill_Sign,distribute_store_name,busi_name,freight
        FROM ${tableName}
        WHERE waybill_code = #{waybillCode}
        LIMIT 1
    </select>
    <update id="updateQuantity" parameterType="java.util.Map">
        UPDATE ${tableName} SET quantity = #{quantity,jdbcType=INTEGER} WHERE waybill_code = #{waybillCode},update_time = now()
    </update>
</mapper>
