<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.bluedragon.distribution.send.dao.SendDatailDao">
	<resultMap id="SendDetail" type="SendDetail">
		<id column="send_d_id"  property="sendDId" />
		<result column="send_code"  property="sendCode" />
		<result column="box_code"  property="boxCode" />
		<result column="package_barcode"  property="packageBarcode" />
		<result column="package_num"  property="packageNum" />
		<result column="waybill_code"  property="waybillCode" />
		<result column="pickup_code"  property="pickupCode" />
		<result column="create_site_code"  property="createSiteCode" />
		<result column="receive_site_code"  property="receiveSiteCode" />
		<result column="send_type" property="sendType" />
		<result column="create_time" property="createTime" />
		<result column="operate_time"  property="operateTime" />
		<result column="create_user"  property="createUser" />
		<result column="create_user_code"  property="createUserCode" />
		<result column="sendd_status"  property="status" />
		<result column="weight"  property="weight" />
		<result column="is_cancel"  property="isCancel" />
		<result column="update_time"  property="updateTime" />
		<result column="excute_count" property="excuteCount" />
		<result column="excute_time" property="excuteTime" />
		<result column="yn"  property="yn" />
		<result column="spare_reason"  property="spareReason" />
		<result column="is_loss" property="isLoss"/>
		<result column="feature_type" property="featureType"/>
		<result column="biz_source" property="bizSource"/>
	</resultMap>
	
	<resultMap id="SendDetailList" type="java.lang.String" />

	<resultMap id="WaybillNoCollectionInfo" type="com.jd.bluedragon.distribution.waybill.domain.WaybillNoCollectionInfo">
		<result column="waybill_code"  property="waybillCode" />
		<result column="package_barcode"  property="packageCodeSomeone" />
		<result column="package_num"  property="packageNum" />
		<result column="scan_count"  property="scanCount" />
	</resultMap>

  	<insert id="add" parameterType="SendDetail" >
  		<!--<selectKey resultType="long"  keyProperty="sendDId" order="BEFORE" statementType="PREPARED">      
			<![CDATA[select dms_core_send_d.nextval]]>
	    </selectKey>-->
  	
	    INSERT INTO Send_d (
	    	send_d_id, send_code, box_code, package_barcode, package_num, waybill_code,pickup_code, send_type,
			create_site_code, receive_site_code, create_user, create_user_code,create_time, operate_time, update_time,
			sendd_status, is_cancel,excute_count, excute_time,  weight, yn, spare_reason, is_loss, feature_type)
	    VALUES (
	    	#{sendDId,jdbcType=BIGINT}, #{sendCode,jdbcType=VARCHAR}, #{boxCode,jdbcType=VARCHAR},
		    #{packageBarcode,jdbcType=VARCHAR}, #{packageNum,jdbcType=INTEGER}, #{waybillCode,jdbcType=VARCHAR},
			#{pickupCode,jdbcType=VARCHAR}, #{sendType,jdbcType=INTEGER},
			#{createSiteCode,jdbcType=INTEGER}, #{receiveSiteCode,jdbcType=INTEGER},
			#{createUser,jdbcType=VARCHAR}, #{createUserCode,jdbcType=INTEGER},
			NOW(),
			#{operateTime,jdbcType=TIMESTAMP}, NOW(),
			 0, #{isCancel,jdbcType=INTEGER}, 0, NOW(),-1, 1, #{spareReason,jdbcType=VARCHAR}, #{isLoss,jdbcType=INTEGER}, #{featureType,jdbcType=INTEGER})
    </insert>
	
	<update id="update" parameterType="SendDetail" >
		UPDATE Send_d
		<set>
			<if test="sendCode != null">
				send_code = #{sendCode,jdbcType=VARCHAR},
			</if>
		    <if test="boxCode!= null">
				box_code = #{boxCode,jdbcType=VARCHAR},
			</if>
			<if test="packageBarcode != null">
				package_barcode = #{packageBarcode,jdbcType=VARCHAR},
			</if>
			<if test="waybillCode != null">
				waybill_code = #{waybillCode,jdbcType=VARCHAR},
			</if>
			<if test="pickupCode != null">
				pickup_code = #{pickupCode,jdbcType=VARCHAR},
			</if>
			<if test="sendType != null">
				send_type = #{sendType,jdbcType=SMALLINT},
			</if>
			<!--<if test="createSiteCode != null">-->
				<!--create_site_code = #{createSiteCode,jdbcType=INTEGER},-->
			<!--</if>-->
			<if test="receiveSiteCode != null">
				receive_site_code = #{receiveSiteCode,jdbcType=INTEGER},
			</if>
			is_cancel = #{isCancel,jdbcType=INTEGER},
			<if test="status != null">
				sendd_status = #{status,jdbcType=TINYINT},
			</if>
			<if test="spareReason != null">
				spare_reason = #{spareReason,jdbcType=VARCHAR},
			</if>
			<if test="excuteCount != null">
				excute_count = #{excuteCount,jdbcType=INTEGER},
			</if>
			<if test="excuteTime != null">
				excute_time = #{excuteTime,jdbcType=TIMESTAMP},
			</if>
			update_time = #{operateTime,jdbcType=TIMESTAMP},
			is_loss = #{isLoss,jdbcType=INTEGER},
			feature_type = #{featureType,jdbcType=INTEGER}
		</set>
		<where>
		    yn = 1
			AND box_code = #{boxCode,jdbcType=VARCHAR}
		    AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
			AND receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			<if test="packageBarcode!=null">
				and package_barcode = #{packageBarcode,jdbcType=INTEGER}
			</if>
		</where>
    </update>
    
	<update id="updateCancelStasus" parameterType="SendDetail"  timeout="3">
		UPDATE Send_d
		SET
			is_cancel = 0,
			sendd_status = 0,
			update_time = NOW(),
			excute_count = 0,
			excute_time = NOW()
		where
		    yn = 1 AND is_cancel=2 AND box_code = #{boxCode,jdbcType=VARCHAR}
		    AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
			AND receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
    </update>
    
    <update id="updateCancelBatch" parameterType="SendDetail"  timeout="3">
		UPDATE Send_d
		SET
			is_cancel = 0,
			sendd_status = 0,
			update_time = NOW(),
			excute_count = 0,
			excute_time = NOW()
		where
		    yn = 1 AND box_code in
        <foreach collection="boxCodeList" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
		    AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
			AND receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
    </update>
    
	<update id="canCancel" parameterType="SendDetail">
		UPDATE Send_d 
		SET is_cancel = 1, update_time = NOW()
		WHERE yn=1 AND is_cancel IN (0,2) AND create_site_code = #{createSiteCode,jdbcType=INTEGER} 
			AND send_type = #{sendType,jdbcType=INTEGER}
		<if test="packageBarcode != null">
			AND package_barcode = #{packageBarcode,jdbcType=VARCHAR}
		</if>
		<if test="waybillCode != null">
			AND waybill_code = #{waybillCode,jdbcType=VARCHAR}
		</if>
		<if test=" null!=boxCode and ''!=boxCode ">
			AND box_code = #{boxCode,jdbcType=VARCHAR}
		</if>
		<if test=" null!=receiveSiteCode and ''!=receiveSiteCode ">
			AND receive_site_code = #{receiveSiteCode,jdbcType=VARCHAR}
		</if>
	</update>

	<update id="canCancel2" parameterType="SendDetail">
		UPDATE Send_d
		SET is_cancel = 1, update_time = NOW()
		WHERE yn=1 AND is_cancel IN (0,2) AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
		<if test="packageBarcode != null">
			AND package_barcode = #{packageBarcode,jdbcType=VARCHAR}
		</if>
		<if test="waybillCode != null">
			AND waybill_code = #{waybillCode,jdbcType=VARCHAR}
		</if>
		<if test=" null!=boxCode and ''!=boxCode ">
			AND box_code = #{boxCode,jdbcType=VARCHAR}
		</if>
		<if test=" null!=receiveSiteCode and ''!=receiveSiteCode ">
			AND receive_site_code = #{receiveSiteCode,jdbcType=VARCHAR}
		</if>
	</update>

	<update id="canCancelFuzzy" parameterType="SendDetail">
		UPDATE Send_d 
		SET is_cancel = 1, update_time = NOW()
		WHERE yn=1 AND is_cancel IN (0,2) AND create_site_code = #{createSiteCode,jdbcType=INTEGER} 
			AND send_type = #{sendType,jdbcType=INTEGER}
			AND package_barcode like #{packageBarcode}
		<if test="waybillCode != null">
			AND waybill_code = #{waybillCode,jdbcType=VARCHAR}
		</if>
		<if test=" null!=boxCode and ''!=boxCode ">
			AND box_code = #{boxCode,jdbcType=VARCHAR}
		</if>
		<if test=" null!=receiveSiteCode and ''!=receiveSiteCode ">
			AND receive_site_code = #{receiveSiteCode,jdbcType=VARCHAR}
		</if>
	</update>
	
	<update id="cancelDelivery" parameterType="SendDetail">
		UPDATE send_d SET yn=0 
		WHERE send_code  = #{sendCode, jdbcType=VARCHAR}
		    AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
			AND waybill_code  = #{waybillCode, jdbcType=VARCHAR}
			AND send_type = 20
			AND yn=1 
	</update>

	<sql id="Base_Column_List">
   	send_d_id,
	send_code,
	box_code,
	package_barcode,
	package_num,
	waybill_code,
	pickup_code,
	send_type,
	create_site_code,
	receive_site_code,
	create_time,
	operate_time,
	create_user,
	create_user_code,
	sendd_status,
	is_cancel,
	weight,
	update_time,
	yn,
	spare_reason,
	is_loss,
	feature_type,
	biz_source
   </sql>
  
	<select id="querySendDatailsByBoxCode" parameterType="SendDetail"
		resultMap="SendDetail">
		SELECT 
		<include refid="Base_Column_List" />
		FROM send_d where yn=1 and is_cancel=0  and box_code=#{boxCode,jdbcType=VARCHAR}
        <if test="createSiteCode != null">
            and create_site_code = #{createSiteCode,jdbcType=INTEGER}
        </if>
	</select>
	
	<select id="querySendDatailsByPackageCode" parameterType="SendDetail"
		resultMap="SendDetail">
		SELECT 
		<include refid="Base_Column_List" />
		FROM send_d where yn=1 and is_cancel=0 and receive_site_code=#{receiveSiteCode,jdbcType=INTEGER} and box_code=#{boxCode,jdbcType=VARCHAR}
        <if test="createSiteCode != null">
            and create_site_code = #{createSiteCode,jdbcType=INTEGER}
        </if>
	</select>

    <select id="queryBySiteCodeAndSendCode" parameterType="SendDetail" resultMap="SendDetail">
        SELECT
        <include refid="Base_Column_List" />
        FROM send_d where yn=1 and
        send_code=#{sendCode,jdbcType=VARCHAR}
        <if test = "null!=createSiteCode">
            and create_site_code=#{createSiteCode,jdbcType=INTEGER}
        </if>
    </select>

    <sql id="page_Condition_Sql">
         where yn=1 and
		send_code=#{sendCode,jdbcType=VARCHAR}
		and create_site_code=#{createSiteCode,jdbcType=INTEGER}
    </sql>

    <select id="queryCountBySiteCodeAndSendCode" resultType="Integer">
        SELECT
        count(*)
        FROM send_d
        <include refid="page_Condition_Sql"/>
    </select>

    <select id="queryPageBySiteCodeAndSendCode" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultMap="SendDetail">
        SELECT
        <include refid="Base_Column_List" />
        FROM send_d
        <include refid="page_Condition_Sql"/>
        limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
    </select>
	
	<select id="findSendDetails" parameterType="SendDetail" resultMap="SendDetail">
		SELECT sm.send_code, sd.box_code, sd.package_barcode, sd.package_num, sd.waybill_code,
	        sd.send_type, sd.create_site_code, sd.receive_site_code, sd.operate_time, sd.create_user,
	        sd.create_user_code, sd.is_loss, sd.feature_type
	    FROM send_d sd 
	        INNER JOIN send_m sm ON sd.box_code = sm.box_code
	    WHERE sm.send_code  = #{sendCode,jdbcType=VARCHAR}
        <if test = "null!=createSiteCode">
            and sm.create_site_code=#{createSiteCode,jdbcType=INTEGER}
        </if>
	        AND sd.yn = 1 AND sd.is_cancel = 0
	</select>
	
	<select id="queryOneSendDatailByBoxCode" parameterType="java.lang.String"
		resultMap="SendDetail">
		SELECT 
		<include refid="Base_Column_List" />
		FROM send_d where yn=1 and box_code=#{boxCode,jdbcType=VARCHAR} LIMIT 1
	</select>
	
	<select id="queryOneSendDatailBySendM" parameterType="SendDetail"
		resultMap="SendDetail">
		SELECT
		<include refid="Base_Column_List" />
		FROM send_d
		<where>
		    yn=1
			<if test="createSiteCode!=null">
				and create_site_code = #{createSiteCode,jdbcType=INTEGER}
			</if>
			<if test="receiveSiteCode!=null">
				and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			</if>
			<if test="boxCode!=null">
				and box_code = #{boxCode,jdbcType=VARCHAR}
			</if>
			LIMIT 1
		</where>
	</select>

	<select id="querySendDatailsBySelective" parameterType="SendDetail"
		resultMap="SendDetail">
		SELECT 
		<include refid="Base_Column_List" />
		FROM send_d 
		<where>
		    yn=1
		    
			<if test="createSiteCode!=null">
				and create_site_code = #{createSiteCode,jdbcType=INTEGER}
			</if>
			<if test="receiveSiteCode!=null">
				and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			</if>
			<if test="sendCode!=null">
				and send_code = #{sendCode,jdbcType=VARCHAR}
			</if>
			<if test="boxCode!=null">
				and box_code = #{boxCode,jdbcType=VARCHAR}
			</if>
			<if test="packageBarcode!=null">
				and package_barcode = #{packageBarcode,jdbcType=VARCHAR}
			</if>
			<if test="waybillCode!=null">
				and waybill_code = #{waybillCode,jdbcType=VARCHAR}
			</if>
			<if test="sendType!=null">
				and send_type = #{sendType,jdbcType=INTEGER}
			</if>
			<if test="isCancel == 0">
				and is_cancel = 0
			</if>
			<if test="isCancel == 1">
				and is_cancel != 1
			</if>
		</where>
	</select>
    
     <select id="findUpdatewaybillCodeMessage" resultMap="SendDetail" parameterType="java.util.Map">
		<![CDATA[SELECT 
		sed.send_d_id, sem.send_code, sed.box_code, sed.package_barcode,sed.pickup_code, sed.waybill_code, 
		sem.send_type,sem.create_site_code, 
        sem.receive_site_code, sem.operate_time,sem.update_time, sem.create_user, sed.is_cancel,sem.create_user_code,sem.yn
		From send_d  sed  
		Inner Join send_m sem  On sed.box_code = sem.box_code 
        and sed.receive_site_code= sem.receive_site_code
		and sed.create_site_code= sem.create_site_code
		where sed.sendd_status=0
		and sem.create_Time <= timestampadd(minute, -10, now())
		and sed.create_Time >=  timestampadd(DAY, -2, now())
		LIMIT 500
		]]>
	</select>
	
    <update id="updateWeight" parameterType="SendDetail">
		update send_d set weight = #{weight,jdbcType=TINYINT}
		where send_d_id = #{sendDId,jdbcType=BIGINT} and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		and package_barcode = #{packageBarcode,jdbcType=VARCHAR}
	</update>
	
	<update id="UpdatewaybillCodeStatus" parameterType="SendDetail" timeout="5">
		update send_d
		<set>
			<if test="sendCode != null">
				send_code = #{sendCode,jdbcType=VARCHAR},
			</if>
			<if test="sendType != null">
				send_type = #{sendType,jdbcType=SMALLINT},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createUserCode != null">
				create_user_code = #{createUserCode,jdbcType=INTEGER},
			</if>
			<if test="operateTime != null">
				operate_time = #{operateTime,jdbcType=TIMESTAMP},
			</if>
				update_time = NOW(),
			<if test="status != null">
				sendd_status = #{status,jdbcType=TINYINT},
			</if>
			<if test="status==1 and isCancel==0 and sendType==30">
				toFa_status = 1,
			</if>
			excute_count = (excute_count + 1) 
			<if test="status == 0">
				, excute_time = timestampadd(minute, 15, excute_time)
			</if>
			<if test="bizSource != null">
				, biz_source = #{bizSource,jdbcType=TINYINT}
			</if>
		</set>
		where package_barcode = #{packageBarcode,jdbcType=VARCHAR} 
		and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
		and is_cancel in(0,2) 
		<if test="boxCode!=null">
				and box_code = #{boxCode,jdbcType=VARCHAR}
		</if>
	</update>
	
	<update id="updateSendStatusByPackage" parameterType="SendDetail" timeout="5">
		update send_d
		<set>
			<if test="sendCode != null">
				send_code = #{sendCode,jdbcType=VARCHAR},
			</if>
			<if test="sendType != null">
				send_type = #{sendType,jdbcType=SMALLINT},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createUserCode != null">
				create_user_code = #{createUserCode,jdbcType=INTEGER},
			</if>
			<if test="operateTime != null">
				operate_time = #{operateTime,jdbcType=TIMESTAMP},
			</if>
				update_time = NOW(),
			<if test="status != null">
				sendd_status = #{status,jdbcType=TINYINT},
			</if>
			excute_count = (excute_count + 1) 
			<if test="status == 0">
				, excute_time = excute_time = timestampadd(minute, 15, excute_time) 
			</if>
			<if test="bizSource != null">
				, biz_source = #{bizSource,jdbcType=TINYINT}
			</if>
		</set>
		where package_barcode = #{packageBarcode,jdbcType=VARCHAR} 
		and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
		<if test="boxCode!=null">
				and box_code = #{boxCode,jdbcType=VARCHAR}
		</if>
	</update>
	
    <select id="findsendDeliveryMessageTotms" resultMap="SendDetail">
		<![CDATA[SELECT
		sed.send_d_id, sem.send_code, sed.box_code, sed.package_barcode, sed.waybill_code,
		sem.send_type,sem.create_site_code,
        sem.receive_site_code, sem.operate_time, sem.create_user, sed.is_cancel,sem.create_user_code
		From send_d  sed
		Inner Join send_m sem  On sed.box_code = sem.box_code
		and sed.receive_site_code= sem.receive_site_code
		and sed.create_site_code= sem.create_site_code
		where sed.sendd_status=1 and sed.send_type = 20 and sem.yn=1 and sed.is_cancel=0
		AND sed.excute_count < 5
		AND sed.excute_time < NOW()
		LIMIT 300
		]]>
	</select>

	<update id="UpdateMessageTotmsStatus" parameterType="SendDetail">
		 UPDATE send_d
				SET
				<if test="status != null">
				sendd_status = #{status,jdbcType=TINYINT},
				</if>
				update_time = NOW() ,
				excute_count = (excute_count + 1)
				<if test="status == 1">
					, excute_time = (excute_time + 15/(24*60))
				</if>
				WHERE yn =1 and sendd_status=1 and  send_type = 20
				and waybill_code = #{waybillCode,jdbcType=VARCHAR}
				and create_site_code = #{createSiteCode,jdbcType=INTEGER}
				<if test="receiveSiteCode!=null">
				and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			    </if>
    </update>

    <update id="cancelSendDatail" parameterType="SendDetail" timeout="8">
        UPDATE send_d
				SET sendd_status=0 , is_cancel=2 , update_time = NOW() ,
				excute_count = 0,
			    excute_time = NOW(), send_code=null
		<where>
		    is_cancel=0 
			<if test="createSiteCode!=null">
				and create_site_code = #{createSiteCode,jdbcType=INTEGER}
			</if>
			<if test="receiveSiteCode!=null">
				and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			</if>
			<if test="boxCode!=null">
				and box_code = #{boxCode,jdbcType=VARCHAR}
			</if>
			<if test="packageBarcode!=null">
				and package_barcode = #{packageBarcode,jdbcType=VARCHAR}
			</if>
		</where>
    </update>
    
    <select id="findSendwaybillMessage" resultMap="SendDetail">
		<![CDATA[SELECT
		sed.send_d_id, sem.send_code, sed.box_code, sed.package_barcode, sed.waybill_code,
		sem.send_type,sem.create_site_code,
        sem.receive_site_code, sem.operate_time, sem.create_user, sed.is_cancel,sem.create_user_code
		From send_d  sed
		Inner Join send_m sem  On sed.box_code = sem.box_code
		and sed.receive_site_code= sem.receive_site_code
		and sed.create_site_code= sem.create_site_code
		where sed.sendd_status=1 and sed.send_type = 10  and sed.is_cancel in (0,2)
		AND sed.excute_count < 5
		AND sed.excute_time < NOW()
		 limit 300]]>
	</select>

	<update id="updateSendDatail" parameterType="SendDetail">
				UPDATE send_d
				SET 
				<if test="status != null">
				sendd_status = #{status,jdbcType=TINYINT},
				</if>
				update_time = NOW() ,
				excute_count = (excute_count + 1) 
				<if test="status == 1">
					, excute_time = excute_time = timestampadd(minute, 15, excute_time) 
				</if>
				WHERE yn =1 and sendd_status=1 and  send_type = 10 
				and  waybill_code = #{waybillCode,jdbcType=VARCHAR}
				and create_site_code = #{createSiteCode,jdbcType=INTEGER}
				<if test="receiveSiteCode!=null">
				and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			    </if>
	 </update>
	 
	<select id="getSendDatailsWithoutMeasures" parameterType="java.util.Map"
		resultMap="SendDetail">
		SELECT
		<include refid="Base_Column_List" />
		FROM send_d where yn=1 and weight = -1 LIMIT 2000
	</select>
	
	<select id="checkSendByPackage" parameterType="SendDetail" resultType="Integer">
		SELECT COUNT(send_d_id)
		FROM send_d
		WHERE is_cancel=0
		AND yn = 1 
		AND send_type = #{sendType,jdbcType=SMALLINT}
		AND receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
		AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
		AND package_barcode = #{packageBarcode,jdbcType=VARCHAR}
		AND box_code = #{boxCode,jdbcType=VARCHAR}
	</select>
	
	<select id="checkSendSendCode" parameterType="SendDetail" resultType="Integer">
		SELECT COUNT(send_d_id)
		FROM send_d
		WHERE is_cancel=0
		AND yn = 1 
		AND send_type = #{sendType,jdbcType=SMALLINT}
		<if test=" ''!=receiveSiteCode and null!=receiveSiteCode ">
			AND receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}		
		</if>
			AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
		<if test=" packageBarcode!=null ">
			AND package_barcode = #{packageBarcode,jdbcType=VARCHAR}
		</if>
		<if test="waybillCode!=null">
			AND waybill_code = #{waybillCode,jdbcType=VARCHAR}
		</if>
		AND send_code IS NOT NULL
		<if test=" null!=boxCode and ''!=boxCode ">
			AND box_code = #{boxCode,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="findOrder" parameterType="SendDetail" resultMap="SendDetail">
		SELECT 
		sed.package_barcode
		From send_d  sed  
		Inner Join send_m sem  On sed.box_code = sem.box_code 
        and sed.receive_site_code= sem.receive_site_code
		And Sed.Create_Site_Code= Sem.Create_Site_Code
		<where>
		    sed.Sendd_Status=0  And (sed.Is_Cancel=0 And Sem.Yn=1)  
		    <if test="operateTime != null">
				and Sem.operate_time >= #{operateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="createSiteCode!=null">
				and Sem.create_site_code = #{createSiteCode,jdbcType=INTEGER}
			</if>
			<if test="receiveSiteCode!=null">
				and Sem.receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			</if>
		</where>
	</select>
	<select id="findDeliveryPackageBySite" parameterType="SendDetail" resultMap="SendDetail">
		SELECT 
		sed.waybill_code,sed.package_barcode
		From send_d  sed  
		Inner Join send_m sem  On sed.box_code = sem.box_code 
        and sed.receive_site_code= sem.receive_site_code
		And Sed.Create_Site_Code= Sem.Create_Site_Code
		<where>
		   sed.Is_Cancel=0 And Sem.Yn=1 AND Sem.send_type=30 
		    <if test="operateTime != null">
				and Sem.operate_time >= #{operateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updateTime != null">
				and Sem.operate_time <![CDATA[<=]]> #{updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="receiveSiteCode!=null">
				and Sem.receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			</if>
		</where>
	</select>
	<select id="findDeliveryPackageByCode" parameterType="SendDetail" resultMap="SendDetail">
		SELECT 
		sed.waybill_code,sed.package_barcode
		From send_d  sed  
		Inner Join send_m sem  On sed.box_code = sem.box_code 
        and sed.receive_site_code= sem.receive_site_code
		And Sed.Create_Site_Code= Sem.Create_Site_Code
		    WHERE  sed.Is_Cancel=0 And Sem.Yn=1  AND Sem.send_type=30 
		    AND sed.waybill_code = #{waybillCode,jdbcType=VARCHAR}
			AND Sem.receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
        <if test="createSiteCode!=null">
            and Sem.create_site_code = #{createSiteCode,jdbcType=INTEGER}
        </if>
	</select>
	
	<select id="querySortingDiff" parameterType="SendDetail" resultMap="SendDetail">
		SELECT 
		<include refid="Base_Column_List" />
		From send_d where 
	 	package_num > 1 and operate_time > (timestampadd(day,-2,NOW()))
		and send_code is null and yn=1 and (is_cancel = 0 or is_cancel=2)
		<if test="createSiteCode!=null">
			and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		</if>
		<if test="receiveSiteCode!=null">
			and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
		</if>
		<if test="boxCode!=null">
			and box_code = #{boxCode,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="queryWithoutPackageNum" parameterType="SendDetail" resultMap="SendDetail">
		SELECT 
		<include refid="Base_Column_List" />
		From send_d where 
		package_num is null and operate_time > (timestampadd(day,-2,NOW()))
		and send_code is null and yn=1  
		<if test="createSiteCode!=null">
			and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		</if>
		<if test="receiveSiteCode!=null">
			and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
		</if>
		<if test="boxCode!=null">
			and box_code = #{boxCode,jdbcType=VARCHAR}
		</if>
		order by operate_time asc
	</select>

	<update id="updatePackageNum" parameterType="SendDetail">
		update send_d set
		package_num = #{packageNum,jdbcType=INTEGER}
		where send_d_id =
		#{sendDId,jdbcType=BIGINT}
	</update>
	<select id="querySendDatailBySendStatus" parameterType="SendDetail"
		resultMap="SendDetail">
		SELECT 
		<include refid="Base_Column_List" />
		FROM send_d 
		<where>
			<if test="createSiteCode!=null">
				and create_site_code = #{createSiteCode,jdbcType=INTEGER}
			</if>
			<if test="receiveSiteCode!=null">
				and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			</if>
			<if test="boxCode!=null">
				and box_code = #{boxCode,jdbcType=VARCHAR}
			</if>
			and is_cancel=0
			and operate_time <![CDATA[<=]]> timestampadd(minute, -2, now()) 
			and sendd_status = 0 
			LIMIT 1
		</where>
	</select>
	<select id="queryBySendCodeAndSendType" parameterType="SendDetail" resultMap="SendDetail">
		SELECT 
		waybill_code 
		FROM send_d where yn=1 and
		send_code=#{sendCode,jdbcType=VARCHAR}
        <if test="createSiteCode!=null">
            and create_site_code = #{createSiteCode,jdbcType=INTEGER}
        </if>
		<if test = "null!=sendType">
			and send_type = #{sendType,jdbcType=SMALLINT}
		</if>
	</select>
	
	
	<select id="batchQuerySendDList" parameterType="SendDetail"
		 resultMap= "SendDetailList">
		SELECT 
		box_code
		FROM send_d 
		<where>
		    yn=1 
			<if test="createSiteCode!=null">
				and create_site_code = #{createSiteCode,jdbcType=INTEGER}
			</if>
			<if test="receiveSiteCode!=null">
				and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			</if>
			<if test="boxCodeList !=null ">
                and box_code in
                <foreach collection="boxCodeList" item="item" index="index" open="(" separator="," close=")">
                    #{item,jdbcType=VARCHAR}
                </foreach>
			</if>
			
		</where>
	</select>


	<!-- 质控系统融合项目 -->
	<select id="queryWaybillsByPackCode" parameterType="java.lang.String" resultMap="SendDetail">
		SELECT waybill_code,package_barcode
		FROM send_d
		WHERE is_cancel=0
		AND yn = 1
		AND package_barcode= #{packCode,jdbcType=VARCHAR}
	</select>
	<select id="queryWaybillsByBoxCode" parameterType="SendDetail" resultMap="SendDetail">
		SELECT waybill_code,package_barcode
		FROM send_d
		WHERE is_cancel=0
		AND yn = 1
		AND box_code = #{boxCode,jdbcType=VARCHAR}
		<if test="createSiteCode!=null">
			and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		</if>
	</select>
    <select id="queryWaybillsBySendCode" parameterType="SendDetail" resultMap="SendDetail">
        SELECT waybill_code,package_barcode
        FROM send_d
        WHERE is_cancel=0
        AND yn = 1
        AND send_code = #{sendCode,jdbcType=VARCHAR}
		<if test="createSiteCode!=null">
			and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		</if>
    </select>

	<select id="querySendDetailBySendCode" parameterType="SendDetail" resultMap="SendDetail">
		SELECT
		<include refid="Base_Column_List" />
		FROM send_d
		WHERE is_cancel=0
		AND yn = 1
		AND send_code = #{sendCode,jdbcType=VARCHAR}
		<if test="createSiteCode!=null">
			and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		</if>
	</select>
	<!-- wzx 2016-12-29 15:10:43 -->
	<select id="queryBoxCodeBySendCode" parameterType="SendDetail" resultMap="SendDetail">
		SELECT waybill_code,package_barcode,box_code
		FROM send_d
		WHERE is_cancel=0
		AND yn = 1
		AND send_code = #{sendCode,jdbcType=VARCHAR}
		<if test="createSiteCode!=null">
			and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		</if>
	</select>
    
    <select id="queryWaybillsByDepartID" parameterType="java.lang.Long" resultMap="SendDetail">
        SELECT sd.waybill_code,sd.package_barcode
        FROM departure_send ds
        INNER JOIN send_d sd
        ON ds.send_code = sd.send_code
        where ds.departure_car_id = #{departureID,jdbcType=BIGINT}
    </select>

	<select id="querySendCodesByDepartID"  parameterType="java.lang.Long" resultType="String">
		select SEND_CODE from DEPARTURE_SEND where departure_car_id=#{departureID]}
	</select>

	<select id="querySendDCountBySendCode" parameterType="SendDetail" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM send_d
		WHERE is_cancel = 0
		AND yn = 1
		AND send_code = #{sendCode,jdbcType=VARCHAR}
		<if test="createSiteCode != null">
			AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
		</if>
	</select>


	<select id="findPackageBoxCodesByWaybillCode" resultMap="SendDetail" parameterType="SendDetail">
		SELECT package_barcode ,box_code
		FROM  send_d
		WHERE yn=1  AND  waybill_code = #{waybillCode,jdbcType=VARCHAR} AND create_site_code = #{createSiteCode,jdbcType=INTEGER} AND is_cancel = 0
	</select>
	<select id="queryListByCondition" parameterType="SendDetail"
		resultMap="SendDetail">
		SELECT *
			FROM send_d
		WHERE 1=1 
		<if test="sendDId != null">
			and send_d_id = #{sendDId}
		</if>
		<if test="sendCode != null">
			and send_code = #{sendCode}
		</if>
		<if test="boxCode != null">
			and box_code = #{boxCode}
		</if>
		<if test="packageBarcode != null">
			and package_barcode = #{packageBarcode}
		</if>
		<if test="waybillCode != null">
			and waybill_code = #{waybillCode}
		</if>				
		<if test="createSiteCode != null">
			and create_site_code = #{createSiteCode}
		</if>	
		<if test="receiveSiteCode != null">
			and receive_site_code = #{receiveSiteCode}
		</if>
		<if test="sendType != null">
			and send_type = #{sendType}
		</if>		
		<if test="yn != null">
			and yn = #{yn}
		</if>		
	</select>

	<select id="findByWaybillCodeOrPackageCode" resultMap="SendDetail" parameterType="SendDetail">
		SELECT waybill_code,package_barcode ,box_code
		FROM  send_d
		WHERE yn=1 AND sendd_status = 1  AND is_cancel = 0
        <if test="packageBarcode != null">
            and package_barcode = #{packageBarcode}
        </if>
        <if test="waybillCode != null">
            and waybill_code = #{waybillCode}
        </if>
        <if test="createSiteCode != null">
            and create_site_code = #{createSiteCode}
        </if>
    </select>

	<select id="findOneByWaybillCode" resultMap="SendDetail" parameterType="SendDetail">
		SELECT *
		FROM  send_d
		WHERE yn=1 AND sendd_status = 1  AND is_cancel = 0
			and waybill_code = #{waybillCode}
			and create_site_code = #{createSiteCode}
		limit 1
	</select>

	<select id="queryOneSendDetailByPackageCode" parameterType="SendDetail"
			resultMap="SendDetail">
		SELECT
		<include refid="Base_Column_List" />
		FROM send_d
		<where>
			create_site_code = #{createSiteCode,jdbcType=INTEGER}
			and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			and package_barcode = #{packageBarcode}
			and is_cancel=0
			order by create_time desc
			LIMIT 1
		</where>
	</select>

	<select id="findPageSendDetail" resultMap="SendDetail" parameterType="map">
		select
		<include refid="Base_Column_List" />
		From send_d
		where yn=1 AND sendd_status = 1  AND is_cancel = 0 and package_barcode = #{packageCode,jdbcType=VARCHAR}
		and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		order by operate_time limit #{startIndex},#{pageSize}
	</select>

	<select id="findLossSortingNoSendCount" parameterType="SendDetail" resultType="Integer">
		select count(1) from send_d where create_site_code = #{createSiteCode,jdbcType=INTEGER}
		and waybill_code = #{waybillCode,jdbcType=VARCHAR}  and yn = 1 and is_cancel = 0 and is_loss = 1 and send_code is null

	</select>

	<select id="queryPackageCode"  parameterType="SendDetail" resultType="String">
		select package_barcode from send_d where waybill_code = #{waybillCode,jdbcType=VARCHAR}
		and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		and send_code = #{sendCode,jdbcType=VARCHAR}
		and yn = 1
		and is_cancel = 0
	</select>

	<select id="getWaybillNoCollectionInfo" parameterType="map" resultMap="WaybillNoCollectionInfo">
		select count(distinct package_barcode) scan_count, waybill_code, package_num, package_barcode from send_d
		where
		yn = 1 and is_cancel = 0
		<if test="sendCode != null">
			and send_code = #{sendCode}
		</if>
		<if test="boxCode != null">
			and box_code = #{boxCode}
		</if>
		and create_site_code = #{createSiteCode, jdbcType=INTEGER}
		and package_num <![CDATA[>]]> 1 group by waybill_code
		having scan_count <![CDATA[<]]> package_num
	</select>

	<select id="getScannedInfoPackageNumMoreThanOne" parameterType="map" resultType="java.lang.String">
		select package_barcode from send_d
		where
		yn = 1 and is_cancel = 0 and package_num <![CDATA[>]]> 1
		<if test="sendCode != null">
			and send_code = #{sendCode}
		</if>
		<if test="boxCode != null">
			and box_code = #{boxCode}
		</if>
		and create_site_code = #{createSiteCode, jdbcType=INTEGER}
		<if test="waybillCodeList != null">
			and waybill_code in
			<foreach collection="waybillCodeList" item="items" index="index" open="("
					 close=")" separator=","> #{items,jdbcType=VARCHAR}
			</foreach>
		</if>
		group by package_barcode


	</select>

	<select id="findSendPageByParams" resultMap="SendDetail">
		SELECT
		<include refid="Base_Column_List"/>
		FROM send_d
		WHERE yn = 1
		AND sendd_status = 1
		AND is_cancel = 0
		AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
		AND receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
		AND send_code IS NOT NULL
		<if test="sendCode != null">
			AND send_code = #{sendCode,jdbcType=VARCHAR}
		</if>
		<if test="boxCode != null">
			AND box_code = #{boxCode,jdbcType=VARCHAR}
		</if>
		<if test="packageBarcode != null">
			AND package_barcode = #{packageBarcode,jdbcType=VARCHAR}
		</if>
		<if test="createUserCode != null">
			AND create_user_code = #{createUserCode,jdbcType=INTEGER}
		</if>
		<if test="startTime != null">
			AND operate_time <![CDATA[>=]]> str_to_date(date_format(#{startTime, jdbcType=TIMESTAMP}, '%Y-%m-%d %H:%i:%s'), '%Y-%m-%d %H:%i:%s')
		</if>
		<if test="endTime != null">
			AND operate_time <![CDATA[<=]]> str_to_date(date_format(#{endTime, jdbcType=TIMESTAMP}, '%Y-%m-%d %H:%i:%s'), '%Y-%m-%d %H:%i:%s')
		</if>
		ORDER BY operate_time DESC limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
	</select>

	<select id="queryWaybillCountBySendCode" parameterType="SendDetail" resultType="com.jd.bluedragon.distribution.printOnline.domain.PrintOnlineWaybillDTO">

		select WAYBILL_CODE as waybillCode,count(1) as packageNum from send_d where is_cancel = 0
		and CREATE_SITE_CODE = #{createSiteCode} and send_code = #{sendCode}
		group by WAYBILL_CODE

	</select>

	<select id="getWaybillCodeBySendCode" parameterType="SendDetail" resultType="String">
		select waybill_code
		from send_d
		where is_cancel = 0
		and yn = 1
		and send_code = #{sendCode,jdbcType=VARCHAR} and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		group by waybill_code
	</select>
</mapper>
