<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.bluedragon.distribution.send.dao.SendDatailReadDao">
	<resultMap id="SendDetail" type="SendDetail">
		<id column="send_d_id"  property="sendDId" />
		<result column="send_code"  property="sendCode" />
		<result column="box_code"  property="boxCode" />
		<result column="package_barcode"  property="packageBarcode" />
		<result column="package_num"  property="packageNum" />
		<result column="waybill_code"  property="waybillCode" />
		<result column="pickup_code"  property="pickupCode" />
		<result column="create_site_code"  property="createSiteCode" />
		<result column="receive_site_code"  property="receiveSiteCode" />
		<result column="send_type" property="sendType" />
		<result column="create_time" property="createTime" />
		<result column="operate_time"  property="operateTime" />
		<result column="create_user"  property="createUser" />
		<result column="create_user_code"  property="createUserCode" />
		<result column="sendd_status"  property="status" />
		<result column="weight"  property="weight" />
		<result column="is_cancel"  property="isCancel" />
		<result column="update_time"  property="updateTime" />
		<result column="excute_count" property="excuteCount" />
		<result column="excute_time" property="excuteTime" />
		<result column="yn"  property="yn" />
		<result column="spare_reason"  property="spareReason" />
		<result column="is_loss" property="isLoss"/>
		<result column="feature_type" property="featureType"/>
	</resultMap>
	
     <select id="findUpdatewaybillCodeMessage" resultMap="SendDetail" parameterType="java.util.Map" >
		<![CDATA[SELECT 
		sed.send_d_id, sem.send_code, sed.box_code, sed.package_barcode,sed.pickup_code, sed.waybill_code, 
		sem.send_type,sem.create_site_code, 
        sem.receive_site_code, sem.operate_time,sem.update_time, sem.create_user, sed.is_cancel,sem.create_user_code,sem.yn
		From send_d  sed  
		Inner Join send_m sem  On sed.box_code = sem.box_code 
        and sed.receive_site_code= sem.receive_site_code
		and sed.create_site_code= sem.create_site_code
		where sed.sendd_status=0
		and sem.create_Time <= timestampadd(minute, -10, now())
		and sed.create_Time >=  timestampadd(DAY, -2, now()) 
		and mod(sed.send_d_id,8) in
        <foreach collection="queueIds" item="item" index="index" open="(" close=")" separator=",">
            #{item, jdbcType=BIGINT}
        </foreach>
		LIMIT 500
		]]>
	</select>
	
	<select id="findWaybillByBoxCode" parameterType="String"
		resultType="String">
		select distinct waybill_code
		from send_d
		where box_code=#{boxCode} and yn=1
        <if test="createSiteCode != null">
            and create_site_code = #{createSiteCode,jdbcType=INTEGER}
        </if>
	</select>

	<select id="getWaybillCodesByBoxCodeAndFetchNum" parameterType="java.util.Map"
			resultType="String">
		select distinct waybill_code
		from send_d
		where box_code=#{boxCode} and yn=1 and is_cancel=0
		<if test="createSiteCode != null">
			and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		</if>
		limit #{fetchNum}
	</select>
	
	<select id="findSendBoxByWaybillCode" parameterType="java.util.Map" resultMap="SendDetail">
		select send_code,box_code,package_barcode,create_site_code,receive_site_code,operate_time,create_time
              from send_d
              where yn = 1 and waybill_code = #{waybillCode}
        <if test="createSiteCode != null">
            and create_site_code = #{createSiteCode,jdbcType=INTEGER}
        </if>
              order by create_time desc
        limit 1 
	</select>

	<select id="findSendByPackageCode" parameterType="java.util.Map" resultMap="SendDetail">
		select send_code,box_code,package_barcode,waybill_code,create_site_code,CREATE_USER ,receive_site_code,operate_time,create_time,SENDD_STATUS,IS_CANCEL,IS_LOSS
		from send_d
		where yn = 1 and package_barcode = #{packageCode,jdbcType=VARCHAR} and create_site_code = #{createSiteCode,jdbcType=INTEGER}
	</select>
	
	<select id="findBySendCode" parameterType="map" resultMap="SendDetail">
		SELECT 
			send_code, box_code, package_barcode, package_num, waybill_code,
			create_site_code, create_time, create_user, create_user_code, weight
		FROM 
		    send_d
		WHERE 
		  	yn = 1 AND send_code IN
		  	<foreach collection="sendCodeList" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		  	AND create_site_code IN
		  	<foreach collection="dmsList" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
	</select>

	<select id="querySendDetail_SELF" parameterType="list" resultMap="SendDetail">
		select
		send_d_id, send_code, box_code, package_barcode, waybill_code,pickup_code, send_type,create_site_code,
		receive_site_code, create_time, create_user, create_user_code, sendd_status,is_cancel, weight, update_time, yn
		from send_d
		where send_code in
		<foreach collection="sendCodeList" item="items" index="index" open="("
				 close=")" separator=",">
			#{items,jdbcType=VARCHAR}
		</foreach> and yn = 1 and send_type = 10
		<if test="dmsList.size()>0">
			and create_site_code in
			<foreach collection="dmsList" item="items" index="index" open="("
					 close=")" separator=",">
				#{items,jdbcType=INTEGER}
			</foreach>
		</if>
	</select>

	<select id="querySendDetail_3PL" parameterType="list" resultMap="SendDetail">
		select
		send_d_id, send_code, box_code, package_barcode, waybill_code,pickup_code, send_type,create_site_code,
		receive_site_code, create_time, create_user, create_user_code, sendd_status,is_cancel, weight, update_time, yn
		from send_d
		where send_code in
		<foreach collection="sendCodeList" item="items" index="index" open="("
				 close=")" separator=",">
			#{items,jdbcType=VARCHAR}
		</foreach> and yn = 1 and send_type = 30
		<if test="dmsList.size()>0">
			and create_site_code in
			<foreach collection="dmsList" item="items" index="index" open="("
					 close=")" separator=",">
				#{items,jdbcType=INTEGER}
			</foreach>
		</if>
	</select>
	<select id="queryBySendCodeAndSiteCode" parameterType="map" resultMap="SendDetail">
		SELECT
		send_d_id,
		send_code,
		box_code,
		package_barcode,
		package_num,
		waybill_code,
		pickup_code,
		create_site_code,
		receive_site_code,
		send_type,
		create_time,
		operate_time,
		create_user,
		create_user_code,
		sendd_status,
		weight,
		is_cancel,
		update_time,
		excute_count,
		excute_time,
		yn,
		spare_reason,
		is_loss,
		feature_type
		FROM
		send_d
		WHERE
		yn = 1 AND send_code = #{sendCode,jdbcType=VARCHAR}
		AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
		AND receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
		<if test="senddStatus !=  null">
			AND sendd_status = #{senddStatus, jdbcType=INTEGER}
		</if>
	</select>

	<select id="querySendDSimpleInfoBySendCode" parameterType="map" resultMap="SendDetail">
		SELECT
		send_code, waybill_code, package_barcode,
		create_site_code,receive_site_code, create_time, create_user, create_user_code
		FROM
		send_d
		WHERE yn = 1 AND send_code = #{sendCode,jdbcType=VARCHAR}
		AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
	</select>
</mapper>