<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.bluedragon.distribution.send.dao.SendMDao">
	<resultMap id="SendM" type="SendM">
		<id column="send_m_id" property="sendMId" />
		<result column="send_code" property="sendCode" />
		<result column="box_code" property="boxCode" />
        <result column="board_code" property="boardCode" />
		<result column="turnoverBox_Code" property="turnoverBoxCode" />
		<result column="send_user" property="sendUser" />
		<result column="send_user_code" property="sendUserCode" />
		<result column="create_site_code" property="createSiteCode" />
		<result column="receive_site_code" property="receiveSiteCode" />
		<result column="car_code" property="carCode" />
		<result column="send_type" property="sendType" />
		<result column="create_user" property="createUser" />
		<result column="create_user_code" property="createUserCode" />
		<result column="create_time" property="createTime" />
		<result column="operate_time" property="operateTime" />
		<result column="update_user_code" property="updateUserCode" />
		<result column="updater_user" property="updaterUser" />
		<result column="sendm_status" property="sendmStatus" />
		<result column="update_time" property="updateTime" />
		<result column="shields_car_id" property="shieldsCarId" />
		<result column="excute_count" property="excuteCount" />
		<result column="excute_time" property="excuteTime" />
		<result column="transport_type" property="transporttype" />
		<result column="biz_source" property="bizSource" />
		<result column="yn" property="yn" />
	</resultMap>
	
	<resultMap id="SendMList" type="java.lang.String">
		
	</resultMap>

	<sql id="Base_Column_List">
	send_m_id,
	send_code,
	send_user,
	send_user_code,
	box_code,
	turnoverBox_Code,
	create_site_code,
	receive_site_code,
	car_code,
	send_type,
	create_user,
	create_user_code,
	create_time,
	operate_time,
	update_user_code,
	updater_user,
	update_time,
	yn,
	shields_car_id,
	transport_type,
	excute_count,
	excute_time,
	board_code,
	biz_source
	</sql>
	
	<select id="selectBySendCode" parameterType="SendM"
		resultMap="SendM">
		select
		<include refid="Base_Column_List" />
		from send_m
		where yn = 1
        <if test = "null!=createSiteCode">
            and create_site_code = #{createSiteCode,jdbcType=INTEGER}
        </if>
        and send_code = #{sendCode,jdbcType=VARCHAR}
		order by operate_time desc LIMIT 1
	</select>
	
	<select id="selectOneBySendCode" parameterType="SendM"
		resultMap="SendM">
		select
		<include refid="Base_Column_List"/>
		from send_m
		where yn = 1
		<if test="null!=createSiteCode">
			and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		</if>
		and send_code = #{sendCode,jdbcType=VARCHAR}
		order by operate_time desc LIMIT 1
	</select>
	
	<select id="selectOneBySiteAndSendCode" parameterType="SendM"
		resultMap="SendM">
		select
		<include refid="Base_Column_List"/>
		from send_m
		where yn = 1 and send_code = #{sendCode,jdbcType=VARCHAR}
		<if test="null!=createSiteCode">
			and create_site_code = #{createSiteCode,jdbcType=INTEGER}
		</if>
		order by operate_time desc LIMIT 1
	</select>
	
	<select id="selectBySiteAndSendCode" parameterType="SendM"
		resultMap="SendM">
		select
		<include refid="Base_Column_List" />
		from send_m
		where yn =1 and send_code= #{sendCode,jdbcType=VARCHAR} and create_site_code = #{createSiteCode,jdbcType=INTEGER}
	</select>
	
	<select id="selectBySiteAndSendCodeBYtime" parameterType="SendM"
		resultMap="SendM">
		select
		<include refid="Base_Column_List" />
		from send_m
		where yn =1 and send_code= #{sendCode,jdbcType=VARCHAR} and create_site_code = #{createSiteCode,jdbcType=INTEGER} 
	</select>
	
	<select id="selectBySendSiteCode" parameterType="SendM" resultMap="SendM">
		select
		<include refid="Base_Column_List" />
		from send_m
		<where>
			yn = 1
		    <if test="createSiteCode!=null">
				and create_site_code = #{createSiteCode,jdbcType=INTEGER}
			</if>
			<if test="receiveSiteCode!=null">
				and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			</if>
			<if test="sendCode!=null">
				and send_code = #{sendCode,jdbcType=VARCHAR}
			</if>
			<if test="boxCode!=null">
				and box_code = #{boxCode,jdbcType=VARCHAR}
			</if>
			<if test="createUserCode!=null">
				and create_user_code = #{createUserCode,jdbcType=INTEGER}
			</if>
			<if test="operateTime!=null">
				and operate_time <![CDATA[>=]]> str_to_date(date_format(#{operateTime, jdbcType=TIMESTAMP}, '%Y-%m-%d %H:%i:%s'), '%Y-%m-%d %H:%i:%s')
			</if>
			<if test="updateTime!=null">
				and operate_time <![CDATA[<=]]> str_to_date(date_format(#{updateTime, jdbcType=TIMESTAMP}, '%Y-%m-%d %H:%i:%s'), '%Y-%m-%d %H:%i:%s')
			</if>
			order by operate_time desc
		</where>
	</select>

	<insert id="insertSendM" parameterType="SendM">
		<!--<selectKey resultType="long"  keyProperty="sendMId" order="BEFORE" statementType="PREPARED">      
			<![CDATA[select dms_core_send_m.nextval]]>
	    </selectKey>-->
		INSERT INTO send_m (
		send_m_id,
		send_code,
		send_user,
		send_user_code,
		box_code,
		turnoverBox_Code,
		create_site_code,
		receive_site_code,
		car_code,
		send_type,
		create_user,
		create_user_code,
		create_time,
		operate_time,
		update_user_code,
		updater_user,
		sendm_status,
		update_time,
		yn,
		shields_car_id,
		excute_count,
		excute_time,
		transport_type,
		board_code,
		biz_source
		)
		VALUES
		(
		#{sendMId,jdbcType=BIGINT},
		#{sendCode,jdbcType=VARCHAR},
		#{sendUser,jdbcType=VARCHAR},
		#{sendUserCode,jdbcType=INTEGER},
		#{boxCode,jdbcType=VARCHAR},
		#{turnoverBoxCode,jdbcType=VARCHAR},
		#{createSiteCode,jdbcType=INTEGER},
		#{receiveSiteCode,jdbcType=INTEGER},
		#{carCode,jdbcType=INTEGER},
		#{sendType,jdbcType=INTEGER},
		#{createUser,jdbcType=VARCHAR},
		#{createUserCode,jdbcType=INTEGER},NOW(),
		#{operateTime,jdbcType=TIMESTAMP},
		#{updateUserCode,jdbcType=INTEGER},
		#{updaterUser,jdbcType=VARCHAR},
		1,
		#{updateTime,jdbcType=TIMESTAMP},
		#{yn,jdbcType=TINYINT},#{shieldsCarId,jdbcType=INTEGER},
		0,
		NOW(),
		#{transporttype,jdbcType=INTEGER},
		#{boardCode,jdbcType=VARCHAR},
		#{bizSource,jdbcType=TINYINT})
	</insert>

	<insert id = "addBatch">
		INSERT INTO send_m (
		send_m_id,
		send_code,
		send_user,
		send_user_code,
		box_code,
		turnoverBox_Code,
		create_site_code,
		receive_site_code,
		car_code,
		send_type,
		create_user,
		create_user_code,
		create_time,
		operate_time,
		update_user_code,
		updater_user,
		sendm_status,
		update_time,
		yn,
		shields_car_id,
		excute_count,
		excute_time,
		transport_type,
		board_code,
		biz_source
		)
		VALUES
		<foreach collection="list" item="sendM" index="index" separator=",">
			(
			#{sendM.sendMId,jdbcType=BIGINT},
			#{sendM.sendCode,jdbcType=VARCHAR},
			#{sendM.sendUser,jdbcType=VARCHAR},
			#{sendM.sendUserCode,jdbcType=INTEGER},
			#{sendM.boxCode,jdbcType=VARCHAR},
			#{sendM.turnoverBoxCode,jdbcType=VARCHAR},
			#{sendM.createSiteCode,jdbcType=INTEGER},
			#{sendM.receiveSiteCode,jdbcType=INTEGER},
			#{sendM.carCode,jdbcType=INTEGER},
			#{sendM.sendType,jdbcType=INTEGER},
			#{sendM.createUser,jdbcType=VARCHAR},
			#{sendM.createUserCode,jdbcType=INTEGER},
			NOW(),
			#{sendM.operateTime,jdbcType=TIMESTAMP},
			#{sendM.updateUserCode,jdbcType=INTEGER},
			#{sendM.updaterUser,jdbcType=VARCHAR},
			1,
			#{sendM.updateTime,jdbcType=TIMESTAMP},
			#{sendM.yn,jdbcType=TINYINT},
			#{sendM.shieldsCarId,jdbcType=INTEGER},
			0,
			NOW(),
			#{sendM.transporttype,jdbcType=INTEGER},
			#{sendM.boardCode,jdbcType=VARCHAR},
			#{sendM.bizSource,jdbcType=TINYINT})
		</foreach>
	</insert>

	<update id="updateBySendCodeSelective" parameterType="SendM" timeout="5">
		update send_m
		<set>
			<if test="sendCode != null">
				send_code = #{sendCode,jdbcType=VARCHAR},
			</if>
			<if test="boxCode != null">
				box_code = #{boxCode,jdbcType=VARCHAR},
			</if>
			<if test="sendUser != null">
				send_user = #{sendUser,jdbcType=VARCHAR},
			</if>
			<if test="sendUserCode != null">
				send_user_code = #{sendUserCode,jdbcType=INTEGER},
			</if>
			<if test="carCode != null">
				car_code = #{carCode,jdbcType=VARCHAR},
			</if>
			<if test="sendType != null">
				send_type = #{sendType,jdbcType=SMALLINT},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createUserCode != null">
				create_user_code = #{createUserCode,jdbcType=INTEGER},
			</if>
			<if test="operateTime != null">
				operate_time = #{operateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserCode != null">
				update_user_code = #{updateUserCode,jdbcType=INTEGER},
			</if>
			<if test="updaterUser != null">
				updater_user = #{updaterUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = NOW(),
			</if>
			<if test="yn != null">
				yn = #{yn,jdbcType=TINYINT},
			</if>
			<if test="shieldsCarId != null">
				shields_car_id = #{shieldsCarId,jdbcType=INTEGER},
			</if>
		</set>
		where send_code = #{sendCode,jdbcType=VARCHAR} and create_site_code = #{createSiteCode,jdbcType=INTEGER}
	</update>

	<update id="batchUpdateForDepartrue" parameterType="SendM">
		update send_m
		<set>
			<if test="planStartTime!=null">
				PLAN_START_TIME = #{planStartTime},
			</if>
			<if test="PLAN_END_TIME!=null ">
				PLAN_END_TIME = #{planEndTime},
			</if>
		</set>
		WHERE WORKSHEET_ID IN
		<foreach item="worksheetId" index="index" collection="idList"
			open="(" close=")" separator=",">
			#{worksheetId}
		</foreach>
	</update>

    <update id="updateSendM" parameterType="list">
				UPDATE send_m
				SET yn=0  , update_time = NOW()
				WHERE yn =1 and send_code in
				<foreach collection="list" item="items" index="index" open="("
					close=")" separator=",">
					#{items.sendCode,jdbcType=VARCHAR}
				</foreach>
	 </update>

	 <select id="findSendMByBoxCode" parameterType="SendM"  resultMap="SendM">
		 select
		 <include refid="Base_Column_List"/>
		 from send_m
		 <where>
			 yn = 1
			 <if test="createSiteCode!=null">
				 and create_site_code = #{createSiteCode,jdbcType=INTEGER}
			 </if>
			 <if test="receiveSiteCode!=null">
				 and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			 </if>
			 <if test="sendType!=null">
				 and send_type = #{sendType,jdbcType=INTEGER}
			 </if>
			 <if test="boxCode!=null">
				 and box_code = #{boxCode,jdbcType=VARCHAR}
			 </if>
			 order by operate_time desc
		 </where>
	 </select>

	<!--取消发货这里不再区分send_type added by zhanglei 20160823-->
	<select id="findSendMByBoxCode2" parameterType="SendM"  resultMap="SendM">
		select
		<include refid="Base_Column_List"/>
		from send_m
		<where>
			yn = 1
			<if test="createSiteCode!=null">
				and create_site_code = #{createSiteCode,jdbcType=INTEGER}
			</if>
			<if test="receiveSiteCode!=null">
				and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			</if>
			<if test="boxCode!=null">
				and box_code = #{boxCode,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	 
	 <update id="cancelSendM" parameterType="SendM">
		update send_m
		<set>
			<if test="updateUserCode != null">
				update_user_code = #{updateUserCode,jdbcType=INTEGER},
			</if>
			<if test="updaterUser != null">
				updater_user = #{updaterUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
				operate_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="yn != null">
				yn = 0,
			</if>
		</set>
		<where>
		    yn=1
			<if test="createSiteCode!=null">
				and create_site_code = #{createSiteCode,jdbcType=INTEGER}
			</if>
			<if test="receiveSiteCode!=null">
				and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			</if>
			<if test="boxCode!=null">
				and box_code = #{boxCode,jdbcType=VARCHAR}
			</if>
		</where>
	</update>

	<select id="findCancel" parameterType="SendM"
		resultMap="SendM">
		select
		<include refid="Base_Column_List" />
		from send_m
		<where>
		yn = 0
		    <if test="createSiteCode!=null">
				and create_site_code = #{createSiteCode,jdbcType=INTEGER}
			</if>
			<if test="receiveSiteCode!=null">
				and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			</if>
			<if test="boxCode!=null">
				and box_code = #{boxCode,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<update id="updatetmstBySendCode" parameterType="SendM">
		update send_m
		set sendm_status = #{sendmStatus,jdbcType=INTEGER}
		<if test="excuteCount != null">
		, excute_count = (excute_count + 1)
		</if>

		<if test="excuteTime != null">
		, excute_time = (excute_time + 15/(24*60))
		</if>
		,update_time = NOW()
		where send_code = #{sendCode,jdbcType=VARCHAR}
	</update>

	<select id="checkSendByBox" parameterType="SendM"  resultType="Integer">
		SELECT COUNT(send_m_id)
		FROM send_m
		WHERE yn = 1 
		AND send_type = #{sendType,jdbcType=SMALLINT}
		AND box_code = #{boxCode,jdbcType=VARCHAR}
		AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
		AND receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
	</select>
	
	<select id="findsendMToReverse" resultMap="SendM">
		SELECT
		<include refid="Base_Column_List"/>
		FROM send_m
		WHERE sendm_status = 0 AND send_type = 20 AND yn = 1
		AND (excute_count <![CDATA[<]]> 4 OR excute_count IS NULL)
		AND (excute_time <![CDATA[<]]> NOW() OR excute_time IS NULL)
		AND operate_time <![CDATA[<=]]> timestampadd(minute,-5,NOW()) LIMIT 100
	</select>

	<select id="querySendCodesByDepartue" parameterType="SendM"
		resultMap="SendM">
		SELECT distinct send_code
		FROM send_m
		WHERE yn = 1 AND SHIELDS_CAR_ID = #{shieldsCarId,jdbcType=INTEGER}
	</select>

	<select id="batchQuerySendMList" parameterType="SendM"
		resultMap="SendMList">
		select
		box_code
		from send_m
		<where>
			yn = 1
			and create_site_code = #{createSiteCode,jdbcType=INTEGER}
			and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			and box_code in
            <foreach collection="boxCodeList" item="item" index="index" open="(" separator="," close=")">
                #{item,jdbcType=VARCHAR}
            </foreach>
		</where>
	</select>
	
	<select id="batchQueryCancelSendMList" parameterType="SendM"
		resultMap="SendMList">
		select
		box_code
		from send_m
		<where>
			yn = 0
			and create_site_code = #{createSiteCode,jdbcType=INTEGER}
			and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			and box_code in
            <foreach collection="boxCodeList" item="item" index="index" open="(" separator="," close=")">
                #{item,jdbcType=VARCHAR}
            </foreach>
		</where>
	</select>

    <select id="selectBoxBySendCode" parameterType="SendM"
            resultType="java.lang.String">
        select
        box_code
        from send_m
        where send_code = #{sendCode,jdbcType=VARCHAR} and yn = 1
        AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
    </select>

    <select id="selectBoxCodeBySendCodeAndCreateSiteCode" parameterType="SendM"
            resultType="java.lang.String">
        select
        box_code
        from send_m
        where send_code = #{sendCode,jdbcType=VARCHAR}
        AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
    </select>

	<select id="queryListByCondition" parameterType="SendM"
		resultMap="SendM">
		SELECT *
		FROM send_m
		WHERE 1 = 1
		<if test="sendMId != null">
			and send_m_id = #{sendMId}
		</if>
		<if test="sendCode != null">
			and send_code = #{sendCode}
		</if>
		<if test="boxCode != null">
			and box_code = #{boxCode}
		</if>
		<if test="createSiteCode != null">
			and create_site_code = #{createSiteCode}
		</if>
		<if test="receiveSiteCode != null">
			and receive_site_code = #{receiveSiteCode}
		</if>
		<if test="sendType != null">
			and send_type = #{sendType}
		</if>
		<if test="yn != null">
			and yn = #{yn}
		</if>
	</select>

	<select id="selectBoxCodeByBoardCodeAndSendCode" parameterType="SendM"
			resultType="java.lang.String">
		select
		box_code
		from send_m
		where yn=1
		AND send_code= #{sendCode,jdbcType=VARCHAR}
		AND board_code=#{boardCode,jdbcType=VARCHAR}
		AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
	</select>


	<select id="checkSendByBoard" parameterType="SendM"  resultType="Integer">
		SELECT COUNT(send_m_id)
		FROM send_m
		WHERE yn = 1
		AND send_type = #{sendType,jdbcType=SMALLINT}
		AND board_code = #{boardCode,jdbcType=VARCHAR}
		AND create_site_code = #{createSiteCode,jdbcType=INTEGER}
	</select>

	<select id="findSendMByBoardCode" parameterType="SendM"  resultMap="SendM">
		select
		<include refid="Base_Column_List" />
		from  send_m
		<where>
			yn=1
			and create_site_code = #{createSiteCode,jdbcType=INTEGER}
			<if test="receiveSiteCode!=null">
				and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
			</if>
			<if test="sendType!=null">
				and send_type = #{sendType,jdbcType=INTEGER}
			</if>
			<if test="boardCode!=null">
				and board_code = #{boardCode,jdbcType=VARCHAR}
			</if>
		</where>
		order by create_time DESC
		limit 1
	</select>

	<select id="selectOneByBoxCode" parameterType="SendM"  resultMap="SendM">
		select
		<include refid="Base_Column_List" />
		from  send_m
		where yn=1
		and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
		and send_type = #{sendType,jdbcType=INTEGER}
		and board_code = #{boardCode,jdbcType=VARCHAR}
		order by create_time DESC
		limit 1
	</select>

	<select id="findAllSendCodesWithStartTime" parameterType="SendM"  resultMap="SendM">
		select
        distinct send_code,receive_site_code
		from  send_m
		where yn=1
		and create_site_code = #{createSiteCode,jdbcType=INTEGER}
        and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
        AND operate_time <![CDATA[>=]]> #{operateTime,jdbcType=TIMESTAMP}

    </select>

</mapper>