<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>分拣计划添加</title>
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpmanage.css')">
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/static/js/plugins/jquery-easyui/themes/default/easyui.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/plugins/jquery-easyui/themes/icon.css')">
    <script type="text/javascript" src="#springUrl('/static/js/jquery-1.8.0.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/jquery-easyui/jquery.easyui.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/DatePicker/WdatePicker.js')"></script>
    <script type="text/javascript"
            src="#springUrl('/static/js/plugins/jquery-easyui/locale/easyui-lang-zh_CN.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/jquery.blockUI.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/json2.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/jquery.form.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/common-client.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/utils.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/page-bar.js')"></script>
    <script type="text/javascript" src="#springUrl("/static/js/sortscheme/sort-scheme-add.js")"></script>
    <style type="text/css">
        #content {
            margin: 0 auto;
        }
        .column_div {
            height: 24px;
            margin-top: 10px;
        }
        .column_title {
            float: left;
            width: 30%;
            text-align: right;
            font-size: 13px;
        }
        .column_text {
            float: right;
            width: 70%;
            text-align: left;
        }
    </style>
</head>
<script type="text/javascript">
</script>
<body>
<input type="hidden" id="contextPath" value="#springUrl('')"/>

<div id="breadcrumb">
    <p>
        <a href="javascript:void(0)">分拣中心</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0)">分拣计划</a>&nbsp;&gt;&nbsp;<a
            href="javascript:void(0)">增加</a>
    </p>
</div>
<div id="content">
    <div id="gantry_add_column_list">
        <div class="column_div">
            <div class="column_title">
                <span>分拣中心：</span>
            </div>
            <div class="column_text">

            </div>
            <select id="siteNo" class="sortscheme_query_select">
                #if($!{siteCode})
                    <option value="$!{siteCode}">$!{siteCode}&nbsp$!{siteName}</option>
                #else
                    <option value="">所有分拣中心</option>
                #end
            </select>
        </div>
        <div class="column_div">
            <div class="column_title">
                <span>分拣机代码：</span>
            </div>
            <div class="column_text">
                <input type="text" id="machineCode" class="sortscheme_query_text"/>
            </div>

        </div>
        <div class="column_div">
            <div class="column_title">
                <span>分拣机方案名称：</span>
            </div>
            <div class="column_text">
                <input type="text" id="name" class="sortscheme_query_text"/>
            </div>
        </div>
        <div class="column_div">
            <div class="column_title">
                <span>分拣模式：</span>
            </div>
            <div class="column_text">
                <select id="sortMode" class="sortscheme_query_select">
                    <option value="1">最近</option>
                    <option value="2">瀑布</option>
                    <option value="3">循环</option>
                </select>
            </div>
        </div>
        <div class="column_div">
            <div class="column_title">
                <span></span>
            </div>
            <div class="column_text" >
                <span><input id="backBtn" value="返回" type="button" class="btn_c"/>
					<input id="addBtn" value="保存" type="button" class="btn_c"/>
				</span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var jaq = jaq || [];
    jaq.push(['account', 'JA2016_112453']);
    jaq.push(['domain', 'dms.etms.jd.com']);
    (function () {
        var ja = document.createElement('script');
        ja.type = 'text/javascript';
        ja.async = true;
        ja.src = '//wl.jd.com/joya.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ja, s);
    })()
</script>
#parse("system/security/watermark.vm")
</body>
</html>
