<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>分拣计划</title>
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpmanage.css')">
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/static/js/plugins/jquery-easyui/themes/default/easyui.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/plugins/jquery-easyui/themes/icon.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/jquery-plugins/jquery-ui-1.10.4.min.css')">
    <script type="text/javascript" src="#springUrl('/static/js/jquery-1.8.0.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/jquery-easyui/jquery.easyui.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/DatePicker/WdatePicker.js')"></script>
    <script type="text/javascript"
            src="#springUrl('/static/js/plugins/jquery-easyui/locale/easyui-lang-zh_CN.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/jquery.blockUI.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/json2.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/jquery.form.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/common-client.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/utils.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/page-bar.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/jquery-plugins/jquery-ui-1.10.4.min.js')"></script>
    <script type="text/javascript" src="#springUrl("/static/js/sortscheme/sort-scheme-detail-index.js")"></script>
    <style type="text/css">
        #content {
            margin: 0 auto;
        }
        .query_lable_1 {
        }
        .query_lable_2 {
            margin-left:10px;
        }
        .query_lable_3 {
            margin-left:10px;
        }
        .query_param_line {
            display: block;
        }
        #pager table {
            width: 80%;
        }
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        * html .ui-autocomplete {
            height: 200px;
        }
    </style>
</head>
<script type="text/javascript">
</script>
<body>
<input type="hidden" id="contextPath" value="#springUrl('')"/>
<div id="breadcrumb">
    <p>
        <a href="javascript:void(0)">分拣中心</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0)">分拣计划明细</a>
    </p>
</div>
<div id="content">
    <div id="query_table">
        <div id="query_param" style="margin-top: 5px;">
            <input type="hidden" id="schemeId" class="query_text" value="$!sortScheme.id"/>
            <div id="query_param_line" style="height: 30px;margin-top: 10px;">
                <span class="query_span_1">
                    <label class="query_lable_1">分拣中心：</label>
                    <input type="text" id="siteName" disabled="disabled" class="query_text" value="$!sortScheme.siteNo"/>
                    <input type="hidden" id="siteNo" class="query_text" value="$!sortScheme.siteNo"/>
                </span>
                <span class="query_span_2">
                    <label class="query_lable_2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分拣机代码：</label>
                    <input type="text" id="machineCode" disabled="disabled" class="query_text" value="$!sortScheme.machineCode"/>
                </span>
                <span class="query_span_3">
                    <label class="query_lable_3" for="tags">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;站点：</label>
                    <input id="boxSiteCode">
                </span>
            </div>
            <div id="query_param_line" style="margin-top: 5px;">
                <span class="query_span_1">
                    <label class="query_lable_1">分拣模式：</label>
                    <input type="hidden" id="sortMode" value="$!sortScheme.sortMode"/>
                    #if($!sortScheme.sortMode == "1")
                        <input type="text" id="sortModeName" disabled="disabled" class="query_text" value="最近"/>
                    #elseif($!sortScheme.sortMode == "2")
                        <input type="text" id="sortModeName" disabled="disabled" class="query_text" value="瀑布"/>
                    #else
                        <input type="text" id="sortModeName" disabled="disabled" class="query_text" value="循环"/>
                    #end
                </span>
                <span class="query_span_2">
                    <label class="query_lable_2">分拣机方案名称：</label>
                    <input type="text" id="name" disabled="disabled" class="query_text" value="$!sortScheme.name"/>
                </span>
                <span class="query_span_3">
                    <label class="query_lable_3" for="tags">物理滑槽：</label>
                    <input id="chuteCode">
                </span>
                <span class="query_span" style="width: 250px;margin-left: 50px;">
                    <input id="queryBtn" value="查询" type="button" class="btn_c">
                </span>
            </div>
        </div>
    </div>
    <div id="list_div" style="margin-top: 5px;">
        <div id="list_table">
            <div class="tbl-list">
                <div class="tbl-bg">
                    <table id="paperTable" cellspacing=0 cellpadding=0 style="width:80%;min-width:1100px;" class="tb-x1">
                        <thead>
                        <tr>
                            <th style="width:40px;">物理滑槽</th>
                            <th style="width:20px;">目的地代码</th>
                            <th style="width:30px;">格口箱号目的地代码</th>
                            <th style="width:30px;">格口箱号目的地名称</th>
                            <th style="width:30px;">发货目的地代码</th>
                            <th style="width:30px;">发货目的地名称</th>
                            <th style="width:20px;">当前使用滑槽</th>
                            <th style="width:20px;">是否激活</th>
                            <th style="width:20px;">是否接收</th>
                            <th style="width:50px;">接收时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pager" class="tbl-n">

            </div>
        </div>
    </div>
    <div id="pager" class="tbl-n">
    </div>
</div>
</div>
#parse("system/security/watermark.vm")
</body>
</html>