<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>清除缓存</title>
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpmanage.css')">
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/static/js/plugins/jquery-easyui/themes/default/easyui.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/plugins/jquery-easyui/themes/icon.css')">
    <script type="text/javascript" src="#springUrl('/static/js/jquery-1.8.0.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/jquery-easyui/jquery.easyui.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/DatePicker/WdatePicker.js')"></script>
    <script type="text/javascript"
            src="#springUrl('/static/js/plugins/jquery-easyui/locale/easyui-lang-zh_CN.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/jquery.blockUI.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/json2.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/jquery.form.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/common-client.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/utils.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/page-bar.js')"></script>
    <script type="text/javascript" src="#springUrl("/static/js/sortscheme/sort-scheme-index.js")"></script>
    <style type="text/css">
        #content {
            margin: 0 auto;
        }
        .query_param {
            display: block;
            float: left;
        }
        .query_span_1 {
            display: block;
            float: left;
            width: 210px;
            margin-left: 5px;
            margin-top: 5px;
        }
        .query_span_2 {
            display: block;
            float: left;
            width: 140px;
            margin-left: 5px;
            margin-top: 5px;
        }
        .query_span_3 {
            display: block;
            float: left;
            width: 250px;
            margin-left: 5px;
            margin-top: 5px;
        }
        .operate_spans {
            display: block;
            float: left;
            width: 500px;
            margin-left: 310px;
            margin-bottom: 5px;
        }
        .query_text {
            width: 120px;
        }
        .query_select_1 {
            float: left;
            width: 200px;
            margin-top: 5px;
        }
        .query_select_2 {
            width: 60px;
        }
        .btn_c {
            margin-left: 5px;
        }
        #pager table {
            width: 90%;
        }
    </style>
</head>
<script type="text/javascript">
</script>
<body>
<input type="hidden" id="contextPath" value="#springUrl('')"/>
<div id="breadcrumb">
    <p>
        <a href="javascript:void(0)">分拣中心</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0)">凊除缓存</a>
    </p>
</div>
<div style="color: #B61D1D;">/** 注意：分拣中心、分拣机、滑槽号都需要选择，才能进行查询工作和清除缓存工作**/</div>
<div style="color: #b61d1d;">/** 如果您不需要清除缓存，可以点击查询查看该缓存的历史删除记录。如您需要清除缓存，点击清除缓存后台会删除该缓存并展示该缓存的最近删除记录**/</div>
<div id="content">
        <div id="query_param" style="height: 35px;">
            <span class="query_select_1">
                分拣中心：
                <select id="siteNo" class="query_text">
                    #if($!{siteCode})
                        <option value="$!{siteCode}">$!{siteCode}&nbsp$!{siteName}</option>
                    #else
                        <option value="">所有分拣中心</option>
                    #end
                </select>
            </span>
            <span class="query_span_1">
                分拣机代码：<input type="text" id="machineCode" class="query_text"/>
            </span>
            <span class="query_span_1">
                滑槽号：<input type="text" id="chuteCode1" class="query_text"/>
            </span>
        </div>
        <div class="operate_spans">
            <input id="queryCacheBtn" value="查询" type="button" class="btn_c">
            <input id="cacheCleanBtn" value="清除缓存" type="button" class="btn_c">
        </div>
        <div id="cacheCleanNumber">
            <div>
            </div>
        </div>
        <div id="sortscheme_list_div" style="">
            <div id="sortscheme_list_table">
                <div class="tbl-list">
                    <div class="tbl-bg">
                        <table id="paperTable" cellspacing=0 cellpadding=0 style="width:80%;min-width:1100px;" class="tb-x1">
                            <thead>
                            <tr>
                                <th style="width:40px;">箱号</th>
                                <th style="width:40px;">箱号始发站点</th>
                                <th style="width:15px;">箱号始发站点名称</th>
                                <th style="width:15px;">箱号目的站点</th>
                                <th style="width:15px;">箱号目的站点名称</th>
                                <th style="width:50px;">路由信息</th>
                                <th style="width:15px;">缓存删除时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="pager" class="tbl-n">

                </div>
            </div>
        </div>
        <div id="pager" class="tbl-n">
        </div>
        <div id="dialog" title="导入对话框" style="width: 440px;height: 100px;">

        </div>

</div>
#parse("system/security/watermark.vm")
</body>
</html>
