## 运单称重  luyue  2017-12
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>运单称重</title>
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpmanage.css')">

    <link rel="stylesheet" href="/static/lib/easyui/color.css">
    <link rel="stylesheet" href="/static/lib/easyui/icon.css">
    <link rel="stylesheet" href="/static/lib/easyui/easyui.css">

    <script type="text/javascript" src="/static/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/static/lib/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/lib/easyui/locale/easyui-lang-zh_CN.js"></script>




    <style  type="text/css">
        #waybill-weight-form-wrapper{
            margin-top: 30px;
            margin-left: 30px;
        }

        .waybill-weight-input-wrapper{
            float: left;
            margin-left: 20px;
        }

        #waybill-weight-btn-wrapper{
            float: left;
            margin-left:30px;
        }
        #waybill-weight-improt-btn-wrapper{
            float: left;
            margin-left:30px;
        }

        #waybill-weight-success-datagrid-wrapper{
            clear: both;
            margin-top:100px;
        }
        #waybill-weight-import-form{
            margin:20px;
        }

    </style>
</head>
<body>
    <div id="breadcrumb">
        <p><a href="#">工具</a>&nbsp;&gt;&nbsp;<a href="#">快运运单称重</a></p>
    </div>
    <div id="waybill-weight-form-wrapper">
        <form id="waybill-weight-form">
            <div id="waybill-input-wrapper" class="waybill-weight-input-wrapper">
                <span class="input-text-span"><span style="color: red">*</span>运单号/运单下包裹号 : </span>
                <input id="waybill-weight-code-input" type="text" value="codeStr">
            </div>
            <div id="weight-input-wrapper" class="waybill-weight-input-wrapper">
                <span class="input-text-span"><span style="color: red">*</span>总重量 : </span>
                <input id="waybill-weight-kg-input" type="text" value="weight"></input>
            </div>
            <div id="cbm-input-wrapper" class="waybill-weight-input-wrapper">
                <span class="input-text-span"><span style="color: red">*</span>总体积 : </span>
                <input id="waybill-weight-cbm-input" type="text" value="volume"></input>
            </div>
            <div id="waybill-weight-btn-wrapper">
                <a id="waybill-weight-btn" href="#">录入运单总重量体积</a>
            </div>
            <div id="waybill-weight-improt-btn-wrapper">
                <a id="waybill-weight-import-btn" href="#">批量导入</a>
            </div>

        </form>
    </div>
    <div id="waybill-weight-success-datagrid-wrapper">
        <table id="waybill-weight-success-datagrid"></table>
    </div>
    <div id="waybill-weight-import-dialog" class="easyui-dialog" style="width:300px;height:200px" closed="true"
         data-options="title:'批量导入',buttons:'#waybill-weight-improt-btn-group-wrapper',modal:true">
        <form id="waybill-weight-import-form" method="post" enctype="multipart/form-data" >
            <div>
                <input class="easyui-validatebox" type="file" id="importExcelFile" name="importExcelFile" data-options="required:true" style="height: 22px"/>
            </div>
            <div>
                <p style="color: red;">请用规定模板填写，请误变更模板单元格格式，所有单元格格式采用文本模式</p>
                <a href="#springUrl('')/static/importFileModel/waybillWeight.xls" type="application/vnd.ms-excel">下载excel模版</a>
            </div>
        </form>
    </div>
    <div id="waybill-weight-improt-btn-group-wrapper">
        <a href="#" id="waybill-weight-import-form-submit" class="easyui-linkbutton">导入</a>
        <a href="#" id="waybill-weight-import-form-close" class="easyui-linkbutton">关闭</a>
    </div>

    <div id="waybill-weight-import-fail-dialog" class="easyui-dialog" style="width:800px;height:600px" closed="true"
         data-options="title:'导入失败数据',buttons:'#waybill-weight-import-fail-btn-group-wrapper',modal:true,closable: false">
        <p id="waybill-weight-fail-message"></p>
        <p id="waybill-weight-fail-submit-message"></p>
        <table id="waybill-weight-fail-datagrid">
        </table>
    </div>
    <div id="waybill-weight-import-fail-btn-group-wrapper">
        <a href="#" id="waybill-weight-export" class="easyui-linkbutton">导出</a>
        <a href="#" id="waybill-weight-all-submit" class="easyui-linkbutton">批量强制提交</a>
        <a href="#" id="waybill-weight-export-close" class="easyui-linkbutton">关闭</a>
    </div>

    <script type="text/javascript" src="#springUrl('/static/js/b2bExpress/weight/weighByWaybill.js')"></script>
</body>
</html>