<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.collect.dao.CollectGoodsPlaceDao">

	<resultMap id="CollectGoodsPlace" type="com.jd.bluedragon.distribution.collect.domain.CollectGoodsPlace" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="collect_goods_place_code" property="collectGoodsPlaceCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="collect_goods_place_name" property="collectGoodsPlaceName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="collect_goods_area_code" property="collectGoodsAreaCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="collect_goods_place_type" property="collectGoodsPlaceType" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="collect_goods_place_status" property="collectGoodsPlaceStatus" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="scan_waybill_num" property="scanWaybillNum" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="create_site_code" property="createSiteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="create_site_name" property="createSiteName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List" >
		id,collect_goods_place_code,collect_goods_place_name,collect_goods_area_code,collect_goods_place_type,collect_goods_place_status,
		scan_waybill_num,create_site_code,create_site_name,create_user,update_user,create_time,
		update_time,is_delete,ts
	</sql>

	<insert id="insert" parameterType="com.jd.bluedragon.distribution.collect.domain.CollectGoodsPlace">
		insert into collect_goods_place
			(
			<trim suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="collectGoodsPlaceCode != null">
					collect_goods_place_code,
				</if>
				<if test="collectGoodsPlaceName != null">
					collect_goods_place_name,
				</if>
				<if test="collectGoodsAreaCode != null">
					collect_goods_area_code,
				</if>
				<if test="collectGoodsPlaceType != null">
					collect_goods_place_type,
				</if>
				<if test="collectGoodsPlaceStatus != null">
					collect_goods_place_status,
				</if>
				<if test="createSiteCode != null">
					create_site_code,
				</if>
				<if test="createSiteName != null">
					create_site_name,
				</if>
				<if test="createUser != null">
					create_user,
				</if>
				<if test="updateUser != null">
					update_user,
				</if>
				<if test="createTime != null">
					create_time,
				</if>
				<if test="updateTime != null">
					update_time,
				</if>
				<if test="isDelete != null">
					is_delete,
				</if>
				<if test="ts != null">
					ts
				</if>
			</trim>
			)
			values
			(
			<trim suffixOverrides=",">
				<if test="id != null">
					#{id,jdbcType=BIGINT},
				</if>
				<if test="collectGoodsPlaceCode != null">
					#{collectGoodsPlaceCode,jdbcType=VARCHAR},
				</if>
				<if test="collectGoodsPlaceName != null">
					#{collectGoodsPlaceName,jdbcType=VARCHAR},
				</if>
				<if test="collectGoodsAreaCode != null">
					#{collectGoodsAreaCode,jdbcType=VARCHAR},
				</if>
				<if test="collectGoodsPlaceType != null">
					#{collectGoodsPlaceType,jdbcType=INTEGER},
				</if>
				<if test="collectGoodsPlaceStatus != null">
					#{collectGoodsPlaceStatus,jdbcType=INTEGER},
				</if>
				<if test="createSiteCode != null">
					#{createSiteCode,jdbcType=INTEGER},
				</if>
				<if test="createSiteName != null">
					#{createSiteName,jdbcType=VARCHAR},
				</if>
				<if test="createUser != null">
					#{createUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUser != null">
					#{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="createTime != null">
					#{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateTime != null">
					#{updateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="isDelete != null">
					#{isDelete,jdbcType=TINYINT},
				</if>
				<if test="ts != null">
					#{ts,jdbcType=TIMESTAMP}
				</if>
			</trim>
			)
	</insert>

	<insert id="batchInsert" parameterType="List">
		insert into collect_goods_place
			(
				collect_goods_place_code,collect_goods_place_name,collect_goods_area_code,collect_goods_place_type,
				collect_goods_place_status,create_site_code,create_site_name,create_user,
				create_time,is_delete
			)
			values
			<foreach collection="list" item="item" index="index" separator=",">
				(
					#{item.collectGoodsPlaceCode,jdbcType=VARCHAR},
					#{item.collectGoodsPlaceName,jdbcType=VARCHAR},
					#{item.collectGoodsAreaCode,jdbcType=VARCHAR},
					#{item.collectGoodsPlaceType,jdbcType=INTEGER},
					0,
					#{item.createSiteCode,jdbcType=INTEGER},
					#{item.createSiteName,jdbcType=VARCHAR},
					#{item.createUser,jdbcType=VARCHAR},
					now(),
					0

				)
			</foreach>
	</insert>

	<update id="update" parameterType="com.jd.bluedragon.distribution.collect.domain.CollectGoodsPlace">
		update collect_goods_place
			<set>
				<if test="collectGoodsPlaceCode != null">
					collect_goods_place_code = #{collectGoodsPlaceCode,jdbcType=VARCHAR},
				</if>
				<if test="collectGoodsPlaceName != null">
					collect_goods_place_name = #{collectGoodsPlaceName,jdbcType=VARCHAR},
				</if>
				<if test="collectGoodsAreaCode != null">
					collect_goods_area_code = #{collectGoodsAreaCode,jdbcType=VARCHAR},
				</if>
				<if test="collectGoodsPlaceType != null">
					collect_goods_place_type = #{collectGoodsPlaceType,jdbcType=INTEGER},
				</if>
				<if test="collectGoodsPlaceStatus != null">
					collect_goods_place_status = #{collectGoodsPlaceStatus,jdbcType=INTEGER},
				</if>
				<if test="createSiteCode != null">
					create_site_code = #{createSiteCode,jdbcType=INTEGER},
				</if>
				<if test="createSiteName != null">
					create_site_name = #{createSiteName,jdbcType=VARCHAR},
				</if>

				<if test="updateUser != null">
					update_user = #{updateUser,jdbcType=VARCHAR},
				</if>

				<if test="isDelete != null">
					is_delete = #{isDelete,jdbcType=TINYINT}
				</if>
				update_time = now()
			</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="deleteById" parameterType="Long">
		update collect_goods_place
			set is_delete = 1
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="deleteByIds" parameterType="List">
		update collect_goods_place
			set is_delete = 1
		where id in
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item,jdbcType=BIGINT}
		</foreach>
	</update>


	<update id="updateStatus" parameterType="com.jd.bluedragon.distribution.collect.domain.CollectGoodsPlace">
		update collect_goods_place
		set
		<if test="scanWaybillNum != null">
			scan_waybill_num = #{scanWaybillNum,jdbcType=INTEGER},
		</if>
		collect_goods_place_status = #{collectGoodsPlaceStatus,jdbcType=INTEGER}

		where create_site_code = #{createSiteCode,jdbcType=BIGINT}
		<if test="collectGoodsPlaceCode != null">
			and collect_goods_place_code = #{collectGoodsPlaceCode,jdbcType=VARCHAR}
		</if>
		<if test="collectGoodsAreaCode != null">
			and collect_goods_area_code = #{collectGoodsAreaCode,jdbcType=VARCHAR}
		</if>
		and is_delete=0
	</update>
	<select id="findById" parameterType="Long" resultMap="CollectGoodsPlace">
		select 
		 <include refid="Base_Column_List"/>
		from 
		  collect_goods_place 
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="findByUniqueKey" parameterType="com.jd.bluedragon.distribution.collect.domain.CollectGoodsPlace" resultMap="CollectGoodsPlace">
		select 
		 <include refid="Base_Column_List"/>
		from 
		  collect_goods_place 
		where id = #{id,jdbcType=BIGINT}
		  order by ts desc
		limit 1
	</select>

	<sql id="Base_Condition_Sql" >
			and is_delete=0 
	</sql>

	<select id="findPlaceNotEmpty" parameterType="com.jd.bluedragon.distribution.collect.domain.CollectGoodsPlace" resultType="Integer">
		select
		count(1)
		from
		collect_goods_place
		where create_site_code = #{createSiteCode,jdbcType=BIGINT}
		and collect_goods_place_code = #{collectGoodsPlaceCode,jdbcType=VARCHAR}
		and collect_goods_place_status = 1
		and is_delete=0
	</select>

	<select id="findAbnormalPlace" parameterType="com.jd.bluedragon.distribution.collect.domain.CollectGoodsPlace" resultMap="CollectGoodsPlace">
		select
		<include refid="Base_Column_List"/>
		from
		collect_goods_place
		where create_site_code = #{createSiteCode,jdbcType=BIGINT}
		and collect_goods_area_code = #{collectGoodsAreaCode,jdbcType=VARCHAR}
		and collect_goods_place_type = #{collectGoodsPlaceType,jdbcType=INTEGER}
		and is_delete=0
		limit 1
	</select>

	<select id="findPlaceByCode" parameterType="com.jd.bluedragon.distribution.collect.domain.CollectGoodsPlace" resultMap="CollectGoodsPlace">
		select
		<include refid="Base_Column_List"/>
		from
		collect_goods_place
		where create_site_code = #{createSiteCode,jdbcType=BIGINT}
		and collect_goods_place_code = #{collectGoodsPlaceCode,jdbcType=VARCHAR}
		and is_delete=0
		limit 1
	</select>

	<select id="findPlaceByAreaCode" parameterType="com.jd.bluedragon.distribution.collect.domain.CollectGoodsPlace" resultMap="CollectGoodsPlace">
		select
		<include refid="Base_Column_List"/>
		from
		collect_goods_place
		where create_site_code = #{createSiteCode,jdbcType=BIGINT}
		and collect_goods_area_code = #{collectGoodsAreaCode,jdbcType=VARCHAR}
		and is_delete=0

	</select>

	<sql id="Query_Params_Condition_Sql">
		<if test="createSiteCode != null">
			and create_site_code = #{createSiteCode,jdbcType=BIGINT}
		</if>
		<if test="createTimeGE != null and createTimeLE !=null">
			and create_time BETWEEN #{createTimeGE} and #{createTimeLE}
		</if>
		<if test="createTimeGE != null and createTimeLE ==null">
			and  <![CDATA[   create_time >= #{createTimeGE}  ]]>
		</if>
		<if test="createTimeGE == null and createTimeLE !=null">
			and  <![CDATA[   create_time <= #{createTimeLE}  ]]>
		</if>

		<if test="updateTimeGE != null and updateTimeLE !=null">
			and update_time BETWEEN #{updateTimeGE} and #{updateTimeLE}
		</if>
		<if test="updateTimeGE != null and updateTimeLE ==null">
			and  <![CDATA[   update_time >= #{updateTimeGE}  ]]>
		</if>
		<if test="updateTimeGE == null and updateTimeLE !=null">
			and  <![CDATA[   update_time <= #{updateTimeLE}  ]]>
		</if>

		<if test="collectGoodsPlaceCode != null">
			and collect_goods_place_code = #{collectGoodsPlaceCode,jdbcType=VARCHAR}
		</if>
		<if test="collectGoodsAreaCode != null">
			and collect_goods_area_code = #{collectGoodsAreaCode,jdbcType=VARCHAR}
		</if>
		<if test="collectGoodsPlaceType != null">
			and collect_goods_place_type = #{collectGoodsPlaceType,jdbcType=INTEGER}
		</if>
	</sql>

	<select id="pageNum_queryByPagerCondition" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultType="Integer">
		select 
		 count(1) as num
		from 
		  collect_goods_place 
		where 1=1 
		 	<include refid="Base_Condition_Sql"/>
			<include refid="Query_Params_Condition_Sql"/>
	</select>

	<select id="queryByPagerCondition" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultMap="CollectGoodsPlace">
		select 
		 <include refid="Base_Column_List"/>
		from 
		  collect_goods_place 
		where 1=1 
			<include refid="Base_Condition_Sql"/>
			<include refid="Query_Params_Condition_Sql"/>

		 limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
	</select>

</mapper>