<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>包装物资信息管理</title>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    #parse("system/common/baseImport.vm")
    <script src="/static/js/consumable/packingConsumableInfo.js"></script>
</head>
<body>
<div id="dataTableDiv" class="main" style="margin-left: 20px;">
        <ol class="breadcrumb">
            <li><a href="#">包装物资信息管理</a></li>
            <li class="active">包装耗材信息</li>
        </ol>
		<!-- 查询条件 -->

	<!-- 主页面操作按钮 -->
    <div id="toolbar" class="btn-group">
        <button id="btn_query" type="button" class="btn btn-default">
        	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;查询
        </button>
        <button id="btn_add" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
    </div>
    <table id="dataTable"></table>
</div>
</body>
</html>