<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增包装耗材信息</title>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
##    引入公共样式和组件
    #parse("system/common/baseImport.vm")
    <script src="/static/js/consumable/waybillConsumableDetailAdd.js"></script>
    <style>
        hr{
            padding: 0;
            margin: 4px;
        }
        #add-form input{
            height: 30px;
        }
    </style>
</head>
<body>
<div id="main" style="margin-left: 10px;">
    <ol class="breadcrumb">
        <li>包装耗材信息</li>
        <li>新增包装耗材信息</li>
    </ol>
    <div id="add-form-wrapper">
        <form id="add-form" class="form-inline">
            <fieldset>
                <div class="form-group" style="margin-left: 31px;">
                    <label class="control-label" for="code-select">耗材编号 ：</label>
                    <select id="code-select" name="consumableCode"></select>
                </div>
                <div class="form-group" style="margin-left: 30px;">
                    <label class="control-label" for="unit-value-input">确认数量 ：</label>
                    <input type="text" id="confirm-value-input" class="form-control" name="confirmQuantity" style="display:inline;width: 250px;">
                </div>
                <hr/>
                <div class="form-group" style="margin-left: 30px;">
                    <label class="control-label" for="erp-value-input">打包人ERP ：</label>
                    <input type="text" id="erp-value-input" class="form-control" name="packUserErp" style="display:inline;width: 250px;">
                </div>
                <div class="form-group" style="display: none">
                    <input type="hidden" id="waybillCode-value-input" class="form-control" name="waybillCode" readonly="readonly">
                </div>
                <hr/>
            </fieldset>
        </form>
        <form class="form-inline">
            <div class="form-group" style="margin-left: 30px;">
                <label class="control-label" for="name-value-input">耗材名称 ：</label>
                <input type="text" id="name-value-input" class="form-control" name="name" readonly="readonly" style="display:inline;width: 250px;">
            </div>
            <div class="form-group" style="margin-left: 30px;">
                <label class="control-label" for="type-value-input">耗材类型 ：</label>
                <input type="text" id="type-value-input" class="form-control" name="type" readonly="readonly" style="display:inline;width: 250px;">
            </div>
            <hr/>
            <div class="form-group" style="margin-left: 30px;">
                <label class="control-label" for="volume-value-input">耗材体积 ：</label>
                <input type="text" id="volume-value-input" class="form-control" name="volume" readonly="readonly" style="display:inline;width: 250px;">
            </div>
            <div class="form-group" style="margin-left: 30px;">
                <label class="control-label" for="volume-coefficient-value-input">体积系数 ：</label>
                <input type="text" id="volume-coefficient-value-input" class="form-control" name="volumeCoefficient" readonly="readonly" style="display:inline;width: 250px;">
            </div>
            <hr/>
            <div class="form-group" style="margin-left: 30px;">
                <label class="control-label" for="specification-value-input">耗材规格 ：</label>
                <input type="text" id="specification-value-input" class="form-control" name="specification" readonly="readonly" style="display:inline;width: 250px;">
            </div>
            <div class="form-group" style="margin-left: 30px;">
                <label class="control-label" for="unit-value-input">耗材单位 ：</label>
                <input type="text" id="unit-value-input" class="form-control" name="unit" readonly="readonly" style="display:inline;width: 250px;">
            </div>
            <hr/>
        </form>
    </div>
    <hr />

    <div id="toolbar" class="btn-group" style="float:right;margin-right: 60px;margin-top: 25px;">
        <button id="btn_add" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;确认添加
        </button>
        <button id="btn_cancel" type="button" class="btn btn-default" style="margin-left: 20px;">
            <span aria-hidden="true"></span>&nbsp;取消
        </button>

    </div>
</div>

</body>
</html>
