<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.newseal.dao.DmsSendRelationDao" >

	<resultMap id="DmsSendRelation" type="com.jd.bluedragon.distribution.newseal.entity.DmsSendRelation" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="original_site_code" property="originalSiteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="original_site_name" property="originalSiteName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="original_cross_code" property="originalCrossCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="destination_site_code" property="destinationSiteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="destination_site_name" property="destinationSiteName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="destination_cross_code" property="destinationCrossCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="line_type" property="lineType" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="yn" property="yn" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List" >
		id,original_site_code,original_site_name,original_cross_code,destination_site_code,destination_site_name,
		destination_cross_code,line_type,create_time,yn,ts
	</sql>

	<insert id="insert" parameterType="com.jd.bluedragon.distribution.newseal.entity.DmsSendRelation" useGeneratedKeys="true" keyProperty="id">
		insert into dms_send_relation
			(
			<trim suffixOverrides=",">
				<if test="originalSiteCode != null" >
					original_site_code,
				</if>
				<if test="originalSiteName != null" >
					original_site_name,
				</if>
				<if test="originalCrossCode != null" >
					original_cross_code,
				</if>
				<if test="destinationSiteCode != null" >
					destination_site_code,
				</if>
				<if test="destinationSiteName != null" >
					destination_site_name,
				</if>
				<if test="destinationCrossCode != null" >
					destination_cross_code,
				</if>
				<if test="lineType != null" >
					line_type,
				</if>
				<if test="createTime != null" >
					create_time,
				</if>
				<if test="yn != null" >
					yn,
				</if>
			</trim>
			)
			values
			(
			<trim suffixOverrides=",">
				<if test="originalSiteCode != null" >
					#{originalSiteCode,jdbcType=INTEGER},
				</if>
				<if test="originalSiteName != null" >
					#{originalSiteName,jdbcType=VARCHAR},
				</if>
				<if test="originalCrossCode != null" >
					#{originalCrossCode,jdbcType=VARCHAR},
				</if>
				<if test="destinationSiteCode != null" >
					#{destinationSiteCode,jdbcType=INTEGER},
				</if>
				<if test="destinationSiteName != null" >
					#{destinationSiteName,jdbcType=VARCHAR},
				</if>
				<if test="destinationCrossCode != null" >
					#{destinationCrossCode,jdbcType=VARCHAR},
				</if>
				<if test="lineType != null" >
					#{lineType,jdbcType=INTEGER},
				</if>
				<if test="createTime != null" >
					#{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="yn != null" >
					#{yn,jdbcType=TINYINT},
				</if>
			</trim>
			)
	</insert>

	<update id="update" parameterType="com.jd.bluedragon.distribution.newseal.entity.DmsSendRelation">
		update dms_send_relation
			<set>
				<if test="originalSiteCode != null" >
					original_site_code = #{originalSiteCode,jdbcType=INTEGER},
				</if>
				<if test="originalSiteName != null" >
					original_site_name = #{originalSiteName,jdbcType=VARCHAR},
				</if>
				<if test="originalCrossCode != null" >
					original_cross_code = #{originalCrossCode,jdbcType=VARCHAR},
				</if>
				<if test="destinationSiteCode != null" >
					destination_site_code = #{destinationSiteCode,jdbcType=INTEGER},
				</if>
				<if test="destinationSiteName != null" >
					destination_site_name = #{destinationSiteName,jdbcType=VARCHAR},
				</if>
				<if test="destinationCrossCode != null" >
					destination_cross_code = #{destinationCrossCode,jdbcType=VARCHAR},
				</if>
				<if test="lineType != null" >
					line_type = #{lineType,jdbcType=INTEGER},
				</if>
				<if test="createTime != null" >
					create_time = #{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="yn != null" >
					yn = #{yn,jdbcType=TINYINT},
				</if>
				<if test="ts != null" >
					ts = #{ts,jdbcType=TIMESTAMP},
				</if>
			</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="queryByBusinessKey" parameterType="com.jd.bluedragon.distribution.newseal.entity.DmsSendRelation" resultMap="DmsSendRelation">
		select
			<include refid="Base_Column_List"/>
		from
			dms_send_relation t
		where yn = 1 
		and original_site_code = #{originalSiteCode,jdbcType=INTEGER}
		and destination_site_code = #{destinationSiteCode,jdbcType=INTEGER}
	</select>

	<select id="queryByCondition" parameterType="com.jd.bluedragon.distribution.newseal.entity.DmsSendRelationCondition" resultMap="DmsSendRelation">
		select
			<include refid="Base_Column_List"/>
		from
			dms_send_relation 
		where yn = 1 
		and original_site_code = #{originalSiteCode,jdbcType=INTEGER}
		and ts <![CDATA[ >= ]]> #{startTime,jdbcType=TIMESTAMP}		
		<if test="destinationSiteCode != null and destinationSiteCode != ''" >
			and destination_site_code = #{destinationSiteCode,jdbcType=INTEGER}
		</if>
		<if test="destinationSiteName != null and destinationSiteName != ''" >
			and destination_site_name = #{destinationSiteName,jdbcType=VARCHAR}
		</if>		
		<if test="destinationCrossCode != null and destinationCrossCode != ''" >
			and destination_cross_code = #{destinationCrossCode,jdbcType=VARCHAR}
		</if>
		limit #{limitNum,jdbcType=INTEGER}
	</select>
	<resultMap id="PassPreSealRecordMap" type="com.jd.bluedragon.distribution.sealVehicle.domain.PassPreSealRecord" >
		<result column="original_site_code" property="originalSiteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="original_site_name" property="originalSiteName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="destination_site_code" property="destinationSiteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="destination_site_name" property="destinationSiteName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="destination_cross_code" property="destinationCrossCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="vehicle_job_code" property="vehicleJobCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="vehicle_route_code" property="vehicleRouteCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="transport_code" property="transportCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="depart_time" property="departTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="carrier_team_name" property="carrierTeamName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="vehicle_number" property="vehicleNumber" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="job_create_time" property="jobCreateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="queryPassPreSeal_condition">
			left outer join tms_vehicle_route s on 
			s.yn = 1 
			and s.original_site_code = #{originalSiteCode,jdbcType=INTEGER}
			and t.destination_site_code = s.destination_site_code
		where t.yn = 1 
		and t.original_site_code = #{originalSiteCode,jdbcType=INTEGER} 
		and t.ts <![CDATA[ >= ]]> #{effectStartTime,jdbcType=TIMESTAMP} 
		<if test="destinationSiteCode != null and destinationSiteCode != ''" >
			and t.destination_site_code = #{destinationSiteCode,jdbcType=INTEGER}
		</if>
		<if test="destinationSiteName != null and destinationSiteName != ''" >
			and t.destination_site_name = #{destinationSiteName,jdbcType=VARCHAR}
		</if>
		<if test="destinationCrossCode != null and destinationCrossCode != ''" >
			and t.destination_cross_code = #{destinationCrossCode,jdbcType=VARCHAR}
		</if>
		<if test="vehicleNumber != null and vehicleNumber != ''" >
			and s.vehicle_number = #{vehicleNumber,jdbcType=VARCHAR}
		</if>
		<if test="departStartTime != null" >
			and s.depart_time <![CDATA[ >= ]]> #{departStartTime,jdbcType=TIMESTAMP}
		</if>		
		<if test="departEndTime != null" >
			and s.depart_time <![CDATA[ <= ]]> #{departEndTime,jdbcType=TIMESTAMP}
		</if>		
	</sql>	
	<select id="queryPassPreSealData" parameterType="com.jd.bluedragon.distribution.sealVehicle.domain.PassPreSealQueryRequest" resultMap="PassPreSealRecordMap">
		select
			t.original_site_code,t.original_site_name,t.destination_site_code,t.destination_site_name,
			t.destination_cross_code,s.vehicle_job_code,s.vehicle_route_code,s.transport_code,
			s.depart_time,s.carrier_team_name,s.vehicle_number,s.job_create_time
		from
			dms_send_relation t 
			<include refid="queryPassPreSeal_condition"/>
			order by s.depart_time, s.job_create_time
		limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
	</select>
	<select id="countPassPreSealData" parameterType="com.jd.bluedragon.distribution.sealVehicle.domain.PassPreSealQueryRequest" resultType="Integer">
		select 
		 count(1) as num
		from
			dms_send_relation t 
			<include refid="queryPassPreSeal_condition"/>
	</select>	
</mapper>