<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.inventory.dao.InventoryExceptionDao">
    <resultMap id="BaseResultMap" type="com.jd.bluedragon.distribution.inventory.domain.InventoryException">
        <result column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="waybill_code" property="waybillCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="package_code" property="packageCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="inventory_task_id" property="inventoryTaskId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="latest_pack_status" property="latestPackStatus" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="exp_type" property="expType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
        <result column="exp_status" property="expStatus" javaType="java.lang.Integer" jdbcType="TINYINT"/>
        <result column="exp_desc" property="expDesc" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="inventory_site_code" property="inventorySiteCode" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="inventory_site_name" property="inventorySiteName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="direction_code" property="directionCode" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="direction_name" property="directionName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="inventory_user_code" property="inventoryUserCode" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="inventory_user_name" property="inventoryUserName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="inventory_user_erp" property="inventoryUserErp" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="inventory_time" property="inventoryTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="exp_user_code" property="expUserCode" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="exp_user_name" property="expUserName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="exp_user_erp" property="expUserErp" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="exp_operate_time" property="expOperateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="is_delete" property="isDelete" javaType="java.lang.Integer" jdbcType="TINYINT"/>
        <result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="inventoryExceptionDto" type="com.jd.bluedragon.distribution.inventory.domain.InventoryExceptionDto">
        <result column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="inventory_task_id" property="inventoryTaskId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="org_id" property="orgId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="org_name" property="orgName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="create_site_code" property="createSiteCode" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="create_site_name" property="createSiteName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="create_user_erp" property="createUserErp" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="inventory_user_erp" property="inventoryUserErp" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="inventory_time" property="inventoryTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="waybill_code" property="waybillCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="package_code" property="packageCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="latest_pack_status" property="latestPackStatus" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="exp_type" property="expType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
        <result column="exp_status" property="expStatus" javaType="java.lang.Integer" jdbcType="TINYINT"/>
        <result column="exp_desc" property="expDesc" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="exp_user_erp" property="expUserErp" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="exp_operate_time" property="expOperateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="direction_code" property="directionCode" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="direction_name" property="directionName" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Condition_Column_List">
        it.inventory_task_id,it.org_id,it.org_name,it.create_site_code,it.create_site_name,it.create_user_erp,it.create_time,
        ie.id,ie.waybill_code,ie.package_code,ie.latest_pack_status,ie.exp_type,ie.exp_status,exp_desc,exp_user_erp,exp_operate_time,
        ie.inventory_time,ie.inventory_user_erp
    </sql>

    <sql id="Base_Condition_Sql">
        from inventory_exception ie
        inner join inventory_task it on ie.inventory_task_id = it.inventory_task_id
        <where>
            it.is_delete = 0
            <if test="orgId != null">
                and it.org_id = #{orgId,jdbcType=INTEGER}
            </if>
            <if test="createSiteCode != null">
                and it.create_site_code = #{createSiteCode,jdbcType=INTEGER}
            </if>
            <if test="createUserErp != null">
                and it.create_user_erp = #{createUserErp,jdbcType=VARCHAR}
            </if>
            <if test="createStartTime != null">
                and it.create_time <![CDATA[>=]]> #{createStartTime, jdbcType=VARCHAR}
            </if>
            <if test="createEndTime != null">
                and it.create_time <![CDATA[<=]]> #{createEndTime, jdbcType=VARCHAR}
            </if>
            <if test="waybillCode != null">
                and ie.waybill_code = #{waybillCode, jdbcType=VARCHAR}
            </if>
            <if test="packageCode != null">
                and ie.package_code = #{packageCode, jdbcType=VARCHAR}
            </if>
            <if test="expType != null">
                and ie.exp_type = #{expType, jdbcType=TINYINT}
            </if>
            <if test="expStatus != null">
                and ie.exp_status = #{expStatus, jdbcType=TINYINT}
            </if>
        </where>
    </sql>

    <sql id="Base_Repeat_Condition_Sql">
        and package_code in (select package_code
         <include refid="Base_Condition_Sql" />
          group by package_code having count(package_code) > 1)
        order by package_code, it.create_time

    </sql>
    <insert id="insert" parameterType="com.jd.bluedragon.distribution.inventory.domain.InventoryException">
        insert into inventory_exception
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="waybillCode != null">
                waybill_code,
            </if>
            <if test="packageCode != null">
                package_code,
            </if>
            <if test="inventoryTaskId != null">
                inventory_task_id,
            </if>
            <if test="latestPackStatus != null">
                latest_pack_status,
            </if>
            <if test="expType != null">
                exp_type,
            </if>
            <if test="expStatus != null">
                exp_status,
            </if>
            <if test="expDesc != null">
                exp_desc,
            </if>
            <if test="inventorySiteCode != null">
                inventory_site_code,
            </if>
            <if test="inventorySiteName != null">
                inventory_site_name,
            </if>
            <if test="directionCode != null">
                direction_code,
            </if>
            <if test="directionName != null">
                direction_name,
            </if>
            <if test="inventoryUserCode != null">
                inventory_user_code,
            </if>
            <if test="inventoryUserName != null">
                inventory_user_name,
            </if>
            <if test="inventoryUserErp != null">
                inventory_user_erp,
            </if>
            <if test="inventoryTime != null">
                inventory_time,
            </if>
            <if test="expUserCode != null">
                exp_user_code,
            </if>
            <if test="expUserName != null">
                exp_user_name,
            </if>
            <if test="expUserErp != null">
                inventory_user_erp,
            </if>
            <if test="expOperateTime != null">
                exp_operate_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            is_delete
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="waybillCode != null">
                #{waybillCode,jdbcType=VARCHAR},
            </if>
            <if test="packageCode != null">
                #{packageCode,jdbcType=VARCHAR},
            </if>
            <if test="inventoryTaskId != null">
                #{inventoryTaskId,jdbcType=VARCHAR},
            </if>
            <if test="latestPackStatus != null">
                #{latestPackStatus,jdbcType=VARCHAR},
            </if>
            <if test="expType != null">
                #{expType,jdbcType=TINYINT},
            </if>
            <if test="expStatus != null">
                #{expStatus,jdbcType=TINYINT},
            </if>
            <if test="expDesc != null">
                #{expDesc,jdbcType=VARCHAR},
            </if>
            <if test="inventorySiteCode != null">
                #{inventorySiteCode,jdbcType=INTEGER},
            </if>
            <if test="inventorySiteName != null">
                #{inventorySiteName,jdbcType=VARCHAR},
            </if>
            <if test="directionCode != null">
                #{directionCode,jdbcType=INTEGER},
            </if>
            <if test="directionName != null">
                #{directionName,jdbcType=VARCHAR},
            </if>
            <if test="inventoryUserCode != null">
                #{inventoryUserCode,jdbcType=INTEGER},
            </if>
            <if test="inventoryUserName != null">
                #{inventoryUserName,jdbcType=VARCHAR},
            </if>
            <if test="inventoryUserErp != null">
                #{inventoryUserErp,jdbcType=VARCHAR},
            </if>
            <if test="inventoryTime != null">
                #{inventoryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expUserCode != null">
                #{expUserCode,jdbcType=INTEGER},
            </if>
            <if test="expUserName != null">
                #{expUserName,jdbcType=VARCHAR},
            </if>
            <if test="expUserErp != null">
                #{expUserErp,jdbcType=VARCHAR},
            </if>
            <if test="expOperateTime != null">
                #{expOperateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            0
        </trim>
    </insert>

    <update id="updateExpStatus" parameterType="java.util.Map">
        UPDATE inventory_exception
        <set>
            exp_status= 1, exp_operate_time = now()

            <if test="expUserCode != null">
                , exp_user_code = #{expUserCode,jdbcType=INTEGER}
            </if>
            <if test="expUserName != null">
                , exp_user_name = #{expUserName,jdbcType=VARCHAR}
            </if>
            <if test="expUserErp != null">
                , exp_user_erp = #{expUserErp,jdbcType=VARCHAR}
            </if>
        </set>
        where id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </update>

    <update id="updateSum" parameterType="com.jd.bluedragon.distribution.inventory.domain.InventoryTask">
        UPDATE inventory_task
        <set>
            <if test="waybillSum != null">
                waybill_sum = #{waybillSum,jdbcType=INTEGER},
            </if>
            <if test="packageSum != null">
                package_sum = #{packageSum,jdbcType=INTEGER},
            </if>
            <if test="exceptionSum != null">
                exception_sum = #{exceptionSum,jdbcType=INTEGER},
            </if>
        </set>
        where inventory_task_id= #{inventoryTaskId,jdbcType=VARCHAR} and is_delete = 0
    </update>

    <select id="pageNum_queryByPagerCondition" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultType="Integer">
        select
        count(1) as num

        <include refid="Base_Condition_Sql"/>
        <if test="isRepeat > 0">
            <include refid="Base_Repeat_Condition_Sql" />
        </if>
    </select>

    <select id="queryByPagerCondition" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultMap="inventoryExceptionDto">
        select
        <include refid="Base_Condition_Column_List" />

        <include refid="Base_Condition_Sql"/>
        <if test="isRepeat > 0">
            <include refid="Base_Repeat_Condition_Sql" />
        </if>
        limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
    </select>

    <select id="getExportResultByCondition" parameterType="com.jd.bluedragon.distribution.inventory.domain.InventoryTaskCondition" resultMap="inventoryExceptionDto">
        select
        <include refid="Base_Condition_Column_List" />

        <include refid="Base_Condition_Sql"/>
        <if test="isRepeat > 0">
            <include refid="Base_Repeat_Condition_Sql" />
        </if>
    </select>
</mapper>