<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.inventory.dao.InventoryTaskDao">
    <resultMap id="inventoryTask"
               type="com.jd.bluedragon.distribution.inventory.domain.InventoryTask">
        <result column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="inventory_task_id" property="inventoryTaskId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="org_id" property="orgId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="org_name" property="orgName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="create_site_code" property="createSiteCode" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="create_site_name" property="createSiteName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="direction_code" property="directionCode" javaType="java.lang.Integer"
                jdbcType="INTEGER"/>
        <result column="direction_name" property="directionName" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="create_user_code" property="createUserCode" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="create_user_erp" property="createUserErp" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="create_user_name" property="createUserName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" javaType="java.lang.Integer" jdbcType="TINYINT"/>
        <result column="cooperate_type" property="cooperateType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
        <result column="waybill_sum" property="waybillSum" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="package_sum" property="packageSum" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="exception_sum" property="exceptionSum" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="inventory_scope" property="inventoryScope" javaType="java.lang.Integer" jdbcType="TINYINT"/>
        <result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="is_delete" property="isDelete" javaType="java.lang.Integer" jdbcType="TINYINT"/>
        <result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        inventory_task_id,org_id,org_name,
        create_site_code, create_site_name,
        direction_code, direction_name,
        create_user_code,create_user_erp,create_user_name,
        create_time,end_time,
        status,cooperate_type,
        waybill_sum,package_sum,exception_sum,
        inventory_scope,
        update_time,is_delete
    </sql>

    <sql id="Base_Condition_Sql">
        <where>
            is_delete = 0 and cooperate_type = 1 and status > 0
            <if test="orgId != null">
                and org_id = #{orgId,jdbcType=INTEGER}
            </if>
            <if test="createSiteCode != null">
                and create_site_code = #{createSiteCode,jdbcType=INTEGER}
            </if>
            <if test="directionCode != null">
                and direction_code = #{directionCode,jdbcType=INTEGER}
            </if>
            <if test="createUserErp != null">
                and create_user_erp = #{createUserErp,jdbcType=VARCHAR}
            </if>
            <if test="createStartTime != null">
                AND create_time <![CDATA[>=]]> #{createStartTime, jdbcType=VARCHAR}
            </if>
            <if test="createEndTime != null">
                AND create_time <![CDATA[<=]]> #{createEndTime, jdbcType=VARCHAR}
            </if>
            <if test="completeStartTime != null">
                AND end_time <![CDATA[>=]]> #{completeStartTime, jdbcType=VARCHAR}
            </if>
            <if test="completeEndTime != null">
                AND end_time <![CDATA[<=]]> #{completeEndTime, jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <insert id="insert" parameterType="com.jd.bluedragon.distribution.inventory.domain.InventoryTask">
        insert into inventory_task
        (
        <include refid="Base_Column_List"/>
        )
        values
        (
        #{inventoryTaskId,jdbcType=VARCHAR},
        #{orgId,jdbcType=INTEGER},
        #{orgName,jdbcType=VARCHAR},
        #{createSiteCode,jdbcType=INTEGER},
        #{createSiteName,jdbcType=VARCHAR},
        #{directionCode,jdbcType=INTEGER},
        #{directionName,jdbcType=VARCHAR},
        #{createUserCode,jdbcType=INTEGER},
        #{createUserErp,jdbcType=VARCHAR},
        #{createUserName,jdbcType=INTEGER},
        now(),
        #{endTime,jdbcType=TIMESTAMP},
        #{status,jdbcType=TINYINT},
        #{cooperateType,jdbcType=TINYINT},
        0,
        0,
        0,
        #{inventoryScope,jdbcType=TINYINT},
        now(),
        0
        )
    </insert>

    <update id="update" parameterType="com.jd.bluedragon.distribution.inventory.domain.InventoryScanDetail">
        update inventory_task
        <set>
            <if test="orgId != null">
                org_id = #{orgId,jdbcType=INTEGER},
            </if>
            <if test="orgName != null">
                org_name = #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="createSiteCode != null">
                create_site_code = #{createSiteCode,jdbcType=INTEGER},
            </if>
            <if test="createSiteName != null">
                create_site_name = #{createSiteName,jdbcType=VARCHAR},
            </if>
            <if test="directionCode != null">
                direction_code = #{directionCode,jdbcType=INTEGER},
            </if>
            <if test="directionName != null">
                direction_name = #{directionName,jdbcType=VARCHAR},
            </if>
            <if test="createUserCode != null">
                create_site_code = #{createUserCode,jdbcType=INTEGER},
            </if>
            <if test="createUserName != null">
                create_user_name = #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="createUserErp != null">
                create_user_erp = #{createUserErp,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="cooperateType != null">
                cooperate_type = #{cooperateType,jdbcType=TINYINT},
            </if>
            <if test="waybillSum != null">
                waybill_sum = #{waybillSum,jdbcType=INTEGER},
            </if>
            <if test="packageSum != null">
                package_sum = #{packageSum,jdbcType=INTEGER},
            </if>
            <if test="exceptionSum != null">
                exception_sum = #{exceptionSum,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=TINYINT},
            </if>
        </set>
        where inventory_task_id = #{inventoryTaskId, jdbcType=INTEGER}
    </update>

    <update id="updateTime" parameterType="com.jd.bluedragon.distribution.inventory.domain.InventoryTask">
        UPDATE inventory_task
        <set>
           update_time = now()
        </set>
        where create_site_code = #{createSiteCode,jdbcType=INTEGER}
        and create_user_code = #{createUserCode,jdbcType=INTEGER}
        and direction_code= #{directionCode,jdbcType=INTEGER}
        and inventory_scope= #{inventoryScope,jdbcType=TINYINT}
        and cooperate_type= 2
        and status=0
        and is_delete = 0
    </update>

    <update id="updateStatus" parameterType="com.jd.bluedragon.distribution.inventory.domain.InventoryTask">
        UPDATE inventory_task
        <set>
            status= #{status,jdbcType=TINYINT}, update_time = now(), end_time = #{endTime,jdbcType=TIMESTAMP}
        </set>
            where inventory_task_id= #{inventoryTaskId,jdbcType=VARCHAR} and is_delete = 0
    </update>

    <update id="updateSum" parameterType="com.jd.bluedragon.distribution.inventory.domain.InventoryTask">
        UPDATE inventory_task
        <set>
            <if test="waybillSum != null">
                waybill_sum = #{waybillSum,jdbcType=INTEGER},
            </if>
            <if test="packageSum != null">
                package_sum = #{packageSum,jdbcType=INTEGER},
            </if>
            <if test="exceptionSum != null">
                exception_sum = #{exceptionSum,jdbcType=INTEGER},
            </if>
        </set>
        where inventory_task_id= #{inventoryTaskId,jdbcType=VARCHAR} and is_delete = 0
    </update>

    <insert id="addBatch" parameterType="java.util.List">
        INSERT INTO inventory_task(
        <include refid="Base_Column_List"/>
        )
        VALUES
        <foreach collection="list" item="inventoryTask" index="index" separator=",">
            (
            #{inventoryTask.inventoryTaskId,jdbcType=VARCHAR},
            #{inventoryTask.orgId,jdbcType=INTEGER},
            #{inventoryTask.orgName,jdbcType=VARCHAR},
            #{inventoryTask.createSiteCode,jdbcType=INTEGER},
            #{inventoryTask.createSiteName,jdbcType=VARCHAR},
            #{inventoryTask.directionCode,jdbcType=INTEGER},
            #{inventoryTask.directionName,jdbcType=VARCHAR},
            #{inventoryTask.createUserCode,jdbcType=INTEGER},
            #{inventoryTask.createUserErp,jdbcType=VARCHAR},
            #{inventoryTask.createUserName,jdbcType=INTEGER},
            #{inventoryTask.createTime,jdbcType=TIMESTAMP},
            #{inventoryTask.endTime,jdbcType=TIMESTAMP},
            #{inventoryTask.status,jdbcType=TINYINT},
            #{inventoryTask.cooperateType,jdbcType=TINYINT},
            0,
            0,
            0,
            #{inventoryTask.inventoryScope,jdbcType=TINYINT},
            now(),
            0
            )
        </foreach>
    </insert>

    <select id="getInventoryTaskBySiteAndUser" resultMap="inventoryTask" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from inventory_task
        where create_site_code = #{createSiteCode,jdbcType=INTEGER}
        and create_user_code = #{createUserCode,jdbcType=INTEGER}
        and cooperate_type= 1
        and status=0
        and is_delete = 0
    </select>

    <select id="getInventoryTaskByTaskId" resultMap="inventoryTask" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from inventory_task
        where inventory_task_id = #{inventoryTaskId,jdbcType=VARCHAR}
        and cooperate_type= 1
        and status=0
        and is_delete = 0
    </select>

    <select id="getInventoryTaskInfo" resultMap="inventoryTask" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from inventory_task
        where inventory_task_id = #{inventoryTaskId,jdbcType=VARCHAR}
        and is_delete = 0
        limit 1
    </select>

    <select id="getInventoryTaskByDirectionOrScope" resultMap="inventoryTask" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from inventory_task
        where create_site_code = #{createSiteCode,jdbcType=INTEGER}
        and inventory_scope = #{inventoryScope,jdbcType=INTEGER}
        <if test="directionCodeList != null">
            AND direction_code in
            <foreach collection="directionCodeList" item="directionCode" open="(" close=")" separator=",">
                #{directionCode}
            </foreach>
        </if>
        and cooperate_type= 1
        and status=0
        and is_delete = 0
    </select>

    <select id="getInventoryTaskByCreateUser" resultMap="inventoryTask" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from inventory_task
        where create_site_code = #{createSiteCode,jdbcType=INTEGER}
        and create_user_code = #{createUserCode,jdbcType=INTEGER}
        and cooperate_type= 1
        and status=0
        and is_delete = 0
    </select>

    <select id="pageNum_queryByPagerCondition" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultType="Integer">
        select
        count(distinct inventory_task_id) as num
        from
        inventory_task
        <include refid="Base_Condition_Sql"/>
    </select>

    <select id="queryByPagerCondition" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultMap="inventoryTask">
        select
        inventory_task_id,org_id,org_name,
        create_site_code, create_site_name, group_concat(direction_code) as direction_code, group_concat(direction_name) as direction_name,
        create_user_code,create_user_erp,create_user_name,
        create_time,end_time,
        status,cooperate_type,
        waybill_sum,package_sum,exception_sum,
        inventory_scope,
        update_time,is_delete
        from
        inventory_task
        <include refid="Base_Condition_Sql"/>
        group by inventory_task_id order by create_time limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
    </select>

    <select id="getExportResultByCondition" parameterType="com.jd.bluedragon.distribution.inventory.domain.InventoryTaskCondition" resultMap="inventoryTask">
        select
        inventory_task_id,org_id,org_name,
        create_site_code, create_site_name, group_concat(direction_code) as direction_code, group_concat(direction_name) as direction_name,
        create_user_code,create_user_erp,create_user_name,
        create_time,end_time,
        status,cooperate_type,
        waybill_sum,package_sum,exception_sum,
        inventory_scope,
        update_time,is_delete
        from
        inventory_task
        <include refid="Base_Condition_Sql"/>
        group by inventory_task_id order by create_time
    </select>
</mapper>