<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.funcSwitchConfig.dao.FuncSwitchConfigDao">

	<resultMap id="funcSwitchConfigDto" type="com.jd.bluedragon.distribution.funcSwitchConfig.FuncSwitchConfigDto" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="menu_code" property="menuCode" javaType="java.lang.Integer" jdbcType="BIGINT" />
		<result column="menu_name" property="menuName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="dimension_code" property="dimensionCode" javaType="java.lang.Integer" jdbcType="BIGINT" />
		<result column="dimension_name" property="dimensionName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="org_id" property="orgId" javaType="java.lang.Integer" jdbcType="BIGINT" />
		<result column="org_name" property="orgName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="site_code" property="siteCode" javaType="java.lang.Integer" jdbcType="BIGINT" />
		<result column="site_name" property="siteName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="operate_erp" property="operateErp" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_erp" property="createErp" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="yn" property="yn" javaType="java.lang.Integer" jdbcType="TINYINT" />
	</resultMap>

    <sql id="Base_Column_List" >
		id,menu_code,menu_name,dimension_code,dimension_name,org_id,org_name,site_code,
		site_name,operate_erp,create_erp,create_user,create_time,update_time,yn,ts
	</sql>

    <sql id="Base_Condition_Sql" >
			and yn = 1
	</sql>

    <sql id="Query_Params_Condition_Sql">
        <if test="menuCode != null">
            and menu_code = #{menuCode,jdbcType=BIGINT}
        </if>
        <if test="dimensionCode != null">
            and dimension_code = #{dimensionCode,jdbcType=BIGINT}
        </if>
        <if test="orgId != null">
            and org_id = #{orgId,jdbcType=BIGINT}
        </if>
        <if test="orgName != null">
            and org_name = #{orgName,jdbcType=VARCHAR}
        </if>
        <if test="siteCode != null">
            and site_code = #{siteCode,jdbcType=BIGINT}
        </if>
        <if test="siteName != null">
            and site_name = #{siteName,jdbcType=VARCHAR}
        </if>
        <if test="operateErp != null and operateErp != ''">
            and operate_erp = #{operateErp,jdbcType=VARCHAR}
        </if>
        <if test="yn != null">
            and yn = #{yn,jdbcType=TINYINT}
        </if>
    </sql>

    <insert id="add" parameterType="com.jd.bluedragon.distribution.funcSwitchConfig.FuncSwitchConfigDto">
        insert into func_switch_config
        (
        <trim suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="menuCode != null">
                menu_code,
            </if>
            <if test="menuName != null">
                menu_name,
            </if>
            <if test="dimensionCode != null">
                dimension_code,
            </if>
            <if test="dimensionName != null">
                dimension_name,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="orgName != null">
                org_name,
            </if>
            <if test="siteCode != null">
                site_code,
            </if>
            <if test="siteName != null">
                site_name,
            </if>
            <if test="createErp != null">
                create_erp,
            </if>
            <if test="operateErp != null">
                operate_erp,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="yn != null">
                yn,
            </if>
            ts
        </trim>
        )
        values
        (
        <trim suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="menuCode != null">
                #{menuCode,jdbcType=BIGINT},
            </if>
            <if test="menuName != null">
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="dimensionCode != null">
                #{dimensionCode,jdbcType=BIGINT},
            </if>
            <if test="dimensionName != null">
                #{dimensionName,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=BIGINT},
            </if>
            <if test="orgName != null">
                #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="siteCode != null">
                #{siteCode,jdbcType=BIGINT},
            </if>
            <if test="siteName != null">
                #{siteName,jdbcType=VARCHAR},
            </if>
            <if test="operateErp != null">
                #{operateErp,jdbcType=VARCHAR},
            </if>
            <if test="createErp != null">
                #{createErp,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TINYINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="yn != null">
                #{yn,jdbcType=TINYINT},
            </if>
            now()
        </trim>
        )
    </insert>

    <insert id="batchAdd" parameterType="List">
        insert into func_switch_config
        (
        menu_code,menu_name,dimension_code,dimension_name,org_id,org_name,site_code,
        site_name,operate_erp,create_erp,create_user,create_time,update_time,yn,ts
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.menuCode,jdbcType=INTEGER},
            #{item.menuName,jdbcType=VARCHAR},
            #{item.dimensionCode,jdbcType=INTEGER},
            #{item.dimensionName,jdbcType=VARCHAR},
            #{item.orgId,jdbcType=INTEGER},
            #{item.orgName,jdbcType=VARCHAR},
            #{item.siteCode,jdbcType=INTEGER},
            #{item.siteName,jdbcType=VARCHAR},
            #{item.operateErp,jdbcType=VARCHAR},
            #{item.createErp,jdbcType=VARCHAR},
            #{item.createUser,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP},
            1,
            now()
            )
        </foreach>
    </insert>

    <select id="queryByCondition" parameterType="com.jd.bluedragon.distribution.funcSwitchConfig.domain.FuncSwitchConfigCondition"
            resultMap="funcSwitchConfigDto">
        select
        <include refid="Base_Column_List"/>
        from
        func_switch_config
        where 1=1
        <include refid="Query_Params_Condition_Sql"/>
        <if test="limit != -1">
            limit #{offset,jdbcType=BIGINT},#{limit,jdbcType=BIGINT}
        </if>
    </select>

    <select id="queryCountByCondition" parameterType="com.jd.bluedragon.distribution.funcSwitchConfig.domain.FuncSwitchConfigCondition"
            resultType="Integer">
        select
        count(1) as num
        from
        func_switch_config
        where 1=1
        <include refid="Query_Params_Condition_Sql"/>
    </select>

    <select id="selectByFuncSwitchConfig" parameterType="com.jd.bluedragon.distribution.funcSwitchConfig.FuncSwitchConfigDto"
            resultMap="funcSwitchConfigDto">
        select
        <include refid="Base_Column_List"/>
        from
        func_switch_config
        where yn = 1
        <if test="menuCode != null">
            and menu_code = #{menuCode,jdbcType=BIGINT}
        </if>
        <if test="dimensionCode != null">
            and dimension_code = #{dimensionCode,jdbcType=TINYINT}
        </if>
        <if test="siteCode != null">
            and site_code = #{menuCode,jdbcType=BIGINT}
        </if>
        <if test="operateErp != null">
            and operate_erp = #{operateErp,jdbcType=VARCHAR}
        </if>
    </select>

    <update id="logicalDelete" parameterType="List">
        update func_switch_config
        set yn = 0,update_time = now()
        where id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </update>

    <update id="updateByFuncSwitchConfig" parameterType="com.jd.bluedragon.distribution.funcSwitchConfig.FuncSwitchConfigDto">
        update func_switch_config
        set
        yn = = #{yn,jdbcType=TINYINT},
        operate_erp = #{operateErp,jdbcType=VARCHAR},
        update_time = now()
        where menu_code = #{menuCode,jdbcType=BIGINT}
        and site_code = #{site_code,jdbcType=BIGINT}
    </update>


    <select id="exportByCondition" parameterType="com.jd.bluedragon.distribution.funcSwitchConfig.domain.FuncSwitchConfigCondition"
            resultMap="funcSwitchConfigDto">
        select
        <include refid="Base_Column_List"/>
        from
        func_switch_config
        where 1=1
        <include refid="Query_Params_Condition_Sql"/>
        <include refid="Base_Condition_Sql"/>
        order by operate_time asc
        <if test="limit != -1">
            limit #{offset,jdbcType=BIGINT},#{limit,jdbcType=BIGINT}
        </if>

    </select>

</mapper>