<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>周转箱录入</title>
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpmanage.css')">
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/static/js/plugins/jquery-easyui/themes/default/easyui.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/plugins/jquery-easyui/themes/icon.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/popUp/popUp.css')">
    <script type="application/javascript" src="#springUrl('/static/js/jquery-1.8.0.min.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/jquery.form.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/plugins/jquery.blockUI.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/plugins/jquery-easyui/jquery.easyui.min.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/common/common-client.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/common/page-bar.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/popUp/popUp.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/printDevice/printer.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/jquery.cookie.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/common/utils.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/gantry/gantryAutoSendIndex.js')"></script>
    <style  type="text/css">
        .part {
            margin-top: 30px;
            margin-bottom: 30px;
            float: none;
        }
        #part-2 table {
            width: 235px;
        }
        .divBlock {
            float: left;
            border: 1px dotted gray;
            margin-right: 50px;
            padding-left: 8px;
            padding-right: 8px;
            width: 250px;
        }
        .divTitle {
            font-size: 14px;
            font-weight: bold;
            padding-left: 5px;
        }
        .blankTr {
            height: 30px;
        }
        .blankTd {
            width: 80px;
        }
        .checkboxArea .checkbox , span {
            vertical-align: middle;
        }

        #exceptionNum {
            text-align: center;
            font-size: 14px;
            color: #b81900;
        }
        #warning {
            width: auto;
            text-align: center;
            font-family: 微软雅黑;
            font-size: 16px;
            color: #be1f1f;
            margin-right: auto;
            margin-left: auto;
        }
        .textField {
            width: 150px;
        }
        .trHeight {
            height: 40px;
        }
    </style>
</head>
<body>
    <input type="hidden" id="contextPath" value="#springUrl('')">
    <div id="breadcrumb">
        <P>
            <a href="javascript:void(0)">无人分拣中心</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0)">周转箱信息录入</a>
        </P>
    </div>
    <div id="content">
        <div class="m">
            <div class="tbl-n">
                <div id="part-1" class="part">
                    <span>编号：<input type="text" id="gantry_device_id" class="gantry_query_text"/>
                    </span>
                    <span>状态：</span><input type="text" id="gantry_device_id" class="gantry_query_text"/>
                </div>
                
            </div>
        </div>
        <div class="opening">
            <div class="tbl-list">
                <div class="tbl-bg">
                    <table id="pagerTable" class="tb-x1" cellspacing="0" cellpadding="0" style="width: 100%;min-width:1100px;">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>创建人</th>
                            <th>是否有效</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pager" class="tbl-n">

            </div>
        </div>
    </div>
    <div id="food" width="300px" align="center" style="margin-right: auto;margin-left: auto;">
        <a href="javascript:void(0)" id="warning"">提示：一个批次最多用24个小时!</a>
    </div>
    <script type="text/javascript">
        var jaq = jaq || [];
        jaq.push(['account', 'JA2016_112453']);
        jaq.push(['domain', 'dms.etms.jd.com']);
        (function () {
            var ja = document.createElement('script');
            ja.type = 'text/javascript';
            ja.async = true;
            ja.src = '//wl.jd.com/joya.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ja, s);
        })()
    </script>
    #parse("system/security/watermark.vm")
</body>
</html>
