<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.box.dao.BoxDao" >

	<resultMap id="box" type="com.jd.bluedragon.distribution.box.domain.Box" >
		<result column="box_id" property="id" />
		<result column="box_code" property="code" />
		<result column="box_type" property="type" />
		<result column="create_user_code" property="createUserCode" />
		<result column="create_user" property="createUser" />
		<result column="create_time" property="createTime" />
		<result column="update_user_code" property="updateUserCode" />
		<result column="update_user" property="updateUser" />
		<result column="update_time" property="updateTime" />
		<result column="receive_site_code" property="receiveSiteCode" />
		<result column="receive_site_name" property="receiveSiteName" />
		<result column="create_site_code" property="createSiteCode" />
		<result column="create_site_name" property="createSiteName" />
		<result column="transport_type" property="transportType" />
		<result column="mix_box_type" property="mixBoxType"/>
		<result column="box_status" property="status" />
		<result column="times" property="times" />
        <result column="length" property="length" />
        <result column="width" property="width" />
        <result column="height" property="height" />
		<result column="yn" property="yn" />
		<result column="predict_send_time" property="predictSendTime" />
		<result column="router" property="router" />
		<result column="router_name" property="routerName" />
	</resultMap>
	
	<insert id="add" parameterType="box" >
		INSERT INTO Box (
			box_id, box_code, box_type, create_site_code, create_site_name,
			receive_site_code, receive_site_name, create_user_code, create_user,
			update_user_code, update_user, transport_type,mix_box_type,
			create_time, update_time, times, box_status, yn,predict_send_time,router,router_name)
		VALUES (
			#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
			#{createSiteCode,jdbcType=INTEGER}, #{createSiteName,jdbcType=VARCHAR},
			#{receiveSiteCode,jdbcType=VARCHAR}, #{receiveSiteName,jdbcType=VARCHAR},
			#{createUserCode,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR},
			#{createUserCode,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR},
			#{transportType,jdbcType=INTEGER}, #{mixBoxType,jdbcType=INTEGER},
			 NOW(), NOW(), 1, 1, 1,#{predictSendTime,jdbcType=TIMESTAMP}, #{router,jdbcType=VARCHAR},#{routerName,jdbcType=VARCHAR})
	</insert>

	<select id="findBoxByCode" resultMap="box" parameterType="String" >

		SELECT box_id, box_code, box_type, create_site_code, create_site_name,
			receive_site_code, receive_site_name, create_user_code, box_status,
			transport_type,mix_box_type,length,width,height,predict_send_time,router,router_name
		FROM Box
		WHERE yn = 1 AND box_code = #{code}
		 LIMIT 1
	</select>


	<select id="findBoxByBoxCode" resultMap="box" parameterType="box" >
		SELECT box_id, box_code, box_type, create_site_code, create_site_name,
			receive_site_code, receive_site_name, create_user_code, box_status,
			transport_type,mix_box_type,predict_send_time,router,router_name
		FROM Box
		WHERE yn = 1 AND box_code = #{code} AND create_site_code = #{createSiteCode}
		 LIMIT 1
	</select>

	<update id="print"  parameterType="box">
		UPDATE Box
		SET times = (times + 1), update_user_code = #{updateUserCode,jdbcType=INTEGER},
		    update_user = #{updateUser,jdbcType=VARCHAR}, update_time = NOW(), box_status=1   
		WHERE box_code= #{code,jdbcType=VARCHAR} 
	</update>
	<update id="reprint"  parameterType="box">
		UPDATE Box
		SET times = (times + 1), update_user_code = #{updateUserCode,jdbcType=INTEGER},
		    update_user = #{updateUser,jdbcType=VARCHAR}, update_time = NOW()
		WHERE box_code= #{code,jdbcType=VARCHAR}  
	</update>

    <update id="updateVolumeByCode" parameterType="box" >
        UPDATE Box
        SET length = #{length,jdbcType=NUMERIC},
        width = #{width,jdbcType=NUMERIC},
        height = #{height,jdbcType=NUMERIC},
        update_time = NOW()
        WHERE box_code = #{code,jdbcType=VARCHAR}
    </update>

	<!--根据boxCode 更新create_site_name，receive_site_name 用于还原因jproxy故障造成的箱号站点乱码 add by luyue-->
	<update id="updateMessySiteNameByBoxCode"  parameterType="box" >
		UPDATE Box
		SET
			create_site_name = #{createSiteName,jdbcType=VARCHAR},
			receive_site_name = #{receiveSiteName,jdbcType=VARCHAR}
		WHERE
			box_code = #{code,jdbcType=VARCHAR}
	</update>

</mapper>