<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>

	<appender name="bluedragon" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="d:/logs/dms.web/bluedragon-distribution-web.log" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="bluedragon.error" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="d:/logs/dms.web/bluedragon-distribution-web-error.log" />
		<param name="Threshold" value="ERROR"/>
		<param name="Append" value="true" />
        <param name="MaxFileSize" value="20MB" />
        <param name="MaxBackupIndex" value="100"/>
        <param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="CoalescingStatistics"
              class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
        <param name="TimeSlice" value="1800000"/>
        <appender-ref ref="fileAppender"/>
    </appender>
	
	<appender name="fileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="d:/logs/dms.web/perfStats.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>
    
    <appender name="bluedragon.etms.mq.sender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="d:/logs/dms.web/bluedragon-distribution-web-mq-sender.log" />
		<param name="Threshold" value="DEBUG"/>
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="100"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="bluedragon.loghub" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="d:/logs/dms.web/bluedragon-distribution-worker-loghub.log" />
		<param name="Threshold" value="WARN"/>
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="100"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	 <appender name="bluedragon.task" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="d:/logs/dms.web/bluedragon-distribution-web-task.log" />
		<param name="Threshold" value="WARN"/>
		<param name="Append" value="true" />
                <param name="MaxFileSize" value="100MB" />
                <param name="MaxBackupIndex" value="100"/>
                <param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
		        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>

	<!-- mybatis debug -->
	<category name="org.apache.ibatis"
		additivity="true">
		<priority value="DEBUG" />
		<appender-ref ref="console" />
	</category>
	
	<category name="java.sql" additivity="true">
		<priority value="DEBUG" />
		<appender-ref ref="console" />
	</category>
	
	<category name="org.perf4j.TimingLogger">
		<priority value="INFO" />
	</category>
	
	<logger name="com.jd.dbs.transaction">
		<level value="DEBUG" />
	</logger>

	<logger name="com.jd.etms.basic.cache">
		<level value="ERROR" />
	</logger>
	
	<logger name="com.jd.etms.message">
		<level value="DEBUG"/>
		<appender-ref ref="bluedragon.etms.mq.sender"/>
	</logger>
	
	<logger name="com.jd.bluedragon.distribution.loghub">
		<level value="WARN"/>
		<appender-ref ref="bluedragon.loghub"/>
		<appender-ref ref="console"/>
	</logger>
	
	<logger name="com.jd.bluedragon">
		<level value="INFO"/>
		<appender-ref ref="bluedragon.error"/>
		<appender-ref ref="console"/>
	</logger>
	
	<logger name="com.jd.bluedragon.distribution.rest.task.TaskResource">
		<level value="WARN"/>
		<appender-ref ref="bluedragon.task"/>
	</logger>
	
	<root>
		<priority value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="bluedragon" />
		<appender-ref ref="CoalescingStatistics" />
	</root>

</log4j:configuration>
