<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.bluedragon.distribution.sendGroup.dao.SortMachineGroupConfigDao">
    <resultMap id="sortMachineGroupConfigMap" type="com.jd.bluedragon.distribution.sendGroup.domain.SortMachineGroupConfig">
        <id column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="chute_code" property="chuteCode" />
        <result column="yn" property="yn" />
        <result column="ts" property="ts" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
        group_id,
        chute_code,
        yn
    </sql>
    <insert id="addBatch" parameterType="java.util.List">
        INSERT INTO sort_machine_group_config(
        group_id,
        chute_code,
        yn
        )
        VALUES
        <foreach collection="list" item="groupConfig" index="index" separator=",">
            (
            #{groupConfig.groupId, jdbcType=BIGINT},
            #{groupConfig.chuteCode, jdbcType=VARCHAR},
            1
            )
        </foreach>
    </insert>
    <delete id="deleteMachineGroupConfigByGroupId" parameterType="java.lang.Long">
        DELETE FROM sort_machine_group_config
        WHERE group_id = #{groupId, jdbcType=BIGINT}
    </delete>
    <select id="findSendGroupConfigByGroupId" resultMap="sortMachineGroupConfigMap"
            parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sort_machine_group_config
        WHERE group_id = #{groupId, jdbcType=BIGINT}
    </select>
</mapper>