<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.bluedragon.distribution.jy.dao.evaluate.JyEvaluateTargetInfoDao">

  <resultMap id="BaseResultMap" type="com.jd.bluedragon.distribution.jy.evaluate.JyEvaluateTargetInfoEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="target_area_code" jdbcType="INTEGER" property="targetAreaCode" />
    <result column="target_area_name" jdbcType="VARCHAR" property="targetAreaName" />
    <result column="target_site_code" jdbcType="INTEGER" property="targetSiteCode" />
    <result column="target_site_name" jdbcType="VARCHAR" property="targetSiteName" />
    <result column="target_task_id" jdbcType="VARCHAR" property="targetTaskId" />
    <result column="target_biz_id" jdbcType="VARCHAR" property="targetBizId" />
    <result column="target_start_time" jdbcType="TIMESTAMP" property="targetStartTime" />
    <result column="target_finish_time" jdbcType="TIMESTAMP" property="targetFinishTime" />
    <result column="trans_work_item_code" jdbcType="VARCHAR" property="transWorkItemCode" />
    <result column="vehicle_number" jdbcType="VARCHAR" property="vehicleNumber" />
    <result column="seal_time" jdbcType="TIMESTAMP" property="sealTime" />
    <result column="helper_erp" jdbcType="VARCHAR" property="helperErp" />
    <result column="source_area_code" jdbcType="INTEGER" property="targetAreaCode" />
    <result column="source_area_name" jdbcType="VARCHAR" property="targetAreaName" />
    <result column="source_site_code" jdbcType="INTEGER" property="targetSiteCode" />
    <result column="source_site_name" jdbcType="VARCHAR" property="targetSiteName" />
    <result column="source_task_id" jdbcType="VARCHAR" property="targetTaskId" />
    <result column="source_biz_id" jdbcType="VARCHAR" property="targetBizId" />
    <result column="unseal_time" jdbcType="TIMESTAMP" property="unsealTime" />
    <result column="evaluate_type" jdbcType="INTEGER" property="evaluateType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="dimension_code" jdbcType="VARCHAR" property="dimensionCode" />
    <result column="img_count" jdbcType="INTEGER" property="imgCount" />
    <result column="evaluate_user_erp" jdbcType="VARCHAR" property="evaluateUserErp" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_erp" jdbcType="VARCHAR" property="createUserErp" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="update_user_erp" jdbcType="VARCHAR" property="updateUserErp" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="yn" jdbcType="BIT" property="yn" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
  </resultMap>

  <sql id="Base_Column_List">
    id, target_area_code, target_area_name, target_site_code, target_site_name, target_task_id,
    target_biz_id, target_start_time, target_finish_time, trans_work_item_code, vehicle_number,
    seal_time, helper_erp, source_area_code, source_area_name, source_site_code, source_site_name,
    source_task_id, source_biz_id, unseal_time, evaluate_type, status, dimension_code, img_count,
    evaluate_user_erp, remark, create_user_erp, create_user_name, update_user_erp,
    update_user_name, create_time, update_time, yn, ts
  </sql>


  <insert id="insertSelective" parameterType="com.jd.bluedragon.distribution.jy.evaluate.JyEvaluateTargetInfoEntity">
    insert into jy_evaluate_target_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="targetAreaCode != null">
        target_area_code,
      </if>
      <if test="targetAreaName != null">
        target_area_name,
      </if>
      <if test="targetSiteCode != null">
        target_site_code,
      </if>
      <if test="targetSiteName != null">
        target_site_name,
      </if>
      <if test="targetTaskId != null">
        target_task_id,
      </if>
      <if test="targetBizId != null">
        target_biz_id,
      </if>
      <if test="targetStartTime != null">
        target_start_time,
      </if>
      <if test="targetFinishTime != null">
        target_finish_time,
      </if>
      <if test="transWorkItemCode != null">
        trans_work_item_code,
      </if>
      <if test="vehicleNumber != null">
        vehicle_number,
      </if>
      <if test="sealTime != null">
        seal_time,
      </if>
      <if test="helperErp != null">
        helper_erp,
      </if>
      <if test="sourceAreaCode != null">
        source_area_code,
      </if>
      <if test="sourceAreaName != null">
        source_area_name,
      </if>
      <if test="sourceSiteCode != null">
        source_site_code,
      </if>
      <if test="sourceSiteName != null">
        source_site_name,
      </if>
      <if test="sourceTaskId != null">
        source_task_id,
      </if>
      <if test="sourceBizId != null">
        source_biz_id,
      </if>
      <if test="unsealTime != null">
        unseal_time,
      </if>
      <if test="evaluateType != null">
        evaluate_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="dimensionCode != null">
        dimension_code,
      </if>
      <if test="imgCount != null">
        img_count,
      </if>
      <if test="evaluateUserErp != null">
        evaluate_user_erp,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserErp != null">
        create_user_erp,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="updateUserErp != null">
        update_user_erp,
      </if>
      <if test="updateUserName != null">
        update_user_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="yn != null">
        yn,
      </if>
      <if test="ts != null">
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="targetAreaCode != null">
        #{targetAreaCode,jdbcType=INTEGER},
      </if>
      <if test="targetAreaName != null">
        #{targetAreaName,jdbcType=VARCHAR},
      </if>
      <if test="targetSiteCode != null">
        #{targetSiteCode,jdbcType=INTEGER},
      </if>
      <if test="targetSiteName != null">
        #{targetSiteName,jdbcType=VARCHAR},
      </if>
      <if test="targetTaskId != null">
        #{targetTaskId,jdbcType=VARCHAR},
      </if>
      <if test="targetBizId != null">
        #{targetBizId,jdbcType=VARCHAR},
      </if>
      <if test="targetStartTime != null">
        #{targetStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="targetFinishTime != null">
        #{targetFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transWorkItemCode != null">
        #{transWorkItemCode,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNumber != null">
        #{vehicleNumber,jdbcType=VARCHAR},
      </if>
      <if test="sealTime != null">
        #{sealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="helperErp != null">
        #{helperErp,jdbcType=VARCHAR},
      </if>
      <if test="sourceAreaCode != null">
        #{sourceAreaCode,jdbcType=INTEGER},
      </if>
      <if test="sourceAreaName != null">
        #{sourceAreaName,jdbcType=VARCHAR},
      </if>
      <if test="sourceSiteCode != null">
        #{sourceSiteCode,jdbcType=INTEGER},
      </if>
      <if test="sourceSiteName != null">
        #{sourceSiteName,jdbcType=VARCHAR},
      </if>
      <if test="sourceTaskId != null">
        #{sourceTaskId,jdbcType=VARCHAR},
      </if>
      <if test="sourceBizId != null">
        #{sourceBizId,jdbcType=VARCHAR},
      </if>
      <if test="unsealTime != null">
        #{unsealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evaluateType != null">
        #{evaluateType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="dimensionCode != null">
        #{dimensionCode,jdbcType=VARCHAR},
      </if>
      <if test="imgCount != null">
        #{imgCount,jdbcType=INTEGER},
      </if>
      <if test="evaluateUserErp != null">
        #{evaluateUserErp,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserErp != null">
        #{createUserErp,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateUserErp != null">
        #{updateUserErp,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        #{yn,jdbcType=BIT},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.jd.bluedragon.distribution.jy.evaluate.JyEvaluateTargetInfoEntity">
    update jy_evaluate_target_info
    <set>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="dimensionCode != null">
        dimension_code = #{dimensionCode,jdbcType=INTEGER},
      </if>
      <if test="imgCount != null">
        img_count = #{imgCount,jdbcType=INTEGER},
      </if>
      <if test="evaluateUerErp != null">
        evaluate_uer_erp = #{evaluateUerErp,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateUserErp != null">
        update_user_erp = #{updateUserErp,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null">
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        yn = #{yn,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findBySourceBizId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from jy_evaluate_target_info
    where source_biz_id = #{sourceBizId,jdbcType=VARCHAR}
    and yn = 1
    limit 1
  </select>

  <select id="queryPageList" parameterType="com.jd.bluedragon.distribution.jy.evaluate.JyEvaluateTargetInfoQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from jy_evaluate_target_info
    where
      yn = 1
    <if test="targetStartTime != null">
      and target_start_time <![CDATA[ >= ]]> #{targetStartTime}
    </if>
    <if test="targetEndTime != null">
      and target_start_time <![CDATA[ <= ]]> #{targetEndTime}
    </if>
    <if test="targetAreaCode != null">
      and target_area_code = #{targetAreaCode}
    </if>
    <if test="targetSiteCode != null">
      and target_site_code = #{targetSiteCode}
    </if>
    <if test="vehicleNumber != null and vehicleNumber != ''">
      and vehicle_number = #{vehicleNumber}
    </if>
    <if test="evaluateStartTime != null">
      and update_time <![CDATA[ >= ]]> #{evaluateStartTime}
    </if>
    <if test="evaluateEndTime != null">
      and update_time <![CDATA[ <= ]]> #{evaluateEndTime}
    </if>
    <if test="sourceAreaCode != null">
      and source_area_code = #{sourceAreaCode}
    </if>
    <if test="sourceSiteCode != null">
      and source_site_code = #{sourceSiteCode}
    </if>
    <if test="helperErp != null and helperErp != ''">
      and FIND_IN_SET(#{helperErp}, helper_erp)
    </if>
    limit #{offset}, #{limit}
  </select>

  <select id="queryCount" parameterType="com.jd.bluedragon.distribution.jy.evaluate.JyEvaluateTargetInfoQuery" resultType="java.lang.Long">
    select
    count(*)
    from jy_evaluate_target_info
    where
    yn = 1
    <if test="targetStartTime != null">
      and target_start_time <![CDATA[ >= ]]> #{targetStartTime}
    </if>
    <if test="targetEndTime != null">
      and target_start_time <![CDATA[ <= ]]> #{targetEndTime}
    </if>
    <if test="targetAreaCode != null">
      and target_area_code = #{targetAreaCode}
    </if>
    <if test="targetSiteCode != null">
      and target_site_code = #{targetSiteCode}
    </if>
    <if test="vehicleNumber != null and vehicleNumber != ''">
      and vehicle_number = #{vehicleNumber}
    </if>
    <if test="evaluateStartTime != null">
      and update_time <![CDATA[ >= ]]> #{evaluateStartTime}
    </if>
    <if test="evaluateEndTime != null">
      and update_time <![CDATA[ <= ]]> #{evaluateEndTime}
    </if>
    <if test="sourceAreaCode != null">
      and source_area_code = #{sourceAreaCode}
    </if>
    <if test="sourceSiteCode != null">
      and source_site_code = #{sourceSiteCode}
    </if>
    <if test="helperErp != null and helperErp != ''">
      and FIND_IN_SET(#{helperErp}, helper_erp)
    </if>
    limit #{offset}, #{limit}
  </select>

  <select id="queryInfoByTargetBizId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from jy_evaluate_target_info
    where
    yn = 1
    and target_biz_id = #{businessId}
  </select>
</mapper>