<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.bluedragon.distribution.jy.dao.evaluate.JyEvaluateDimensionDao">

  <resultMap id="BaseResultMap" type="com.jd.bluedragon.distribution.jy.evaluate.JyEvaluateDimensionEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="INTEGER" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_erp" jdbcType="VARCHAR" property="createUserErp" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="update_user_erp" jdbcType="VARCHAR" property="updateUserErp" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="yn" jdbcType="BIT" property="yn" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
  </resultMap>

  <sql id="Base_Column_List">
    id, code, name, status, remark, create_user_erp, create_user_name, update_user_erp,
    update_user_name, create_time, update_time, yn, ts
  </sql>

  <insert id="insert" parameterType="com.jd.bluedragon.distribution.jy.evaluate.JyEvaluateDimensionEntity">
    insert into jy_evaluate_dimension (code,
                                       name, status, remark, create_user_name, update_user_erp, update_user_name,
                                       create_time, update_time, yn, ts)
    values (#{code,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
            #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createUserErp,jdbcType=VARCHAR},
            #{createUserName,jdbcType=VARCHAR}, #{updateUserErp,jdbcType=VARCHAR}, #{updateUserName,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{yn,jdbcType=BIT},
            #{ts,jdbcType=TIMESTAMP})
  </insert>

  <select id="findAllDimension" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" />
    from jy_evaluate_dimension
    where yn = 1
  </select>

  <select id="findAllDimensionMap" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" />
    from jy_evaluate_dimension
    where yn = 1
  </select>

</mapper>