<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.collection.dao.CollectionRecordDao" >

	<resultMap id="collectionRecordMap" type="com.jd.bluedragon.distribution.collection.entity.CollectionRecordPo" >
		<result column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
		<result column="collection_code" property="collectionCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="agg_code" property="aggCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="agg_code_type" property="aggCodeType" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="sum" property="sum" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result column="is_collected" property="isCollected" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result column="is_extra_collected" property="isExtraCollected" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result column="agg_mark" property="aggMark" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
		<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
		<result column="yn" property="yn" javaType="java.lang.Integer" jdbcType="TINYINT"/>
		<result column="ts" property="ts" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>
	</resultMap>

	<resultMap id="collectionRecordDetailMap"
			   type="com.jd.bluedragon.distribution.collection.entity.CollectionRecordDetailPo" >
		<result column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
		<result column="collection_code" property="collectionCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="scan_code" property="scanCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="scan_code_type" property="scanCodeType" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="agg_code" property="aggCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="agg_code_type" property="aggCodeType" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="collected_status" property="collectedStatus" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result column="collected_mark" property="collectedMark" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
		<result column="collected_time" property="collectedTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
		<result column="yn" property="yn" javaType="java.lang.Integer" jdbcType="TINYINT"/>
		<result column="ts" property="ts" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>
	</resultMap>

	<insert id="insertCollectionRecord" parameterType="CollectionRecordPo">
		INSERT INTO collection_record
		(
			`id`, `collection_code`, `agg_code`, `agg_code_type`, `sum`, `is_collected`, `is_extra_collected`,
			`agg_mark`, `create_time`, `yn`
		)
		VALUES (
			#{id, jdbcType=BIGINT},
			#{collectionCode, jdbcType=VARCHAR},
			#{aggCode, jdbcType=VARCHAR},
			#{aggCodeType, jdbcType=VARCHAR},
			#{sum, jdbcType=INTEGER},
			#{isCollected, jdbcType=INTEGER},
			#{isExtraCollected, jdbcType=INTEGER},
			#{aggMark, jdbcType=VARCHAR},
			NOW(),1
		)
	</insert>

	<insert id="batchInsertCollectionRecord" parameterType="java.util.List">
		INSERT INTO collection_record
		(
			`id`, `collection_code`, `agg_code`, `agg_code_type`, `sum`, `is_collected`, `is_extra_collected`,
			`agg_mark`, `create_time`, `yn`
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
			#{item.id, jdbcType=BIGINT},
			#{item.collectionCode, jdbcType=VARCHAR},
			#{item.aggCode, jdbcType=VARCHAR},
			#{item.aggCodeType, jdbcType=VARCHAR},
			#{item.sum, jdbcType=INTEGER},
			#{item.isCollected, jdbcType=INTEGER},
			#{item.isExtraCollected, jdbcType=INTEGER},
			#{item.aggMark, jdbcType=VARCHAR},
			NOW(),1
		</foreach>
	</insert>

	<insert id="batchInsertCollectionRecordDetail" parameterType="java.util.List">
		INSERT INTO collection_record_detail
		(
			`id`, `collection_code`, `scan_code`, `scan_code_type`, `agg_code`, `agg_code_type`,
			`collected_status`, `collected_mark`, `create_time`, `yn`
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.id, jdbcType=BIGINT},
				#{item.collectionCode, jdbcType=VARCHAR},
				#{item.scanCode, jdbcType=VARCHAR},
				#{item.scanCodeType, jdbcType=VARCHAR},
				#{item.aggCode, jdbcType=VARCHAR},
				#{item.aggCodeType, jdbcType=VARCHAR},
				#{item.collectedStatus, jdbcType=INTEGER},
				#{item.collectedMark, jdbcType=VARCHAR},
				now(), 1
			)
		</foreach>
	</insert>

	<update id="updateCollectionRecord" parameterType="CollectionRecordPo">
		UPDATE
			collection_record
		<set>
			<if test="isCollected != null">
				is_collected = #{isCollected, jdbcType=INTEGER},
			</if>
			<if test="isExtraCollected != null">
				is_extra_collected = #{isExtraCollected, jdbcType=INTEGER},
			</if>
			<if test="aggMark != null">
				agg_mark = #{aggMark, jdbcType=VARCHAR},
			</if>
			update_time = NOW()
		</set>
		<where>
			collection_code = #{collectionCode, jdbcType=VARCHAR}
			and agg_code = #{aggCode, jdbcType=VARCHAR}
			and yn = 1
		</where>
	</update>

	<update id="updateCollectionRecordDetail" parameterType="CollectionRecordDetailPo">
		UPDATE
			collection_record_detail
		<set>
			<if test="collectedStatus != null">
				collected_status = #{collectedStatus, jdbcType=INTEGER},
			</if>
			<if test="collectedMark != null">
				collected_mark = #{collectedMark, jdbcType=VARCHAR},
			</if>
			collected_time = NOW()
		</set>
		<where>
			collection_code = #{collectionCode, jdbcType=VARCHAR}
			and scan_code = #{scanCode, jdbcType=VARCHAR}
			and yn = 1
		</where>
	</update>

	<select id="findCollectionRecord" parameterType="CollectionRecordPo" resultMap="collectionRecordMap">
		SELECT
			collection_code, agg_code, agg_code_type, sum, is_collected, is_extra_collected, agg_mark
		FROM
			collection_record
		<where>
			collection_code = #{collectionCode, jdbcType=VARCHAR}
			<if test="aggCode != null and aggCodeType != null">
				and agg_code = #{aggCode, jdbcType=VARCHAR}
				and agg_code_type = #{aggCodeType, jdbcType=VARCHAR}
			</if>
			<if test="isCollected != null">
				and is_collected = #{isCollected, jdbcType=INTEGER}
			</if>
			<if test="isExtraCollected != null">
				and is_extra_collected = #{isExtraCollected, jdbcType=INTEGER}
			</if>
			and yn = 1
		</where>
	</select>

<!--	todo limit 还是做分页 -->
	<select id="findCollectionRecordDetail" parameterType="CollectionRecordDetailPo"
			resultMap="collectionRecordDetailMap">
		SELECT
			collection_code, scan_code, scan_code_type, agg_code, agg_code_type, collected_status, collected_mark
		FROM
			collection_record_detail
		<where>
			collection_code = #{collectionCode, jdbcType=VARCHAR}
			<if test="scanCode != null">
				and scan_code = #{scanCode, jdbcType=VARCHAR}
			</if>
			<if test="aggCode != null and aggCodeType != null">
				and agg_code = #{aggCode, jdbcType=VARCHAR}
				and agg_code_type = #{aggCodeType, jdbcType=VARCHAR}
			</if>
			<if test="collectedStatus != null">
				and collected_status = #{collectedStatus, jdbcType=VARCHAR}
			</if>
			and yn = 1
		</where>
	</select>

	<select id="countCollectionRecordByCollectionCode" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT
			count(1)
		FROM
			collection_record
		<where>
			collection_code = #{collectionCode, jdbcType=VARCHAR}
			and yn = 1
		</where>
	</select>

	<select id="countNoneCollectedAggCodeByCollectionCodeWithCollectedMark" parameterType="java.util.Map"
			resultType="java.lang.Integer">
		SELECT
			count(distinct agg_code)
		FROM
			collection_record_detail
		<where>
			collection_code in
			<foreach collection="collectionCodes" open="(" item="collectionCode" separator="," close=")">
				#{collectionCode, jdbcType=VARCHAR}
			</foreach>
			and agg_code_type = #{aggCodeType, jdbcType=VARCHAR}
			<if test="collectedMark != null">
				and collected_mark = #{collectedMark, jdbcType=VARCHAR}
			</if>
			and collected_status = 0
			and yn = 1
		</where>
	</select>

	<select id="countCollectionRecordDetailByCollectionCode" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT
			count(1)
		FROM
			collection_record_detail
		<where>
			collection_code = #{collectionCode, jdbcType=VARCHAR}
			and yn = 1
		</where>
	</select>

	<select id="findAggCodeByScanCode" parameterType="CollectionRecordDetailPo" resultMap="collectionRecordDetailMap">
		SELECT
			collection_code, agg_code, agg_code_type
		FROM
			collection_record_detail
		<where>
			collection_code = #{collectionCode, jdbcType=VARCHAR}
			and scan_code = #{scanCode, jdbcType=VARCHAR}
			and yn = 1
		</where>
	</select>

	<select id="sumAggCollectedByAggCode" parameterType="CollectionRecordDetailPo"
			resultType="com.jd.bluedragon.distribution.collection.entity.CollectionScanMarkCounter">
		SELECT
			collection_code, agg_code, agg_code_type, collected_status, count(collected_status) as num
		FROM
			collection_record_detail
		<where>
			collection_code = #{collectionCode, jdbcType=VARCHAR}
			and agg_code = #{aggCode, jdbcType=VARCHAR}
			and agg_code_type = #{aggCodeType, jdbcType=VARCHAR}
			and yn = 1
		</where>
		group by
			agg_code, agg_code_type, collection_code, collected_status
	</select>

	<select id="countAggCollectedByAggCode" parameterType="CollectionRecordDetailPo"
			resultType="com.jd.bluedragon.distribution.collection.entity.CollectionAggCodeCounter">
		SELECT
			collection_code, agg_code, agg_code_type, count(scan_code) as sumScanNum, sum(is_collected) as collectedNum,
		sum(is_extra_collected) as extraCollectedNum, max(ts) as ts
		FROM
			collection_record_detail
		<where>
			collection_code = #{collectionCode, jdbcType=VARCHAR}
			and agg_code = #{aggCode, jdbcType=VARCHAR}
			and agg_code_type = #{aggCodeType, jdbcType=VARCHAR}
			and yn = 1
		</where>
		group by agg_code, agg_code_type, collection_code
	</select>

	<select id="sumCollectionRecordByCollectionCode" parameterType="java.util.Map"
			resultType="com.jd.bluedragon.distribution.collection.entity.CollectionCounter">

		select
			collection_code as collectionCode, count(agg_code) as sumScanNum, sum(is_collected) as collectedNum,
		sum(is_extra_collected) as extraCollectedNum, max(ts) as ts
		FROM
			collection_record
		where
			collection_code in
			<foreach collection="collectionCodes" open="(" item="collectionCode" separator="," close=")">
				#{collectionCode, jdbcType=VARCHAR}
			</foreach>
			and agg_code_type = #{aggCodeType, jdbcType=VARCHAR}
			and yn = 1
		group by
			collection_code

	</select>

	<select id="sumCollectionAggCodeByCollectionCode" parameterType="java.util.Map"
			resultType="com.jd.bluedragon.distribution.collection.entity.CollectionCollectedMarkCounter">

		select
			crd.collection_code as collectionCode, crd.agg_code as aggCode, crd.agg_code_type as aggCodeType,
			crd.collected_mark as collectedMark, cr.agg_mark as aggMark,
			crd.collected_status as collectedStatus, count(1)
			as number, max(crd.ts) as ts
		from
			collection_record cr inner join collection_record_detail crd
		on
			cr.collection_code = crd.collection_code and cr.agg_code = crd.agg_code and cr.agg_code_type = crd.agg_code_type
		<where>
			<if test="list != null">
				crd.collection_code in
				<foreach collection="list" open="(" item="collectionCode" separator="," close=")">
					#{collectionCode, jdbcType=VARCHAR}
				</foreach>
			</if>
			<if test="isCollected != null">
				and cr.is_collected = #{isCollected, jdbcType=VARCHAR}
			</if>
			<if test="aggCodeType != null">
				and cr.agg_code_type = #{aggCodeType, jdbcType=VARCHAR}
			</if>
			<if test="aggCode != null">
				and cr.agg_code = #{aggCode, jdbcType=VARCHAR}
			</if>
			and crd.yn = 1
		</where>
		group by
			crd.collection_code, crd.agg_code, crd.agg_code_type, collected_mark, crd.collected_status
		order by cr.agg_mark
		limit #{offset, jdbcType=INTEGER}, #{limit, jdbcType=INTEGER}

	</select>

	<select id="sumCollectedByCollectionCodesWithCollectedMark" parameterType="java.util.Map"
			resultType="com.jd.bluedragon.distribution.collection.entity.CollectionScanMarkCounter">

		SELECT
			collection_code as collectionCode, agg_code as aggCode, agg_code_type as aggCodeType, collected_status as
			collectedStatus, collected_mark as collectedMark, count(1) as num , max(ts) as ts,
		FROM
			collection_record_detail
		<where>
			collection_code in
			<foreach collection="collectionCodes" open="(" item="collectionCode" separator="," close=")">
				#{collectionCode, jdbcType=VARCHAR}
			</foreach>
			<if test="collectedMark != null">
				and collected_mark = #{collectedMark, jdbcType=VARCHAR}
			</if>
			and yn = 1
		</where>
		group by
			collection_code, agg_code, agg_code_type, collected_status, collected_mark
	</select>

	<select id="queryCollectedDetailByCollectionAndAggCode" parameterType="CollectionRecordPo"
			resultType="com.jd.bluedragon.distribution.collection.entity.CollectionRecordDetailPo">

		SELECT
			collection_code, agg_code, agg_codeType, collected_mark, count(1) as number
		FROM
			collection_record_detail
		<where>
			collection_code in
			<foreach collection="list" open="(" item="collectionCode" separator="," close=")">
				#{collectionCode, jdbcType=VARCHAR}
			</foreach>
			and agg_code = #{aggCode, jdbcType=VARCHAR}
			and agg_codeType = #{aggCodeType, jdbcType=VARCHAR}
			and yn = 1
		</where>
		order by collected_mark
		limit #{offset, jdbcType=INTEGER}, #{limit, jdbcType=INTEGER}

	</select>


</mapper>