<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.bluedragon.distribution.send.dao.SendMReadDao">
    <resultMap id="SendM" type="SendM">
        <id column="send_m_id" property="sendMId" />
        <result column="send_code" property="sendCode" />
        <result column="box_code" property="boxCode" />
        <result column="turnoverBox_Code" property="turnoverBoxCode" />
        <result column="send_user" property="sendUser" />
        <result column="send_user_code" property="sendUserCode" />
        <result column="create_site_code" property="createSiteCode" />
        <result column="receive_site_code" property="receiveSiteCode" />
        <result column="car_code" property="carCode" />
        <result column="send_type" property="sendType" />
        <result column="create_user" property="createUser" />
        <result column="create_user_code" property="createUserCode" />
        <result column="create_time" property="createTime" />
        <result column="operate_time" property="operateTime" />
        <result column="update_user_code" property="updateUserCode" />
        <result column="updater_user" property="updaterUser" />
        <result column="sendm_status" property="sendmStatus" />
        <result column="update_time" property="updateTime" />
        <result column="shields_car_id" property="shieldsCarId" />
        <result column="excute_count" property="excuteCount" />
        <result column="excute_time" property="excuteTime" />
        <result column="transport_type" property="transporttype" />
        <result column="yn" property="yn" />
    </resultMap>

    <resultMap id="SendMList" type="java.lang.String">

    </resultMap>

    <sql id="Base_Column_List">
        send_m_id, send_code, send_user, send_user_code,box_code,turnoverBox_Code,
        create_site_code,
        receive_site_code,
        car_code, send_type,
        create_user, create_user_code, create_time,operate_time,
        update_user_code,
        updater_user,
        update_time, yn,
        shields_car_id,
        transport_type,
        excute_count,
        excute_time
    </sql>

    <select id="findSendMByBoxCode" parameterType="SendM"  resultMap="SendM">
        select
        <include refid="Base_Column_List" />
        from  DMS.send_m
        <where>
            yn=1
            <if test="createSiteCode!=null">
                and create_site_code = #{createSiteCode,jdbcType=INTEGER}
            </if>
            <if test="receiveSiteCode!=null">
                and receive_site_code = #{receiveSiteCode,jdbcType=INTEGER}
            </if>
            <if test="sendType!=null">
                and send_type = #{sendType,jdbcType=INTEGER}
            </if>
            <if test="boxCode!=null">
                and box_code = #{boxCode,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
	<select id="selectBoxCodeBySendCode" parameterType="SendM"
            resultType="java.lang.String">
        select
        	box_code
        from DMS.send_m
        where send_code= #{sendCode,jdbcType=VARCHAR} and yn=1
        <if test="createSiteCode!=null">
            and create_site_code = #{createSiteCode,jdbcType=INTEGER}
        </if>
    </select>
</mapper>