<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.abnormalorder.dao.AbnormalOrderDao" >

	<resultMap id="abnormalOrder" type="com.jd.bluedragon.distribution.abnormalorder.domain.AbnormalOrder" >
		<result column="system_id" property="systemId" />
		<result column="fingerprint" property="fingerprint" />
		<result column="order_id" property="orderId" />
		<result column="abnormal_code1" property="abnormalCode1" />
		<result column="abnormal_reason1" property="abnormalReason1" />
		<result column="abnormal_code2" property="abnormalCode2" />
		<result column="abnormal_reason2" property="abnormalReason2" />
		<result column="create_user_code" property="createUserCode" />
		<result column="create_user_erp" property="createUserErp" />
		<result column="create_user" property="createUser" />
		<result column="operate_time" property="operateTime" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="create_site_code" property="createSiteCode" />
		<result column="create_site_name" property="createSiteName" />
		<result column="is_cancel" property="isCancel" />
		<result column="memo" property="memo" />
		<result column="yn" property="yn" />				
	</resultMap>
	
	<insert id="add" parameterType="abnormalOrder" >
		INSERT INTO abnormal_order(
			system_id,fingerprint,order_id,
			abnormal_code1,abnormal_reason1,abnormal_code2,abnormal_reason2,
			create_user_code,create_user_erp,create_user,
			operate_time,create_time,update_time,
			create_site_code,create_site_name,
			is_cancel,memo,yn)
		VALUES(
			#{systemId,jdbcType=BIGINT},#{fingerprint,jdbcType=VARCHAR},#{orderId,jdbcType=VARCHAR},
			#{abnormalCode1,jdbcType=INTEGER},#{abnormalReason1,jdbcType=VARCHAR},#{abnormalCode2,jdbcType=INTEGER},#{abnormalReason2,jdbcType=VARCHAR},
			#{createUserCode,jdbcType=INTEGER},#{createUserErp,jdbcType=VARCHAR},#{createUser,jdbcType=VARCHAR},
			#{operateTime,jdbcType=TIMESTAMP},SYSDATE,SYSDATE,
			#{createSiteCode,jdbcType=VARCHAR},#{createSiteName,jdbcType=VARCHAR},
			-1,#{memo,jdbcType=VARCHAR},1
		)
	</insert>
	
	<select id="get" resultMap="abnormalOrder" parameterType="java.lang.String">
		SELECT
			system_id,fingerprint,order_id,
			abnormal_code1,abnormal_reason1,abnormal_code2,abnormal_reason2,
			create_user_code,create_user_erp,create_user,
			operate_time,create_time,update_time,
			create_site_code,create_site_name,is_cancel,memo,yn
		FROM abnormal_order
		WHERE order_id = #{orderId} and rownum <![CDATA[<=]]>1
	</select>
	
	<update id="update" parameterType="abnormalOrder" >
		UPDATE abnormal_order
		SET 
			fingerprint=#{fingerprint,jdbcType=VARCHAR},
			abnormal_code1=#{abnormalCode1,jdbcType=INTEGER},
			abnormal_reason1=#{abnormalReason1,jdbcType=VARCHAR},
			abnormal_code2=#{abnormalCode2,jdbcType=INTEGER},
			abnormal_reason2=#{abnormalReason2,jdbcType=VARCHAR},
			create_user_code=#{createUserCode,jdbcType=INTEGER},
			create_user_erp=#{createUserErp,jdbcType=VARCHAR},
			create_user=#{createUser,jdbcType=VARCHAR},
			create_site_code=#{createSiteCode,jdbcType=INTEGER},
			create_site_name=#{createSiteName,jdbcType=VARCHAR},
			operate_time=#{operateTime,jdbcType=VARCHAR},
			memo=#{memo,jdbcType=VARCHAR},
			is_cancel=#{isCancel,jdbcType=VARCHAR},
			update_time=SYSDATE
		WHERE
			order_id = #{orderId,jdbcType=VARCHAR} and yn = 1
	</update>
	
	<update id="updateResult" parameterType="abnormalOrder" >
		UPDATE abnormal_order
		SET 
			memo=#{memo,jdbcType=VARCHAR},
			is_cancel=#{isCancel,jdbcType=VARCHAR},
			update_time=SYSDATE
		WHERE
			order_id = #{orderId,jdbcType=VARCHAR} and yn = 1
	</update>
</mapper>	