<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>

	<appender name="bluedragon" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${log.path.prefix}/bluedragon-distribution-worker.log" />
		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />
		<!-- 设置文件大小 -->  
        <param name="MaxFileSize" value="20MB" />
        <param name="MaxBackupIndex" value="100"/>
        <param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="bluedragon.error" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${log.path.prefix}/bluedragon-distribution-worker-error.log" />
		<param name="Threshold" value="ERROR"/>
		<param name="Append" value="true" />
        <param name="MaxFileSize" value="20MB" />
        <param name="MaxBackupIndex" value="100"/>
        <param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="bluedragon.sorting" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${log.path.prefix}/bluedragon-distribution-worker-sorting.log" />
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="100"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="bluedragon.inspection" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${log.path.prefix}/bluedragon-distribution-worker-inspection.log" />
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="100"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="bluedragon.popAbnormal" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${log.path.prefix}/bluedragon-distribution-worker-popAbnormal.log" />
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="100"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="bluedragon.base" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${log.path.prefix}/bluedragon-distribution-worker-base.log" />
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="100"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="bluedragon.box" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${log.path.prefix}/bluedragon-distribution-worker-box.log" />
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="100"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="bluedragon.send" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${log.path.prefix}/bluedragon-distribution-worker-send.log" />
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="100"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>

	<appender name="bluedragon.sortingReturn" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${log.path.prefix}/bluedragon-distribution-worker-sortingReturnReturnStatus.log" />
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="100"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="bluedragon.receive" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${log.path.prefix}/bluedragon-distribution-worker-receive.log" />
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="100"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="bluedragon.partnerWaybill" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${log.path.prefix}/bluedragon-distribution-worker-partnerWaybill.log" />
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="100"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="bluedragon.reverseservice" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${log.path.prefix}/bluedragon-distribution-worker-reverseservice.log" />
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="100"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="bluedragon.etms.mq.sender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${log.path.prefix}/bluedragon-distribution-worker-mq-sender.log" />
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="100"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="CoalescingStatistics"
              class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
        <param name="TimeSlice" value="300000"/>
        <appender-ref ref="fileAppender"/>
    </appender>
	
	<appender name="fileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="${log.path.prefix}/perfStats.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>
	
	<!-- mybatis debug -->
	<category name="org.apache.ibatis"
		additivity="true">
		<priority value="DEBUG" />
		<appender-ref ref="console" />
	</category>
	
	<category name="java.sql" additivity="true">
		<priority value="DEBUG" />
		<appender-ref ref="console" />
	</category>
	
	<category name="org.perf4j.TimingLogger">
		<priority value="INFO" />
	</category>
	
	<logger name="com.jd.dbs.transaction" >
		<level value="ERROR" />
	</logger>

	<logger name="com.jd.etms.basic.cache" >
		<level value="ERROR" />
	</logger>

	<logger name="com.jd.bluedragon.distribution">
		<level value="INFO"/>
		<appender-ref ref="console"/>
		<appender-ref ref="bluedragon"/>
	</logger>
	
	<logger name="com.jd.bluedragon.distribution.sorting">
		<level value="INFO"/>
		<appender-ref ref="bluedragon.sorting"/>
		<appender-ref ref="console"/>
	</logger>
		
	<logger name="com.jd.bluedragon.distribution.inspection" >
		<level value="INFO"/>
		<appender-ref ref="bluedragon.inspection"/>
		<appender-ref ref="console"/>
	</logger>
	
	<logger name="com.jd.bluedragon.distribution.worker.PopAbnormalTask" >
		<level value="INFO"/>
		<appender-ref ref="bluedragon.popAbnormal"/>
		<appender-ref ref="console"/>
	</logger>
	
	<logger name="com.jd.bluedragon.distribution.base">
		<level value="INFO"/>
		<appender-ref ref="bluedragon.base"/>
		<appender-ref ref="console"/>
	</logger>
	
	<logger name="com.jd.bluedragon.distribution.box">
		<level value="INFO"/>
		<appender-ref ref="bluedragon.box"/>
		<appender-ref ref="console"/>
	</logger>
	
	<logger name="com.jd.bluedragon.distribution.send">
		<level value="INFO"/>
		<appender-ref ref="bluedragon.send"/>
		<appender-ref ref="console"/>
	</logger>
 
	<logger name="com.jd.bluedragon.distribution.sendprint">
		<level value="INFO"/>
		<appender-ref ref="bluedragon.send"/>
		<appender-ref ref="console"/>
	</logger>
	
	<logger name="com.jd.bluedragon.distribution.sorting.service.SortingReturnServiceImple">
		<level value="INFO"/>
		<appender-ref ref="bluedragon.sortingReturn"/>
		<appender-ref ref="console"/>
	</logger>
		
	<logger name="com.jd.bluedragon.distribution.receive">
		<level value="INFO"/>
		<appender-ref ref="bluedragon.receive"/>
		<appender-ref ref="console"/>
	</logger>
	
	<logger name="com.jd.bluedragon.distribution.receiveInspectionExc">
		<level value="INFO"/>
		<appender-ref ref="bluedragon.receive"/>
		<appender-ref ref="console"/>
	</logger>
	
	<logger name="com.jd.bluedragon.distribution.partnerWaybill">
		<level value="INFO"/>
		<appender-ref ref="bluedragon.partnerWaybill"/>
		<appender-ref ref="console"/>
	</logger>
	
	<logger name="com.jd.bluedragon.distribution.reverse.service">
		<level value="INFO"/>
		<appender-ref ref="bluedragon.reverseservice"/>
	</logger>
	
	<logger name="com.jd.etms.message">
		<level value="INFO"/>
		<appender-ref ref="bluedragon.etms.mq.sender"/>
	</logger>
	
	<logger name="com.jd.bluedragon">
		<level value="ERROR"/>
		<appender-ref ref="bluedragon.error"/>
		<appender-ref ref="console"/>
	</logger>

	<appender name="dbArchive" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log.path.prefix}/dbArchive.log" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %M:%L - %m%n" />
		</layout>
	</appender>

	<logger name="com.jd.bluedragon.dbArchive" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="dbArchive" />
	</logger>
	
	<root>
		<level value="INFO"/>
		<appender-ref ref="console" />
		<appender-ref ref="bluedragon" />
		<appender-ref ref="CoalescingStatistics" />
	</root>

</log4j:configuration>
