<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>批次异常单明细排查</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
	#parse("system/common/baseImport.vm")
    <script type="text/javascript">
        document.write("<sc"+"ript type='text/javascript' src='/static/js/exception/sendCodeHandlerDetail.js?_t="
                + new Date().valueOf() + "'></sc"+"ript>");
    </script>

</head>
<body>
    <ol class="breadcrumb">
        <li><a href="#">异常处理</a></li>
        <li><a href="/exception/sendCodeHandler/index">批次异常单排查</a></li>
        <li><a href="/exception/sendCodeHandler/detailPager">明细查询</a></li>
    </ol>
    <hr/>
    <input type="text" hidden id="waybillAddress" value="$!{waybillAddress}">


    <input type="text" hidden id="param" value=""></input>
    <form action="/exception/exportSendCodeDetail">
        <input type="text" hidden id="sendCodes" name="sendCodes" value=""></input>
        <input type="text" hidden id="type" name="type" value=""></input>
    </form>

    <div id="toolbar">
        <button id="btn_query" type="button" class="btn btn-primary">
            &nbsp;查询&nbsp;
            <span class="glyphicon glyphicon-search" aria-hidden="true"/>
        </button>
        <button id="btn_export" type="button" class="btn btn-default">
            &nbsp;导出&nbsp;
            <span class="glyphicon glyphicon-save" aria-hidden="true"/>
        </button>
    </div>
    <table id="dataTable"></table>
    <script type="text/javascript">
        var jaq = jaq || [];
        jaq.push(['account', 'JA2016_112453']);
        jaq.push(['domain', 'dms.etms.jd.com']);
        (function () {
            var ja = document.createElement('script');
            ja.type = 'text/javascript';
            ja.async = true;
            ja.src = '//wl.jd.com/joya.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ja, s);
        })()
    </script>
</body>
</html>
