<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.bluedragon.distribution.jy.dao.comboard.JyComboardAggsDao">
  <resultMap id="BaseResultMap" type="com.jd.bluedragon.distribution.jy.comboard.JyComboardAggsEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="send_flow" jdbcType="VARCHAR" property="send_flow" />
    <result column="biz_id" jdbcType="VARCHAR" property="biz_id" />
    <result column="board_code" jdbcType="VARCHAR" property="board_code" />
    <result column="product_type" jdbcType="VARCHAR" property="product_type" />
    <result column="scan_type" jdbcType="TINYINT" property="scan_type" />
    <result column="scanned_count" jdbcType="INTEGER" property="scanned_count" />
    <result column="board_count" jdbcType="INTEGER" property="board_count" />
    <result column="more_scanned_count" jdbcType="INTEGER" property="more_scanned_count" />
    <result column="intercept_count" jdbcType="INTEGER" property="intercept_count" />
    <result column="wait_scan_count" jdbcType="INTEGER" property="wait_scan_count" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="yn" jdbcType="BIT" property="yn" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
  </resultMap>
  <sql id="Base_Column_List">
    id, send_flow, biz_id, board_code, product_type, scan_type, scanned_count, board_count, 
    more_scanned_count, intercept_count, wait_scan_count, create_time, update_time, yn, 
    ts
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jy_comboard_aggs
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from jy_comboard_aggs
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jd.bluedragon.distribution.jy.comboard.JyComboardAggsEntity">
    insert into jy_comboard_aggs (id, send_flow, biz_id, 
      board_code, product_type, scan_type, 
      scanned_count, board_count, more_scanned_count, 
      intercept_count, wait_scan_count, create_time, 
      update_time, yn, ts
      )
    values (#{id,jdbcType=BIGINT}, #{send_flow,jdbcType=VARCHAR}, #{biz_id,jdbcType=VARCHAR}, 
      #{board_code,jdbcType=VARCHAR}, #{product_type,jdbcType=VARCHAR}, #{scan_type,jdbcType=TINYINT}, 
      #{scanned_count,jdbcType=INTEGER}, #{board_count,jdbcType=INTEGER}, #{more_scanned_count,jdbcType=INTEGER}, 
      #{intercept_count,jdbcType=INTEGER}, #{wait_scan_count,jdbcType=INTEGER}, #{create_time,jdbcType=TIMESTAMP}, 
      #{update_time,jdbcType=TIMESTAMP}, #{yn,jdbcType=BIT}, #{ts,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jd.bluedragon.distribution.jy.comboard.JyComboardAggsEntity">
    insert into jy_comboard_aggs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="send_flow != null">
        send_flow,
      </if>
      <if test="biz_id != null">
        biz_id,
      </if>
      <if test="board_code != null">
        board_code,
      </if>
      <if test="product_type != null">
        product_type,
      </if>
      <if test="scan_type != null">
        scan_type,
      </if>
      <if test="scanned_count != null">
        scanned_count,
      </if>
      <if test="board_count != null">
        board_count,
      </if>
      <if test="more_scanned_count != null">
        more_scanned_count,
      </if>
      <if test="intercept_count != null">
        intercept_count,
      </if>
      <if test="wait_scan_count != null">
        wait_scan_count,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="yn != null">
        yn,
      </if>
      <if test="ts != null">
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="send_flow != null">
        #{send_flow,jdbcType=VARCHAR},
      </if>
      <if test="biz_id != null">
        #{biz_id,jdbcType=VARCHAR},
      </if>
      <if test="board_code != null">
        #{board_code,jdbcType=VARCHAR},
      </if>
      <if test="product_type != null">
        #{product_type,jdbcType=VARCHAR},
      </if>
      <if test="scan_type != null">
        #{scan_type,jdbcType=TINYINT},
      </if>
      <if test="scanned_count != null">
        #{scanned_count,jdbcType=INTEGER},
      </if>
      <if test="board_count != null">
        #{board_count,jdbcType=INTEGER},
      </if>
      <if test="more_scanned_count != null">
        #{more_scanned_count,jdbcType=INTEGER},
      </if>
      <if test="intercept_count != null">
        #{intercept_count,jdbcType=INTEGER},
      </if>
      <if test="wait_scan_count != null">
        #{wait_scan_count,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        #{yn,jdbcType=BIT},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.bluedragon.distribution.jy.comboard.JyComboardAggsEntity">
    update jy_comboard_aggs
    <set>
      <if test="send_flow != null">
        send_flow = #{send_flow,jdbcType=VARCHAR},
      </if>
      <if test="biz_id != null">
        biz_id = #{biz_id,jdbcType=VARCHAR},
      </if>
      <if test="board_code != null">
        board_code = #{board_code,jdbcType=VARCHAR},
      </if>
      <if test="product_type != null">
        product_type = #{product_type,jdbcType=VARCHAR},
      </if>
      <if test="scan_type != null">
        scan_type = #{scan_type,jdbcType=TINYINT},
      </if>
      <if test="scanned_count != null">
        scanned_count = #{scanned_count,jdbcType=INTEGER},
      </if>
      <if test="board_count != null">
        board_count = #{board_count,jdbcType=INTEGER},
      </if>
      <if test="more_scanned_count != null">
        more_scanned_count = #{more_scanned_count,jdbcType=INTEGER},
      </if>
      <if test="intercept_count != null">
        intercept_count = #{intercept_count,jdbcType=INTEGER},
      </if>
      <if test="wait_scan_count != null">
        wait_scan_count = #{wait_scan_count,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        yn = #{yn,jdbcType=BIT},
      </if>
      <if test="ts != null">
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jd.bluedragon.distribution.jy.comboard.JyComboardAggsEntity">
    update jy_comboard_aggs
    set send_flow = #{send_flow,jdbcType=VARCHAR},
      biz_id = #{biz_id,jdbcType=VARCHAR},
      board_code = #{board_code,jdbcType=VARCHAR},
      product_type = #{product_type,jdbcType=VARCHAR},
      scan_type = #{scan_type,jdbcType=TINYINT},
      scanned_count = #{scanned_count,jdbcType=INTEGER},
      board_count = #{board_count,jdbcType=INTEGER},
      more_scanned_count = #{more_scanned_count,jdbcType=INTEGER},
      intercept_count = #{intercept_count,jdbcType=INTEGER},
      wait_scan_count = #{wait_scan_count,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      yn = #{yn,jdbcType=BIT},
      ts = #{ts,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>