<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.reverse.dao.ReverseReceiveDao" >

	<resultMap id="reverseReceive" type="com.jd.bluedragon.distribution.reverse.domain.ReverseReceive" >
		<result column="system_id" property="id" />
        <result column="org_id" property="orgId" />
		<result column="package_barcode" property="packageCode" />
		<result column="send_code" property="sendCode" />
		<result column="operator_code" property="operatorId" />
		<result column="operator" property="operatorName" />
		<result column="operate_time" property="receiveTime" />
		<result column="business_type" property="receiveType" />
		<result column="can_receive" property="canReceive" />
		<result column="reject_code" property="rejectCode" />
		<result column="reject_message" property="rejectMessage" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="yn" property="yn" />
	</resultMap>
	
	<insert id="add" parameterType="reverseReceive" >
		INSERT INTO Reverse_Receive (
			system_id,operator_code,operator,operate_time,
			send_code,package_barcode,can_receive,reject_code,reject_message,
            create_time, update_time, yn,business_type)
		VALUES (
			SEQ_REVERSE_Receive.NEXTVAL, 
			#{operatorId,jdbcType=VARCHAR},			
			#{operatorName,jdbcType=VARCHAR},			
			#{receiveTime,jdbcType=TIMESTAMP},			
			#{sendCode,jdbcType=VARCHAR},			
			#{packageCode,jdbcType=VARCHAR},			
			#{canReceive,jdbcType=VARCHAR},			
			#{rejectCode,jdbcType=INTEGER},			
			#{rejectMessage,jdbcType=VARCHAR},			
			SYSDATE, SYSDATE, 1,
			#{receiveType,jdbcType=VARCHAR})
	</insert>
	
	<select id="findByPackageCode" resultMap="reverseReceive" parameterType="String" >
		select system_id,operator_code,operator,operate_time,
			send_code,package_barcode,can_receive,reject_code,reject_message,business_type 
		FROM Reverse_Receive
		WHERE yn = 1 AND package_barcode = #{packageCode}
			AND ROWNUM <![CDATA[<=]]> 1
	</select>
	
	<select id="findOneReverseReceive" resultMap="reverseReceive" parameterType="reverseReceive" >
		select system_id,operator_code,operator,operate_time,
			send_code,package_barcode,can_receive,reject_code,reject_message,business_type 
		FROM Reverse_Receive
		WHERE yn = 1
          
          <if test="packageCode != null">
               AND package_barcode = #{packageCode}
          </if>
          <if test="canReceive != null">
               AND can_receive = #{canReceive}
          </if>
          <if test="receiveType != null">
               AND business_type = #{receiveType}
          </if>
          <if test="sendCode != null">
               AND send_code = #{sendCode}
          </if>
          <if test="operatorId != null">
               AND operator_code = #{operatorId}
          </if>
          <if test="rejectCode != null">
               AND reject_code = #{rejectCode}
          </if>
		AND ROWNUM <![CDATA[<=]]> 1
	</select>
	
	
	<select id="findByPackageCodeAndSendCode" resultMap="reverseReceive" parameterType="reverseReceive" >
		select system_id,operator_code,operator,operate_time,
			send_code,package_barcode,can_receive,reject_code,reject_message,business_type 
		FROM Reverse_Receive
		WHERE yn = 1 AND package_barcode = #{packageCode} AND send_code = #{sendCode} AND business_type = #{receiveType}
			AND ROWNUM <![CDATA[<=]]> 1
	</select>
	
	
	<select id="findByWaybillCodeAndSendCode" resultMap="reverseReceive" parameterType="reverseReceive" >
		select system_id,operator_code,operator,operate_time,
			send_code,package_barcode,can_receive,reject_code,reject_message,business_type 
		FROM Reverse_Receive
		WHERE yn = 1 AND package_barcode = #{orderId} AND send_code = #{sendCode} 
			AND ROWNUM <![CDATA[<=]]> 1
	</select>
	
	
	<update id="update"  parameterType="reverseReceive" >
		UPDATE Reverse_Receive
		<set>
            <if test="operatorId != null">
                operator_code = #{operatorId,jdbcType=VARCHAR},
            </if>
            <if test="operatorName != null">
                operator = #{operatorName,jdbcType=VARCHAR},
            </if>
            <if test="receiveTime != null">
                operate_time = #{receiveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sendCode != null">
                send_code = #{sendCode,jdbcType=VARCHAR},
            </if>
            <if test="packageCode != null">
                package_barcode = #{packageCode,jdbcType=VARCHAR},
            </if>
            <if test="canReceive != null">
                can_receive = #{canReceive,jdbcType=VARCHAR},
            </if>
            <if test="rejectCode != null">
                reject_code = #{rejectCode,jdbcType=INTEGER},
            </if>
            <if test="rejectMessage != null">
                reject_message = #{rejectMessage,jdbcType=VARCHAR},
            </if>
            <if test="receiveType != null">
                business_type = #{receiveType,jdbcType=VARCHAR},
            </if>
            
            update_time = SYSDATE
        </set>
		WHERE system_id = #{id}
	</update>
	
</mapper>