<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分拣复重抽检任务统计</title>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    #parse("system/common/baseImport.vm")
    <script src="/static/js/weightAndVolumeCheck/reviewWeightSpotCheck.js"></script>
</head>
<body>
##<input type="hidden" id="loginUserOrgId" value="$!{orgId}"/>
##<input type="hidden" id="loginUserCreateSiteCode" value="$!{createSiteCode}"/>
<div id="dataTableDiv" class="main">
        <ol class="breadcrumb">
            <li><a href="#">分拣中心</a></li>
            <li class="active">分拣复重抽检任务统计</li>
        </ol>
		<!-- 查询条件 -->
        <div id="query-condition">
            <form id="query-form" class="form-horizontal" >
                <fieldset>
                	<div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4">
                                <div class="form-group" >
                                    <label class="control-label col-xs-4" for="box-code-input">复核区域 ：</label>
                                    <div class="col-xs-6 ">
                                        <select id="site-group-select" class="form-control " name="site-group-select"
                                                value=""></select>
                                    </div>
                                    <input type="hidden" id="reviewOrgCode" name="reviewOrgCode"
                                           class="form-control search-param " >
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-xs-4" for="site-select">复核分拣 ：</label>
                                    <div class=" col-xs-6 ">
                                        <select id="site-select" class="form-control" name="site-select" value=""></select>
                                    </div>
                                    <input type="hidden" id="createSiteCode" name="createSiteCode"
                                           class="form-control search-param " >
                                </div>
                            </div>
                        </div>
               		</div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-xs-4 ">复核日期 ：</label>
                                    <div class=" col-xs-6">
                                        <input type="text" id="startTime" name="startTime"  readonly="readonly" class="form-control search-param ">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-xs-4 ">至</label>
                                    <div class=" col-xs-6">
                                        <input type="text" id="endTime" name="endTime"  readonly="readonly" class="form-control search-param " >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        <hr />
        <!-- 主页面操作按钮 -->
        <div id="toolbar" class="btn-group">
            <button id="btn_query" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;查询
            </button>
            <button id="btn_improt" type="button" class="btn btn-default">
                <span class="glyphicon  glyphicon-import" aria-hidden="true"></span>导入抽查任务
            </button>
            <button id="btn_export" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>导出
            </button>
        </div>
        <table id="dataTable"></table>
</div>

<!-- 导入 -->
<div class="modal fade" tabindex="-1" id="improt_modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">导入</h4>
            </div>
            <div class="modal-body">
                <form id="upload_excel_form" enctype="multipart/form-data" method="POST">

                    <div class="form-group">
                        <label for="exampleInputFile">选择导入文件</label>
                        <input type="file" id="importExcelFile" name="importExcelFile">
                        <p class="help-block">请使用标准模板,记录条数不得超过1000条</p>
                        <a href="#springUrl('')/static/importFileModel/reviewWeightSpotCheck.xlsx"
                           type="application/vnd.ms-excel">下载抽查任务模版</a>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_upload">上传</button>
                <button type="button" class="btn btn-success" id="btn_export_spot">导出</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

            </div>
        </div>
    </div>
</div>

</body>
</html>