<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>龙门架自动发货</title>
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpmanage.css')">
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/static/js/plugins/jquery-easyui/themes/default/easyui.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/plugins/jquery-easyui/themes/icon.css')">
    <script type="application/javascript" src="#springUrl('/static/js/jquery-1.8.0.min.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/jquery.form.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/plugins/jquery-easyui/jquery.easyui.min.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/common/page-bar.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/printDevice/printer.js')"></script>
</head>
<body>
    <div>

    </div>
    #parse("system/security/watermark.vm")
</body>
</html>
