<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>龙门架配置中心</title>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpmanage.css')">
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/static/js/plugins/jquery-easyui/themes/default/easyui.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/plugins/jquery-easyui/themes/icon.css')">
    <script type="text/javascript" src="#springUrl('/static/js/jquery-1.8.0.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/jquery-easyui/jquery.easyui.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/DatePicker/WdatePicker.js')"></script>
    <script type="text/javascript"
            src="#springUrl('/static/js/plugins/jquery-easyui/locale/easyui-lang-zh_CN.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/jquery.blockUI.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/json2.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/jquery.form.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/common-client.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/utils.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/page-bar.js')"></script>
    <script type="text/javascript" src="#springUrl("/static/js/gantry/gantry-modify.js")"></script>
    <style type="text/css">
        #content {
            margin: 0 auto;
        }

        #gantry_add_column_list {
            float: left;
        }

        .gantry_column_list_div {
            height: 24px;
            margin-top: 10px;
        }

        .gantry_column_list_div_title {
            float: left;
            width: 30%;
            text-align: right;
            font-size: 13px;
        }

        .gantry_column_list_div_text {
            float: right;
            width: 70%;
            text-align: left;vertical-align: middle;
        }

        .gantry_column_list_div_input {
            width: 300px;
            height: 20px;
        }

        .gantry_column_list_div_select {
            width: 300px;
        }
    </style>
</head>
<script type="text/javascript">
</script>
<body>
<input type="hidden" id="contextPath" value="#springUrl('')"/>

<div id="breadcrumb">
    <p>
        <a href="javascript:void(0)">分拣中心</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0)">龙门架配置中心</a>&nbsp;&gt;&nbsp;<a
            href="javascript:void(0)">修改</a>
    </p>
</div>
<div id="content">
    <div id="gantry_add_column_list">
        <div id="gantry_serial_num_div" class="gantry_column_list_div">
            <div class="gantry_column_list_div_title">
                <span>龙门架序编号：</span>
            </div>
            <div class="gantry_column_list_div_text">
                <span><input type="text" value="$!gantryDevice.machineId" disabled="disabled" id="gantry_add_column_machine_id" class="gantry_column_list_div_input"/></span>
            </div>
        </div>
        <div id="gantry_serial_num_div" class="gantry_column_list_div">
            <div class="gantry_column_list_div_title">
                <span>龙门架序列号：</span>
            </div>
            <div class="gantry_column_list_div_text">
                <span><input type="text" value="$!gantryDevice.serialNumber" id="gantry_add_column_serial_num" class="gantry_column_list_div_input"/></span>
            </div>
        </div>
        <div id="gantry_org_div" class="gantry_column_list_div">
            <div class="gantry_column_list_div_title">
                <span>龙门架机构：</span>
            </div>
            <div class="gantry_column_list_div_text">
				<span><select id="gantry_add_column_org" onchange="org_change($(this).val(),$!gantryDevice.siteCode)" class="gantry_column_list_div_select">
                    <option value="">请选择机构...</option>
					#if(!$null.isNull($!allOrgs))
						#foreach($org in $allOrgs)
							#if($org.orgId == $gantryDevice.orgCode)
                                <option selected="selected" value="$org.orgId">$org.orgName</option>
							#else
                                <option value="$org.orgId">$org.orgName</option>
							#end
						#end
					#end
                </select></span>
            </div>
        </div>
        <div id="gantry_site_div" class="gantry_column_list_div">
            <div class="gantry_column_list_div_title">
                <span>龙门架序站点：</span>
            </div>
            <div class="gantry_column_list_div_text">
				<span><select id="gantry_add_column_site" class="gantry_column_list_div_select">
                    <option value="">请选择站点...</option>
                </select></span>
            </div>
        </div>
        <div id="gantry_supplier_div" class="gantry_column_list_div">
            <div class="gantry_column_list_div_title">
                <span>龙门架供应商：</span>
            </div>
            <div class="gantry_column_list_div_text">
                <span><input type="text"  value="$!gantryDevice.supplier" id="gantry_add_column_supplier" class="gantry_column_list_div_input"/></span>
            </div>
        </div>
        <div id="gantry_model_num_div" class="gantry_column_list_div">
            <div class="gantry_column_list_div_title">
                <span>龙门架序型号：</span>
            </div>
            <div class="gantry_column_list_div_text">
                <span><input type="text"  value="$!gantryDevice.modelNumber" id="gantry_add_column_model_num" class="gantry_column_list_div_input"/></span>
            </div>
        </div>
        <div id="gantry_model_type_div" class="gantry_column_list_div">
            <div class="gantry_column_list_div_title">
                <span>龙门架类型：</span>
            </div>
            <div class="gantry_column_list_div_text">
                <span><input type="text" value="$!gantryDevice.type" id="gantry_add_column_type" class="gantry_column_list_div_input"/></span>
            </div>
        </div>
        <div id="gantry_model_version_div" class="gantry_column_list_div">
            <div class="gantry_column_list_div_title">
                <span>版本号：</span>
            </div>
            <div class="gantry_column_list_div_text">
                <span>
                    #if($!gantryDevice.version==0)
                        <input type="radio" value="0" name="gantry_add_column_version" id="gantry_add_column_version_id_0" checked="checked" />
                        <label for="gantry_add_column_version_id_0">支持单目的地发货</label>
                        <input type="radio" value="1" name="gantry_add_column_version" id="gantry_add_column_version_id_1" />
                        <label for="gantry_add_column_version_id_1">支持多目的地发货</label>
                    #else
                        <input type="radio" value="0" name="gantry_add_column_version" id="gantry_add_column_version_id_0" />
                        <label for="gantry_add_column_version_id_0">支持单目的地发货</label>
                        <input type="radio" value="1" name="gantry_add_column_version" id="gantry_add_column_version_id_1" checked="checked" />
                        <label for="gantry_add_column_version_id_1">支持多目的地发货</label>
                    #end

                </span>
            </div>
        </div>
        <div id="gantry_mark_div" class="gantry_column_list_div">
            <div class="gantry_column_list_div_title">
                <span>备注：</span>
            </div>
            <div class="gantry_column_list_div_text">
                <span><input type="text" value="$!gantryDevice.mark" id="gantry_add_column_mark" class="gantry_column_list_div_input"/></span>
            </div>
        </div>
        <div id="gantry_operate_div" class="gantry_column_list_div">
            <div class="gantry_column_list_div_title">
                <span></span>
            </div>
            <div class="gantry_column_list_div_text" >
                <span><input id="gantry_modify_back" value="返回" type="button" class="btn_c"/>
					<input id="gantry_modify_submit" value="更新" type="button" class="btn_c"/>
				</span>
            </div>
        </div>
    </div>
</div>
#parse("system/security/watermark.vm")
</body>
</html>