<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>补打印界面</title>
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpmanage.css')">
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/static/js/plugins/jquery-easyui/themes/default/easyui.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/plugins/jquery-easyui/themes/icon.css')">
    <script type="application/javascript" src="#springUrl('/static/js/jquery-1.8.0.min.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/plugins/jquery.blockUI.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/plugins/jquery-easyui/jquery.easyui.min.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/common/common-client.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/common/page-bar.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/DatePicker/WdatePicker.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/printDevice/printer.js')"></script>
    <style  type="text/css">
        .textField {
            width: 150px;
        }

        .checkboxArea .checkbox , label {
            vertical-align: middle;
        }

    </style>
    <script type="application/javascript">
        $(document).ready(function () {
            var siteNo = $("#createSiteCode").val();
            querySubSite();//初始化子站点

            query(1);//默认加载首页



            /**
             * 全选/取消
             */
            $("#all").click(function () {
                if($(this).prop("checked")){
                    $("input[name=item]").each(function(){
                        $(this).prop("checked",true);
                    })
                }else{
                    $("input[name=item]:checked").each(function(){
                        $(this).prop("checked",false);
                    })
                }
            })
        })

        /**
         * 执行子站点的初始化
         */
        function querySubSite() {
            var url = $("#contextPath").val() + "/GantryBatchSendReplenishPrint/querySubSiteNo"
            CommonClient.post(url,getParams(),function(data){
                if(data == undefined && data == null){
                    return;
                }
                if(data.code == 200 && data.data != null ){
                    var list = data.data;
                    var temp = "<option value = ''>请选择目的站点</option>";
                    for(var i = 0;i < list.length;i++){
                        temp += "<option value = " + list[i].receiveSiteCode + ">" + list[i].receiveSiteCode + " " + list[i].receiveSiteName + "</option>";
                    }
                    $("#receiveSiteCode").html(temp);
                }
            })

        }

        /**
         * 执行查询事件
         */
        function query(pageNo){
            var params = getParams();
            params.pageNo = pageNo;
            doQuery(params);
        }

        /**
         * 提交查询参数
         */
        function doQuery(params) {
            var url = $("#contextPath").val() + "/GantryBatchSendReplenishPrint/query";
            var url2 = $("#contextPath").val() + "/gantryAutoSend/summaryBySendCode";
            CommonClient.post(url,params,function (data) {
                if(data == undefined && data == null){
                    jQuery.messager.alert("提示：","HTTP请求没有数据返回!!","info");
                }
                if(data.code == 200 && data.data != null) {
                    var page = data.data;
                    var list = page.data;
                    var temp = "";
                    for (var i = 0;i < list.length;i++) {
                        var packageSum = 0.00;//总数量
                        var volumeSum = 0.00;//总体积
                        CommonClient.syncPost(url2,{"sendCode":list[i].sendCode},function (data) {
                            if (data != undefined && data != null){
                                var sum = data.data;
                                if(sum.packageSum != null && sum.volumeSum != null){
                                    packageSum = sum.packageSum;
                                    volumeSum = sum.volumeSum;
                                }
                            }
                        })
                        temp += "<tr id='" + (i+1) + "'>";
                        temp += "<td><input type='checkbox' name='item'></td>";
                        temp += "<td title='" + list[i].receiveSiteCode + "'>" + list[i].receiveSiteName + "</td>";
                        temp += "<td>" + list[i].sendCode + "</td>";
                        temp += "<td>"+packageSum+"</td>";
                        temp += "<td>"+volumeSum+"</td>";
                        temp += "<td>" + timeStampToDate(list[i].createTime) + "</td>";
                        temp += "</tr>";
                    }
                    $("#pagerTable tbody").html(temp);
                    //添加分页显示
                    $("#pager").html(PageBar.getHtml("query",page.totalSize,page.pageNo,page.totalNo));

                }else if(data.code == 200 && data.data ==null){
                    jQuery.messager.alert("提示：","服务器请求成功，无数据返回!","info");
                }else if(data.code == 500){
                    jQuery.messager.alert("提示：","服务器请求数据处理异常","info");
                }else{
                    jQuery.messager.alert("提示：","服务器请求数据处理异常","info");
                }
            })
        }

        /**
         * 获取页面参数
         */
        function getParams(){
            var params = {};
            params.machineId = $("#machineId").val();
            params.createSiteCode = $("#createSiteCode").val();
            params.createSiteName = $("#createSiteName").val();
            params.receiveSiteCode = $("#receiveSiteCode").val();
            params.startTime = new Date($("#startTime").val());
            params.endTime = new Date($("#endTime").val());
            return params;
        }

        /**
         * 将时间戳转换为时间对象 如2016-12-19 20:13:03
         * @param ts
         */
        function timeStampToDate(ts){
            var date = new Date(ts);
            var Y = date.getFullYear() + "-";
            var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + "-";
            var D = date.getDate() < 10? "0"+date.getDate() : date.getDate();
            var h = date.getHours() + ":";
            var m = date.getMinutes() + ":";
            var s = date.getSeconds();
            var timeStr = Y + M + D + " " + h + m + s;
            return timeStr;
        }

    </script>
</head>
<body>
<input type="hidden" id="contextPath" value="#springUrl('')">
<div id="breadcrumb">
    <P>
        <a href="javascript:void(0)">分拣中心</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0)">龙门架自动发货</a>&nbsp;&gt;&nbsp;<a herf="javascript:void(0)">补打印界面</a>
    </P>
</div>
<div id="content">
    <div>
        <input type="hidden" class="textField" id="machineId" value="$!{machineId}">
        <input type="hidden" class="textField" id="createSiteCode" value="$!{createSiteCode}">
        <input type="hidden" class="textField" id="createSiteName" value="$!{createSiteName}">
    </div>
    <div class="m">
        <div class="tbl-n">
            <div id="part-1" class="part">
                <span>查询站点：</span>
                <select name="siteOrg" id="receiveSiteCode" value="" class="textField">
                    <option value="">请选择站点</option>
                </select>
                <span>起始时间：</span>
                <input type="text" id= "startTime"  name="startTime" style="width: 130px" class="Wdate"
                                        onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="$!{startTime}"/>
                --
                <span>结束时间：</span>
                <input type="text" id= "endTime"  name="endTime" style="width: 130px" class="Wdate"
                       onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="$!{endTime}"/>
                <input type="button" class="btn_c" value="查询" onclick="query(1)">
                <input type="button" class="btn_c" value="打印" onclick=""/>
            </div>
        </div>
    </div>
    <div class="opening">
        <div class="tbl-list">
            <div class="tbl-bg">
                <table id="pagerTable" class="tb-x1" cellspacing="0" cellpadding="0" style="width: 100%;min-width:1100px;">
                    <thead>
                    <tr>
                        <th class="checkboxArea"><input type="checkbox" id="all" name="all" value="all" class="checkbox"><label for="all">全选</label></th>
                        <th>批次目的地</th>
                        <th>批次号</th>
                        <th>包裹数量</th>
                        <th>总体积（m³）</th>
                        <th>批次创建时间</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <div id="pager" class="tbl-n">

        </div>
    </div>
</div>
</body>
</html>
