<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.reassignWaybill.dao.ReassignWaybillDao">
	<insert id="add" parameterType="reassignWaybill">
		INSERT INTO
		reassign_waybill (
		reassign_waybill_id, package_barcode, address, receive_site_name, receive_site_code,
		change_site_name,change_site_code,operate_time,
		create_site_code,create_site_name,create_user_code, create_user,
	    create_time, update_time, yn,waybill_code)
		VALUES (
		SEQ_REASSIGN_WAYBILL.NEXTVAL, #{packageBarcode,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},#{receiveSiteName,jdbcType=VARCHAR},
		#{receiveSiteCode,jdbcType=INTEGER},#{changeSiteName,jdbcType=VARCHAR},
		#{changeSiteCode,jdbcType=INTEGER},#{operateTime,jdbcType=TIMESTAMP},
	    #{siteCode,jdbcType=INTEGER}, #{siteName,jdbcType=VARCHAR},
		#{userCode,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
		NOW(),NOW(),1,#{waybillCode,jdbcType=VARCHAR})
	</insert>

    <resultMap id="ReassignWayBill"
               type="com.jd.bluedragon.distribution.reassignWaybill.domain.ReassignWaybill">
        <result column="package_barcode" property="packageBarcode" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="receive_site_code" property="receiveSiteCode" jdbcType="NUMERIC" />
        <result column="receive_site_name" property="receiveSiteName" jdbcType="VARCHAR" />
        <result column="change_site_code" property="changeSiteCode" jdbcType="NUMERIC" />
        <result column="change_site_name" property="changeSiteName" jdbcType="VARCHAR" />
        <result column="operate_time" property="operateTime" jdbcType="DATE" />
        <result column="create_user_code" property="userCode" jdbcType="NUMERIC" />
        <result column="create_user" property="userName" jdbcType="VARCHAR" />
        <result column="create_site_code" property="siteCode" jdbcType="NUMERIC" />
        <result column="create_site_name" property="siteName" jdbcType="VARCHAR" />
        <result column="waybill_code" property="waybillCode" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Reassign_Waybill_Column">
        package_barcode, address, receive_site_name, receive_site_code,
        change_site_name,change_site_code,operate_time, waybill_code,
        create_site_code,create_site_name,create_user_code, create_user
    </sql>

    <select id="queryByPackageCode" parameterType="java.lang.String" resultMap="ReassignWayBill">
        SELECT
            <include refid="Reassign_Waybill_Column" />
        FROM
            (SELECT
              <include refid="Reassign_Waybill_Column" />
            FROM
              reassign_waybill
            WHERE
              package_barcode = #{packageCode} ORDER BY operate_time DESC)
         WHERE
            LIMIT 1
    </select>
    
    <select id="queryByWaybillCode" parameterType="java.lang.String" resultMap="ReassignWayBill">
        SELECT
            <include refid="Reassign_Waybill_Column" />
        FROM
            (SELECT
              <include refid="Reassign_Waybill_Column" />
            FROM
              reassign_waybill
            WHERE
              waybill_code = #{waybillCode} ORDER BY operate_time DESC)
         WHERE
            LIMIT 1
    </select>
    
</mapper>