<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jd.bluedragon.distribution.jy.dao.unload.JyUnloadAggsDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jd.bluedragon.distribution.jy.unload.JyUnloadAggsEntity" id="jyUnloadAggsMap">
        <result property="id" column="id"/>
        <result property="bizId" column="biz_id"/>
        <result property="sealCarCode" column="seal_car_code"/>
        <result property="operateSiteId" column="operate_site_id"/>
        <result property="productType" column="product_type"/>
        <result property="shouldScanCount" column="should_scan_count"/>
        <result property="actualScanCount" column="actual_scan_count"/>
        <result property="interceptShouldScanCount" column="intercept_should_scan_count"/>
        <result property="interceptActualScanCount" column="intercept_actual_scan_count"/>
        <result property="interceptNotScanCount" column="intercept_not_scan_count"/>
        <result property="moreScanLocalCount" column="more_scan_local_count"/>
        <result property="moreScanOutCount" column="more_scan_out_count"/>
        <result property="moreScanTotalCount" column="more_scan_total_count"/>
        <result property="totalSealPackageCount" column="total_seal_package_count"/>
        <result property="totalScannedPackageCount" column="total_scanned_package_count"/>
        <result property="createTime" column="create_time"/>
        <result property="yn" column="yn"/>
        <result property="ts" column="ts"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        biz_id,
        seal_car_code,
        operate_site_id,
        product_type,
        should_scan_count,
        actual_scan_count,
        intercept_should_scan_count,
        intercept_actual_scan_count,
        intercept_not_scan_count,
        more_scan_local_count,
        more_scan_out_count,
        more_scan_total_count,
        total_seal_package_count,
        total_scanned_package_count,
        create_time,
        yn,
        ts
    </sql>

    <insert id="insert" parameterType="JyUnloadAggsEntity">
        INSERT INTO jy_unload_aggs (
                            id,
                            biz_id,
                            seal_car_code,
                            operate_site_id,
                            product_type,
                            should_scan_count,
                            actual_scan_count,
                            intercept_should_scan_count,
                            intercept_actual_scan_count,
                            intercept_not_scan_count,
                            more_scan_local_count,
                            more_scan_out_count,
                            more_scan_total_count,
                            total_seal_package_count,
                            total_scanned_package_count,
                            create_time,
                            yn
                    ) VALUES (
                            #{id},
                            #{bizId},
                            #{sealCarCode},
                            #{operateSiteId},
                            #{productType},
                            #{shouldScanCount},
                            #{actualScanCount},
                            #{interceptShouldScanCount},
                            #{interceptActualScanCount},
                            #{interceptNotScanCount},
                            #{moreScanLocalCount},
                            #{moreScanOutCount},
                            #{moreScanTotalCount},
                            #{totalSealPackageCount},
                            #{totalScannedPackageCount},
                            NOW(),
                            1
                    )
    </insert>
    
    <select id="queryByBizId" parameterType="JyUnloadAggsEntity" resultMap="jyUnloadAggsMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
             jy_unload_aggs
        WHERE
            yn = 1
        AND biz_id = #{bizId, jdbcType=VARCHAR}
    </select>

    <!--查询关键字匹配 -->
    <update id="insertOrUpdate" parameterType="com.jd.bluedragon.distribution.jy.unload.JyUnloadAggsEntity">
        INSERT INTO jy_unload_aggs
        (biz_id,
        <if test="sealCarCode != null">
            seal_car_code,
        </if>
        <if test="operateSiteId != null">
            operate_site_id,
        </if>
        <if test="productType != null">
            product_type,
        </if>
        <if test="shouldScanCount != null">
            should_scan_count,
        </if>
        <if test="actualScanCount != null">
            actual_scan_count,
        </if>
        <if test="interceptShouldScanCount != null">
            intercept_should_scan_count,
        </if>
        <if test="interceptActualScanCount != null">
            intercept_actual_scan_count,
        </if>
        <if test="interceptNotScanCount != null">
            intercept_not_scan_count,
        </if>
        <if test="moreScanLocalCount != null">
            more_scan_local_count,
        </if>
        <if test="moreScanOutCount != null">
            more_scan_out_count,
        </if>
        <if test="moreScanTotalCount != null">
            more_scan_total_count,
        </if>
        <if test="totalSealPackageCount != null">
            total_seal_package_count,
        </if>
        <if test="totalScannedPackageCount != null">
            total_scanned_package_count,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        yn)
        VALUES
        (#{bizId},
        <if test="sealCarCode != null">
            #{sealCarCode},
        </if>
        <if test="operateSiteId != null">
            #{operateSiteId},
        </if>
        <if test="productType != null">
            #{productType},
        </if>
        <if test="shouldScanCount != null">
            #{shouldScanCount},
        </if>
        <if test="actualScanCount != null">
            #{actualScanCount},
        </if>
        <if test="interceptShouldScanCount != null">
            #{interceptShouldScanCount},
        </if>
        <if test="interceptActualScanCount != null">
            #{interceptActualScanCount},
        </if>
        <if test="interceptNotScanCount != null">
            #{interceptNotScanCount},
        </if>
        <if test="moreScanLocalCount != null">
            #{moreScanLocalCount},
        </if>
        <if test="moreScanOutCount != null">
            #{moreScanOutCount},
        </if>
        <if test="moreScanTotalCount != null">
            #{moreScanTotalCount},
        </if>
        <if test="totalSealPackageCount != null">
            #{totalSealPackageCount},
        </if>
        <if test="totalScannedPackageCount != null">
            #{totalScannedPackageCount},
        </if>
        <if test="createTime != null">
            #{createTime},
        </if>
        1)
        ON DUPLICATE KEY UPDATE
        biz_id = #{bizId},
        <if test="sealCarCode != null">
            seal_car_code = #{sealCarCode},
        </if>
        <if test="operateSiteId != null">
            operate_site_id = #{operateSiteId},
        </if>
        <if test="productType != null">
            product_type = #{productType},
        </if>
        <if test="shouldScanCount != null">
            should_scan_count = #{shouldScanCount},
        </if>
        <if test="actualScanCount != null">
            actual_scan_count = #{actualScanCount},
        </if>
        <if test="interceptShouldScanCount != null">
            intercept_should_scan_count = #{interceptShouldScanCount},
        </if>
        <if test="interceptActualScanCount != null">
            intercept_actual_scan_count = #{interceptActualScanCount},
        </if>
        <if test="interceptNotScanCount != null">
            intercept_not_scan_count = #{interceptNotScanCount},
        </if>
        <if test="moreScanLocalCount != null">
            more_scan_local_count = #{moreScanLocalCount},
        </if>
        <if test="moreScanOutCount != null">
            more_scan_out_count = #{moreScanOutCount},
        </if>
        <if test="moreScanTotalCount != null">
            more_scan_total_count = #{moreScanTotalCount},
        </if>
        <if test="totalSealPackageCount != null">
            total_seal_package_count = #{totalSealPackageCount},
        </if>
        <if test="totalScannedPackageCount != null">
            total_scanned_package_count = #{totalScannedPackageCount},
        </if>
        <if test="createTime != null">
            create_time = #{createTime},
        </if>
        yn = 1
    </update>
</mapper>