<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.half.dao.PackageHalfApproveDao">

	<resultMap id="PackageHalfApprove" type="com.jd.bluedragon.distribution.half.domain.PackageHalfApprove" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="dms_site_code" property="dmsSiteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="dms_site_name" property="dmsSiteName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="waybill_code" property="waybillCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="order_id" property="orderId" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="waybill_sign" property="waybillSign" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="package_code" property="packageCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="package_remark" property="packageRemark" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="package_state" property="packageState" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="operatetime" property="operatetime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="create_user_code" property="createUserCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="create_user" property="createUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_user_name" property="createUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="update_user_code" property="updateUserCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="update_user" property="updateUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user_name" property="updateUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List" >
		id,dms_site_code,dms_site_name,waybill_code,order_id,waybill_sign,
		package_code,package_remark,package_state,operatetime,create_user_code,
		create_user,create_user_name,create_time,update_user_code,update_user,
		update_user_name,update_time,is_delete,ts
	</sql>

	<insert id="insert" parameterType="com.jd.bluedragon.distribution.half.domain.PackageHalfApprove">
		insert into package_half_approve
			(
			<trim suffixOverrides=",">
				<if test="dmsSiteCode != null">
					dms_site_code,
				</if>
				<if test="dmsSiteName != null">
					dms_site_name,
				</if>
				<if test="waybillCode != null">
					waybill_code,
				</if>
				<if test="orderId != null">
					order_id,
				</if>
				<if test="waybillSign != null">
					waybill_sign,
				</if>
				<if test="packageCode != null">
					package_code,
				</if>
				<if test="packageRemark != null">
					package_remark,
				</if>
				<if test="packageState != null">
					package_state,
				</if>
				<if test="operatetime != null">
					operatetime,
				</if>
				<if test="createUserCode != null">
					create_user_code,
				</if>
				<if test="createUser != null">
					create_user,
				</if>
				<if test="createUserName != null">
					create_user_name,
				</if>
					create_time,
					is_delete,
					ts
			</trim>
			)
			values
			(
			<trim suffixOverrides=",">
				<if test="dmsSiteCode != null">
					#{dmsSiteCode,jdbcType=INTEGER},
				</if>
				<if test="dmsSiteName != null">
					#{dmsSiteName,jdbcType=VARCHAR},
				</if>
				<if test="waybillCode != null">
					#{waybillCode,jdbcType=VARCHAR},
				</if>
				<if test="orderId != null">
					#{orderId,jdbcType=VARCHAR},
				</if>
				<if test="waybillSign != null">
					#{waybillSign,jdbcType=VARCHAR},
				</if>
				<if test="packageCode != null">
					#{packageCode,jdbcType=VARCHAR},
				</if>
				<if test="packageRemark != null">
					#{packageRemark,jdbcType=VARCHAR},
				</if>
				<if test="packageState != null">
					#{packageState,jdbcType=INTEGER},
				</if>
				<if test="operatetime != null">
					#{operatetime,jdbcType=TIMESTAMP},
				</if>
				<if test="createUserCode != null">
					#{createUserCode,jdbcType=INTEGER},
				</if>
				<if test="createUser != null">
					#{createUser,jdbcType=VARCHAR},
				</if>
				<if test="createUserName != null">
					#{createUserName,jdbcType=VARCHAR},
				</if>
					now(),
					0,
					now()
			</trim>
			)
	</insert>

	<insert id="batchInsert" parameterType="List">
		insert into package_half_approve
			(
				dms_site_code,dms_site_name,waybill_code,order_id,
				waybill_sign,package_code,package_remark,package_state,operatetime,
				create_user_code,create_user,create_user_name,create_time,is_delete,ts
			)
			values
			<foreach collection="list" item="item" index="index" separator=",">
				(
					#{item.dmsSiteCode,jdbcType=INTEGER},
					#{item.dmsSiteName,jdbcType=VARCHAR},
					#{item.waybillCode,jdbcType=VARCHAR},
					#{item.orderId,jdbcType=VARCHAR},
					#{item.waybillSign,jdbcType=VARCHAR},
					#{item.packageCode,jdbcType=VARCHAR},
					#{item.packageRemark,jdbcType=VARCHAR},
					#{item.packageState,jdbcType=INTEGER},
					#{item.operatetime,jdbcType=TIMESTAMP},
					#{item.createUserCode,jdbcType=INTEGER},
					#{item.createUser,jdbcType=VARCHAR},
					#{item.createUserName,jdbcType=VARCHAR},
					#{item.createTime,jdbcType=TIMESTAMP},
					#{item.isDelete,jdbcType=TINYINT},
					#{item.ts,jdbcType=TIMESTAMP}
				)
			</foreach>
	</insert>

	<update id="update" parameterType="com.jd.bluedragon.distribution.half.domain.PackageHalfApprove">
		update package_half_approve
			<set>
				<if test="dmsSiteCode != null">
					dms_site_code = #{dmsSiteCode,jdbcType=INTEGER},
				</if>
				<if test="dmsSiteName != null">
					dms_site_name = #{dmsSiteName,jdbcType=VARCHAR},
				</if>
				<if test="waybillCode != null">
					waybill_code = #{waybillCode,jdbcType=VARCHAR},
				</if>
				<if test="orderId != null">
					order_id = #{orderId,jdbcType=VARCHAR},
				</if>
				<if test="waybillSign != null">
					waybill_sign = #{waybillSign,jdbcType=VARCHAR},
				</if>
				<if test="packageCode != null">
					package_code = #{packageCode,jdbcType=VARCHAR},
				</if>
				<if test="packageRemark != null">
					package_remark = #{packageRemark,jdbcType=VARCHAR},
				</if>
				<if test="packageState != null">
					package_state = #{packageState,jdbcType=INTEGER},
				</if>
				<if test="operatetime != null">
					operatetime = #{operatetime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateUserCode != null">
					update_user_code = #{updateUserCode,jdbcType=INTEGER},
				</if>
				<if test="updateUser != null">
					update_user = #{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUserName != null">
					update_user_name = #{updateUserName,jdbcType=VARCHAR},
				</if>
					update_time = now(),
			</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="deleteById" parameterType="Long">
		update package_half_approve
			set is_delete = 1
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="deleteByIds" parameterType="List">
		update package_half_approve
			set is_delete = 1
		where id in
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item,jdbcType=BIGINT}
		</foreach>
	</update>

	<select id="findById" parameterType="Long" resultMap="PackageHalfApprove">
		select 
		 <include refid="Base_Column_List"/>
		from 
		  package_half_approve 
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="findByUniqueKey" parameterType="com.jd.bluedragon.distribution.half.domain.PackageHalfApprove" resultMap="PackageHalfApprove">
		select 
		 <include refid="Base_Column_List"/>
		from 
		  package_half_approve 
		where id = #{id,jdbcType=BIGINT}
		  order by ts desc
		limit 1
	</select>

	<sql id="Base_Condition_Sql" >
		<where>
			is_delete = 0
			<if test="dmsSiteCode != null">
				AND dms_site_code = #{dmsSiteCode,jdbcType=INTEGER}
			</if>
			<if test="waybillCode != null">
				AND waybill_code = #{waybillCode,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<select id="pageNum_queryByPagerCondition" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultType="Integer">
		select 
		 count(1) as num
		from 
		  package_half_approve
		 <include refid="Base_Condition_Sql"/>
	</select>

	<select id="queryByPagerCondition" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultMap="PackageHalfApprove">
		select 
		 <include refid="Base_Column_List"/>
		from 
		  package_half_approve
		 <include refid="Base_Condition_Sql"/>
		 limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
	</select>
	<select id="queryOneByWaybillCode" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultMap="PackageHalfApprove">
		select
			<include refid="Base_Column_List"/>
		from package_half_approve
		<include refid="Base_Condition_Sql"/>
		limit 1
	</select>
	<select id="queryListByWaybillCode" parameterType="list" resultMap="PackageHalfApprove">
		select
        dms_site_code,dms_site_name,waybill_code,create_user_code,create_user,create_user_name
		from package_half_approve
        where is_delete = 0 and waybill_code in
        <foreach collection="list" item="items" index="index" open="("
                 close=")" separator=",">
            #{items,jdbcType=VARCHAR}
        </foreach>
        group by waybill_code
	</select>
</mapper>