<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.half.dao.PackageHalfRedeliveryDao">

	<resultMap id="PackageHalfRedelivery" type="com.jd.bluedragon.distribution.half.domain.PackageHalfRedelivery" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="dms_site_code" property="dmsSiteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="dms_site_name" property="dmsSiteName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="waybill_code" property="waybillCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="waybill_state" property="waybillState" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="package_code" property="packageCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="deal_state" property="dealState" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="package_remark" property="packageRemark" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="package_state" property="packageState" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="eclp_deal_time" property="eclpDealTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="create_user_code" property="createUserCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="create_user" property="createUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_user_name" property="createUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="update_user_code" property="updateUserCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="update_user" property="updateUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user_name" property="updateUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List" >
		id,dms_site_code,dms_site_name,waybill_code,waybill_state,package_code,
		deal_state,package_remark,package_state,eclp_deal_time,create_user_code,
		create_user,create_user_name,create_time,update_user_code,update_user,
		update_user_name,update_time,is_delete,ts
	</sql>

	<insert id="insert" parameterType="com.jd.bluedragon.distribution.half.domain.PackageHalfRedelivery">
		insert into package_half_redelivery
			(
			<trim suffixOverrides=",">
				<if test="dmsSiteCode != null">
					dms_site_code,
				</if>
				<if test="dmsSiteName != null">
					dms_site_name,
				</if>
				<if test="waybillCode != null">
					waybill_code,
				</if>
				<if test="waybillState != null">
					waybill_state,
				</if>
				<if test="packageCode != null">
					package_code,
				</if>
				<if test="dealState != null">
					deal_state,
				</if>
				<if test="packageRemark != null">
					package_remark,
				</if>
				<if test="packageState != null">
					package_state,
				</if>
				<if test="eclpDealTime != null">
					eclp_deal_time,
				</if>
				<if test="createUserCode != null">
					create_user_code,
				</if>
				<if test="createUser != null">
					create_user,
				</if>
				<if test="createUserName != null">
					create_user_name,
				</if>
					create_time,
				<if test="updateUserCode != null">
					update_user_code,
				</if>
				<if test="updateUser != null">
					update_user,
				</if>
				<if test="updateUserName != null">
					update_user_name,
				</if>
				<if test="updateTime != null">
					update_time,
				</if>
					is_delete,
					ts
			</trim>
			)
			values
			(
			<trim suffixOverrides=",">
				<if test="dmsSiteCode != null">
					#{dmsSiteCode,jdbcType=INTEGER},
				</if>
				<if test="dmsSiteName != null">
					#{dmsSiteName,jdbcType=VARCHAR},
				</if>
				<if test="waybillCode != null">
					#{waybillCode,jdbcType=VARCHAR},
				</if>
				<if test="waybillState != null">
					#{waybillState,jdbcType=INTEGER},
				</if>
				<if test="packageCode != null">
					#{packageCode,jdbcType=VARCHAR},
				</if>
				<if test="dealState != null">
					#{dealState,jdbcType=TINYINT},
				</if>
				<if test="packageRemark != null">
					#{packageRemark,jdbcType=VARCHAR},
				</if>
				<if test="packageState != null">
					#{packageState,jdbcType=INTEGER},
				</if>
				<if test="eclpDealTime != null">
					#{eclpDealTime,jdbcType=TIMESTAMP},
				</if>
				<if test="createUserCode != null">
					#{createUserCode,jdbcType=INTEGER},
				</if>
				<if test="createUser != null">
					#{createUser,jdbcType=VARCHAR},
				</if>
				<if test="createUserName != null">
					#{createUserName,jdbcType=VARCHAR},
				</if>
					now(),
				<if test="updateUserCode != null">
					#{updateUserCode,jdbcType=INTEGER},
				</if>
				<if test="updateUser != null">
					#{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUserName != null">
					#{updateUserName,jdbcType=VARCHAR},
				</if>
				<if test="updateTime != null">
					#{updateTime,jdbcType=TIMESTAMP},
				</if>
					0,
					now()
			</trim>
			)
	</insert>

	<insert id="batchInsert" parameterType="List">
		insert into package_half_redelivery
			(
				dms_site_code,dms_site_name,waybill_code,waybill_state,
				package_code,deal_state,package_remark,package_state,eclp_deal_time,
				create_user_code,create_user,create_user_name,create_time,is_delete,ts
			)
			values
			<foreach collection="list" item="item" index="index" separator=",">
				(
					#{item.dmsSiteCode,jdbcType=INTEGER},
					#{item.dmsSiteName,jdbcType=VARCHAR},
					#{item.waybillCode,jdbcType=VARCHAR},
					#{item.waybillState,jdbcType=INTEGER},
					#{item.packageCode,jdbcType=VARCHAR},
					1,
					#{item.packageRemark,jdbcType=VARCHAR},
					#{item.packageState,jdbcType=INTEGER},
					#{item.eclpDealTime,jdbcType=TIMESTAMP},
					#{item.createUserCode,jdbcType=INTEGER},
					#{item.createUser,jdbcType=VARCHAR},
					#{item.createUserName,jdbcType=VARCHAR},
					now(),
					0,
					now()
				)
			</foreach>
	</insert>

	<update id="update" parameterType="com.jd.bluedragon.distribution.half.domain.PackageHalfRedelivery">
		update package_half_redelivery
			<set>
				<if test="dmsSiteCode != null">
					dms_site_code = #{dmsSiteCode,jdbcType=INTEGER},
				</if>
				<if test="dmsSiteName != null">
					dms_site_name = #{dmsSiteName,jdbcType=VARCHAR},
				</if>
				<if test="waybillCode != null">
					waybill_code = #{waybillCode,jdbcType=VARCHAR},
				</if>
				<if test="waybillState != null">
					waybill_state = #{waybillState,jdbcType=INTEGER},
				</if>
				<if test="packageCode != null">
					package_code = #{packageCode,jdbcType=VARCHAR},
				</if>
				<if test="dealState != null">
					deal_state = #{dealState,jdbcType=TINYINT},
				</if>
				<if test="packageRemark != null">
					package_remark = #{packageRemark,jdbcType=VARCHAR},
				</if>
				<if test="packageState != null">
					package_state = #{packageState,jdbcType=INTEGER},
				</if>
				<if test="eclpDealTime != null">
					eclp_deal_time = #{eclpDealTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateUserCode != null">
					update_user_code = #{updateUserCode,jdbcType=INTEGER},
				</if>
				<if test="updateUser != null">
					update_user = #{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUserName != null">
					update_user_name = #{updateUserName,jdbcType=VARCHAR},
				</if>
					update_time = now(),
			</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateDealStateByWaybillCode" parameterType="com.jd.bluedragon.distribution.half.domain.PackageHalfRedelivery">
		update package_half_redelivery
		<set>
			deal_state = 2,
			<if test="updateUserCode != null">
				update_user_code = #{updateUserCode,jdbcType=INTEGER},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateUserName != null">
				update_user_name = #{updateUserName,jdbcType=VARCHAR},
			</if>
			update_time = now()
		</set>
        WHERE is_delete = 0
        AND waybill_code = #{waybillCode,jdbcType=VARCHAR}
        AND deal_state = 1
    </update>

	<update id="deleteById" parameterType="Long">
		update package_half_redelivery
			set is_delete = 1
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="deleteByIds" parameterType="List">
		update package_half_redelivery
			set is_delete = 1
		where id in
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item,jdbcType=BIGINT}
		</foreach>
	</update>

	<select id="findById" parameterType="Long" resultMap="PackageHalfRedelivery">
		select 
		 <include refid="Base_Column_List"/>
		from 
		  package_half_redelivery 
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="findByUniqueKey" parameterType="com.jd.bluedragon.distribution.half.domain.PackageHalfRedelivery" resultMap="PackageHalfRedelivery">
		select 
		 <include refid="Base_Column_List"/>
		from 
		  package_half_redelivery 
		where id = #{id,jdbcType=BIGINT}
		  order by ts desc
		limit 1
	</select>

	<sql id="where_condition">
		<where>
			is_delete = 0
			<if test="dmsSiteCode != null">
				AND dms_site_code = #{dmsSiteCode,jdbcType=INTEGER}
			</if>
			<if test="waybillCode != null">
				AND waybill_code = #{waybillCode,jdbcType=VARCHAR}
			</if>
			<if test="startTime != null">
				AND create_time <![CDATA[ >= ]]> #{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime != null">
				AND create_time <![CDATA[ <= ]]> #{endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="dealState != null">
				AND deal_state = #{dealState,jdbcType=TINYINT}
			</if>
		</where>
	</sql>

	<select id="pageNum_queryByPagerCondition" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultType="Integer">
		select 
		 count(1) as num
		from 
		  package_half_redelivery
		<include refid="where_condition"/>
	</select>

	<select id="queryByPagerCondition" parameterType="com.jd.ql.dms.common.web.mvc.api.PagerCondition" resultMap="PackageHalfRedelivery">
		select 
		 <include refid="Base_Column_List"/>
		from 
		  package_half_redelivery
		<include refid="where_condition"/>
		 limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
	</select>

</mapper>