<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<settings>  
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="autoMappingBehavior" value="FULL"/>
        <!-- 默认全局超时都设置成30秒 -->
        <setting name="defaultStatementTimeout" value="30"/>
	</settings>
	
	<typeAliases>
	    <typeAlias type="com.jd.bluedragon.distribution.box.domain.Box" alias="Box" />

	    <typeAlias type="com.jd.bluedragon.distribution.task.domain.Task" alias="Task" />
	   
	    <typeAlias type="com.jd.bluedragon.distribution.seal.domain.SealBox" alias="SealBox" />
	    <typeAlias type="com.jd.bluedragon.distribution.seal.domain.SealVehicle" alias="SealVehicle" />
	    
		<typeAlias type="com.jd.bluedragon.distribution.sorting.domain.Sorting" alias="Sorting" />
	    <typeAlias type="com.jd.bluedragon.distribution.sorting.domain.SortingReturn" alias="SortingReturn"/>
		
		<typeAlias type="com.jd.bluedragon.distribution.send.domain.SendM" alias="SendM" />
	    <typeAlias type="com.jd.bluedragon.distribution.send.domain.SendDetail" alias="SendDetail" />
		
		<typeAlias type="com.jd.bluedragon.distribution.receive.domain.Receive" alias="Receive" />

		<typeAlias type="com.jd.bluedragon.distribution.receive.domain.CenConfirm" alias="CenConfirm"/>
		<typeAlias type="com.jd.bluedragon.distribution.departure.domain.DepartureCar" alias="DepartureCar" />
		<typeAlias type="com.jd.bluedragon.distribution.departure.domain.DepartureSend"  alias="DepartureSend"/>
		<typeAlias type="com.jd.bluedragon.distribution.departure.domain.DepartureLog" alias="DepartureLog"/>
		<typeAlias type="com.jd.bluedragon.distribution.api.request.DepartureTmpRequest" alias="DepartureTmpSend"/>
	    <typeAlias type="com.jd.bluedragon.distribution.inspection.domain.Inspection" alias="Inspection"/>
	    <typeAlias type="com.jd.bluedragon.distribution.inspection.domain.InspectionEC" alias="InspectionEC"/>
	    	    
	    <typeAlias type="com.jd.bluedragon.distribution.popPrint.domain.PopPrint" alias="PopPrint"/>
	    <typeAlias type="com.jd.bluedragon.distribution.popAbnormal.domain.PopAbnormal" alias="PopAbnormal"/>
	    
	    <typeAlias type="com.jd.bluedragon.distribution.version.domain.ClientVersion" alias="ClientVersion"/>
	    <typeAlias type="com.jd.bluedragon.distribution.version.domain.ClientConfig" alias="ClientConfig"/>
	    <typeAlias type="com.jd.bluedragon.distribution.version.domain.VersionEntity" alias="VersionEntity"/>
	    <typeAlias type="com.jd.bluedragon.distribution.version.domain.ClientConfigHistory" alias="ClientConfigHistory"/>
	    <typeAlias type="com.jd.bluedragon.distribution.operationLog.domain.OperationLog"  alias="OperationLog"/>
	    
	    <typeAlias type="com.jd.bluedragon.distribution.failqueue.domain.TaskFailQueue"  alias="taskFailQueue"/>
	    
	    <typeAlias type="com.jd.bluedragon.distribution.reverse.domain.ReverseReject"  alias="ReverseReject"/>
	    <typeAlias type="com.jd.bluedragon.distribution.reverse.domain.ReverseReceive"  alias="ReverseReceive"/>
	    <typeAlias type="com.jd.bluedragon.distribution.reverse.domain.ReverseSpare"  alias="ReverseSpare"/>
	    <typeAlias type="com.jd.bluedragon.distribution.reverse.domain.LossOrder"  alias="LossOrder"/>
	    
	    <typeAlias type="com.jd.bluedragon.distribution.spare.domain.Spare"  alias="Spare"/>
   	    <typeAlias type="com.jd.bluedragon.distribution.spare.domain.SpareSale"  alias="SpareSale"/>
	   
	    <typeAlias type="com.jd.bluedragon.distribution.reassignWaybill.domain.ReassignWaybill"  alias="reassignWaybill"/>
	    
	    <typeAlias type="com.jd.bluedragon.distribution.base.domain.SysConfig" alias="sysConfig" />  	
	    
	    <typeAlias type="com.jd.bluedragon.distribution.abnormalorder.domain.AbnormalOrder" alias="abnormalOrder" />
   	    
   	    <typeAlias type="com.jd.bluedragon.distribution.popPrint.domain.PopQueue"  alias="popQueue"/>
   	    <typeAlias type="com.jd.bluedragon.distribution.popPrint.domain.PopSignin"  alias="PopSignin"/>
   	    <typeAlias type="com.jd.bluedragon.distribution.popReveice.domain.PopReceive"  alias="PopReceive"/>
	    <typeAlias type="com.jd.bluedragon.distribution.popPickup.domain.PopPickup" alias="PopPickup"/>
   	    <typeAlias type="com.jd.bluedragon.distribution.popReveice.domain.TaskPopRecieveCount"  alias="TaskPopRecieveCount"/>
   	     
 	    <typeAlias type="com.jd.bluedragon.distribution.popAbnormal.domain.PopReceiveAbnormal"  alias="PopReceiveAbnormal"/>
   	    <typeAlias type="com.jd.bluedragon.distribution.popAbnormal.domain.PopAbnormalDetail"  alias="PopAbnormalDetail"/>
	    <typeAlias type="com.jd.bluedragon.distribution.receive.domain.TurnoverBox" alias="TurnoverBox" />
	    
	    <typeAlias type="com.jd.bluedragon.distribution.offline.domain.OfflineLog" alias="OfflineLog" />
	    
	    <typeAlias type="com.jd.bluedragon.distribution.reverse.domain.PickWare" alias="PickWare" />
	    <typeAlias type="com.jd.bluedragon.distribution.label.domain.Label" alias="Label" />
	    <typeAlias type="com.jd.bluedragon.distribution.batch.domain.BatchSend" alias="BatchSend" />
	    <typeAlias type="com.jd.bluedragon.distribution.batch.domain.BatchInfo" alias="BatchInfo" />
        <typeAlias type="com.jd.bluedragon.distribution.sorting.domain.SortingException" alias="sortingException"/>
        <typeAlias type="com.jd.bluedragon.distribution.systemLog.domain.SystemLog"  alias="SystemLog"/>
        
        <typeAlias type="com.jd.bluedragon.distribution.cross.domain.CrossSorting" alias="CrossSorting"/>
        <typeAlias type="com.jd.bluedragon.distribution.globaltrade.domain.GlobalTrade" alias="GlobalTrade" />
	</typeAliases>  
	
	<mappers>
		<mapper resource="mappers/box/BoxMapper.xml"/>

		<mapper resource="mappers/task/TaskMapper.xml"/>
		
		<mapper resource="mappers/seal/SealBoxMapper.xml"/>
		<mapper resource="mappers/seal/SealVehicleMapper.xml"/>

		<mapper resource="mappers/sorting/SortingMapper.xml"/>
		<mapper resource="mappers/sorting/SortingReturnMapper.xml"/>
		
		<mapper resource="mappers/send/SendMMapper.xml"/>
		<mapper resource="mappers/send/SendDatailMapper.xml"/>
		
		<mapper resource="mappers/receive/ReceiveMapper.xml"/>
		<mapper resource="mappers/receive/TurnoverBoxMapper.xml"/>
		
		<mapper resource="mappers/departure/DepartureCarMapper.xml"/>
		<mapper resource="mappers/receive/CenConfirmMapper.xml"/>
		
		<mapper resource="mappers/inspection/InspectionECMapper.xml"/>
		<mapper resource="mappers/inspection/InspectionMapper.xml"/>
		<mapper resource="mappers/operationLog/OperationLogMapper.xml"/>
		
		<mapper resource="mappers/receiveInspectionExc/ShieldsErrorMapper.xml"/>
		
		<mapper resource="mappers/partnerWaybill/partnerWaybilllMapper.xml"/>
		
		<mapper resource="mappers/popPrint/PopPrintMapper.xml"/>
		<mapper resource="mappers/popAbnormal/PopAbnormalMapper.xml"/>	
		
		<mapper resource="mappers/version/ClientVersionMapper.xml"/>
		<mapper resource="mappers/version/ClientConfigMapper.xml"/>
		<mapper resource="mappers/version/ClientConfigHistoryMapper.xml"/>
		
		<mapper resource="mappers/failqueue/FailQueueMapper.xml"/>
		
		<mapper resource="mappers/reverse/ReverseRejectMapper.xml"/>
		<mapper resource="mappers/reverse/ReverseReceiveMapper.xml"/>
		<mapper resource="mappers/reverse/ReverseSpareMapper.xml"/>
		<mapper resource="mappers/reverse/LossOrderMapper.xml"/>
		
		<mapper resource="mappers/spare/SpareMapper.xml"/>
		<mapper resource="mappers/spare/SpareSaleMapper.xml"/>
		<mapper resource="mappers/departure/DepartureSendMapper.xml"/>
		<mapper resource="mappers/departure/DepartureLogMapper.xml"/>
		<mapper resource="mappers/departure/DepartureTmpMapper.xml"/>

		<mapper resource="mappers/reassignWaybill/ReassignWaybillMapper.xml"/>
		
		<mapper resource="mappers/popPickup/PopPickupMapper.xml"/>
		<mapper resource="mappers/sysconfig/SysConfigMapper.xml"/>

		<mapper resource="mappers/popPrint/popQueueMapper.xml"/>
		<mapper resource="mappers/popPrint/PopSigninMapper.xml"/>
		<mapper resource="mappers/popReceive/PopReceiveMapper.xml"/>
		<mapper resource="mappers/popReceive/TaskPopRecieveCountMapper.xml"/>
		
		<mapper resource="mappers/abnormalorder/AbnormalOrderMapper.xml"/>
		
		<mapper resource="mappers/popAbnormal/PopReceiveAbnormalMapper.xml"/>
		<mapper resource="mappers/popAbnormal/PopAbnormalDetailMapper.xml"/>
		
		<mapper resource="mappers/offLine/OfflineLogMapper.xml"/>
		<mapper resource="mappers/reverse/PickWareMapper.xml"/>
		<mapper resource="mappers/label/LabelMapper.xml"/>
        <mapper resource="mappers/fBarCode/FBarCodeMapper.xml"/>
        <mapper resource="mappers/batch/BatchInfoMapper.xml"/>
        <mapper resource="mappers/batch/BatchSendMapper.xml"/>
        <mapper resource="mappers/sorting/SortingExceptionMapper.xml"/>
        <mapper resource="mappers/send/SendQueryMapper.xml"/>
        
        <mapper resource="mappers/systemLog/SystemLogMapper.xml"/>
        
        <mapper resource="mappers/crossSorting/CrossSortingMapper.xml"/>
        <mapper resource="mappers/globaltrade/GlobalTradeMapper.xml"/>
	</mappers>
	
</configuration>