<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.popPrint.dao.PopSigninDao">
	<resultMap id="PopSigninMap" type="PopSignin">
		<result column="id" property="id" />
		<result column="QUEUE_NO" property="queueNo" />
		<result column="THIRD_WAYBILL_CODE" property="thirdWaybillCode" />
		<result column="CREATE_USER_CODE" property="createUserCode" />
		<result column="CREATE_USER" property="createUser" />
		<result column="OPERATE_TIME" property="operateTime" />
		<result column="EXPRESS_CODE" property="expressCode" />
		<result column="EXPRESS_NAME" property="expressName" />
		<result column="CREATE_SITE_CODE" property="createSiteCode" />
		<result column="CREATE_SITE_NAME" property="createSiteName" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>
	
	<select id="getPopSigninList"
		parameterType="com.jd.bluedragon.distribution.popPrint.dto.PopSigninDto"
		resultMap="PopSigninMap">
		<if test="start!=null">
		SELECT *
		FROM (SELECT A.*, ROWNUM RN
		FROM (
		</if>
		SELECT * FROM dms.POP_SIGNIN t1
		<include refid="where" />
		<if test="start!=null">
		) A WHERE ROWNUM <![CDATA[ <= ]]>
		#{end} )
		WHERE RN <![CDATA[ > ]]>
		#{start}
		</if>
		
	</select>
	<select id="getCount"
		parameterType="com.jd.bluedragon.distribution.popPrint.dto.PopSigninDto"
		resultType="int">
		select count(1) from dms.POP_SIGNIN t1
		<include refid="where" />
	</select>
	<sql id="where">
		<where>
			<if test="queueNo!=null and queueNo!=''">
				and t1.QUEUE_NO = #{queueNo,jdbcType=VARCHAR }
			</if>
			<if test="createSiteCode!=null and createSiteCode!=''">
				and t1.CREATE_SITE_CODE =
				#{createSiteCode,jdbcType=INTEGER }
			</if>
			<if test="expressCode!=null and expressCode!=''">
				and t1.EXPRESS_CODE =
				#{expressCode,jdbcType=VARCHAR }
			</if>
			<if test="thirdWaybillCode!=null and thirdWaybillCode!=''">
				and t1.THIRD_WAYBILL_CODE =
				#{thirdWaybillCode,jdbcType=VARCHAR }
			</if>
			<if test="createUserCode!=null">
				and t1.CREATE_USER_CODE =
				#{createUserCode,jdbcType=INTEGER }
			</if>
			<if test="createUser!=null and createUser!=''">
				and t1.CREATE_USER =
				#{createUser,jdbcType=VARCHAR }
			</if>
			<if test="signStartTime != null and signStartTime!=''">
				AND <![CDATA[ t1.OPERATE_TIME>=to_date(#{signStartTime,jdbcType=TIMESTAMP },'yyyy-mm-dd
				hh24:mi:ss')]]>
			</if>
			<if test="signEndTime != null and signEndTime!='' ">
				AND <![CDATA[ t1.OPERATE_TIME<=to_date(#{signEndTime,jdbcType=TIMESTAMP },'yyyy-mm-dd
				hh24:mi:ss')]]>
			</if>
		</where>
	</sql>
</mapper>