<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>分拣中心查询工具</title>
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpmanage.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/plugins/jquery-easyui/themes/default/easyui.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/plugins/jquery-easyui/themes/icon.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/sortingCenterQueryTool/jquery.niceForm.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/popUp/popUp.css')">
    <script type="application/javascript" src="#springUrl('/static/js/jquery-1.8.0.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/jquery-easyui/jquery.easyui.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/DatePicker/WdatePicker.js')"></script>
    <script type="text/javascript"
            src="#springUrl('/static/js/plugins/jquery-easyui/locale/easyui-lang-zh_CN.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/jquery.blockUI.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/json2.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/jquery.form.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/common-client.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/utils.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/jquery.niceForm.js')"></script>
    <script type="application/javascript" src="#springUrl('/static/js/popUp/popUp.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/page-bar.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/sortingCenterQueryTool/sortingCenterQuery.js')"></script>

    <style type="text/css">
        .queryF{
            float: left;
        }
    </style>
</head>

<body>
	<div id="breadcrumb">
		<p>
            <a href="javascript:void(0)">分拣中心</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0)">分拣中心查询工具</a>
		</p>
	</div>

	<div id="content">
		<div>
			<div class="tbl-n">
                <div style="color: #B61D1D;">/** 注意：在选择收容表和箱号表的时候，请选好类型：（收容表：'DE','ID','MB','MJ','MR','MT','NR','UP'；扫描表：'SC'）**/</div>
                <div style="color: #B61D1D;">/** 注意：在选择收容表和箱号表的时候，请选好类型：（供件方式：'AT'：自动,'DE'：人工条码,'MD'：人工目的地代码,'MJ'：人工拒绝；
                    失败原因代码：'CD'：小车禁用,'CF':小车故障,'DD'：卸载口禁用,'DF'：格口满,'DJ'：卸载口堵塞,'OF'：卸载验证失败,'SP'：速度未达到）**/</div>
                <form id="form1" name="form1" style="margin-top: 30px;">
                    <input type="hidden" id="contextPath" value="#springUrl('')">
					<div style="margin-bottom: 30px;">
                        <div id="queryCondition">
                            <div style="margin-bottom: 15px;">
                                <span class="queryF">分拣中心：</span>
                                <div class="">
                                    <select name="siteNo" id="siteNo" class="select20">
                                        <option value="">所有分拣中心</option>
                                    </select>
                                </div>
                            </div>

                            <div style="margin-bottom: 15px;">
                                <span class="queryF">查询表名：</span>
                                <div class="queryF" style="margin-right: 50px;">
                                    <select name="tableName" id="tableName" class="select20">
                                        <option value="">请选择查询表</option>
                                        <option value="box">箱号表</option>
                                        <option value="scan_lists">收容和扫描表</option>
                                        <option value="sorting">分拣表</option>
                                    </select>
                                </div>
                                <div id="type" >
                                    <input type="text" style='visibility: hidden'>
                                </div>
                            </div>

                            <div style="margin-bottom: 15px;">
                                <span class="queryF">开始时间：</span>
                                <div class=""><input type="text" id="startTime" name="startTime" style="width: 150px;" class="Wdate"
                                                     onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss'})"></div>
                            </div>

                            <div style="margin-bottom: 15px;">
                                <span class="queryF">结束时间：</span>
                                <div class=""><input type="text" id="endTime" name="endTime" style="width: 150px;" class="Wdate"
                                                     onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss'})"></div>
                            </div>

                        </div>

                        <div>
                            <input type="button" id="query" class="btn_c" value="查询">
                            <input type="reset" id="reset" class="btn_c" value="重置">
                        </div>
                    </div>
				</form>
			</div>
		</div>
		<div class="opening">
			<div class="tbl-list">
                <div class="tbl-bg">
                    <table id="numTable" cellpadding="0" cellspacing="0" style="width: 150px;" class="tb-x1">
                        <thead>
							<tr>
								<th>数量</th>
							</tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
			</div>
		</div>
	</div>

    <div class="popup_block" id="detailPopUp">
        <div class="opening">
            <div class="tbl-list">
                <div class="tbl-bg">
                    <table id="detailPopUpTable" cellpadding="0" cellspacing="0" style="" class="tb-x1">

                    </table>
                </div>
            </div>
            <div id="pager" class="tbl-n">

            </div>
        </div>
    </div>
#parse("system/security/watermark.vm")
</body>
</html>
