<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>ISV新增</title>
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpmanage.css')">
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/static/js/plugins/jquery-easyui/themes/default/easyui.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/plugins/jquery-easyui/themes/icon.css')">
    <script type="text/javascript" src="#springUrl('/static/js/jquery-1.8.0.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/jquery-easyui/jquery.easyui.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/DatePicker/WdatePicker.js')"></script>
    <script type="text/javascript"
            src="#springUrl('/static/js/plugins/jquery-easyui/locale/easyui-lang-zh_CN.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/jquery.blockUI.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/json2.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/jquery.form.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/common-client.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/utils.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/page-bar.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/printDevice/printDeviceAdd.js')"></script>
    <style type="text/css">
    </style>
</head>
<script type="text/javascript">
</script>
<body>
<input type="hidden" id="contextPath" value="#springUrl('')"/>

<div id="breadcrumb">
    <p>
        <a href="javascript:void(0)">ISV版本控制中心</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0)">ISV新增</a>
    </p>
</div>
<div id="content">
    <div class="m">
        <div class="tbl-n">
            <form id="form1" name="form1" style="width: 50%;margin-left: auto;margin-right: auto">
                <input type="hidden" id="contextPath" value="#springUrl('')"/>
                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;min-width: 1100px;">
                    <tbody>
                    <tr>
                        <th>ISVID：</th>
                        <td><input id="printDeviceId" name="printDeviceId" type="text" class="textFiled28"></td>
                    </tr>
                    <tr>
                        <th>版本编号：</th>
                        <td>
                            <select id="versionId" name="versionId" class="textFiled28">
                                #foreach($versionId in $versionIdList)
                                    <option value="$!{versionId}">$!{versionId}</option>
                                #end
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>版本说明：</th>
                        <td><input id="versionDes" name="versionDes" type="text" class="textFiled28"></td>
                    </tr>
                    <tr>
                        <th>是否可用：</th>
                        <td>
                            <select name="state" id="state">
                                <option value="true">是</option>
                                <option value="false">否</option>

                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="operate_spans" style="margin-left: 80px;">
                    <input id="addBtn" value="添加" type="button" class="btn_c">
                    <input id="resetBtn" value="重置" type="Reset" class="btn_c">
                </div>
            </form>
        </div>
    </div>
</div>
#parse("system/security/watermark.vm")
</body>
</html>
