<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>ISV版本控制中心</title>
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpmanage.css')">
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/static/js/plugins/jquery-easyui/themes/default/easyui.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/plugins/jquery-easyui/themes/icon.css')">
    <script type="text/javascript" src="#springUrl('/static/js/jquery-1.8.0.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/jquery-easyui/jquery.easyui.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/DatePicker/WdatePicker.js')"></script>
    <script type="text/javascript"
            src="#springUrl('/static/js/plugins/jquery-easyui/locale/easyui-lang-zh_CN.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/jquery.blockUI.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/plugins/json2.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/jquery.form.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/common-client.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/utils.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/common/page-bar.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/printDevice/versionIndex.js')"></script>
</head>
<body>

<div id="breadcrumb">
    <p>
        <a href="javascript:void(0)">分拣中心</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0)">ISV版本控制中心</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0)">ISV版本信息</a>
    </p>
</div>
<div id="content">
    <div class="m">
        <div class="tbl-n">
            <form id="form1" name="form1">
                <input type="hidden" id="pageNo" name="pageNo">
                <input type="hidden" id="pageSize" name="pageSize">
                <input type="hidden" id="contextPath" value="#springUrl('')">
                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;min-width: 1100px;">
                    <tbody>
                    <tr>
                        <th>版本编号：</th>
                        <td><input id="versionId" name="versionId" type="text" class="textFiled28"></td>
                        <th>状态：</th>
                        <td><select name="state" id="state" class="textFiled28">
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select></td>
                        <td align="right"><input id="search" type="button" value="查询" class="btn_c"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="operate_spans" align="right">
                    <input id="addBtn" value="新增" type="button" class="btn_c"">
                    <input id="modifyBtn" value="修改" type="button" class="btn_c">
                    <input id="deleteBtn" value="删除" type="button" class="btn_c">
                    <input id="enableBtn" value="启用" type="button" class="btn_c">
                    <input id="disableBtn" value="停用" type="button" class="btn_c">
                </div>
            </form>
        </div>
    </div>
    <div class="opening">
        <div class="tbl-list">
            <div class="tbl-bg">
                <table id="pagerTable" cellpadding="0" cellspacing="0" style="width: 100%;min-width: 1100px;" class="tb-x1">
                    <thead>
                    <tr>
                        <th><input id="checkAll" type="checkbox"></th>
                        <th>状态</th>
##                        <th>ID</th>
                        <th>版本编号</th>
                        <th>说明</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($Version in $versionList)
                        <tr class="tr">
                            <td><input type="checkbox" name="subcheckbox"></td>
                            <td id="stateId">$!{Version.state}</td>
##                            <td></td>
                            <td id="id">$!{Version.versionId}</td>
                            <td>$!{Version.des}</td>
                            <td>$!{Version.createTime}</td>
                            <td>$!{Version.updateTime}</td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>
        <div id="page" class="tbl-n">
##            分页信息
        </div>
    </div>
</div>
#parse("system/security/watermark.vm")
</body>
</html>
