<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>规则管理UI</title>
<link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')">
<link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpmanage.css')">
<script type="text/javascript" src="#springUrl('/static/js/jquery-1.js')"></script>
<SCRIPT type="text/javascript" src="#springUrl('/static/js/DatePicker/WdatePicker.js')"></SCRIPT>
<script type="text/javascript" src="#springUrl('/static/js/jquery.form.js')"></script>
<script type="text/javascript" src="#springUrl('/static/js/common/checkCommon.js')"></script>
</head>
<script type="text/javascript">
	$(document).ready(function() {
		
		if ("$!sysConfigDto" != "") {
			$("#configName").val("$!sysConfigDto.configName");
			
			if ("$!pager" != "") {
				$("#pageNo").val($!pager.pageNo);
				$("#pageSize").val($!pager.pageSize);
			}
		}
		
		$("#add").click(function() {
			location.href = "#springUrl('/sysconfig/goAddPage')";
		});
		
						// 提交查询
		$("#search").click(function() {
				var configName = $('#configName').val();

				$("#selectSysconfigList").attr("action", '#springUrl("/sysconfig/list")');
				$("#selectSysconfigList").attr("method", "GET");
				$("#selectSysconfigList").submit();
		 });
		
	});

	
	function edit(configId){
		location.href = "#springUrl('/sysconfig/edit')" + "?configId=" + configId;
	}
	


</script>

<body>
<div id="content">
  $!errormsg $!successmsg
  <div class="m">
				<div class="tbl-n">
					<form id="selectSysconfigList" name="selectSysconfigList" action="#springUrl('/sysconfig/list')" method="GET">
						<input type="hidden" id="pageNo" name="pageNo" />
						<input type="hidden" id="pageSize" name="pageSize" />
						<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;min-width:1100px;">
							<tbody>
								
								<tr>
									<th align="right">参数名称：</th>
									<td >
										<input id="configName" name="configName" type="text" class="textField28"/>
									</td>
									<td >
										<input id="search" type="button" value="查询" class="btn_c"/>
									</td>
									<td >
									    <input id="add" type="button" value="增加" class="btn_c"/>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
   <div id="opening">
    <div class="tbl-list">
      <div class="tbl-bg">
        <table cellspacing=0 cellpadding=0 width="100%" class="tb-x1">
          <thead>
            <tr>
			  <th>序号</th>
			  <th>类型(数字)</th>
              <th>参数名称</th>
              <th>参数内容</th>
              <th>排序(数字)</th>              
              <th>备注</th>
			  <th></th>
            </tr>
          </thead>
          <tbody>
			#if($null.isNull($!sysconfigal) || $!sysconfigal.size() == 0)
				<tr class="a2" style="">
					<td colspan="16" align="left">
						无数据！
                    </td>
                </tr>
			#else
				#foreach($sysconfig in $!sysconfigal)
				<tr class="a2" style="">
                  <td>$velocityCount</td>
				  <td>$!sysconfig.configType</td>
                  <td>$!sysconfig.configName</td>
                  <td>$!sysconfig.configContent</td>
				  <td>$!sysconfig.configOrder</td>
				  <td>$!sysconfig.memo</td>
				  <td><input id="edit" type="button" value="修改" onclick="edit($sysconfig.configId)" class="btn_c"/></td>
                </tr>
				#end
			#end
          </tbody>
        </table>
      </div>
    </div>
    <div class="tbl-n">
		#pageBar("#springUrl('')/sysconfig/list?configName=$!sysConfigDto.configName" $pager.totalSize $pager.pageNo $pager.totalNo)
	</div>
  </div>
</div>
#parse("system/security/watermark.vm")
</body>
</html>