<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>规则管理UI</title>
<link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')">
<link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpmanage.css')">
<script type="text/javascript" src="#springUrl('/static/js/jquery-1.js')"></script>
<SCRIPT type="text/javascript" src="#springUrl('/static/js/DatePicker/WdatePicker.js')"></SCRIPT>
<script type="text/javascript" src="#springUrl('/static/js/jquery.form.js')"></script>
<script type="text/javascript" src="#springUrl('/static/js/common/checkCommon.js')"></script>
</head>
<script type="text/javascript">
$(document).ready(function() {
	// 提交查询
	$("#save").click(function() {
		$("#addSysconfig").attr("action", '#springUrl("/sysconfig/add")');
		$("#addSysconfig").attr("method", "POST");
		$("#addSysconfig").submit();
	});
});
</script>

<body>
<!--[if !ie]>breadcrumb<![endif]-->
<div id="content">
  <div class="m">
    <div class="tbl-n">
      <form id="addSysconfig" name="addSysconfig" action="#springUrl('/sysconfig/add')" method="POST">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
			<tr>
				<th align="right">类型：</th>
				<td>
					<input id="configType" name="configType" type="text" style="width:300px;height:20px"/>
    			</td>
			</tr>
			<tr>
				<th align="right">参数名称：</th>
				<td>
					<input id="configName" name="configName" type="text" style="width:300px;height:20px"/>
				</td>
			</tr>
			<tr>
				<th align="right">排序：</th>
				<td>
					<input id="configOrder" name="configOrder" type="text"  style="width:300px;height:20px"/>
				</td>
			</tr>			
			<tr>
				<th align="right">参数内容：</th>
				<td>
					<textarea id="configContent" name="configContent" style="width:300px;height:80px"></textarea>
				</td>
			</tr>
			<tr>
				<th align="right">备注内容：</th>
				<td>
					<textarea id="memo" name="memo" style="width:300px;height:50px"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<input id="save" type="button" value="保存" class="btn_c"/>
				</td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <!--opening end-->
</div>
#parse("system/security/watermark.vm")
</body>
</html>