<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.batch.dao.BatchSendDao" >

	<resultMap id="batchSend" type="com.jd.bluedragon.distribution.batch.domain.BatchSend" >
		<result column="id" property="id" />
		<result column="batch_code" property="batchCode" />
		<result column="create_site_code" property="createSiteCode" />
		<result column="receive_site_code" property="receiveSiteCode" />
		<result column="send_code" property="sendCode" />
		<result column="create_user" property="createUser" />
		<result column="create_user_code" property="createUserCode" />
		<result column="update_user_code" property="updateUserCode" />
		<result column="update_user" property="updateUser" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="send_status" property="sendStatus" />
		<result column="yn" property="yn" />
		<result column="send_car_operate_time" property="sendCarOperateTime"/>
        <result column="send_car_state" property="sendCarState"/>
	</resultMap>
	<update id="updateSendCarState" parameterType="batchSend">
        UPDATE batch_send SET
          send_car_state=#{sendCarState,jdbcType=INTEGER},
          send_car_operate_time= #{sendCarOperateTime, jdbcType=TIMESTAMP}
          WHERE
              send_code=#{sendCode,jdbcType=VARCHAR}
              AND send_car_operate_time <![CDATA[<]]> str_to_date(date_format(#{sendCarOperateTime, jdbcType=TIMESTAMP}, '%Y-%m-%d %H:%i:%s'), '%Y-%m-%d %H:%i:%s')
              AND send_car_state<![CDATA[<>]]>#{sendCarState,jdbcType=INTEGER}
    </update>
    <select id="readBySendCode" parameterType="String" resultMap="batchSend">
    SELECT id, batch_code, create_site_code,receive_site_code,send_code, create_user, create_user_code,
			update_user_code, update_user, create_time, update_time,send_car_operate_time,send_car_state,
			yn
		    FROM BATCH_SEND
		    WHERE send_code=#{value,jdbcType=VARCHAR} and yn=1  LIMIT 1
    </select>
	<insert id="insertOne" parameterType="batchSend" >
		INSERT INTO batch_send (
			batch_code, create_site_code,receive_site_code,send_code, create_user, create_user_code,
			update_user_code, update_user, create_time, update_time,send_status,
			yn,send_car_state,send_car_operate_time)
		VALUES (
			#{batchCode,jdbcType=VARCHAR}, #{createSiteCode,jdbcType=INTEGER},#{receiveSiteCode,jdbcType=INTEGER},#{sendCode,jdbcType=VARCHAR},
			#{createUser,jdbcType=VARCHAR}, #{createUserCode,jdbcType=INTEGER},
			#{updateUserCode,jdbcType=INTEGER}, #{updateUser,jdbcType=VARCHAR},
			NOW(), NOW(),#{sendStatus,jdbcType=INTEGER},
			1,0,NOW())
	</insert>

	<select id="getBatchSend" parameterType="BatchSend"  resultMap="batchSend" >
        SELECT id, batch_code, create_site_code,receive_site_code,send_code, create_user, create_user_code,
			update_user_code, update_user, create_time, update_time,send_car_operate_time,send_car_state,
			yn
		    FROM BATCH_SEND
		    WHERE batch_code=#{batchCode,jdbcType=VARCHAR} AND receive_site_code=#{receiveSiteCode,jdbcType=INTEGER} LIMIT 1
	</select>

	<select id="findBatchSend" resultMap="batchSend" parameterType="com.jd.bluedragon.distribution.batch.domain.BatchSendRequest" >
		SELECT batch_code, create_site_code, receive_site_code,send_code,create_time, update_time,send_status,yn,send_car_operate_time,send_car_state
		FROM batch_send
		WHERE  create_site_code = #{createSiteCode,jdbcType=INTEGER}
		<if test="receiveCodeList!=null">
			and receive_site_code  in
            <foreach collection="receiveCodeList" item="item" index="index" open="(" separator="," close=")">
                #{item,jdbcType=INTEGER}
            </foreach>
		</if>
		<if test="batchCode!=null">
			and batch_code = #{batchCode,jdbcType=VARCHAR}
		</if>
		<if test="createTime!=null">
			and create_time <![CDATA[>=]]> str_to_date(date_format(#{createTime, jdbcType=TIMESTAMP}, '%Y-%m-%d %H:%i:%s'), '%Y-%m-%d %H:%i:%s')
		</if>
		<if test="updateTime!=null">
			and create_time <![CDATA[<=]]> str_to_date(date_format(#{updateTime, jdbcType=TIMESTAMP}, '%Y-%m-%d %H:%i:%s'), '%Y-%m-%d %H:%i:%s')
		</if>
		 and batch_code !=send_code
		 and send_status=0
	</select>

	<update id="batchUpdateStatus" parameterType="batchSend" >
        UPDATE batch_send
        SET update_time = NOW(),send_status=1
        WHERE  send_code =  #{sendCode,jdbcType=VARCHAR}
    </update>
</mapper>