<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jd.bluedragon.distribution.jy.dao.attachment.JyAttachmentDetailDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jd.bluedragon.distribution.jy.attachment.JyAttachmentDetailEntity" id="JyAttachmentDetailDao">
        <result property="id" column="id"/>
        <result property="bizId" column="biz_id"/>
        <result property="bizType" column="biz_type"/>
        <result property="bizSubType" column="biz_sub_type"/>
        <result property="siteCode" column="site_code"/>
        <result property="attachmentType" column="attachment_type"/>
        <result property="attachmentUrl" column="attachment_url"/>
        <result property="createUserErp" column="create_user_erp"/>
        <result property="updateUserErp" column="update_user_erp"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="yn" column="yn"/>
        <result property="ts" column="ts"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, biz_id, biz_type, biz_sub_type, site_code, attachment_type, attachment_url,
        create_user_erp, update_user_erp, create_time, update_time, yn, ts
    </sql>

    <insert id="insert" parameterType="com.jd.bluedragon.distribution.jy.attachment.JyAttachmentDetailEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO jy_attachment_detail (
            <trim suffixOverrides=",">
                <if test="id != null">
                    id,
                </if>
                <if test="bizId != null">
                    biz_id,
                </if>
                <if test="bizType != null">
                    biz_type,
                </if>
                <if test="bizSubType != null">
                    biz_sub_type,
                </if>                                
                <if test="siteCode != null">
                    site_code,
                </if>
                <if test="attachmentType != null">
                    attachment_type,
                </if>
                <if test="attachmentUrl != null">
                    attachment_url,
                </if>
                <if test="createUserErp != null">
                    create_user_erp,
                </if>
                <if test="updateUserErp != null">
                    update_user_erp,
                </if>
                    create_time,
                    update_time,
                    yn,
                    ts
            </trim>
        ) VALUES (
            <trim suffixOverrides=",">
                <if test="id != null">
                    #{id},
                </if>
                <if test="bizId != null">
                    #{bizId},
                </if>
                <if test="bizType != null">
                    #{bizType},
                </if> 
                <if test="bizSubType != null">
                    #{bizSubType},
                </if>    
                <if test="siteCode != null">
                    #{siteCode},
                </if>
                <if test="attachmentType != null">
                    #{attachmentType},
                </if>
                <if test="attachmentUrl != null">
                    #{attachmentUrl},
                </if>
                <if test="createUserErp != null">
                    #{createUserErp},
                </if>
                <if test="updateUserErp != null">
                    #{updateUserErp},
                </if>
                now(),
                now(),
                1,
                now()
            </trim>
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into jy_attachment_detail (
             id, 
             biz_id,
             biz_type,
             biz_sub_type, 
             site_code, 
             attachment_type, 
             attachment_url,
             create_user_erp, 
             update_user_erp,
             create_time,
             update_time,
             yn
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.bizId},
            #{item.bizType},
            #{item.bizSubType},
            #{item.siteCode},
            #{item.attachmentType},
            #{item.attachmentUrl},
            #{item.createUserErp},
            #{item.updateUserErp},
            now(),
            now(),
             1
            )
        </foreach>
    </insert>
    
    <update id="delete" parameterType="com.jd.bluedragon.distribution.jy.attachment.JyAttachmentDetailEntity">
        update jy_attachment_detail
        <set>
            yn = 0,
            update_time = now(),
            update_user_erp = #{updateUserErp}
        </set>
        <where>
            yn = 1
            and biz_id = #{bizId}
            and site_code = #{siteCode}
        </where>
    </update>

    <select id="queryOneByBiz" parameterType="string" resultMap="JyAttachmentDetailDao">
        select
            <include refid="Base_Column_List"/>
        from
            jy_attachment_detail
        where yn = 1
        and biz_id = #{bizId,jdbcType=VARCHAR}
        and site_code = #{siteCode}
        limit 1
    </select>

    <select id="queryDataListByCondition" parameterType="com.jd.bluedragon.distribution.jy.attachment.JyAttachmentDetailQuery" resultMap="JyAttachmentDetailDao">
        select
            <include refid="Base_Column_List"/>
        from
            jy_attachment_detail
        where yn = 1
        and biz_id = #{bizId}
        and site_code = #{siteCode}
        and biz_type = #{bizType}
        <if test="bizSubType != null">
            and biz_sub_type = #{bizSubType}
        </if>         
        order by create_time desc
        limit #{offset}, #{limit}
    </select>


    <select id="countByCondition" parameterType="com.jd.bluedragon.distribution.jy.attachment.JyAttachmentDetailQuery" resultType="java.lang.Integer">
        select count(*)
        from jy_attachment_detail
        where yn = 1
            and biz_id = #{bizId}
            and site_code = #{siteCode}
            and biz_type = #{bizType}
            <if test="bizSubType != null">
                and biz_sub_type = #{bizSubType}
            </if>
    </select>
</mapper>