<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快运协商再投</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    #parse("system/common/baseImport.vm")
    <script src="/static/js/half/packageHalfRedelivery.js"></script>

</head>
<body class="container-fluid">
<div id="dataTableDiv" >
    <ol class="breadcrumb">
        <li><a href="#">快运中心</a></li>
        <li class="active">快运协商再投</li>
    </ol>

    <div id="query-condition">
        <form id="query-form" class="form-horizontal">
            <fieldset>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label col-xs-4 " for="startDate">反馈时间</label>
                                <div class=" col-xs-8">
                                    <input type="text" id="startTime" name="startTime" class="form-control search-param ">

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label col-xs-1 " for="startDate" style="text-align: center" >—</label>
                                <div class=" col-xs-8">
                                    <input type="text" id="endTime" name="endTime" class="form-control search-param " >

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group" >
                                <label class="control-label col-xs-4" for="box-code-input"> 运单号 </label>
                                <div class="col-xs-8 ">
                                    <input type="text" id="waybillCode" name="waybillCode" class="form-control search-param " >
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label col-xs-6 " for="startDate"> 状态 </label>
                                <div class=" col-xs-6">
                                    <select type="text" class="form-control " id="isReceiptSelect" name="isReceiptSelect">
                                        <option value="0" selected >全部</option>
                                        <option value="1">已反馈</option>
                                        <option value="2">已处理</option>
                                    </select>
                                    <input type="hidden" id="dealState" class="form-control  search-param " name="dealState">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <hr/>

    <div id="toolbar" class="btn-group">
        <button id="btn_query" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询
        </button>
    </div>
    <table id="dataTable"></table>
</div>
<script type="text/javascript">
    var jaq = jaq || [];
    jaq.push(['account', 'JA2016_112453']);
    jaq.push(['domain', 'dms.etms.jd.com']);
    (function () {
        var ja = document.createElement('script');
        ja.type = 'text/javascript';
        ja.async = true;
        ja.src = '//wl.jd.com/joya.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ja, s);
    })()
</script>
#parse("system/security/watermark.vm")
</body>
</html>