<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.reverse.dao.LossOrderDao" >

	<resultMap id="lossOrder" type="com.jd.bluedragon.distribution.reverse.domain.LossOrder" >
		<result column="system_id" property="systemId" />
		<result column="order_id" property="orderId" />
		<result column="loss_type" property="lossType" />
		<result column="loss_code" property="lossCode" />
		<result column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="product_quantity" property="productQuantity" />
		<result column="loss_quantity" property="lossQuantity" />
		<result column="user_erp" property="userErp" />
		<result column="user_name" property="userName" />
		<result column="loss_time" property="lossTime" />
		<result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="yn" property="yn" />
	</resultMap>
	
	<insert id="add" parameterType="lossOrder" >
		INSERT INTO loss_order (
			order_id, loss_type, loss_code, product_id, product_name, 
			product_quantity, user_erp, user_name, loss_quantity, loss_time,
			create_time, update_time, yn )
		VALUES (  
			#{orderId,jdbcType=BIGINT}, #{lossType,jdbcType=INTEGER},
			#{lossCode,jdbcType=INTEGER},
			#{productId,jdbcType=INTEGER},#{productName,jdbcType=INTEGER},
			#{productQuantity,jdbcType=INTEGER}, #{userErp,jdbcType=VARCHAR},
			#{userName,jdbcType=INTEGER}, #{lossQuantity,jdbcType=INTEGER},
			#{lossTime,jdbcType=INTEGER}, NOW(), NOW(), 1)
	</insert>
	
</mapper>