<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运单异常差异导入</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    #parse("system/common/baseImport.vm")
    <script src="/static/js/abnormal/abnormalWaybillDiff.js"></script>

</head>
<body class="container-fluid">
<div id="dataTableDiv" >
    <ol class="breadcrumb">
        <li><a href="#">工具</a></li>
        <li class="active">运单异常差异导入</li>
    </ol>

    <div id="toolbar" class="btn-group">
        <button id="btn_import" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>导入
        </button>
    </div>
    <table id="dataTable"></table>
</div>
<div id="dataEditDiv" class="main" style="display: true">
    <ol class="breadcrumb">
        <li><a href="#">运单异常差异导入</a></li>
        <li class="active">导入</li>
    </ol>
    <hr/>
    <div class="modal fade" tabindex="-1" id="import_modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">导入</h4>
                </div>
                <div class="modal-body">
                    <form id="upload_excel_form" enctype="multipart/form-data" method="POST">

                        <div class="form-group">
                            <label for="exampleInputFile">选择导入文件</label>
                            <input type="file" id="importExcelFile" name="importExcelFile">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn_upload">上传</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                </div>
            </div>
        </div>
    </div>
</div>
#parse("system/security/watermark.vm")
<script type="text/javascript">
    var jaq = jaq || [];
    jaq.push(['account', 'JA2016_112453']);
    jaq.push(['domain', 'dms.etms.jd.com']);
    (function () {
        var ja = document.createElement('script');
        ja.type = 'text/javascript';
        ja.async = true;
        ja.src = '//wl.jd.com/joya.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ja, s);
    })()
</script>
</body>
</html>