<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.label.dao.LabelDao" >

	<resultMap id="label" type="com.jd.bluedragon.distribution.label.domain.Label" >
		<result column="ID" property="ID" />
		<result column="LABEL_TYPE" property="type" />
		<result column="CREATE_SITE_CODE" property="createSiteCode" />
		<result column="CREATE_SITE_NAME" property="createSiteName" />
		<result column="RECEIVE_SITE_CODE" property="receiveSiteCode" />
		<result column="RECEIVE_SITE_NAME" property="receiveSiteName" />
		<result column="CREATE_USER" property="createUser" />
		<result column="CREATE_USER_CODE" property="createUserCode" />
		<result column="OPERATOR_NAME" property="operator_name" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="PRINT_NUM" property="printNum" />
		<result column="yn" property="yn" />
	</resultMap>
	
	<insert id="add" parameterType="label" >
		INSERT INTO REVERSE_LABEL (
			ID, LABEL_TYPE, CREATE_SITE_CODE, CREATE_SITE_NAME, RECEIVE_SITE_CODE,
			RECEIVE_SITE_NAME, CREATE_USER, CREATE_USER_CODE,OPERATOR_NAME, CREATE_TIME,
			UPDATE_TIME, PRINT_NUM, yn)
		VALUES (
			SEQ_REVERSE_LABEL.NEXTVAL, #{type,jdbcType=INTEGER}, #{createSiteCode,jdbcType=INTEGER},
			#{createSiteName,jdbcType=VARCHAR}, #{receiveSiteCode,jdbcType=INTEGER},
			#{receiveSiteName,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR},
			#{createUserCode,jdbcType=INTEGER},#{operator_name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
			SYSDATE, #{printNum,jdbcType=INTEGER}, 1)
	</insert>
	
</mapper> 