<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')" media="all">
    <link rel="stylesheet" type="text/css" href="#springUrl('/static/imports/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css')" media="all">
    <script type="text/javascript" src="#springUrl('/static/js/jquery-1.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/imports/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js')"></script>
</head>
<body id="leftframe">
<div id="lsidebar" class="content">
    <dl>
        <dt><a href="#" class="curr">异常处理</a></dt>
        <dd><a href="#springUrl('/exception/sendCodeHandler/index')" target="mainFrame">批次异常单排查</a></dd>

        <dt><a href="#" class="curr">三无运单处理</a></dt>
        <dd><a href="http://exp.ql.jd.com/summary/main" target="mainFrame">三无商品录入</a></dd>
        <dd><a href="http://exp.ql.jd.com/indicator/main" target="mainFrame">指标异常明细查询</a></dd>
        <dd><a href="#springUrl('/barcode/toIndex')" target="mainFrame">69码查询商品名称</a></dd>
        <dd><a href="#springUrl('/abnormal/abnormalUnknownWaybill/toIndex')" target="mainFrame">三无外单托寄物核实</a></dd>
        <dt><a href="#" class="curr">平台订单</a></dt>
        <!--
	<dd><a href="#springUrl('/popReceive/goListPage')" target="mainFrame">已打印未收货处理</a></dd>
	-->
        <dd><a href="#springUrl('/popReceiveAbnormal/goListPage')" target="mainFrame">平台差异处理</a></dd>
        <dd><a href="#springUrl('/popQueueManager/query')" target="mainFrame">平台排队号查询</a></dd>
        <dd><a href="#springUrl('/popReceive/getPopRecieveList')" target="mainFrame">平台实收查询</a></dd>
        <dt><a href="#" class="curr">分拣中心相关功能</a></dt>
		<dd><a href="http://board.dms.jd.com" target="mainFrame">板标打印</a></dd>
        <dd><a href="#springUrl('/base/crossbox/index')" target="mainFrame">跨箱号中转</a></dd>
        <dd><a href="http://waybill.jd.com/waybill/trackInfo" target="mainFrame">青龙全程跟踪</a></dd>
    #*
            <dd><a href="#springUrl('/crossSorting')" target="mainFrame">跨分拣校验规则配置</a></dd>
    *#
        <dd><a href="#springUrl('/globalTrade')" target="mainFrame">全球购</a></dd>
        <dd><a href="#springUrl('/gantry/index')" target="mainFrame">龙门架注册</a></dd>
        <dd><a href="#springUrl('/autosorting/sortScheme/index')" target="mainFrame">分拣计划配置</a></dd>
        <dd><a href="#springUrl('/admin/remote-access')" target="mainFrame">客户改址查询</a></dd>
        <dd><a href="#springUrl('/partnerInspection/goPartnerDifferentList')" target="mainFrame">第三方差异处理</a></dd>
        <dd><a href="#springUrl('/businesslog/goListPage')" target="mainFrame">日志查询</a></dd>
        <dd><a href="#springUrl('/operateLog/goListPage2')" target="mainFrame">分拣中心操作日志(新)</a></dd>
        <dd><a href="#springUrl('/admin/goddess/index')" target="mainFrame">分拣运行时全程跟踪</a></dd>
        <dd><a href="#springUrl('/offline/goListPage')" target="mainFrame">分拣中心离线操作日志</a></dd>
        <dd><a href="#springUrl('/fresh/index')" target="mainFrame">生鲜温度录入</a></dd>
        <dd><a href="#springUrl('/gantryAutoSend/index')" target="mainFrame">龙门架自动发货</a></dd>
        <dd><a href="#springUrl('/sortMachineAutoSend/index')" target="mainFrame">分拣机自动发货</a></dd>
        <dd><a href="#springUrl('/abnormal/dmsAbnormalEclp/toIndex')" target="mainFrame">库房拒收外呼申请</a></dd>
        <dd><a href="#springUrl('http://dms.sc.jd.com/kaSortingReport/toIndex')" target="mainFrame">KA商家实时报表</a></dd>
        <dd><a href="#springUrl('/abnormalDispose/abnormalDispose/toIndex')" target="mainFrame">分拣批次清零</a></dd>
        <dd><a href="#springUrl('/transport/tmsProxy/toIndex')" target="mainFrame">运输委托书打印</a></dd>
        <dd><a href="#springUrl('/goodsPrint/toIndex')" target="mainFrame">托寄物品名打印</a></dd>
        <dd><a href="#springUrl('/reverse/part/reversePartDetail/toIndex')" target="mainFrame">半退明细查询</a></dd>
        <dd><a href="http://tfc.tms.jd.com/tfc/trans-book-abnormal/index" target="mainFrame">异常签收审批</a></dd>
        <dd><a href="#springUrl('/merchantWeightAndVolume/whiteList/toIndex')" target="mainFrame">商家称重量方白名单</a></dd>

        <dt><a href="#" class="curr">快运中心相关功能</a></dt>
        <dd><a href="#springUrl('/inventoryTask/toIndex')" target="mainFrame">转运清场任务查询</a></dd>
		<dd><a href="#springUrl('/inventoryException/toIndex')" target="mainFrame">转运清场异常查询</a></dd>
        <dd><a href="#springUrl('/coldchain/quarantinelicense/index')" target="mainFrame">冷链卡班检疫证票号管理</a></dd>
        <dd><a href="#springUrl('/b2bRouter/index')" target="mainFrame">B网路由配置表</a></dd>
        <dd><a href="#springUrl('/base/dmsStorageArea/toIndex')" target="mainFrame">流向库位配置表</a></dd>
        <dd><a href="#springUrl('/half/packageHalfRedelivery/toIndex')" target="mainFrame">快运协商再投</a></dd>
        <dd><a href="#springUrl('/half/packageHalf/toIndex')" target="mainFrame">包裹部分签收操作</a></dd>
        <dd><a href="#springUrl('/waybill/rma/index')" target="mainFrame">RMA交接单打印</a></dd>
        <dd><a href="http://erp.ql.jd.com/transport/detailPartDeliver" target="mainFrame">明细部分签收操作</a></dd>
        <dd><a href="http://erp.ql.jd.com/transport/detailPartDeliverPackage" target="mainFrame">修改包裹数</a></dd>
        <dd><a href="#springUrl('/consumable/waybillConsumableRecord/toIndex')" target="mainFrame">B网包装耗材</a></dd>
        <dd><a href="#springUrl('/consumable/packingConsumableInfo/toIndex')" target="mainFrame">包装耗材基础信息管理</a></dd>
        <dd><a href="#springUrl('/consumable/dmsConsumableRelation/toIndex')" target="mainFrame">快运中心包装耗材管理</a></dd>
        <dd><a href="#springUrl('/storage/storagePackageM/toIndex')" target="mainFrame">暂存管理</a></dd>
        <dd><a href="#springUrl('/jinpeng/performance/toIndex')" target="mainFrame">加履交接单打印</a></dd>
        <dd><a href="#springUrl('/collect/collectGoodsPlace/toIndex')" target="mainFrame">集货位配置</a></dd>
        <dd><a href="#springUrl('/collect/collectGoodsDetail/toIndex')" target="mainFrame">集货报表</a></dd>

        <dt><a href="#" class="curr">工具</a></dt>
        <dd><a href="#springUrl('/notice/manage')" target="mainFrame">通知栏管理</a></dd>
        <dd><a href="#springUrl('/inspectionCheck/toIndex')" target="mainFrame">验货集齐查询</a></dd>
        <dd><a href="#springUrl('/reviewWeightSpotCheck/toIndex')" target="mainFrame">复重抽检任务导入</a></dd>
        <dd><a href="#springUrl('/weightAndVolumeCheckOfB2b/toIndex')" target="mainFrame">B网转运重量抽检</a></dd>
        <dd><a href="#springUrl('/weightAndVolumeCheck/toIndex')" target="mainFrame">重量体积抽检统计</a></dd>
        <dd><a href="#springUrl('/newseal/preSealVehicle/toIndex')" target="mainFrame">一键封车</a></dd>
        <dd><a href="#springUrl('/newseal/preSealVehicle/unusedtransport')" target="mainFrame">未使用运力编码查询</a></dd>
        <dd><a href="#springUrl('/waybillCodeCheckForKA/toIndex')" target="mainFrame">金融客户运单号对比校验</a></dd>
        <dd><a href="#springUrl('/signReturn/toIndex')" target="mainFrame">签单返回合单打印交接单</a></dd>
        <dd><a href="#springUrl('/tips/repail_stock')" target="mainFrame">逆向物流重新推送库管</a></dd>
        <dd><a href="/tips/repail_reverse" target="mainFrame">逆向物流重新推送数据</a></dd>
        <dd><a href="/tips/waybill" target="mainFrame">运单判断</a></dd>
        <dd><a href="/turBoxManager/query" target="mainFrame">收发空箱查询</a></dd>
        <dd><a href="/tips/repail_waybillSend" target="mainFrame">全国邮政数据重新下发</a></dd>
        <dd><a href="/sysconfig/dafu/index" target="mainFrame">大福线白名单管理</a></dd>
        <dd><a href="http://dmsver1.etms.jd.com/gantry/index" target="mainFrame">龙门架账号管理</a></dd>
        <dd><a href="#springUrl('/reverseReceive/index')" target="mainFrame">逆向收货查询</a></dd>
        <dd><a href="#springUrl('/sortingCenter/index')" target="mainFrame">分拣中心测试查询工具</a></dd>
        <dd><a href="#springUrl('/areaDestPlan/index')" target="mainFrame">龙门架发货关系维护</a></dd>
        <dd><a href="$!{mixedConfigUrl}?userName=$!{userName}&userCode=$!{userCode}" target="mainFrame">跨区混装箱规则配置</a></dd>
        <dd><a href="#springUrl('/b2b/express/weight/index')" target="mainFrame">快运运单称重</a></dd>
        <dd><a href="#springUrl('/abnormal/dmsOperateHint/toIndex')" target="mainFrame">PDA验货提示语</a></dd>
        <dd><a href="#springUrl('/recyclematerial/index')" target="mainFrame">循环物资管理</a></dd>
        <dt><a href="#" class="curr">FAQ</a></dt>
        <dd><a href="pages/faq/faq.html" target="mainFrame">FAQ</a></dd>
        <dt><a href="#" class="curr">离线管理</a></dt>
        <dd><a href="#springUrl('/offlinePwd/list')" target="mainFrame">离线密码管理</a></dd>
        <dt><a href="#" class="curr">订单</a></dt>
        <dd><a href="#springUrl('/kuGuan/goListPage')" target="mainFrame">库管单号查询</a></dd>
        <dt><a href="#" class="curr">ISV版控制</a></dt>
        <dd><a href="#springUrl('/printDevice/index')" target="mainFrame">ISV版本控制</a></dd>
        <dd><a href="#springUrl('/version/index')" target="mainFrame">ISV版本管理</a></dd>
    </dl>
</div>
<div id="control" class="control" jQuery1328083232241="11"></div>

<script type="text/javascript">
    (function () {
        $('dd').hide();
        showMenu($("#lsidebar .curr"));
        $("#lsidebar dt a").bind("click", function () {
            //再点击可以收缩
            if ($(this).attr("class").indexOf("curr")>-1){
                hideMenu($(this));
            }else{
                showMenu($(this));
            }
        });

        $("#control").bind("click", function () {
            parent.document.getElementsByTagName('frameset')[1].cols = (parent.document.getElementsByTagName('frameset')[1].cols == '10,*') ? '189,*' : '10,*';
            document.getElementById('lsidebar').style.display = (document.getElementById('lsidebar').style.display == 'none') ? '' : 'none';
            document.getElementById('control').className = (document.getElementById('control').className == 'control') ? 'control switch' : 'control';
        });
        //设置菜单高度，以便出现滚动条
        var setHeight = function(){
            var h=window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
            document.getElementById("lsidebar").style.height = h+"px";
        }
        setHeight();
        //添加滚动条
        $(".content").mCustomScrollbar({
            autoHideScrollbar:true,
            theme:"minimal-dark"
        });
    })()

    function showMenu(obj) {
        obj.addClass('curr');
        obj.parent().nextUntil('dt').slideDown('fast');
    }

    function hideMenu(obj) {
        obj.removeClass('curr');
        obj.parent().nextUntil('dt').slideUp('fast');
    }
    //窗口变化时自动调整div高度
    window.onresize = function(){
        var h=window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
        document.getElementById("lsidebar").style.height = h+"px";
    }
</script>

</body>
</html>
