<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<!-- saved from url=(0032)http://www.zanpo.net/error404.htm -->
<HTML>
<HEAD><TITLE>青龙分拣系统</TITLE>
    <META http-equiv=Content-Type content="text/html; charset=gb2312">
    <STYLE type=text/css>BODY {
        BACKGROUND: #fff;
        MARGIN: 80px auto;
        FONT: 14px/150% Verdana, Georgia, Sans-Serif;
        COLOR: #000;
        TEXT-ALIGN: center
    }

    A:link {
        COLOR: #2c4c78;
        TEXT-DECORATION: none
    }

    A:visited {
        COLOR: #2c4c78;
        TEXT-DECORATION: none
    }

    A:hover {
        COLOR: #2c4c78;
        TEXT-DECORATION: none
    }

    A:active {
        COLOR: #2c4c78;
        TEXT-DECORATION: none
    }

    H1 {
        PADDING-RIGHT: 4px;
        PADDING-LEFT: 4px;
        FONT-SIZE: 14px;
        BACKGROUND: #eee;
        PADDING-BOTTOM: 4px;
        MARGIN: 0px;
        PADDING-TOP: 4px;
        BORDER-BOTTOM: #84b0c7 1px solid
    }

    DIV {
        BORDER-RIGHT: #84b0c7 1px solid;
        BORDER-TOP: #84b0c7 1px solid;
        BACKGROUND: #e5eef5;
        MARGIN: 0px auto;
        BORDER-LEFT: #84b0c7 1px solid;
        WIDTH: 500px;
        BORDER-BOTTOM: #84b0c7 1px solid
    }

    P {
        PADDING-RIGHT: 15px;
        PADDING-LEFT: 15px;
        PADDING-BOTTOM: 15px;
        MARGIN: 0px;
        PADDING-TOP: 15px
    }
    </STYLE>

    <META content="MSHTML 6.00.2900.2523" name=GENERATOR>
</HEAD>
<BODY>
<DIV>
    <H1>您的青龙账号尚未激活，请联系【质控】维护权限</H1>
    <P>由于您的基础资料尚未维护，不允许登录青龙分拣系统，请联系【质控】，维护您的青龙员工信息。</P>
    <P>如果不知道【质控】是谁，请联系IT ，咚咚号： XNPSXT    </P>
    <p>维护地址：http://ql.jd.com > 基础资料 > 基础资料管理 > 员工维护</p>
</DIV>
</BODY>
</HTML>
