<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.version.dao.ClientConfigHistoryDao">

	<resultMap id="clientConfigHistory"
		type="com.jd.bluedragon.distribution.version.domain.ClientConfigHistory">
		<result column="config_history_id" property="configHistoryId" />
		<result column="site_code" property="siteCode" />
		<result column="program_type" property="programType" />
		<result column="version_code" property="versionCode" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="yn" property="yn" />
	</resultMap>

	<sql id="Base_Select_Sql">
		SELECT config_history_id, site_code, program_type, version_code,create_time,update_time, yn
		FROM client_config_history
		WHERE yn = 1 
	</sql>

	<select id="getAll" resultMap="clientConfigHistory">		 
		<include refid="Base_Select_Sql" />
	</select> 

	<select id="getBySiteCode" resultMap="clientConfigHistory" parameterType="String">		 
		<include refid="Base_Select_Sql" />
		AND site_code=#{siteCode, jdbcType=VARCHAR} 
	</select> 

	<select id="getByProgramType" resultMap="clientConfigHistory" parameterType="INTEGER">		 
		<include refid="Base_Select_Sql" />
		AND program_type=#{programType, jdbcType=INTEGER} 
	</select> 

	<insert id="add" parameterType="clientConfigHistory">
		insert into client_config_history(config_history_id, site_code, program_type, version_code,create_time,update_time, yn)
		values (
		SEQ_CLIENT_CONFIG_HISTORY.NEXTVAL, #{siteCode, jdbcType=VARCHAR},
		#{programType, jdbcType=INTEGER}, #{versionCode, jdbcType=VARCHAR}, 
		sysdate, sysdate, 1
		)
	</insert> 
</mapper>