<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.bluedragon.distribution.departure.dao.BoxMeasureDao">

	<resultMap id="BaseResultMap" type="BoxMeasure">
		<result column="box_measure_id" jdbcType="BIGINT" property="boxMeasureId" />
		<result column="box_code" jdbcType="VARCHAR" property="boxCode" />
		<result column="create_site_code" jdbcType="INTEGER" property="createSiteCode" />
		<result column="weight" jdbcType="DOUBLE" property="weight" />
		<result column="volume" jdbcType="DOUBLE" property="volume" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="yn" jdbcType="TINYINT" property="yn" />
	</resultMap>
	
	<insert id="add" parameterType="BoxMeasure">
		insert into box_measure
		( box_code, create_site_code, weight,
		volume, status, yn, create_time, update_time) values
		(#{boxCode,jdbcType=VARCHAR}, #{createSiteCode,jdbcType=INTEGER},
		#{weight,jdbcType=DOUBLE},#{volume,jdbcType=DOUBLE},
		#{status,jdbcType=TINYINT},#{yn,jdbcType=TINYINT},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP})
	</insert>

	<sql id="Base_Column_List">
		box_measure_id, box_code, create_site_code, weight, volume, status, create_time, update_time
	</sql>

	<select id="getUnHandledBoxMeasures" resultMap="BaseResultMap" parameterType="BoxMeasure">
		SELECT
		<include refid="Base_Column_List" />
		FROM box_measure
		WHERE yn = 1 and status = 0 LIMIT #{fetchNum};
	</select>

	<update id="updateBySelective" parameterType="BoxMeasure">
		update box_measure
		<set>
			<if test="weight != null">
				weight = #{weight,jdbcType=DOUBLE},
			</if>
			<if test="volume != null">
				volume = #{volume,jdbcType=DOUBLE},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
		</set>
		where box_code = #{boxCode,jdbcType=VARCHAR}
	</update>

</mapper>