<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.bluedragon.distribution.departure.dao.DepartureTmpDao">
    <resultMap id="DepartureTmpSendResult" type="DepartureTmpSend">
        <result column="batch_code" property="sendCode"  jdbcType="VARCHAR"/>
        <result column="send_code" property="sendCode"  jdbcType="VARCHAR"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime"/>
        <result column="third_waybill_code" jdbcType="VARCHAR" property="thirdWaybillCode"/>
        <result column="yn" jdbcType="TINYINT" property="yn" />
    </resultMap>

    <insert id="insert" parameterType="DepartureTmpSend">
        INSERT INTO departure_tmp (departure_tmp_id,batch_code,send_code,create_time,yn,operate_time,third_waybill_code)
        VALUES (seq_departure_tmp.nextval,#{sendCode,jdbcType=VARCHAR},#{sendCode,jdbcType=VARCHAR},
        NOW(),1,#{operateTime,jdbcType=TIMESTAMP},#{thirdWaybillCode,jdbcType=VARCHAR})
    </insert>

    <select id="queryDepartureTmpByBatchCode" resultMap="DepartureTmpSendResult" parameterType="java.lang.String">
        SELECT batch_code,send_code,create_time,operate_time,third_waybill_code
        FROM departure_tmp
        WHERE batch_code = #{batchKey}
    </select>
</mapper>