<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.gantry.dao.GantryDeviceConfigDao">

    <resultMap id="gantryDeviceConfig" type="com.jd.bluedragon.distribution.gantry.domain.GantryDeviceConfig">
        <result column="id" property="id"/>
        <result column="machine_id" property="machineId"/>
        <result column="operate_user_id" property="operateUserId"/>
        <result column="operate_user_erp" property="operateUserErp"/>
        <result column="operate_user_name" property="operateUserName"/>
        <result column="update_user_erp" property="updateUserErp"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="create_site_code" property="createSiteCode"/>
        <result column="create_site_name" property="createSiteName"/>
        <result column="business_type" property="businessType"/>
        <result column="business_type_remark" property="businessTypeRemark"/>
        <result column="send_Code" property="sendCode"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="lock_status" property="lockStatus"/>
        <result column="lock_user_erp" property="lockUserErp"/>
        <result column="lock_user_name" property="lockUserName"/>
        <result column="SYSDATE" property="dbTime"/>
        <result column="yn" property="yn"/>
    </resultMap>
    <sql id="fields">
        id,machine_id,operate_user_id,operate_user_erp,operate_user_name,update_user_erp,
        update_user_name,create_site_code,create_site_name,business_type,
        business_type_remark,send_code,start_time,end_time,lock_status,lock_user_erp,lock_user_name,
        yn
    </sql>

    <insert id="add" parameterType="gantryDeviceConfig">
        INSERT INTO gantry_device_config (id,
        machine_id,operate_user_id,operate_user_erp,operate_user_name,
        update_user_erp,update_user_name,create_site_code,create_site_name,business_type,
        business_type_remark,send_code,start_time,end_time,lock_status,lock_user_erp,lock_user_name,
        yn)
        VALUES (SEQ_GANTRY_DEVICE_CONFIG.NEXTVAL,
        #{machineId,jdbcType=INTEGER},#{operateUserId,jdbcType=INTEGER},#{operateUserErp,jdbcType=VARCHAR},#{operateUserName,jdbcType=VARCHAR},
        #{updateUserErp,jdbcType=VARCHAR},#{updateUserName,jdbcType=VARCHAR},#{createSiteCode,jdbcType=INTEGER},#{createSiteName,jdbcType=VARCHAR},#{businessType,jdbcType=INTEGER},
        #{businessTypeRemark,jdbcType=VARCHAR},#{sendCode,jdbcType=VARCHAR},SYSDATE,SYSDATE+1 ,1,#{lockUserErp,jdbcType=VARCHAR},#{lockUserName,jdbcType=VARCHAR},
        1)
    </insert>

    <insert id="addUseJavaTime" parameterType="gantryDeviceConfig">
        INSERT INTO gantry_device_config (id,
        machine_id,operate_user_id,operate_user_erp,operate_user_name,
        update_user_erp,update_user_name,create_site_code,create_site_name,business_type,
        business_type_remark,send_code,start_time,end_time,lock_status,lock_user_erp,lock_user_name,
        yn)
        VALUES (SEQ_GANTRY_DEVICE_CONFIG.NEXTVAL,
        #{machineId,jdbcType=INTEGER},#{operateUserId,jdbcType=INTEGER},#{operateUserErp,jdbcType=VARCHAR},#{operateUserName,jdbcType=VARCHAR},
        #{updateUserErp,jdbcType=VARCHAR},#{updateUserName,jdbcType=VARCHAR},#{createSiteCode,jdbcType=INTEGER},#{createSiteName,jdbcType=VARCHAR},#{businessType,jdbcType=INTEGER},
        #{businessTypeRemark,jdbcType=VARCHAR},#{sendCode,jdbcType=VARCHAR},
        to_date(to_char(#{startTime,jdbcType=TIMESTAMP},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss'),
        to_date(to_char(#{endTime,jdbcType=TIMESTAMP},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss') ,
        1,#{lockUserErp,jdbcType=VARCHAR},#{lockUserName,jdbcType=VARCHAR},
        1)
    </insert>

    <select id="findMaxStartTimeGantryDeviceConfigByMachineId" resultMap="gantryDeviceConfig"
            parameterType="java.util.Map">
        SELECT id,machine_id,operate_user_id,operate_user_erp,operate_user_name,update_user_erp,
        update_user_name,create_site_code,create_site_name,business_type,
        business_type_remark,send_code,start_time,end_time,lock_status,lock_user_erp,lock_user_name,
        yn,SYSDATE
        FROM gantry_device_config WHERE machine_id = #{machineId,jdbcType=INTEGER}
        AND ROWNUM <![CDATA[<=]]> 1
        AND yn = 1
        AND start_time = (SELECT MAX (start_time)
        FROM gantry_device_config
        WHERE  machine_id = #{machineId,jdbcType=INTEGER}
        AND yn = 1)
    </select>

    <select id="findGantryDeviceConfig" resultMap="gantryDeviceConfig" parameterType="java.util.Map">
        SELECT id,machine_id,operate_user_id,operate_user_erp,operate_user_name,update_user_erp,
        update_user_name,create_site_code,create_site_name,business_type,
        business_type_remark,send_code,start_time,end_time,lock_status,lock_user_erp,lock_user_name,
        yn,SYSDATE
        FROM gantry_device_config
        WHERE  machine_id = #{machineId,jdbcType=INTEGER}
        AND ROWNUM <![CDATA[<=]]> 1
        AND yn = 1
    </select>

    <select id="findGantryDeviceConfigByOperateTime" resultMap="gantryDeviceConfig" parameterType="java.util.Map">
        SELECT id,machine_id,operate_user_id,operate_user_erp,operate_user_name,update_user_erp,
        update_user_name,create_site_code,create_site_name,business_type,
        business_type_remark,send_code,start_time,end_time,lock_status,lock_user_erp,lock_user_name,
        yn
        FROM gantry_device_config
        WHERE  machine_id = #{machineId,jdbcType=INTEGER}
        AND yn = 1
        AND start_time <![CDATA[<=]]> to_date(to_char(#{operateTime,jdbcType=TIMESTAMP},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss')
    </select>
    <select id="findAllGantryDeviceCurrentConfig" resultMap="gantryDeviceConfig" parameterType="java.util.Map">
        SELECT id,machine_id,operate_user_id,operate_user_erp,operate_user_name,update_user_erp,
        update_user_name,create_site_code,create_site_name,business_type,
        business_type_remark,send_code,start_time,end_time,lock_status,lock_user_erp,lock_user_name,
        yn,SYSDATE
        FROM gantry_device_config
        WHERE create_site_code = #{createSiteCode,jdbcType=INTEGER}
        AND yn = 1
    </select>
    <select id="checkSendCode" resultMap="gantryDeviceConfig" parameterType="java.util.Map">
        SELECT <include refid="fields"/>
        FROM gantry_device_config
        WHERE send_code = #{sendCode,jdbcType=VARCHAR}
        AND yn = 1 AND ROWNUM <![CDATA[<=]]> 1
    </select>

    <update id="updateLockStatus" parameterType="gantryDeviceConfig">
        UPDATE gantry_device_config
        SET lock_status = #{lockStatus,jdbcType=INTEGER},lock_user_erp = #{lockUserErp,jdbcType=VARCHAR},lock_user_name=#{lockUserName,jdbcType=VARCHAR}
        WHERE  id =  #{id,jdbcType=INTEGER}
    </update>

    <update id="updateBusinessType" parameterType="gantryDeviceConfig">
        UPDATE gantry_device_config
        SET business_type = #{businessType,jdbcType=INTEGER}
        WHERE  id =  #{id,jdbcType=INTEGER}
    </update>


</mapper>