<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jd.bluedragon.distribution.jy.dao.group.JyGroupMemberDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jd.bluedragon.distribution.jy.group.JyGroupMemberEntity" id="jyGroupMemberMap">
        <result property="id" column="id"/>
        <result property="memberCode" column="member_code"/>
        <result property="refGroupCode" column="ref_group_code"/>
        <result property="refSignRecordId" column="ref_sign_record_id"/>
        <result property="userCode" column="user_code"/>
        <result property="userName" column="user_name"/>
        <result property="jobCode" column="job_code"/>
        <result property="masterFlag" column="master_flag"/>
        <result property="status" column="status"/>
        <result property="orgCode" column="org_code"/>
        <result property="siteCode" column="site_code"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="yn" column="yn"/>
        <result property="ts" column="ts"/>
        <result property="memberType" column="member_type"/>
        <result property="deviceTypeCode" column="device_type_code"/>
        <result property="deviceTypeName" column="device_type_name"/>
        <result property="machineCode" column="machine_code"/>
        <result property="signInTime" column="sign_in_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result property="signOutTime" column="sign_out_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />        
    </resultMap>

    <resultMap type="com.jd.bluedragon.common.dto.group.JyGroupMemberData" id="jyGroupMemberDataMap">
        <result property="id" column="id"/>
        <result property="memberCode" column="member_code"/>
        <result property="refGroupCode" column="ref_group_code"/>
        <result property="refSignRecordId" column="ref_sign_record_id"/>
        <result property="userCode" column="user_code"/>
        <result property="userName" column="user_name"/>
        <result property="jobCode" column="job_code"/>
        <result property="masterFlag" column="master_flag"/>
        <result property="status" column="status"/>
        <result property="orgCode" column="org_code"/>
        <result property="siteCode" column="site_code"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="yn" column="yn"/>
        <result property="ts" column="ts"/>
        <result property="memberType" column="member_type"/>
        <result property="deviceTypeCode" column="device_type_code"/>
        <result property="deviceTypeName" column="device_type_name"/>
        <result property="machineCode" column="machine_code"/>
        <result property="signInTime" column="sign_in_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result property="signOutTime" column="sign_out_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />       
    </resultMap>
    
    <resultMap type="com.jd.bluedragon.common.dto.group.JyGroupMemberCountData" id="jyGroupMemberCountData">
	    <result property="memberType" column="member_type"/>
	    <result property="count" column="count"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id,
        member_code,
        ref_group_code,
        ref_sign_record_id,
        user_code,
        user_name,
        job_code,
        master_flag,
        status,
        org_code,
        site_code,
        create_user,
        create_user_name,
        update_user,
        update_user_name,
        create_time,
        update_time,
        yn,
        ts,
        member_type,
		device_type_code,
		device_type_name,
		machine_code,
		sign_in_time,
		sign_out_time
    </sql>

    <insert id="insert" parameterType="com.jd.bluedragon.distribution.jy.group.JyGroupMemberEntity">
        INSERT INTO jy_group_member (
                            id,
                            member_code,
                            ref_group_code,
                            ref_sign_record_id,
                            user_code,
                            user_name,
                            job_code,
                            master_flag,
                            status,
                            org_code,
                            site_code,
                            create_user,
                            create_user_name,
                            update_user,
                            update_user_name,
                            create_time,
                            update_time,
                            member_type,
							device_type_code,
							device_type_name,
							machine_code,
							sign_in_time,
							sign_out_time
                    ) VALUES (
                            #{id},
                            #{memberCode},
                            #{refGroupCode},
                            #{refSignRecordId},
                            #{userCode},
                            #{userName},
                            #{jobCode},
                            #{masterFlag},
                            #{status},
                            #{orgCode},
                            #{siteCode},
                            #{createUser},
                            #{createUserName},
                            #{updateUser},
                            #{updateUserName},
                            #{createTime},
                            #{updateTime},
						    #{memberType},
						    #{deviceTypeCode},
						    #{deviceTypeName},
						    #{machineCode},
						    #{signInTime},
						    #{signOutTime}
                    )
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO jy_group_member (
                            id,
                            member_code,
                            ref_group_code,
                            ref_sign_record_id,
                            user_code,
                            user_name,
                            job_code,
                            master_flag,
                            status,
                            org_code,
                            site_code,
                            create_user,
                            create_user_name,
                            update_user,
                            update_user_name,
                            create_time,
                            update_time,
                            member_type,
                            device_type_code,
                            device_type_name,
                            machine_code,
                            sign_in_time,
                            sign_out_time
                    ) VALUES 
                    <foreach collection="list" item="item" separator=",">
			        (
                      #{item.id},
                      #{item.memberCode},
                      #{item.refGroupCode},
                      #{item.refSignRecordId},
                      #{item.userCode},
                      #{item.userName},
                      #{item.jobCode},
                      #{item.masterFlag},
                      #{item.status},
                      #{item.orgCode},
                      #{item.siteCode},
                      #{item.createUser},
                      #{item.createUserName},
                      #{item.updateUser},
                      #{item.updateUserName},
                      #{item.createTime},
                      #{item.updateTime},
                      #{item.memberType},
                      #{item.deviceTypeCode},
                      #{item.deviceTypeName},
                      #{item.machineCode},
                      #{item.signInTime},
                      #{item.signOutTime}
                    )
			        </foreach>
    </insert> 
    <update id="removeMember">
        UPDATE jy_group_member
        SET
            update_time = #{updateTime, jdbcType=TIMESTAMP},
            update_user = #{updateUser, jdbcType=VARCHAR},
            update_user_name = #{updateUserName, jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            sign_out_time = #{signOutTime, jdbcType=TIMESTAMP}
        WHERE
            yn = 1
        AND id = #{id}
        AND status != #{status,jdbcType=INTEGER}
    </update>      
     
    <select id="querySignIdListByGroup" parameterType="com.jd.bluedragon.common.dto.group.GroupMemberQueryRequest" resultType="long">
        select
            t.ref_sign_record_id
        from
            jy_group_member t
        <include refid="queryWithGroup"/>
          order by id
          limit #{offset}, #{limit}
    </select>
    <select id="queryCountByGroup" parameterType="com.jd.bluedragon.common.dto.group.GroupMemberQueryRequest" resultType="long">
        select
            count(1)
        from
            jy_group_member t
        <include refid="queryWithGroup"/>
    </select>    
    <select id="queryMemberListByGroup" parameterType="com.jd.bluedragon.distribution.jy.group.JyGroupMemberQuery" resultMap="jyGroupMemberMap">
        select
            <include refid="Base_Column_List"/>
        from
            jy_group_member t
            <include refid="queryWithGroup"/>
    </select>    
    <sql id="queryWithGroup">
        where t.yn = 1
            and t.ref_group_code = #{groupCode}           
        <if test="status != null" >
            and t.status = #{status,jdbcType=INTEGER}
        </if>       
    </sql> 
    <select id="queryBySignRecordId" parameterType="java.lang.Long" resultMap="jyGroupMemberMap">
        select
            <include refid="Base_Column_List"/>
        from
            jy_group_member t
        where t.yn = 1
            and t.ref_sign_record_id = #{refSignRecordId}
        limit 1
    </select>
    <select id="queryGroupMemberNum" parameterType="java.lang.Long" resultType="int">
        select
            count(1)
        from
            jy_group_member t
        where t.yn = 1
            and t.ref_group_code = #{refGroupCode}
            and t.status = 1
    </select>
    
    <select id="queryMemberDataListByGroup" parameterType="com.jd.bluedragon.common.dto.group.GroupMemberQueryRequest"  resultMap="jyGroupMemberDataMap">
        select
            <include refid="Base_Column_List"/>
        from
            jy_group_member t
        <include refid="queryMemberDataCondition"/>
          order by id
          limit #{offset}, #{limit}
    </select>
    
    <select id="queryMemberDataCountByGroup" parameterType="com.jd.bluedragon.common.dto.group.GroupMemberQueryRequest" resultMap="jyGroupMemberCountData">
        select
            t.member_type as member_type,count(1) as count
        from
            jy_group_member t
        <include refid="queryMemberDataCountCondition"/>
        group by member_type
    </select>
    <sql id="queryMemberDataCountCondition">
        where t.yn = 1
            and t.ref_group_code = #{groupCode} 
        <if test="status != null" >
            and t.status = #{status,jdbcType=INTEGER}
        </if>
        and t.sign_in_time >= #{signInTimeStart,jdbcType=TIMESTAMP}
        and t.sign_in_time &lt;= #{signInTimeEnd,jdbcType=TIMESTAMP}       
    </sql>    
    <sql id="queryMemberDataCondition">
        where t.yn = 1
            and t.ref_group_code = #{groupCode} 
        <if test="memberType != null" >
            and t.member_type = #{memberType,jdbcType=INTEGER}
        </if>                       
        <if test="status != null" >
            and t.status = #{status,jdbcType=INTEGER}
        </if>
        and t.sign_in_time >= #{signInTimeStart,jdbcType=TIMESTAMP}
        and t.sign_in_time &lt;= #{signInTimeEnd,jdbcType=TIMESTAMP}       
    </sql>
    <select id="queryByMemberCode" parameterType="java.lang.Long" resultMap="jyGroupMemberMap">
        select
            <include refid="Base_Column_List"/>
        from
            jy_group_member t
        where t.yn = 1
            and t.member_code = #{memberCode}
        limit 1
    </select>    
</mapper>