<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jd.bluedragon.distribution.jy.dao.group.JyTaskGroupMemberDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jd.bluedragon.distribution.jy.group.JyTaskGroupMemberEntity" id="jyTaskGroupMemberMap">
        <result property="id" column="id"/>
        <result property="refTaskId" column="ref_task_id"/>
        <result property="refGroupCode" column="ref_group_code"/>
        <result property="refGroupMemberCode" column="ref_group_member_code"/>
        <result property="userCode" column="user_code"/>
        <result property="userName" column="user_name"/>
        <result property="jobCode" column="job_code"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="workTimes" column="work_times"/>
        <result property="orgCode" column="org_code"/>
        <result property="siteCode" column="site_code"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="yn" column="yn"/>
        <result property="ts" column="ts"/>
        <result property="memberType" column="member_type"/>
        <result property="deviceTypeCode" column="device_type_code"/>
        <result property="deviceTypeName" column="device_type_name"/>
        <result property="machineCode" column="machine_code"/>       
    </resultMap>

    <sql id="Base_Column_List">
        id,
        ref_task_id,
        ref_group_code,
        ref_group_member_code,
        user_code,
        user_name,
        job_code,
        start_time,
        end_time,
        work_times,
        org_code,
        site_code,
        create_user,
        create_user_name,
        update_user,
        update_user_name,
        create_time,
        update_time,
        yn,
        ts,
        member_type,
        device_type_code,
        device_type_name,
        machine_code
    </sql>

    <insert id="insert" parameterType="JyTaskGroupMemberEntity">
        INSERT INTO jy_task_group_member (
                            id,
                            ref_task_id,
                            ref_group_code,
                            ref_group_member_code,
                            user_code,
                            user_name,
                            job_code,
                            start_time,
                            end_time,
                            work_times,
                            org_code,
                            site_code,
                            create_user,
                            create_user_name,
                            update_user,
                            update_user_name,
                            create_time,
                            update_time,
                            member_type,
                            device_type_code,
                            device_type_name,
                            machine_code
                    ) VALUES (
                            #{id},
                            #{refTaskId},
                            #{refGroupCode},
                            #{refGroupMemberCode},
                            #{userCode},
                            #{userName},
                            #{jobCode},
                            #{startTime},
                            #{endTime},
                            #{workTimes},
                            #{orgCode},
                            #{siteCode},
                            #{createUser},
                            #{createUserName},
                            #{updateUser},
                            #{updateUserName},
                            #{createTime},
                            #{updateTime},
                            #{memberType},
                            #{deviceTypeCode},
                            #{deviceTypeName},
                            #{machineCode}
                    )
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO jy_task_group_member (
                            id,
                            ref_task_id,
                            ref_group_code,
                            ref_group_member_code,
                            user_code,
                            user_name,
                            job_code,
                            start_time,
                            end_time,
                            work_times,
                            org_code,
                            site_code,
                            create_user,
                            create_user_name,
                            update_user,
                            update_user_name,
                            create_time,
                            update_time,
                            member_type,
                            device_type_code,
                            device_type_name,
                            machine_code
                    ) VALUES 
                    <foreach collection="list" item="item" separator=",">
                    (
                      #{item.id},
                      #{item.refTaskId},
                      #{item.refGroupCode},
                      #{item.refGroupMemberCode},
                      #{item.userCode},
                      #{item.userName},
                      #{item.jobCode},
                      #{item.startTime},
                      #{item.endTime},
                      #{item.workTimes},
                      #{item.orgCode},
                      #{item.siteCode},
                      #{item.createUser},
                      #{item.createUserName},
                      #{item.updateUser},
                      #{item.updateUserName},
                      #{item.createTime},
                      #{item.updateTime},
                      #{item.memberType},
                      #{item.deviceTypeCode},
                      #{item.deviceTypeName},
                      #{item.machineCode}
                    )
                    </foreach>
    </insert>    
    <update id="endWorkByMemberCode" parameterType="JyTaskGroupMemberEntity">
        UPDATE jy_task_group_member
        SET
            update_time = #{updateTime, jdbcType=TIMESTAMP},
            update_user = #{updateUser, jdbcType=VARCHAR},
            update_user_name = #{updateUserName, jdbcType=VARCHAR},
            end_time = #{endTime,jdbcType=TIMESTAMP}
        WHERE
            yn = 1
        AND ref_group_member_code = #{refGroupMemberCode}
        AND end_time is null
    </update> 
    <update id="endWorkByTaskId" parameterType="JyTaskGroupMemberEntity">
        UPDATE jy_task_group_member
        SET
            update_time = #{updateTime, jdbcType=TIMESTAMP},
            update_user = #{updateUser, jdbcType=VARCHAR},
            update_user_name = #{updateUserName, jdbcType=VARCHAR},
            end_time = #{endTime,jdbcType=TIMESTAMP}
        WHERE
            yn = 1
        AND ref_task_id = #{refTaskId}
        AND end_time is null
    </update>
    <select id="queryMemberCodeListByTaskId" parameterType="com.jd.bluedragon.distribution.jy.group.JyTaskGroupMemberQuery" resultType="String">
        select
            ref_group_member_code
        from
            jy_task_group_member
        where yn = 1
          and ref_task_id = #{taskId}
    </select>
    <select id="queryMemberListByTaskId" parameterType="com.jd.bluedragon.distribution.jy.group.JyTaskGroupMemberQuery" resultMap="jyTaskGroupMemberMap">
        select
            <include refid="Base_Column_List"/>
        from
            jy_task_group_member
        where yn = 1
          and ref_task_id = #{taskId}
    </select>    
    
    <update id="endWorkByMemberCodeList" parameterType="JyTaskGroupMemberEntity">
        UPDATE jy_task_group_member
        SET
            update_time = #{endData.updateTime, jdbcType=TIMESTAMP},
            update_user = #{endData.updateUser, jdbcType=VARCHAR},
            update_user_name = #{endData.updateUserName, jdbcType=VARCHAR},
            end_time = #{endData.endTime,jdbcType=TIMESTAMP}
        WHERE
            yn = 1
        AND ref_task_id in
        <foreach collection="memberCodes" item="item" separator=",">
        
        </foreach>
        AND end_time is null
    </update> 
    <update id="deleteByMemberCode" parameterType="JyTaskGroupMemberEntity">
        UPDATE jy_task_group_member
        SET
            update_time = #{updateTime, jdbcType=TIMESTAMP},
            update_user = #{updateUser, jdbcType=VARCHAR},
            update_user_name = #{updateUserName, jdbcType=VARCHAR},
            yn = 0
        WHERE
            yn = 1
        AND ref_group_member_code = #{refGroupMemberCode}
    </update>       
</mapper>