<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询导出任务</title>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    #parse("system/common/baseImport.vm")
</head>
<body>
<div id="dataTableDiv" class="main">
    <ol class="breadcrumb">
        <li><a href="#">工具</a></li>
        <li><a href="/waybillCodeCheckForKA/toSearchIndex">金融客户运单号对比校验</a></li>
        <li class="active">查询导出任务</li>
    </ol>
    <!-- 按钮容器 -->
    <div id="query-condition">
        <form id="query-form" class="form-horizontal">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <button id="btn_query" type="button" class="btn btn-default">刷新</button>
                    <button id="btn_reback" type="button" class="btn btn-default">返回</button>
                </div>
            </div>
        </form>
    </div>
    <hr />
    <table id="dataTable"></table>
</div>
</body>
<script src="/static/js/financialForKA/searchExportTask.js"></script>
</html>