<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.bluedragon.distribution.departure.dao.DepartureSendDao">
	<resultMap id="BaseResultMap" type="DepartureSend">
		<result column="departure_car_id" jdbcType="BIGINT" property="shieldsCarId" />
		<result column="send_code" property="sendCode"  jdbcType="VARCHAR"/>
		<result column="create_site_code" jdbcType="INTEGER" property="createSiteCode" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_user" jdbcType="VARCHAR" property="createUser" />
		<result column="create_user_code" jdbcType="INTEGER" property="createUserCode" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="yn" jdbcType="TINYINT" property="yn" />
		<result column="third_waybill_code" jdbcType="VARCHAR" property="thirdWaybillCode" />
		<result column="capacity_Code" jdbcType="VARCHAR" property="capacityCode" />
	</resultMap>
	<insert id="insert" parameterType="DepartureSend">
		insert into DEPARTURE_SEND (departure_send_ID,departure_car_id,send_code,create_site_code,create_time,create_user,
		create_user_code,update_time,yn,third_waybill_code,capacity_Code)
		values (SEQ_DEPARTURE_SEND.NEXTVAL,#{shieldsCarId,jdbcType=BIGINT},#{sendCode,jdbcType=VARCHAR},#{createSiteCode,jdbcType=INTEGER},
		sysdate, #{createUser,jdbcType=VARCHAR},
		#{createUserCode,jdbcType=INTEGER}, sysdate,1,#{thirdWaybillCode,jdbcType=VARCHAR},#{capacityCode,jdbcType=VARCHAR})
	</insert>
	
	<select id="getDepartureSendByCarId" parameterType="long" resultMap="BaseResultMap">
		select * from DEPARTURE_SEND where departure_car_id=#{departureCarId]}
	</select>
	
	<select id="getByThirdWaybillCode" parameterType="String" resultMap="BaseResultMap">
		select distinct send_code from DEPARTURE_SEND where THIRD_WAYBILL_CODE=#{thirdWaybillCode]}
	</select>
	
</mapper>