<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

	<!-- ucc 配置 -->
	<bean id="uccConfigInsPostProcessor" class="com.jd.coo.ucc.client.service.UccConfigInsPostProcessor"/>

	<bean id="uccConfigCenter" class="com.jd.coo.ucc.client.service.UccConfigCenter" lazy-init="false">
		<constructor-arg index="0" ref="zkConfig"/>
		<constructor-arg index="1" ref="uccConfig"/>
	</bean>
	<bean id="zkConfig" class="com.jd.coo.ucc.client.config.UccZkConfig">
		<property name="server" value="${zk.server}"/>
		<property name="sessionTimeout" value="${zk.session.timeout}"/>
		<property name="connectionTimeout" value="${zk.connection.timeout}"/>
		<property name="appPath" value="${app.path}"/>
		<property name="appGroup" value="${app.group}"/>
	</bean>

	<bean id="uccConfig" class="com.jd.coo.ucc.client.config.UccConfig">
		<property name="logConfig" ref="log2Config"/>
	</bean>


<!--	log4j2日志级别控制-->
	<bean id="logConfigProcessor" class="com.jd.coo.ucc.client.plugin.processor.Log2ConfigProcessor"/>
	<bean id="log2Config" class="com.jd.coo.ucc.client.config.UccLogConfig">
		<property name="processor" ref="logConfigProcessor"/>
		<property name="weakList">
			<list>
				<value>log4j2.AsyncRoot.rootAsyncLogger</value>
			</list>
		</property>
	</bean>

</beans>
