<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

	<!-- ucc 配置 -->
	<bean id="uccConfigInsPostProcessor" class="com.jd.coo.ucc.client.service.UccConfigInsPostProcessor"/>

	<bean id="uccConfigCenter" class="com.jd.coo.ucc.client.service.UccConfigCenter" lazy-init="false">
		<constructor-arg index="0" ref="zkConfig"/>
		<constructor-arg index="1" ref="uccConfig"/>
	</bean>
	<bean id="zkConfig" class="com.jd.coo.ucc.client.config.UccZkConfig">
		<property name="server" value="${zk.server}"/>
		<property name="sessionTimeout" value="${zk.session.timeout}"/>
		<property name="connectionTimeout" value="${zk.connection.timeout}"/>
		<property name="appPath" value="${app.path}"/>
		<property name="appGroup" value="${app.group}"/>
	</bean>

	<bean id="uccConfig" class="com.jd.coo.ucc.client.config.UccConfig">
		<property name="propertyConfig" ref="propertyConfig"/>
		<property name="logConfig" ref="log2Config"/>
	</bean>


<!--	log4j2日志级别控制-->
	<bean id="logConfigProcessor" class="com.jd.coo.ucc.client.plugin.processor.Log2ConfigProcessor"/>
	<bean id="log2Config" class="com.jd.coo.ucc.client.config.UccLogConfig">
		<property name="processor" ref="logConfigProcessor"/>
		<property name="weakList">
			<list>
				<value>log4j2.AsyncRoot.rootAsyncLogger</value>
			</list>
		</property>
	</bean>

	<bean name = "uccPropertyConfiguration" class="com.jd.bluedragon.configuration.ucc.UccPropertyConfiguration">
		<property name="virtualSiteCode" value="${virtualSiteCode}" />
		<property name="asynbufferEnabledTaskType" value="${asynBuffer.enabled.task.type}"/>
		<property name="cassandraGlobalSwitch" value="${cassandra.global.on}"/>
		<property name="asynBufferDynamicProducerProducerType" value="${asynBuffer.dynamicProducer.producerType}"/>
		<property name="asynBufferNotenabledTaskKeyword1" value="${asynBuffer.notenabled.task.keyword1}"/>
		<property name="asynBufferJmqComsumerTaskProcessorPostTaskStoreEnbaled" value="${asynBuffer.jmqComsumer.task.processor.post.task.store.enbaled}"/>
		<property name="redisSwitchOn" value="${sys.config.task.redisSwitchOn:0}"/>
		<property name="migrationDbBackupReplicateIgnoreExp" value="${migration.db.backup.replicate.ignoreExp}"/>
		<property name="migrationDbBackupReplicateEnable" value="${migration.db.backup.replicate.enable}"/>
		<property name="workerFetchWithoutFailedTable" value="${worker.fetch.without.failed.table}"/>
		<property name="waybillSplitPageSize" value="${waybill.split.page.size}"/>
		<property name="sortingServiceMode" value="${sorting.service.mode}"/>
		<property name="sortingQueryMode" value="${sorting.query.mode}"/>
        <property name="chuguanNewPageQuerySwitch" value="${chuguanNewPageQuerySwitch:false}"/>
        <property name="preOutZoneSwitch" value="${preOutZoneSwitch:true}"/>
        <property name="logToBusinessLogByKafka" value="${logtobusinesslog.global.on}"/>
        <property name="newLogPageTips" value="${newLogPageTips:''}"/>
        <property name="oldLogPageTips" value="${newLogPageTips:''}"/>
		<property name="offlineTaskOperateTimeCorrectHours" value="${offlineTaskOperateTimeCorrectHours:24}"/>
		<property name="offlineTaskOperateTimeBeforeNowLimitHours" value="${offlineTaskOperateTimeBeforeNowLimitHours:96}"/>
		<property name="automaticWeightVolumeExchangeSwitch" value="${automaticWeightVolumeExchangeSwitch:false}"/>
		<property name="automaticWeightVolumeExchangeSiteCode" value="${automaticWeightVolumeExchangeSiteCode:''}"/>
        <property name="sealVolumeCheckSites" value="${sealVolumeCheckSites:-1}"/>
        <property name="disablePdaOldLogin" value="${pda.disableOldLogin:false}"/>
		<property name="switchVerToWebSites" value="${switchVerToWebSites}"/>
        <property name="collectionAddressSiteCodes" value="${collectionAddressSiteCodes}"/>
		<property name="boxLimitSites" value="${boxLimitSites:''}"/>
		<property name="clientPrintQueryGapTime" value="${client.print.query.gap.time:10}"/>
		<property name="collectGoodsDeleteSites" value="${collectGoodsDeleteSites:-1}"/>
        <property name="inspectionBigWaybillEffectiveSites" value="${inspectionBigWaybillEffectiveSites}" />
        <property name="offlineLogGlobalSwitch" value="${offlineLogGlobalSwitch}" />
        <property name="systemLogGlobalSwitch" value="${systemLogGlobalSwitch}" />
		<property name="weightVolumeFilterWholeCountryFlag" value="${weightVolumeFilterWholeCountryFlag}" />
		<property name="singleSendSwitchVerToWebSites" value="${singleSendSwitchVerToWebSites}" />
        <property name="clickIntervalSecond" value="${clickIntervalSecond}" />
		<property name="boardCombinationSwitchVerToWebSites" value="${boardCombinationSwitchVerToWebSites}" />
		<property name="economicNetValidateWeightSwitch" value="${economicNetValidateWeightSwitch:true}"/>
		<property name="controlCheckPackage" value="${controlCheckPackage:true}"/>
		<property name="controlCheckRoute" value="${controlCheckRoute:true}"/>
		<property name="dellCancelDeliveryCheckSealCar" value="${dellCancelDeliveryCheckSealCar}" />
		<property name="removeEmptyBatchCode" value="${removeEmptyBatchCode}"/>
		<property name="loadScanTaskWaybillSize" value="${loadScanTaskWaybillSize:200}"/>
		<property name="loadScanTaskPackageSize" value="${loadScanTaskPackageSize:100}"/>
		<property name="loadScanTaskPackageMaxSize" value="${loadScanTaskPackageMaxSize:100}"/>
		<property name="economicNetPushZTDRetry" value="${economicNetPushZTDRetry:true}"/>
		<property name="eNetSyncWaybillCodeAndBoxCode" value="${eNetSyncWaybillCodeAndBoxCode:true}"/>
		<property name="preSealVehicleRemoveEmptyBatchCode" value="${preSealVehicleRemoveEmptyBatchCode:1}"/>
        <property name="inspectionAggEffectiveSites" value="${inspectionAggEffectiveSites}" />
        <property name="quickSealTips" value="${quickSealTips:''}" />
		<property name="sendCodeGenSwitchOn" value="${sendCodeGenSwitchOn:false}" />
		<property name="allPureValidateWeightWebSite" value="${allPureValidateWeightWebSite:-1}"/>
		<property name="preSortOnSiteSwitchOn" value="${preSortOnSiteSwitchOn:true}" />
		<property name="deliverHideSites" value="${deliverHideSites:''}" />
        <property name="BCContainWJNumberLimit" value="${BCContainWJNumberLimit}" />
        <property name="WJPackageNumberLimit" value="${WJPackageNumberLimit}" />
		<property name="checkBoxSendedSwitchOn" value="${checkBoxSendedSwitchOn:true}" />
		<property name="usePdaSorterApi" value="${usePdaSorterApi:1}" />
		<property name="siteQueryLimit" value="${siteQueryLimit:500}" />
		<property name="exportSpotCheckMaxSize" value="${exportSpotCheckMaxSize:10000}" />
		<property name="pdaNoticePullIntervalTime" value="${pdaNoticePullIntervalTime:1800}" /> <!-- PDA通知自动拉取间隔时间(单位秒) -->
		<property name="allBCBoxFilterWebSite" value="${allBCBoxFilterWebSite:-1}"/>
		<property name="needUseNewReverseApi" value="${needUseNewReverseApi:true}" />
		<property name="offlineTaskReportInterceptSites" value="${offlineTaskReportInterceptSites:-1}"/> <!-- 离线任务处理上报拦截数据开关 -->
		<property name="weightVolumeRuleStandard" value="${weightVolumeRuleStandard:''}" />
		<property name="printHandoverListSites" value="${printHandoverListSites:false}"/>
		<property name="newPrintHandoverListSwitch" value="${newPrintHandoverListSwitch:false}"/>
		<property name="checkSiteSubType" value="${checkSiteSubType:false}"/>
		<property name="scrollQuerySize" value="${scrollQuerySize:2000}"/>
		<property name="printScrollQueryCountLimit" value="${printScrollQueryCountLimit:200}"/>
		<property name="approvalSwitch" value="${approvalSwitch:false}"/>
		<property name="exportConcurrencyLimitNum" value="${exportConcurrencyLimitNum:50}"/>
		<property name="oneQuerySize" value="${oneQuerySize:1000}"/>
		<property name="offlineCurrentLimitingCount" value="${offlineCurrentLimitingCount:-1}"/>
		<property name="unSealCarHandlePackageFullCollectedSwitch" value="${unSealCarHandlePackageFullCollectedSwitch:-1}"/> <!-- 解封车查看运单包裹是否集齐 -->
		<property name="inspectionAssertDemotion" value="${inspectionAssertDemotion:false}"/>
		<property name="dazongPackageOperateMax" value="${dazongPackageOperateMax:100}"/>
		<property name="checkSignAndReturn" value="${checkSignAndReturn:true}"/>
        <property name="backDispatchCheck" value="${backDispatchCheck:true}"/>
        <property name="closeAsynBufferSaveTaskToDb" value="${closeAsynBufferSaveTaskToDb:0}" />
		<property name="inspectNoSendNoLoadWaybillDemotion" value="${inspectNoSendNoLoadWaybillDemotion:false}"/>
		<property name="bigWaybillWaringSize" value="${bigWaybillWaringSize:5000}"/>
        <property name="siteEnableSendCodeEffectiveValidation" value="${siteEnableSendCodeEffectiveValidation:''}" />
        <property name="spotCheckIssueControl" value="${spotCheckIssueControl:true}"/>
        <property name="itmsBizEnableSwitch" value="${itmsBizEnableSwitch:''}" />
        <property name="hideSpecialStartSitePrintSwitch" value="${hideSpecialStartSitePrintSwitch:0}"/> <!-- 隐藏特殊始发场地名称开关 0-关，1-开 -->
        <property name="hideSpecialStartSitPrintDestinationSiteList" value="${hideSpecialStartSitPrintDestinationSiteList:''}"/> <!-- 隐藏特殊始发场地目的场地名单 -->
		<property name="hideSpecialStartSitePrintReplaceSymbol" value="${hideSpecialStartSitePrintReplaceSymbol:''}"/> <!-- 隐藏特殊始发场地字符串 0-关，1-开 -->
        <property name="cancelJimaoxinSwitchToOMS" value="${cancelJimaoxinSwitchToOMS:false}" />
        <property name="offlinePdaMenuCode" value="${offlinePdaMenuCode:0101015}" />
        <property name="insertDbRowsOneTime" value="${insertDbRowsOneTime:100}" />
        <property name="waybillMaxPackNum" value="${waybillMaxPackNum:40000}" />
        <property name="paralleGetPackageSwitch" value="${paralleGetPackageSwitch:false}" />
        <property name="packRePrintInterceptStatus" value="${packRePrintInterceptStatus:-790}" />
        <property name="deliverySendAsyncSite" value="${deliverySendAsyncSite:''}" />
        <property name="deliverySendTaskSleepMills" value="${deliverySendTaskSleepMills:1000}" />
        <property name="businessLogQueryPageSwitch" value="${businessLogQueryPageSwitch:'1'}" />
        <property name="spotCheckNoExcessLimit" value="${spotCheckNoExcessLimit:1.5}" />
		<property name="useNewInventorySiteCodes" value="${useNewInventorySiteCodes:''}" />
		<property name="multiplePackageSpotCheckSwitch" value="${multiplePackageSpotCheckSwitch:0}"/>
		<property name="multiplePackageSpotCheckSites" value="${multiplePackageSpotCheckSites:''}"/>
		<property name="readUnloadFromTys" value="${readUnloadFromTys:false}" />
		<property name="stopWriteUnloadFromDms" value="${stopWriteUnloadFromDms:false}" />
		<property name="writeUnloadFromTys" value="${writeUnloadFromTys:false}" />
        <property name="virtualBoardMaxDestinationCount" value="${virtualBoardMaxDestinationCount:5}" />
        <property name="virtualBoardMaxItemCount" value="${virtualBoardMaxItemCount:50}" />
        <property name="virtualBoardAutoCloseDays" value="${virtualBoardAutoCloseDays:1}" />
        <property name="virtualBoardCanUseSite" value="${virtualBoardCanUseSite:-1}" />
		<property name="androidIsExecuteNewSpotCheck" value="${androidIsExecuteNewSpotCheck:false}"/>
		<property name="noAuthMenuConfig" value="${noAuthMenuConfig:}"/>
		<property name="noAuthMenuConfigNew" value="${noAuthMenuConfigNew:}"/>
		<property name="menuCodeFuncConfig" value="${menuCodeFuncConfig:}"/>
		<property name="menuCodeFuncConfigNew" value="${menuCodeFuncConfigNew:}"/>
		<property name="noAuthMenuConfigUat" value="${noAuthMenuConfigUat:}"/>
		<property name="menuCodeFuncConfigUat" value="${menuCodeFuncConfigUat:}"/>
		<property name="sitePlateIsCheckFunc" value="${sitePlateIsCheckFunc:false}"/>
		<property name="scheduleSiteCheckSameCity" value="${scheduleSiteCheckSameCity:''}"/>
		<property name="bTemplateRouterExecuteNew" value="${bTemplateRouterExecuteNew:false}"/>
		<property name="judgePackagePrintedIncludeSiteTerminal" value="${judgePackagePrintedIncludeSiteTerminal:'0'}"/>
		<property name="sensitiveInfoHideSwitch" value="${sensitiveInfoHideSwitch: false}"/>
		<property name="printCompleteCallbackAsyncPackageNum" value="${printCompleteCallbackAsyncPackageNum:500}"/>
		<property name="limitSiteUsePackReprint" value="${limitSiteUsePackReprint:'0'}"/>
		<property name="sendCodeEffectiveValidation" value="${sendCodeEffectiveValidation:''}"/>
		<property name="restApiOuthSwitch" value="${restApiOuthSwitch:true}"/>
		<property name="needInterceptUrls" value="${needInterceptUrls:*}"/>
		<property name="notSignedOutRecordMoreThanHours" value="${notSignedOutRecordMoreThanHours:-1}"/>
		<property name="notSignedOutRecordRangeHours" value="${notSignedOutRecordRangeHours:12}"/>
		<property name="spotCheckReformSiteCodes" value="${spotCheckReformSiteCodes:true}"/>
		<property name="aiDistinguishSwitch" value="${aiDistinguishSwitch:true}"/>
		<property name="deviceAIDistinguishSwitch" value="${deviceAIDistinguishSwitch:910}"/>
		<property name="deviceAIDistinguishPackNum" value="${deviceAIDistinguishPackNum:100}"/>
		<property name="packConsumableSwitch" value="${packConsumableSwitch:0}"/>
		<property name="sealTaskHystrixProps" value="${sealTaskHystrixProps: ''}"/>
		<property name="sealTaskForceFallback" value="${sealTaskForceFallback: 0}"/>
		<property name="jyTaskPageMax" value="${jyTaskPageMax: 200}"/>
		<property name="jyUnloadSingleWaybillThreshold" value="${jyUnloadSingleWaybillThreshold:20}"/>
        <property name="jyUnSealTaskOrderByIntegral" value="${jyUnSealTaskOrderByIntegral:0}"/>
        <property name="jyUnSealTaskSwitchToEs" value="${jyUnSealTaskSwitchToEs:0}"/>
        <property name="jySendTaskLoadRateLimit" value="${jySendTaskLoadRateLimit:'80,150'}" />
		<property name="createSendTaskExecuteCount" value="${createSendTaskExecuteCount:30}"/>
		<property name="createSendTasktimeOut" value="${createSendTasktimeOut:30}"/>
		<property name="oldSendSplitPageSize" value="${oldSendSplitPageSize:30}"/>
		<property name="dpSiteCodes" value="${dpSiteCodes:}"/>
		<property name="dpWaybillMatchSendCodeSwitch" value="${dpWaybillMatchSendCodeSwitch:true}"/>
		<property name="faceAbnormalReportConfig" value="${faceAbnormalReportConfig:''}"/>
		<property name="identityRecogniseSiteSwitch" value="${identityRecogniseSiteSwitch:''}"/>
		<property name="chuguanPurchaseAndSaleSwitch" value="${chuguanPurchaseAndSaleSwitch:false}"/>
		<property name="jySendTaskPlanTimeBeginDay" value="${jySendTaskPlanTimeBeginDay:1}"/>
		<property name="jySendTaskPlanTimeEndDay" value="${jySendTaskPlanTimeEndDay:2}"/>
		<property name="needValidateMainLineBizSourceList" value="${needValidateMainLineBizSourceList:[25]}"/>
		<property name="jySendTaskCreateTimeBeginDay" value="${jySendTaskCreateTimeBeginDay:30}"/>
		<property name="addiOwnNumberConf" value="${addiOwnNumberConf:010K1961638,}"/>
		<property name="unloadCacheDurationHours" value="${unloadCacheDurationHours:24}"/>
		<property name="unloadBoardBindingsMaxCount" value="${unloadBoardBindingsMaxCount:100}"/>
		<property name="packageWeightLimit" value="${packageWeightLimit:'2000'}"/>
		<property name="waybillWeightLimit" value="${waybillWeightLimit:'10000'}"/>
		<property name="jyBasicServerSwitch" value="${jyBasicServerSwitch:false}"/>
		<property name="notValidateTransTypeCodesList" value="${notValidateTransTypeCodesList:[3,4,10,11]}"/>
		<property name="clientOfflineMenuConfig" value="${clientOfflineMenuConfig:''}"/>
		<property name="filterSendCodeSwitch" value="${filterSendCodeSwitch:false}"/>
		<property name="querySensitiveFlag" value="${querySensitiveFlag:false}"/>
		<property name="securitySwitch" value="${securitySwitch:true}"/>
		<property name="jyDemotionConfig" value="${jyDemotionConfig:''}"/>
		<property name="syncJySealStatusSwitch" value="${syncJySealStatusSwitch:false}"/>
		<property name="sealStatusBatchSizeLimit" value="${sealStatusBatchSizeLimit:30}"/>
		<property name="weightVolumeSwitchVersion" value="${weightVolumeSwitchVersion:0}"/>
		<property name="goodsResidenceTime" value="${goodsResidenceTime:3}"/>
		<property name="jyComboardCountLimit" value="${jyComboardCountLimit:100}"/>
		<property name="bulkScanPackageMinCount" value="${bulkScanPackageMinCount:100}"/>
		<property name="jyComboardTaskCreateTimeBeginDay" value="${jyComboardTaskCreateTimeBeginDay:7}"/>




		<property name="jyUnloadCarListQueryDayFilter" value="${jyUnloadCarListQueryDayFilter:3}"/>
	</bean>
	<!-- hystrix 动态配置 -->
	<bean name = "hystrixRouteUccPropertyConfiguration" class="com.jd.bluedragon.configuration.ucc.HystrixRouteUccPropertyConfiguration">
		<property name="executionTimeoutInMilliseconds" value="${route.executionTimeoutInMilliseconds:1000}"/>
		<property name="circuitBreakerEnabled" value="${route.circuitBreakerEnabled:true}"/>
		<property name="fallbackEnabled" value="${route.fallbackEnabled:true}"/>
		<property name="circuitBreakerErrorThresholdPercentage" value="${route.circuitBreakerErrorThresholdPercentage:10}"/>
		<property name="circuitBreakerForceOpen" value="${route.circuitBreakerForceOpen:false}"/>
		<property name="circuitBreakerSleepWindowInMilliseconds" value="${route.circuitBreakerSleepWindowInMilliseconds:5000}"/>
		<property name="maximumSize" value="${route.maximumSize:4}"/>
		<property name="circuitBreakerRequestVolumeThreshold" value="${route.circuitBreakerRequestVolumeThreshold:2}"/>
	</bean>

	<bean id="propertyConfigProcessor" class="com.jd.coo.ucc.client.plugin.processor.PropertyConfigProcessor"/>
	<bean id="propertyConfig" class="com.jd.coo.ucc.client.config.UccPropertyConfig">
		<property name="processor" ref="propertyConfigProcessor" />
		<property name="weakList">
			<list>
				<value>uccPropertyConfiguration.asynbufferEnabledTaskType</value>
				<value>uccPropertyConfiguration.cassandraGlobalSwitch</value>
                <value>uccPropertyConfiguration.asynBufferDynamicProducerProducerType</value>
                <value>uccPropertyConfiguration.asynBufferNotenabledTaskKeyword1</value>
                <value>uccPropertyConfiguration.asynBufferJmqComsumerTaskProcessorPostTaskStoreEnbaled</value>
                <value>uccPropertyConfiguration.redisSwitchOn</value>
                <value>uccPropertyConfiguration.migrationDbBackupReplicateIgnoreExp</value>
                <value>uccPropertyConfiguration.migrationDbBackupReplicateEnable</value>
                <value>uccPropertyConfiguration.workerFetchWithoutFailedTable</value>
				<value>uccPropertyConfiguration.waybillSplitPageSize</value>
                <value>uccPropertyConfiguration.sortingServiceMode</value>
				<value>uccPropertyConfiguration.sortingQueryMode</value>
				<value>uccPropertyConfiguration.chuguanNewPageQuerySwitch</value>
				<value>uccPropertyConfiguration.preOutZoneSwitch</value>
				<value>uccPropertyConfiguration.logToBusinessLogByKafka</value>
				<value>uccPropertyConfiguration.newLogPageTips</value>
				<value>uccPropertyConfiguration.oldLogPageTips</value>
				<value>uccPropertyConfiguration.offlineTaskOperateTimeCorrectHours</value>
				<value>uccPropertyConfiguration.offlineTaskOperateTimeBeforeNowLimitHours</value>
				<value>uccPropertyConfiguration.automaticWeightVolumeExchangeSwitch</value>
				<value>uccPropertyConfiguration.automaticWeightVolumeExchangeSiteCode</value>
				<value>uccPropertyConfiguration.sealVolumeCheckSites</value>
				<value>uccPropertyConfiguration.switchVerToWebSites</value>
				<value>uccPropertyConfiguration.disablePdaOldLogin</value>
				<value>uccPropertyConfiguration.collectionAddressSiteCodes</value>
				<value>uccPropertyConfiguration.clientPrintQueryGapTime</value>
				<value>uccPropertyConfiguration.boxLimitSites</value>
				<value>uccPropertyConfiguration.collectGoodsDeleteSites</value>
                <value>uccPropertyConfiguration.inspectionBigWaybillEffectiveSites</value>
                <value>uccPropertyConfiguration.offlineLogGlobalSwitch</value>
                <value>uccPropertyConfiguration.systemLogGlobalSwitch</value>
				<value>uccPropertyConfiguration.weightVolumeFilterWholeCountryFlag</value>
				<value>uccPropertyConfiguration.singleSendSwitchVerToWebSites</value>
                <value>uccPropertyConfiguration.clickIntervalSecond</value>
				<value>uccPropertyConfiguration.boardCombinationSwitchVerToWebSites</value>
				<value>uccPropertyConfiguration.economicNetValidateWeightSwitch</value>
				<value>uccPropertyConfiguration.controlCheckPackage</value>
				<value>uccPropertyConfiguration.controlCheckRoute</value>
				<value>uccPropertyConfiguration.dellCancelDeliveryCheckSealCar</value>
				<value>uccPropertyConfiguration.removeEmptyBatchCode</value>
				<value>uccPropertyConfiguration.loadScanTaskWaybillSize</value>
				<value>uccPropertyConfiguration.loadScanTaskPackageSize</value>
				<value>uccPropertyConfiguration.loadScanTaskPackageMaxSize</value>
				<value>uccPropertyConfiguration.economicNetPushZTDRetry</value>
				<value>uccPropertyConfiguration.eNetSyncWaybillCodeAndBoxCode</value>
				<value>uccPropertyConfiguration.preSealVehicleRemoveEmptyBatchCode</value>
                <value>uccPropertyConfiguration.inspectionAggEffectiveSites</value>
                <value>uccPropertyConfiguration.quickSealTips</value>
				<value>uccPropertyConfiguration.sendCodeGenSwitchOn</value>
				<value>uccPropertyConfiguration.allPureValidateWeightWebSite</value>
				<value>uccPropertyConfiguration.preSortOnSiteSwitchOn</value>
				<value>uccPropertyConfiguration.deliverHideSites</value>
				<value>uccPropertyConfiguration.usePdaSorterApi</value>
				<value>uccPropertyConfiguration.siteQueryLimit</value>
                <value>uccPropertyConfiguration.BCContainWJNumberLimit</value>
                <value>uccPropertyConfiguration.WJPackageNumberLimit</value>
                <value>uccPropertyConfiguration.exportSpotCheckMaxSize</value>
				<value>uccPropertyConfiguration.pdaNoticePullIntervalTime</value> <!-- PDA通知自动拉取间隔时间(单位秒) -->
				<value>uccPropertyConfiguration.allBCBoxFilterWebSite</value>
				<value>uccPropertyConfiguration.needUseNewReverseApi</value>
				<value>uccPropertyConfiguration.offlineTaskReportInterceptSites</value> <!-- 离线任务处理上报拦截数据开关 -->
                <value>uccPropertyConfiguration.weightVolumeRuleStandard</value>
				<value>uccPropertyConfiguration.exportConcurrencyLimitNum</value>
				<value>uccPropertyConfiguration.oneQuerySize</value>
				<value>uccPropertyConfiguration.printHandoverListSites</value>
				<value>uccPropertyConfiguration.newPrintHandoverListSwitch</value>
				<value>uccPropertyConfiguration.checkSiteSubType</value>
				<value>uccPropertyConfiguration.unSealCarHandlePackageFullCollectedSwitch</value>
				<value>uccPropertyConfiguration.scrollQuerySize</value>
				<value>uccPropertyConfiguration.printScrollQueryCountLimit</value>
				<value>uccPropertyConfiguration.approvalSwitch</value>
				<value>uccPropertyConfiguration.offlineCurrentLimitingCount</value>
				<value>uccPropertyConfiguration.inspectionAssertDemotion</value>
				<value>uccPropertyConfiguration.dazongPackageOperateMax</value>
				<value>uccPropertyConfiguration.checkSignAndReturn</value>
				<value>uccPropertyConfiguration.backDispatchCheck</value>
				<value>uccPropertyConfiguration.closeAsynBufferSaveTaskToDb</value>
				<value>uccPropertyConfiguration.inspectNoSendNoLoadWaybillDemotion</value>
				<value>uccPropertyConfiguration.bigWaybillWaringSize</value>
				<value>uccPropertyConfiguration.spotCheckIssueControl</value>
				<value>uccPropertyConfiguration.siteEnableSendCodeEffectiveValidation</value>
                <value>uccPropertyConfiguration.itmsBizEnableSwitch</value>
				<value>uccPropertyConfiguration.hideSpecialStartSitePrintSwitch</value>
				<value>uccPropertyConfiguration.hideSpecialStartSitPrintDestinationSiteList</value>
				<value>uccPropertyConfiguration.hideSpecialStartSitePrintReplaceSymbol</value>
                <value>uccPropertyConfiguration.cancelJimaoxinSwitchToOMS</value>
                <value>uccPropertyConfiguration.offlinePdaMenuCode</value>
                <value>uccPropertyConfiguration.insertDbRowsOneTime</value>
                <value>uccPropertyConfiguration.waybillMaxPackNum</value>
				<value>uccPropertyConfiguration.virtualSiteCode</value>
				<value>uccPropertyConfiguration.paralleGetPackageSwitch</value>
				<value>uccPropertyConfiguration.deliverySendAsyncSite</value>
				<value>uccPropertyConfiguration.deliverySendTaskSleepMills</value>
                <value>uccPropertyConfiguration.packRePrintInterceptStatus</value>
                <value>uccPropertyConfiguration.checkBoxSendedSwitchOn</value>
                <value>uccPropertyConfiguration.spotCheckNoExcessLimit</value>
                <value>uccPropertyConfiguration.businessLogQueryPageSwitch</value>
				<value>uccPropertyConfiguration.useNewInventorySiteCodes</value>
				<value>uccPropertyConfiguration.readUnloadFromTys</value>
				<value>uccPropertyConfiguration.stopWriteUnloadFromDms</value>
				<value>uccPropertyConfiguration.writeUnloadFromTys</value>
				<value>uccPropertyConfiguration.multiplePackageSpotCheckSwitch</value>
				<value>uccPropertyConfiguration.multiplePackageSpotCheckSites</value>
				<value>uccPropertyConfiguration.virtualBoardMaxDestinationCount</value>
				<value>uccPropertyConfiguration.virtualBoardMaxItemCount</value>
				<value>uccPropertyConfiguration.virtualBoardAutoCloseDays</value>
				<value>uccPropertyConfiguration.virtualBoardCanUseSite</value>
				<value>uccPropertyConfiguration.androidIsExecuteNewSpotCheck</value>
				<value>uccPropertyConfiguration.noAuthMenuConfig</value>
				<value>uccPropertyConfiguration.noAuthMenuConfigNew</value>
				<value>uccPropertyConfiguration.menuCodeFuncConfig</value>
				<value>uccPropertyConfiguration.menuCodeFuncConfigNew</value>
				<value>uccPropertyConfiguration.noAuthMenuConfigUat</value>
				<value>uccPropertyConfiguration.menuCodeFuncConfigUat</value>
				<value>uccPropertyConfiguration.sitePlateIsCheckFunc</value>
				<value>uccPropertyConfiguration.bTemplateRouterExecuteNew</value>
				<value>uccPropertyConfiguration.judgePackagePrintedIncludeSiteTerminal</value>
				<value>uccPropertyConfiguration.sensitiveInfoHideSwitch</value>
				<value>uccPropertyConfiguration.printCompleteCallbackAsyncPackageNum</value>
				<value>uccPropertyConfiguration.scheduleSiteCheckSameCity</value>
				<value>uccPropertyConfiguration.sendCodeEffectiveValidation</value>
				<value>uccPropertyConfiguration.limitSiteUsePackReprint</value>
				<value>uccPropertyConfiguration.restApiOuthSwitch</value>
				<value>uccPropertyConfiguration.needInterceptUrls</value>
				<value>uccPropertyConfiguration.notSignedOutRecordMoreThanHours</value>
				<value>uccPropertyConfiguration.notSignedOutRecordRangeHours</value>
				<value>uccPropertyConfiguration.spotCheckReformSiteCodes</value>
				<value>uccPropertyConfiguration.aiDistinguishSwitch</value>
				<value>uccPropertyConfiguration.deviceAIDistinguishSwitch</value>
				<value>uccPropertyConfiguration.deviceAIDistinguishPackNum</value>
				<value>uccPropertyConfiguration.packConsumableSwitch</value>
                <value>uccPropertyConfiguration.sealTaskHystrixProps</value>
                <value>uccPropertyConfiguration.sealTaskForceFallback</value>
                <value>uccPropertyConfiguration.jyUnloadSingleWaybillThreshold</value>
				<value>uccPropertyConfiguration.jyTaskPageMax</value>
				<value>uccPropertyConfiguration.checkBoxSendedSwitchOn</value>
				<value>uccPropertyConfiguration.jyUnSealTaskOrderByIntegral</value>
				<value>uccPropertyConfiguration.jyUnSealTaskSwitchToEs</value>
				<value>uccPropertyConfiguration.jySendTaskLoadRateLimit</value>
				<value>uccPropertyConfiguration.createSendTaskExecuteCount</value>
				<value>uccPropertyConfiguration.createSendTasktimeOut</value>
				<value>uccPropertyConfiguration.oldSendSplitPageSize</value>
				<value>uccPropertyConfiguration.dpSiteCodes</value>
				<value>uccPropertyConfiguration.dpWaybillMatchSendCodeSwitch</value>
				<value>uccPropertyConfiguration.faceAbnormalReportConfig</value>
				<value>uccPropertyConfiguration.identityRecogniseSiteSwitch</value>
				<value>uccPropertyConfiguration.chuguanPurchaseAndSaleSwitch</value>
				<value>uccPropertyConfiguration.jySendTaskPlanTimeBeginDay</value>
				<value>uccPropertyConfiguration.jySendTaskPlanTimeEndDay</value>
				<value>uccPropertyConfiguration.needValidateMainLineBizSourceList</value>
				<value>uccPropertyConfiguration.jySendTaskCreateTimeBeginDay</value>
				<value>uccPropertyConfiguration.addiOwnNumberConf</value>
				<value>uccPropertyConfiguration.unloadCacheDurationHours</value>
				<value>uccPropertyConfiguration.unloadBoardBindingsMaxCount</value>
				<value>uccPropertyConfiguration.packageWeightLimit</value>
				<value>uccPropertyConfiguration.waybillWeightLimit</value>
				<value>uccPropertyConfiguration.jyBasicServerSwitch</value>
				<value>uccPropertyConfiguration.notValidateTransTypeCodesList</value>
				<value>uccPropertyConfiguration.clientOfflineMenuConfig</value>
				<value>uccPropertyConfiguration.filterSendCodeSwitch</value>
				<value>uccPropertyConfiguration.querySensitiveFlag</value>
				<value>uccPropertyConfiguration.securitySwitch</value>
				<value>uccPropertyConfiguration.jyDemotionConfig</value>
				<value>uccPropertyConfiguration.syncJySealStatusSwitch</value>
				<value>uccPropertyConfiguration.sealStatusBatchSizeLimit</value>
				<value>uccPropertyConfiguration.weightVolumeSwitchVersion</value>
				<value>uccPropertyConfiguration.goodsResidenceTime</value>
				<value>uccPropertyConfiguration.jyComboardCountLimit</value>
				<value>uccPropertyConfiguration.bulkScanPackageMinCount</value>
				<value>uccPropertyConfiguration.jyComboardTaskCreateTimeBeginDay</value>


				<value>hystrixRouteUccPropertyConfiguration.executionTimeoutInMilliseconds</value>
                <value>hystrixRouteUccPropertyConfiguration.circuitBreakerEnabled</value>
                <value>hystrixRouteUccPropertyConfiguration.fallbackEnabled</value>
                <value>hystrixRouteUccPropertyConfiguration.circuitBreakerErrorThresholdPercentage</value>
                <value>hystrixRouteUccPropertyConfiguration.circuitBreakerForceOpen</value>
                <value>hystrixRouteUccPropertyConfiguration.circuitBreakerSleepWindowInMilliseconds</value>
                <value>hystrixRouteUccPropertyConfiguration.maximumSize</value>
                <value>hystrixRouteUccPropertyConfiguration.circuitBreakerRequestVolumeThreshold</value>

				<value>uccPropertyConfiguration.jyUnloadCarListQueryDayFilter</value>
			</list>
		</property>
	</bean>
</beans>
