<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>规则管理UI</title>
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	#parse("system/common/baseImport.vm")
</head>
<script type="text/javascript">
$(document).ready(function() {
    var ruleTypeMap = {};
	if ("$!rulemanagequeryDto" != "") {
		// 初始化查询条件
		$("#ruleId").val("$!rulemanagequeryDto.ruleId");
		$("#siteCode").val("$!rulemanagequeryDto.siteCode");
		$("#inOut").val("$!rulemanagequeryDto.inOut");
		$("#memo").val("$!rulemanagequeryDto.memo");

		//初始化规则类型下拉列表
        $.ajaxHelper.doGetSync('#springUrl("/ruleManage/getRuleTypeList")',null,function (res) {
            if (res != null) {
                var temp = "";
                $.each (res, function (index, item) {
                    temp += "<option value='"+ item.ruleType +"'>" + item.ruleTypeName + "</option>";
                    ruleTypeMap[item.ruleType] = item;
                })
                jQuery("#ruleTypeList").html(temp);
            }
        })
        $("#type").val("$!rulemanagequeryDto.type");

        var content = "$!rulemanagequeryDto.content";
        var contentList = content.split(",");
		var rule = ruleTypeMap[$!rulemanagequeryDto.type];
        if (rule != null) {
            /* 设置content的填充内容 */
            var contentType = rule.contentType;
            var contentHTML = "";
            //针对不同的contentType识别不同的输入类型
            if (1 === contentType) {
                contentHTML = "<input id=\"rule_content\" name=\"content\" type=\"text\" class=\"form-control\" placeholder=\"请键入站点编号，以英文逗号分隔\" value=\"$!rulemanagequeryDto.content\"/>"
            } else if (2 === contentType) {
                contentHTML = "<select name=\"content\" class=\"form-control\" id=\"rule_content\" multiple=\"multiple\" placeholder=\"请键入站点类型，以英文逗号分隔\">"
                                $.ajaxHelper.doGetSync('#springUrl("/services/getBaseDataDictList/6/2/6")',null,function (res) {
                                        if (res != null) {
                                            $.each (res.data, function (index, item) {
                                                contentHTML += "<option value='";
                                                contentHTML += item.typeCode;
                                                contentHTML += +"'";
                                                if(contentList.contains(item.typeCode)) {
                                                    content += " selected ";
                                                }
                                                contentHTML += ">"
                                                contentHTML += item.typeName + "</option>";
                                            })
                                        }
                                    })
                                contentHTML += "</select>";
            } else if (3 === contentType) {
                contentHTML = "<select name=\"content\" class=\"form-control\" id=\"rule_content\" multiple=\"multiple\" placeholder=\"请键入站点子类型，以英文逗号分隔\">"
                $.ajaxHelper.doGetSync('#springUrl("/services/getBaseDataDictList/4/3/6")',null,function (res) {
                        if (res != null) {
                            $.each (res.data, function (index, item) {
                                contentHTML += "<option value='";
                                contentHTML += item.typeCode;
                                contentHTML += +"'";
                                if(contentList.contains(item.typeCode)) {
                                    content += " selected ";
                                }
                                contentHTML += ">"
                                contentHTML += item.typeName + "</option>";
                            })
                        }
                    })
                contentHTML += "</select>";
            } else if (4 === contentType) {
                contentHTML = "<input id=\"rule_content\" name=\"content\" list=\"contentList\" type=\"text\"";
                contentHTML += " class=\"form-control\" placeholder=\"请键入0或1\"/> ";
                contentHTML += "<datalist id=\"contentList\">";
                contentHTML += "<option value=\"0\"";
                if(content === 0) {
                    contentHTML += " selected=\"selected\" ";
                }
                contentHTML += ">0</option>";
                contentHTML += "<option value=\"1\"";
                if(content === 1) {
                    contentHTML += " selected=\"selected\" ";
                }
                contentHTML += ">1</option>";
                contentHTML += "</datalist>";

            } else if (5 === contentType) {
                contentHTML = "<input id=\"rule_content\" name=\"content\" list=\"contentList\" type=\"text\"";
                contentHTML += " class=\"form-control\" placeholder=\"请键入true或false\"/> ";
                contentHTML += "<datalist id=\"contentList\">";
                contentHTML += "<option value=\"true\"";
                if(content === true) {
                    contentHTML += " selected=\"selected\" ";
                }
                contentHTML += ">true</option>";
                contentHTML += "<option value=\"false\"";
                if(content === false) {
                    contentHTML += " selected=\"selected\" ";
                }
                contentHTML += ">false</option>";
                contentHTML += "</datalist>";
            } else if (6 === contentType) {
                contentHTML = "<input id=\"rule_content\" name=\"content\" type=\"text\" class=\"form-control\" placeholder=\"请键入字符串，无需分隔符\" value=\"$!rulemanagequeryDto.content\"/>"
            } else if (7 === contentType) {
                contentHTML = "<input id=\"rule_content\" name=\"content\" type=\"text\" class=\"form-control\" placeholder=\"请键入数字，无需分隔符\" value=\"$!rulemanagequeryDto.content\"/>"
            }
            jQuery("#rule_content_div").html(contentHTML);


            /* 设置默认备注 */
            jQuery("#memo").val(rule.memo);
        }

	}
	// 提交查询
	$("#update").click(function() {
	    var ruleDto = $.formHelper.serialize("updateRule");
	    var content = "";

	    $.each(ruleDto.content, function(index, item){
            content += item;
            if (index < ruleDto.content.length - 1) {
                content += ",";
            }
	    })
	    ruleDto.content = content;

		$.ajaxHelper.doPostAsync('#springUrl("/ruleManage/update")',JSON.stringify($.formHelper.serialize("updateRule")),function (res) {
			if (res == null || res.code != 200) {
				$.msg.error("失败", "修改分拣规则失败");
			} else {
				$.msg.ok("成功", "修改分拣规则成功", function () {
					parent.layer.close(parent.layer.getFrameIndex('modifyInfoFrame'));
				});
			}
		})
	});
});
</script>

<body>
<ol class="breadcrumb">
	<li class="active">基础资料管理</li>
	<li class="active">规则管理UI</li>
</ol>
<!--[if !ie]>breadcrumb<![endif]-->
<div id="content">
  <div style="color:red;"> $!errormsg $!successmsg</div>
  <div class="m">
    <div class="tbl-n">
	  #if("$!rulemanagequeryDto" == "")
		没有匹配数据
	  #else
      <form id="updateRule" name="updateRule">
		  <fieldset>
			  <input type="hidden" id="ruleId" name="ruleId" />
			  <div class="row">
				  <label class="control-label col-md-2 col-md-offset-1">站点编码:</label>
				  <div class="col-md-4">
					  <input id="siteCode" name="siteCode" type="text" class="form-control" readonly/>
				  </div>
			  </div>
			  <div class="row">
				  <label class="control-label col-md-2 col-md-offset-1">包含关系:</label>
				  <div class="col-md-4">
					  <input id="inOut" name="inOut" list="inOutList" type="text" class="form-control"/>
					  <datalist id="inOutList">
						  <option value="IN">IN</option>
						  <option value="OUT">OUT</option>
					  </datalist>
				  </div>
			  </div>
			  <div class="row">
				  <label class="control-label col-md-2 col-md-offset-1">规则类型:</label>
				  <div class="col-md-4">
				        <input id="type" name="type" list="ruleTypeList" type="text" class="form-control" readonly/>
                  		<datalist id="ruleTypeList"></datalist>
				  </div>
			  </div>
			  <div class="row">
				  <label class="control-label col-md-2 col-md-offset-1">规则内容:</label>
				  <div class="col-md-4" id="rule_content_div">
##					  <input id="rule_content" name="content" type="text" class="form-control"/>
				  </div>
			  </div>
			  <div class="row">
				  <label class="control-label col-md-2 col-md-offset-1">备注内容:</label>
				  <div class="col-md-4">
					  <input id="memo" name="memo" type="text" class="form-control"/>
				  </div>
			  </div>
			  <div class="row">
				  <div class="col-md-2 col-md-offset-1">
					  <input id="update" type="button" value="更    新" class="btn btn-default btn_c"/>
				  </div>
			  </div>
		  </fieldset>
      </form>
	  #end
    </div>
  </div>
  <!--opening end-->
</div>
</body>
</html>