<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>规则管理UI</title>
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	#parse("system/common/baseImport.vm")
</head>
<script type="text/javascript">
$(document).ready(function() {
	if ("$!rulemanagequeryDto" != "") {
		// 初始化查询条件
		$("#ruleId").val("$!rulemanagequeryDto.ruleId");
		$("#siteCode").val("$!rulemanagequeryDto.siteCode");
		$("#inOut").val("$!rulemanagequeryDto.inOut");
		$("#rule_content").val("$!rulemanagequeryDto.content");
		$("#type").val("$!rulemanagequeryDto.type");
		$("#memo").val("$!rulemanagequeryDto.memo");
	}
	// 提交查询
	$("#update").click(function() {
		$.ajaxHelper.doPostAsync('#springUrl("/ruleManage/update")',JSON.stringify($.formHelper.serialize("updateRule")),function (res) {
			if (res == null || res.code != 200) {
				$.msg.error("失败", "修改分拣规则失败");
			} else {
				$.msg.ok("成功", "修改分拣规则成功", function () {
					parent.layer.close(parent.layer.getFrameIndex('modifyInfoFrame'));
				});
			}
		})
	});
});
</script>

<body>
<ol class="breadcrumb">
	<li class="active">基础资料管理</li>
	<li class="active">规则管理UI</li>
</ol>
<!--[if !ie]>breadcrumb<![endif]-->
<div id="content">
  <div style="color:red;"> $!errormsg $!successmsg</div>
  <div class="m">
    <div class="tbl-n">
	  #if("$!rulemanagequeryDto" == "")
		没有匹配数据
	  #else
      <form id="updateRule" name="updateRule">
		  <fieldset>
			  <input type="hidden" id="ruleId" name="ruleId" />
			  <div class="row">
				  <label class="control-label col-md-2 col-md-offset-1">站点编码:</label>
				  <div class="col-md-4">
					  <input id="siteCode" name="siteCode" type="text" class="form-control" readonly/>
				  </div>
			  </div>
			  <div class="row">
				  <label class="control-label col-md-2 col-md-offset-1">包含关系:</label>
				  <div class="col-md-4">
					  <input id="inOut" name="inOut" list="inOutList" type="text" class="form-control"/>
					  <datalist id="inOutList">
						  <option value="IN">IN</option>
						  <option value="OUT">OUT</option>
					  </datalist>
				  </div>
			  </div>
			  <div class="row">
				  <label class="control-label col-md-2 col-md-offset-1">规则类型:</label>
				  <div class="col-md-4">
					  <input id="type" name="type" type="text" class="form-control" readonly/>
				  </div>
			  </div>
			  <div class="row">
				  <label class="control-label col-md-2 col-md-offset-1">规则内容:</label>
				  <div class="col-md-4" id="rule_content_div">
					  <input id="rule_content" name="content" type="text" class="form-control"/>
				  </div>
			  </div>
			  <div class="row">
				  <label class="control-label col-md-2 col-md-offset-1">备注内容:</label>
				  <div class="col-md-4">
					  <input id="memo" name="memo" type="text" class="form-control"/>
				  </div>
			  </div>
			  <div class="row">
				  <div class="col-md-2 col-md-offset-1">
					  <input id="update" type="button" value="更    新" class="btn btn-default btn_c"/>
				  </div>
			  </div>
		  </fieldset>
      </form>
	  #end
    </div>
  </div>
  <!--opening end-->
</div>
</body>
</html>