<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>规则管理UI</title>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    #parse("system/common/baseImport.vm")
</head>
<script type="text/javascript">
$(document).ready(function() {
    // 初始化站点下拉列表
    $.ajaxHelper.doGetSync('#springUrl("/services/bases/dms")',null,function (res) {
        if (res != null) {
            var temp = "";
            $.each (res, function (index, item) {
                temp += "<option value='"+ item.siteCode +"'>" + item.siteName + "</option>";
            })
            jQuery("#siteCodeList").html(temp);
        }
    })

    var tableInit = function() {
        var oTableInit = new Object();
        oTableInit.init = function() {
            $('#dataTable').bootstrapTable({
                url : "/ruleManage/list", // 请求后台的URL（*）
                method : 'GET', // 请求方式（*）
                toolbar : '#toolbar', // 工具按钮用哪个容器
                queryParams : oTableInit.getSearchParams, // 查询参数（*）
                uniqueId : "ID", // 每一行的唯一标识，一般为主键列
                pagination : true, // 是否显示分页（*）
                pageNumber : 1, // 初始化加载第一页，默认第一页
                pageSize : 10, // 每页的记录行数（*）
                pageList : [ 10, 25, 50, 100 ], // 可供选择的每页的行数（*）
                cache : false, // 是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                sidePagination : "server", // 分页方式：client客户端分页，server服务端分页（*）
                striped : true, // 是否显示行间隔色
                showColumns : true, // 是否显示所有的列
                sortable : true, // 是否启用排序
                sortOrder : "asc", // 排序方式
                contentType : "application/json",
//				search : true, // 是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                showRefresh : true, // 是否显示刷新按钮
                minimumCountColumns : 2, // 最少允许的列数
                clickToSelect : true, // 是否启用点击选中行
                showToggle : true, // 是否显示详细视图和列表视图的切换按钮
                strictSearch : true,
                columns : oTableInit.tableColums
            });
        };
        oTableInit.getSearchParams = function(params) {
            params.siteCode = $("#siteCode").val();
            // 这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            return params;
        };
        oTableInit.tableColums = [ {
            field: 'ID',
            title: '序号',
            width:5 ,
            align:'center',
            switchable:false,
            formatter:function(value,row,index){
                return index+1;//这样的话每翻一页都会重新从1开始
            }
        }, {
            field : 'siteCode',
            title : '站点编号'
        } ,{
            field : 'type',
            title : '规则类型'
        },{
            field : 'content',
            title : '规则内容'
        },{
            field : 'inOut',
            title : '包含关系'
        },{
            field : 'createTime',
            title : '创建时间',
            formatter:function (value) {
                return $.dateHelper.formatDateTime(new Date(value));
            }
        },{
            field : 'updateUser',
            title : '操作人'
        },{
            field : 'updateTime',
            title : '更新时间',
            formatter:function (value) {
                return $.dateHelper.formatDateTime(new Date(value));
            }
        },{
            field : 'memo',
            title : '备注'
        },{
            field: 'ope',
            title: '操作',
            align:'center',
            switchable:false,
            formatter:function(value, row, index){
                var temp = '<a class="modify" href="javascript:void(0)" ><i class="glyphicon glyphicon-pencil"></i>&nbsp;修改&nbsp;</a>'
                        + '<a class="delete" href="javascript:void(0)" ><i class="glyphicon glyphicon-remove"></i>&nbsp;删除&nbsp;</a>';
                return temp;
            },
            events: {
                'click .modify': function (e, value, row, index) {
                    layer.open({
                        id:'modifyInfoFrame',
                        type: 2,
                        title:'分拣规则修改',
                        shadeClose: true,
                        shade: 0.7,
                        shadeClose: false,
                        maxmin: true,
                        area: ['1000px', '500px'],
                        content: "#springUrl('/ruleManage/edit')" + "?ruleId=" + row.ruleId,
                        success: function(layero, index){
                        }
                    });
                },
                'click .delete': function (e, value, row, index) {
                    $.msg.confirm('确定删除此分拣规则？',function () {
                        $.ajaxHelper.doGetAsync("#springUrl('/ruleManage/del')" + "?ruleId=" + row.ruleId, null, function (res) {
                            if (res == null || res.code != 200) {
                                $.msg.error("失败", "删除分拣规则失败");
                            } else {
                                $.msg.ok("成功", "删除分拣规则成功", function () {
                                    tableInit().refresh();
                                });
                            }
                        })
                    });
                }
            }
        }];
        oTableInit.refresh = function() {
            $('#dataTable').bootstrapTable('refresh', {pageNumber:1});
        };
        return oTableInit;
    };

	$("#search").click(function () {
        tableInit().refresh();
    })

	$("#add").click(function() {
        layer.open({
            id:'addRuleTypeForm',
            type: 2,
            title:'分拣规则增加',
            shadeClose: true,
            shade: 0.7,
            shadeClose: false,
            maxmin: true,
            area: ['1000px', '500px'],
            content: "#springUrl('/ruleManage/goAddPage')",
            success: function(layero, index){
            }
        });
	});

    tableInit().init();
	
});

</script>

<body>
<ol class="breadcrumb">
    <li><a href="#springUrl('/ruleManage/list')">基础资料管理</a></li>
    <li class="active">规则管理UI</li>
</ol>
<!--[if !ie]>breadcrumb<![endif]-->
<div id="content">
  <div style="color:red;"> $!errormsg $!successmsg</div>
  <div class="m">
    <div class="tbl-n">
      <form id="search-param" class="form-inline">
          <fieldset>
              <div class="row">
                  <input type="hidden" id="pageNo" name="pageNo" />
                  <input type="hidden" id="pageSize" name="pageSize" />
              </div>
              <div class="row">
                  <label class="control-label col-md-1 col-md-offset-1">站点编码:</label>
                  <div class="col-md-2">
                      <input id="siteCode" name="siteCode" list="siteCodeList" type="text" class="form-control"/>
                      <datalist id="siteCodeList"></datalist>
                  </div>
              </div>
          </fieldset>
      </form>
    </div>
  </div>

    <div id="toolbar" class="btn-group">
        <button id="search" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询
        </button>
        <button id="add" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus." aria-hidden="true"></span>增加
        </button>
    </div>
    <table id="dataTable"></table>
</div>
<script type="text/javascript">
    var jaq = jaq || [];
    jaq.push(['account', 'JA2016_112453']);
    jaq.push(['domain', 'dms.etms.jd.com']);
    (function () {
        var ja = document.createElement('script');
        ja.type = 'text/javascript';
        ja.async = true;
        ja.src = '//wl.jd.com/joya.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ja, s);
    })()
</script>
#parse("system/security/watermark.vm")
</body>
</html>