<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>规则管理UI</title>
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	#parse("system/common/baseImport.vm")
</head>
<script type="text/javascript">
$(document).ready(function() {
	var ruleTypeMap = {};

	// 初始化站点下拉列表
	$.ajaxHelper.doGetSync('#springUrl("/services/bases/dms")',null,function (res) {
		if (res != null) {
			var temp = "";
			$.each (res, function (index, item) {
				temp += "<option value='"+ item.siteCode +"'>" + item.siteName + "</option>";
			})
			jQuery("#siteCodeList").html(temp);
		}
	})

	//初始化规则类型下拉列表
	$.ajaxHelper.doGetSync('#springUrl("/ruleManage/getRuleTypeList")',null,function (res) {
		if (res != null) {
			var temp = "";
			$.each (res, function (index, item) {
				temp += "<option value='"+ item.ruleType +"'>" + item.ruleTypeName + "</option>";
				ruleTypeMap[item.ruleType] = item;
			})
			jQuery("#ruleTypeList").html(temp);
		}
	})

	// 规则类型绑定onChange事件
	$("#type").change(function () {
		var ruleType = $(this).val();
		var rule = ruleTypeMap[ruleType];
		if (rule != null) {
			/* 设置content的填充内容 */
			var contentType = rule.contentType;
			var contentHTML = "";
			//针对不同的contentType识别不同的输入类型
			if (1 === contentType) {
				contentHTML = "<input id=\"rule_content\" name=\"content\" type=\"text\" class=\"form-control\" placeholder=\"请键入站点编号，以英文逗号分隔\"/>"
				jQuery("#rule_content_div").html(contentHTML);
			} else if (2 === contentType) {
			    var data = [];
			    $.ajaxHelper.doGetSync('#springUrl("/services/getBaseDataDictList/6/2/6")',null,function (res) {
                    if (res != null) {
                        $.each (res.data, function (index, item) {
                            var temp = {};
                            temp.id = item.typeCode;
                            temp.text = item.typeCode + "|" + item.typeName;
                            data.push(temp);
                        })
                    }
                })

				contentHTML = "<select name=\"content\" id=\"rule_content\" class=\"form-control\">";
                contentHTML += "</select>";
                jQuery("#rule_content_div").html(contentHTML);
                $.combobox.createNew("rule_content",{
                    placeholder:"请键入站点类型，以英文逗号分隔",
                    allowClear:true,
                    data:data,
                    multiple:true,
                })
			} else if (3 === contentType) {
			    var data = [];
                $.ajaxHelper.doGetSync('#springUrl("/services/getBaseDataDictList/4/3/6")',null,function (res) {
                    if (res != null) {
                        $.each (res.data, function (index, item) {
                            var temp = {};
                            temp.id = item.typeCode;
                            temp.text = item.typeCode + "|" + item.typeName;
                            data.push(temp);
                        })
                    }
                })

                contentHTML = "<select name=\"content\" id=\"rule_content\" class=\"form-control\">";
                contentHTML += "</select>";
                jQuery("#rule_content_div").html(contentHTML);
                $.combobox.createNew("rule_content",{
                    placeholder:"请键入站点子类型，以英文逗号分隔",
                    allowClear:true,
                    data:data,
                    multiple:true,
                })
			} else if (4 === contentType) {
				contentHTML = "<input id=\"rule_content\" name=\"content\" list=\"contentList\" type=\"text\""
                				 + " class=\"form-control\" placeholder=\"请键入0或1\"/> "
                                 + "<datalist id=\"contentList\">"
                                 + "<option value=\"0\">0</option>"
                                 + "<option value=\"1\">1</option>"
                                 + "</datalist>";
                 jQuery("#rule_content_div").html(contentHTML);
			} else if (5 === contentType) {
				contentHTML = "<input id=\"rule_content\" name=\"content\" list=\"contentList\" type=\"text\""
				 + " class=\"form-control\" placeholder=\"请键入true或者false\"/> "
                 + "<datalist id=\"contentList\">"
                 + "<option value=\"true\">true</option>"
                 + "<option value=\"false\">false</option>"
                 + "</datalist>";
                 jQuery("#rule_content_div").html(contentHTML);
			} else if (6 === contentType) {
				contentHTML = "<input id=\"rule_content\" name=\"content\" type=\"text\" class=\"form-control\" placeholder=\"请键入字符串，无需分隔符\"/>"
				jQuery("#rule_content_div").html(contentHTML);
			} else if (7 === contentType) {
                contentHTML = "<input id=\"rule_content\" name=\"content\" type=\"text\" class=\"form-control\" placeholder=\"请键入数字，无需分隔符\"/>"
                jQuery("#rule_content_div").html(contentHTML);
			}

			/* 设置默认备注 */
			jQuery("#memo").val(rule.memo);
		}
	})
    $("#save").click(function() {
        $.ajaxHelper.doPostAsync('#springUrl("/ruleManage/add")',JSON.stringify($.formHelper.serialize("addRule")),function (res) {
            if (res == null || res.code != 200) {
                $.msg.error("失败", "新增分拣规则失败");
            } else {
                $.msg.ok("成功", "新增分拣规则成功", function () {
                    parent.layer.close(parent.layer.getFrameIndex('addRuleTypeForm'));
                });
            }
        })
    });
});
</script>

<body>
<ol class="breadcrumb">
	<li class="active">基础资料管理</li>
	<li class="active">规则管理UI</li>
</ol>
<!--[if !ie]>breadcrumb<![endif]-->
<div id="content">
  <div style="color:red;"> $!errormsg $!successmsg</div>
  <div class="m">
    <div class="tbl-n">
      <form id="addRule" name="addRule" action="#springUrl('/ruleManage/add')" method="POST">
		  <fieldset>
			  <div class="row">
				  <label class="control-label col-md-2 col-md-offset-1">站点编码:</label>
				  <div class="col-md-4">
					  <input id="siteCode" name="siteCode" list="siteCodeList" type="text" class="form-control"/>
					  <datalist id="siteCodeList"></datalist>
				  </div>
			  </div>
			  <div class="row">
				  <label class="control-label col-md-2 col-md-offset-1">包含关系:</label>
				  <div class="col-md-4">
					  <input id="inOut" name="inOut" list="inOutList" type="text" class="form-control"/>
					  <datalist id="inOutList">
						  <option value="IN">IN</option>
						  <option value="OUT">OUT</option>
					  </datalist>
				  </div>
			  </div>
			  <div class="row">
				  <label class="control-label col-md-2 col-md-offset-1">规则类型:</label>
				  <div class="col-md-4">
					  <input id="type" name="type" list="ruleTypeList" type="text" class="form-control"/>
					  <datalist id="ruleTypeList"></datalist>
				  </div>
			  </div>
			  <div class="row">
				  <label class="control-label col-md-2 col-md-offset-1">规则内容:</label>
				  <div class="col-md-4" id="rule_content_div">
				  </div>
			  </div>
			  <div class="row">
				  <label class="control-label col-md-2 col-md-offset-1">备注内容:</label>
				  <div class="col-md-4">
					  <input id="memo" name="memo" type="text" class="form-control"/>
				  </div>
			  </div>
			  <div class="row">
				  <div class="col-md-2 col-md-offset-1">
					  <input id="save" type="button" value="保    存" class="btn btn-default btn_c"/>
				  </div>
			  </div>
		  </fieldset>
      </form>
    </div>
  </div>
  <!--opening end-->
</div>
#parse("system/security/watermark.vm")
</body>
</html>