<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增意见反馈</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    #parse("system/common/baseImport.vm")
    <script src="/static/js/feedback/add.js"></script>
    <style>
        hr {
            padding: 0;
            margin: 4px;
        }

        #add-form input {
            height: 30px;
        }
        .feedBack{
            /*float: right;*/
            display: inline-block;
            height: 32px;
            padding: 0 10px;
            line-height: 30px;
            font-size: 12px;
            border-width: 1px;
            border-style: solid;
            border-radius: 4px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            white-space: nowrap;
        }
        .submitBtn{
            border: 1px solid #0d67ac;
            color: #ffffff;
            background: #0d67ac;
        }
        .cancelBtn{
            border: 1px solid rgba(186, 191, 187, 0.72);
            color: #0d67ac;
            background: rgba(186, 191, 187, 0.72);
        }
    </style>
</head>
<body>
<div id="main" style="margin-left: 10px;">
    <ol class="breadcrumb">
        <li>意见反馈</li>
        <li>新增意见反馈</li>
    </ol>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <label class="control-label" for="content-input">反馈类型举例：</label>
            </div>
            <div class="col-md-3">
                <div class="well text-center" style="background-color: #F2F2F2;height: 280px">
                    <h4><Strong>补充功能</Strong></h4>
                    <div class="thumbnail">
                        <br/>
                        <div class="row" style="text-align: left">
                            <div class="col-md-12">
                                <ul>
                                <h5>描述内容</h5>
                                </ul>
                            </div>
                        </div>
                        <div class="row" style="text-align: left;height: 66px">
                            <div class="col-md-12">
                            <ul>
                                <li>涉及系统功能名称</li>
                                <li>新增功能描述</li>
                                <li>收益描述</li>
                            </ul>
                            </div>
                        </div>
                        <br/>
                    </div>
                    <br/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well text-center" style="background-color: #F2F2F2;height: 280px">
                    <h4><Strong>系统错误</Strong></h4>
                    <div class="thumbnail">
                        <br/>
                        <div class="row" style="text-align: left">
                            <div class="col-md-12">
                                <ul>
                                    <h5>描述内容</h5>
                                </ul>
                            </div>
                        </div>
                        <div class="row" style="text-align: left;height: 66px">
                            <div class="col-md-12">
                                <ul>
                                    <li>系统功能名称</li>
                                    <li>问题描述，提供问题单号方便排查</li>
                                </ul>
                            </div>
                        </div>
                        <br/>
                    </div>
                    <br/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well text-center" style="background-color: #F2F2F2;height: 280px">
                    <h4><Strong>提升体验</Strong></h4>
                    <div class="thumbnail">
                        <br/>
                        <div class="row" style="text-align: left" >
                            <div class="col-md-12">
                                <ul>
                                    <h5>描述内容</h5>
                                </ul>
                            </div>
                        </div>
                        <div class="row" style="text-align: left;height: 66px">
                            <div class="col-md-12">
                                <ul>
                                    <li>系统功能名称</li>
                                    <li>优化建议描述</li>
                                </ul>
                            </div>
                        </div>
                        <br/>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <div id="add-form-wrapper">
        <form id="add-form" class="form-inline" enctype="multipart/form-data" method="POST">
            <fieldset>
                <div class="form-group" style="margin-left: 30px;">
                    <label class="control-label" for="type-select">建议类型：</label>
                    <select id="type-select" name="type" class="form-control" style="display:inline; width:300px;">
                        #if ($typeMaps)
                            #foreach($type in $typeMaps.entrySet())
                                <option value="$!{type.key}">$!{type.value}</option>
                            #end
                        #end
                    </select>
                </div>
                <hr/>
                <div class="form-group" style="margin-left: 30px;position: relative;" >
                    <label class="control-label" for="content-input">反馈内容：</label>
                    <textarea type="text" class="form-control edit-param no-update" id="content-input" name="content"
                              placeholder="请输入意见反馈内容" style="display:inline;width: 600px; height:100px;resize: none;" maxlength="200"></textarea>
                    <i style="position: absolute;bottom:10px;left: 626px"><span class="count-change">0</span>/200</i>
                </div>
                <hr/>
                <div class="form-group" style="margin-left: 30px;">
                    <div class="form-group">
                        <label for="image1">详细图片1</label>
                        <input type="file" id="image1" name="image1" accept="image/*"/>
                    </div>
                </div>
                <hr/>
                <div class="form-group" style="margin-left: 30px;">
                    <div class="form-group">
                        <label for="image2">详细图片2</label>
                        <input type="file" id="image2" name="image2" accept="image/*"/>
                    </div>
                </div>
                <hr/>
                <div class="form-group" style="margin-left: 30px;">
                    <div class="form-group">
                        <label for="image3">详细图片3</label>
                        <input type="file" id="image3" name="image3" accept="image/*"/>
                    </div>
                </div>
                <hr/>
                <div class="form-group" style="margin-left: 30px;">
                    <div class="form-group">
                        <label for="image4">详细图片4</label>
                        <input type="file" id="image4" name="image4" accept="image/*"/>
                    </div>
                </div>
                <hr/>
                <div class="form-group" style="margin-left: 30px;">
                    <div class="form-group">
                        <label for="image5">详细图片5</label>
                        <input type="file" id="image5" name="image5" accept="image/*"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <hr/>
    <div id="toolbar" class="btn-group" style="float:left;margin-left: 30px;margin-top: 20px;">
        <button id="btn_add" type="button" class=" feedBack submitBtn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;保存&nbsp;
        </button>
        <button id="btn_cancel" type="button" class="feedBack cancelBtn" >
            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>&nbsp;取消&nbsp;
        </button>
    </div>
</div>

</body>
</html>
