<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>意见反馈</title>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    #parse("system/common/baseImport.vm")
    <script type="text/javascript" src="#springUrl('/static/js/DatePicker/WdatePicker.js')"></script>
    <script src="/static/js/feedback/index.js"></script>
</head>
<body>
<div id="dataTableDiv" class="main">
        <ol class="breadcrumb">
            <li><a href="#">意见反馈</a></li>
            <li class="active">我的建议</li>
        </ol>
		<!-- 查询条件 -->
        <hr />
        <!-- 主页面操作按钮 -->
        <div id="toolbar" class="btn-group" style="float: right;margin-right: 10px;">

            <button id="btn_add" type="button" class="btn btn-default" >
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>提建议
            </button>
        </div>
    <table id="dataTable" class="table table-hover table-striped">
    </table>
</div>
</body>
</html>