<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.bluedragon.distribution.exceptionReport.billException.dao.ExpressBillExceptionReportDao">
    <!-- table映射实体对象 -->
    <resultMap id="RM_ExpressBillExceptionReport" type="com.jd.bluedragon.distribution.exceptionReport.billException.domain.ExpressBillExceptionReport">
        <result property="id" column="id"/>
        <result property="packageCode" column="package_code"/>
        <result property="orgCode" column="org_code"/>
        <result property="orgName" column="org_name"/>
        <result property="siteCode" column="site_code"/>
        <result property="siteName" column="site_name"/>
        <result property="firstSiteCode" column="first_site_code"/>
        <result property="firstSiteName" column="first_site_name"/>
        <result property="firstReportType" column="first_report_type"/>
        <result property="firstReportTypeName" column="first_report_type_name"/>
        <result property="reportTypeName" column="report_type_name"/>
        <result property="reportType" column="report_type"/>
        <result property="reportUserErp" column="report_user_erp"/>
        <result property="reportTime" column="report_time"/>
        <result property="reportImgUrls" column="report_img_urls"/>
        <result property="traderCode" column="trader_code"/>
        <result property="traderName" column="trader_name"/>
        <result property="traderOrgCode" column="trader_org_code"/>
        <result property="traderOrgName" column="trader_org_name"/>
        <result property="reportedUserId" column="reported_user_id"/>
        <result property="reportedUserErp" column="reported_user_erp"/>
        <result property="reportedUserName" column="reported_user_name"/>
        <result property="saleStaffErp" column="sale_staff_erp"/>
        <result property="orderStatus" column="order_status"/>
        <result property="rejectedReason" column="rejected_reason"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="yn" column="yn"/>
        <result property="ts" column="ts"/>
        <result property="remark" column="remark"/>
        <result property="orderId" column="order_id"/>
        <result property="lineType" column="line_type"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="Base_Column_List">
        id, package_code, org_code, org_name, site_code, site_name,first_site_code,first_site_name, report_type_name, report_type, report_user_erp, report_time, report_img_urls,
        trader_code, reported_user_id, reported_user_erp, reported_user_name, line_type, create_time, update_time, yn, ts, remark, order_id,
        trader_name, trader_org_code, trader_org_name, sale_staff_erp, order_status, rejected_reason
    </sql>


    <!--查询包裹是否已举报-->
    <select id="selectPackageIsReport" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(1)
        from
        express_bill_exception_report
        where
        yn = 1
        AND package_code = #{packageCode}
    </select>

    <select id="selectOneRecent" resultMap="RM_ExpressBillExceptionReport" parameterType="java.lang.String">
        select <include refid="Base_Column_List"/>
        from express_bill_exception_report
        where yn = 1
        and package_code = #{packageCode}
        order by create_time desc
        limit 1
    </select>

    <!--分页查询-->
    <select id="queryList" parameterType="com.jd.bluedragon.distribution.exceptionReport.billException.request.ExpressBillExceptionReportQuery" resultMap="RM_ExpressBillExceptionReport">
     select
     <include refid="Base_Column_List"/>
     from express_bill_exception_report
     where yn=1
     <include refid="where_sql"/>
    order by id desc
    <if test="basePagerCondition.pageNumber > 0">
        limit #{basePagerCondition.offset}, #{basePagerCondition.limit}
    </if>
    </select>

    <select id="getPicUrlsById" parameterType="java.lang.Integer" resultType="java.lang.String">
        select
            report_img_urls
        from
            express_bill_exception_report
        where
            yn = 1
        and id = #{id}
    </select>

    <!--分页查询（解决深度分页问题）-->
    <select id="newQueryList" parameterType="com.jd.bluedragon.distribution.exceptionReport.billException.request.ExpressBillExceptionReportQuery" resultMap="RM_ExpressBillExceptionReport">
        select
            e1.id, e1.package_code, e1.org_code, e1.org_name, e1.site_code, e1.site_name, e1.first_site_code,
            e1.first_site_name, e1.first_report_type, e1.first_report_type_name, e1.report_type_name, e1.report_type,
            e1.report_user_erp, e1.report_time, e1.report_img_urls,
            e1.trader_code, e1.reported_user_id, e1.reported_user_erp, e1.reported_user_name, e1.line_type, e1.create_time, e1.update_time, e1.yn, e1.ts, e1.remark, e1.order_id,
            e1.trader_name, e1.trader_org_code, e1.trader_org_name, e1.sale_staff_erp, e1.order_status, e1.rejected_reason
        from
            express_bill_exception_report e1
        inner join
            ( select id from express_bill_exception_report where  yn = 1
            <include refid="where_sql"/>
            limit #{basePagerCondition.offset}, #{basePagerCondition.limit} ) e2
        on
            e1.id = e2.id
        where
            e1.yn = 1
        order by id desc
    </select>

    <!--查询举报总记录数-->
    <select id="queryCount" parameterType="com.jd.bluedragon.distribution.exceptionReport.billException.request.ExpressBillExceptionReportQuery" resultType="long">
     select count(*)
     from express_bill_exception_report
     where yn=1
     <include refid="where_sql"/>
    </select>

    <!--新增sql-->
    <insert id="insertReport" keyProperty="id" parameterType="com.jd.bluedragon.distribution.exceptionReport.billException.domain.ExpressBillExceptionReport">
     insert into express_bill_exception_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="packageCode != null and packageCode != ''">
            package_code,
            </if>
            <if test="orgCode != null">
            org_code,
            </if>
            <if test="orgName != null and orgName != ''">
            org_name,
            </if>
            <if test="siteCode != null">
            site_code,
            </if>
            <if test="siteName != null and siteName !=''">
            site_name,
            </if>
            <if test="firstSiteCode != null">
            first_site_code,
            </if>
            <if test="firstSiteName !=null and firstSiteName !=''" >
            first_site_name,
            </if>
            <if test="firstReportType != null">
                first_report_type,
            </if>
            <if test="firstReportTypeName != null and firstReportTypeName != ''">
                first_report_type_name,
            </if>
            <if test="reportTypeName != null and reportTypeName != ''">
            report_type_name,
            </if>
            <if test="reportType != null">
            report_type,
            </if>
            <if test="reportUserErp != null and reportUserErp != ''">
            report_user_erp,
            </if>
            <if test="reportTime != null">
            report_time,
            </if>
            <if test="reportImgUrls != null and reportImgUrls != ''">
            report_img_urls,
            </if>
            <if test="traderCode != null and traderCode != ''">
                trader_code,
            </if>
            <if test="reportedUserId != null and reportedUserId != ''">
                reported_user_id,
            </if>
            <if test="reportedUserErp != null and reportedUserErp != ''">
                reported_user_erp,
            </if>
            <if test="reportedUserName != null and reportedUserName != ''">
                reported_user_name,
            </if>
            <if test="lineType != null and lineType != ''">
                line_type,
            </if>
            <if test="createTime !=null">
            create_time,
            </if>
            <if test="updateTime !=null ">
            update_time,
            </if>
            <if test="yn != null">
            yn,
            </if>
            <if test="ts != null">
            ts,
            </if>
            <if test="remark !=null and remark !=''" >
            remark,
            </if>
            <if test="orderId !=null and orderId !=''" >
            order_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="packageCode != null and packageCode != ''">
                #{packageCode,jdbcType=VARCHAR},
            </if>
            <if test="orgCode != null">
                #{orgCode,jdbcType=INTEGER},
            </if>
            <if test="orgName != null and orgName != ''">
                #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="siteCode != null">
                #{siteCode,jdbcType=INTEGER},
            </if>
            <if test="siteName != null and siteName !=''">
                #{siteName,jdbcType=VARCHAR},
            </if>
            <if test="firstSiteCode != null">
                #{firstSiteCode,jdbcType=INTEGER},
            </if>
            <if test="firstSiteName != null and firstSiteName !=''">
                #{firstSiteName,jdbcType=VARCHAR},
            </if>
            <if test="reportTypeName != null and reportTypeName != ''">
                #{reportTypeName,jdbcType=VARCHAR},
            </if>
            <if test="reportType != null">
                #{reportType,jdbcType=INTEGER},
            </if>
            <if test="reportUserErp != null and reportUserErp != ''">
                #{reportUserErp,jdbcType=VARCHAR},
            </if>
            <if test="reportTime != null">
                #{reportTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reportImgUrls != null and reportImgUrls != ''">
                #{reportImgUrls,jdbcType=VARCHAR},
            </if>
            <if test="traderCode != null and traderCode != ''">
                #{traderCode},
            </if>
            <if test="reportedUserId != null and reportedUserId != ''">
                #{reportedUserId},
            </if>
            <if test="reportedUserErp != null and reportedUserErp != ''">
                #{reportedUserErp},
            </if>
            <if test="reportedUserName != null and reportedUserName != ''">
                #{reportedUserName},
            </if>
            <if test="lineType != null and lineType != ''">
                #{lineType},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="yn != null">
                #{yn},
            </if>
            <if test="ts != null">
                #{ts},
            </if>
            <if test="remark !=null and remark !=''">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="orderId !=null and orderId !=''">
                #{orderId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByBusiCode" parameterType="com.jd.bluedragon.distribution.exceptionReport.billException.domain.ExpressBillExceptionReport">
        update express_bill_exception_report
        <set>
            update_time = now(),
            <if test="traderName != null and traderName !=''">
                trader_name = #{traderName,jdbcType=VARCHAR},
            </if>
            <if test="traderOrgCode != null">
                trader_org_code = #{traderOrgCode,jdbcType=INTEGER},
            </if>
            <if test="traderOrgName != null and traderOrgName !=''">
                trader_org_name = #{traderOrgName,jdbcType=VARCHAR},
            </if>
            <if test="saleStaffErp != null and saleStaffErp !=''">
                sale_staff_erp = #{saleStaffErp,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null and orderStatus !=''">
                order_status = #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="rejectedReason != null and rejectedReason !=''">
                rejected_reason = #{rejectedReason,jdbcType=VARCHAR},
            </if>
        </set>
        where trader_code = #{traderCode,jdbcType=VARCHAR}
        and report_type = #{reportType,jdbcType=INTEGER}
    </update>

    <!-- 判断空值 -->
    <sql id="where_sql">
        <if test="orgCode != null">
            AND org_code = #{orgCode,jdbcType=INTEGER}
        </if>
        <if test="siteCode != null">
            AND site_code = #{siteCode,jdbcType=INTEGER}
        </if>
        <if test="firstReportType != null">
            AND first_report_type = #{firstReportType,jdbcType=INTEGER}
        </if>
        <if test="reportType != null">
            AND report_type = #{reportType,jdbcType=INTEGER}
        </if>
        <if test="queryStartTime != null">
            AND report_time >= #{queryStartTime,jdbcType=TIMESTAMP}
        </if>
        <if test="queryEndTime != null">
            AND report_time <![CDATA[<]]> #{queryEndTime,jdbcType=TIMESTAMP}
        </if>
        <if test="packageCode != null and packageCode !=''">
            AND package_code = #{packageCode,jdbcType=VARCHAR}
        </if>
    </sql>

</mapper>