<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.dms.wb.mapper.single.offlinepassword.ILogOfflinePasswordSendMapper">
  <resultMap id="BaseResultMap" type="com.jd.dms.wb.sdk.model.offlinepassword.LogOfflinePasswordSend">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="create_site_code" jdbcType="INTEGER" property="createSiteCode" />
    <result column="create_site_name" jdbcType="VARCHAR" property="createSiteName" />
    <result column="site_type" jdbcType="INTEGER" property="siteType" />
    <result column="site_type_name" jdbcType="VARCHAR" property="siteTypeName" />
    <result column="send_type" jdbcType="INTEGER" property="sendType" />
    <result column="password_type" jdbcType="INTEGER" property="passwordType" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="operator_erp" jdbcType="VARCHAR" property="operatorErp" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, org_id, org_name, create_site_code, create_site_name, site_type, site_type_name, 
    send_type, password_type, account, operator_erp, create_time, send_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log_offline_password_send
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from log_offline_password_send
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jd.dms.wb.sdk.model.offlinepassword.LogOfflinePasswordSend" useGeneratedKeys="true">
    insert into log_offline_password_send (org_id, org_name, create_site_code, 
      create_site_name, site_type, site_type_name, 
      send_type, password_type, account,
      operator_erp, create_time, send_time
      )
    values (#{orgId,jdbcType=INTEGER}, #{orgName,jdbcType=VARCHAR}, #{createSiteCode,jdbcType=INTEGER}, 
      #{createSiteName,jdbcType=VARCHAR}, #{siteType,jdbcType=INTEGER}, #{siteTypeName,jdbcType=VARCHAR}, 
      #{sendType,jdbcType=INTEGER}, #{passwordType,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR},
      #{operatorErp,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{sendTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jd.dms.wb.sdk.model.offlinepassword.LogOfflinePasswordSend" useGeneratedKeys="true">
    insert into log_offline_password_send
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        org_id,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="createSiteCode != null">
        create_site_code,
      </if>
      <if test="createSiteName != null">
        create_site_name,
      </if>
      <if test="siteType != null">
        site_type,
      </if>
      <if test="siteTypeName != null">
        site_type_name,
      </if>
      <if test="sendType != null">
        send_type,
      </if>
      <if test="passwordType != null">
        password_type,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="operatorErp != null">
        operator_erp,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="createSiteCode != null">
        #{createSiteCode,jdbcType=INTEGER},
      </if>
      <if test="createSiteName != null">
        #{createSiteName,jdbcType=VARCHAR},
      </if>
      <if test="siteType != null">
        #{siteType,jdbcType=INTEGER},
      </if>
      <if test="siteTypeName != null">
        #{siteTypeName,jdbcType=VARCHAR},
      </if>
      <if test="sendType != null">
        #{sendType,jdbcType=INTEGER},
      </if>
      <if test="passwordType != null">
        #{passwordType,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="operatorErp != null">
        #{operatorErp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.dms.wb.sdk.model.offlinepassword.LogOfflinePasswordSend">
    update log_offline_password_send
    <set>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="createSiteCode != null">
        create_site_code = #{createSiteCode,jdbcType=INTEGER},
      </if>
      <if test="createSiteName != null">
        create_site_name = #{createSiteName,jdbcType=VARCHAR},
      </if>
      <if test="siteType != null">
        site_type = #{siteType,jdbcType=INTEGER},
      </if>
      <if test="siteTypeName != null">
        site_type_name = #{siteTypeName,jdbcType=VARCHAR},
      </if>
      <if test="sendType != null">
        send_type = #{sendType,jdbcType=INTEGER},
      </if>
      <if test="passwordType != null">
        password_type = #{passwordType,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="operatorErp != null">
        operator_erp = #{operatorErp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jd.dms.wb.sdk.model.offlinepassword.LogOfflinePasswordSend">
    update log_offline_password_send
    set org_id = #{orgId,jdbcType=INTEGER},
      org_name = #{orgName,jdbcType=VARCHAR},
      create_site_code = #{createSiteCode,jdbcType=INTEGER},
      create_site_name = #{createSiteName,jdbcType=VARCHAR},
      site_type = #{siteType,jdbcType=INTEGER},
      site_type_name = #{siteTypeName,jdbcType=VARCHAR},
      send_type = #{sendType,jdbcType=INTEGER},
      password_type = #{passwordType,jdbcType=INTEGER},
      account = #{account,jdbcType=VARCHAR},
      operator_erp = #{operatorErp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      send_time = #{sendTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryByPage" parameterType="com.jd.dms.wb.sdk.dto.offlinepassword.LogOfflinePasswordSendRequest"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from log_offline_password_send
    where
          1=1
    <if test="orgId != null">
      and org_id = #{orgId,jdbcType=INTEGER}
    </if>
    <if test="createSiteCode != null">
      and create_site_code = #{createSiteCode,jdbcType=INTEGER}
    </if>
    <if test="createSiteName != null">
      create_site_name like concat('%', #{createSiteName}, '%')
    </if>
    <if test="siteType != null">
      and site_type = #{siteType,jdbcType=INTEGER}
    </if>
    <if test="startSendTime != null">
      and send_time &gt; #{startSendTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endSendTime != null">
      and send_time &lt; #{endSendTime,jdbcType=TIMESTAMP}
    </if>
    <if test="sendType != null">
      and send_type = #{sendType,jdbcType=INTEGER}
    </if>
    <if test="passwordType != null">
      and password_type = #{passwordType,jdbcType=INTEGER}
    </if>
  </select>
  <select id="countBySiteCodeAndSendTime" parameterType="com.jd.dms.wb.sdk.dto.offlinepassword.LogOfflinePasswordSendRequest"
          resultType="long">
    select count(*) from log_offline_password_send
    where 1=1
    <if test="createSiteCode != null">
      and create_site_code = #{createSiteCode,jdbcType=INTEGER}
    </if>
    <if test="startSendTime != null">
      and send_time &gt; #{startSendTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endSendTime != null">
      and send_time &lt; #{endSendTime,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>