<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.loadAndUnload.dao.LoadCarDao">

    <resultMap id="loadCar" type="com.jd.bluedragon.distribution.loadAndUnload.LoadCar">
        <id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="license_number" property="licenseNumber" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="end_site_code" property="endSiteCode" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="end_site_name" property="endSiteName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="status" property="status" javaType="java.lang.Integer" jdbcType="TINYINT"/>
        <result column="operate_user_erp" property="operateUserErp" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="operate_user_name" property="operateUserName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="operate_time" property="operateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="create_user_erp" property="createUserErp" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="current_site_name" property="currentSiteName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="current_site_code" property="currentSiteCode" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="batch_code" property="batchCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="create_user_name" property="createUserName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="yn" property="yn" javaType="java.lang.Integer" jdbcType="TINYINT"/>
        <result column="exp" property="exp" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="add" parameterType="com.jd.bluedragon.distribution.loadAndUnload.LoadCar" useGeneratedKeys="true"
            keyProperty="id">
        insert into load_car (
        <trim suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="licenseNumber != null and licenseNumber != ''">
                license_number,
            </if>
            <if test="endSiteCode != null ">
                end_site_code,
            </if>
            <if test="endSiteName != null and endSiteName !=''">
                end_site_name,
            </if>
            <if test="status !=null">
                status,
            </if>
            <if test="operateUserErp !=null and operateUserErp !=''">
                operate_user_erp,
            </if>
            <if test="operateUserName  !=null and operateUserName !=''">
                operate_user_name,
            </if>
            <if test="operateTime  !=null">
                operate_time,
            </if>
            <if test="createTime  !=null">
                create_time,
            </if>
            <if test="createUserErp !=null and createUserErp !=''">
                create_user_erp,
            </if>
            <if test="currentSiteName  !=null and currentSiteName !=''">
                current_site_name,
            </if>
            <if test="currentSiteCode  !=null">
                current_site_code,
            </if>
            <if test="batchCode !=null and batchCode !=''">
                batch_code,
            </if>
            <if test="createUserName !=null and createUserName !=''">
                create_user_name,
            </if>
            <if test="yn !=null">
                yn
            </if>
        </trim>
        )values (
        <trim suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="licenseNumber != null and licenseNumber != ''">
                #{licenseNumber,jdbcType=VARCHAR},
            </if>
            <if test="endSiteCode != null ">
                #{endSiteCode,jdbcType=BIGINT},
            </if>
            <if test="endSiteName != null ">
                #{endSiteName,jdbcType=VARCHAR},
            </if>
            <if test="status !=null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="operateUserErp !=null and operateUserErp !=''">
                #{operateUserErp,jdbcType=VARCHAR},
            </if>
            <if test="operateUserName  !=null and operateUserName !=''">
                #{operateUserName,jdbcType=VARCHAR},
            </if>
            <if test="operateTime  !=null">
                #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime  !=null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserErp !=null and createUserErp !=''">
                #{createUserErp,jdbcType=VARCHAR},
            </if>
            <if test="currentSiteName  !=null and currentSiteName !=''">
                #{currentSiteName,jdbcType=VARCHAR},
            </if>
            <if test="currentSiteCode  !=null">
                #{currentSiteCode,jdbcType=BIGINT},
            </if>
            <if test="batchCode !=null and batchCode !=''">
                #{batchCode,jdbcType=VARCHAR},
            </if>
            <if test="createUserName !=null and createUserName !=''">
                #{createUserName,jdbcType=VARCHAR},
            </if>
            1
        </trim>
        )
    </insert>

    <select id="queryByErp" parameterType="String"
            resultType="com.jd.bluedragon.common.dto.goodsLoadingScanning.response.LoadTaskListDto">
        select a.end_site_code as endSiteCode, a.end_site_name as endSiteName, a.status as status, a.license_number as licenseNumber, a.id as id
        from load_car a left join   load_car_helper  b on a.id=b.task_id
        where  b.create_user_erp= #{loginUserErp,jdbcType=VARCHAR}  or  b.helper_erp= #{loginUserErp,jdbcType=VARCHAR} and yn=1
    </select>

    <update id="deleteById" parameterType="Long">
        update load_car set yn=0 where id= #{id,jdbcType=BIGINT}
    </update>

    <select id="selectListByCondition" parameterType="com.jd.bluedragon.distribution.loadAndUnload.LoadCar" resultMap="loadCar">
        select
        <include refid="Base_Column_List"/>
        from load_car
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="licenseNumber != null and licenseNumber != ''">
                and license_number = #{licenseNumber,jdbcType=VARCHAR}
            </if>
            <if test="endSiteCode != null">
                and end_site_code = #{endSiteCode,jdbcType=BIGINT}
            </if>
            <if test="endSiteName != null and endSiteName != ''">
                and end_site_name = #{endSiteName,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="operateUserErp != null and operateUserErp != ''">
                and operate_user_erp = #{operateUserErp,jdbcType=VARCHAR}
            </if>
            <if test="operateUserName != null and operateUserName != ''">
                and operate_user_name = #{operateUserName,jdbcType=VARCHAR}
            </if>
            <if test="operateTime != null">
                and operate_time = #{operateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createUserErp != null and createUserErp != ''">
                and create_user_erp = #{createUserErp,jdbcType=VARCHAR}
            </if>
            <if test="createUserName != null and createUserName != ''">
                and create_user_name = #{createUserName,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="currentSiteCode != null">
                and current_site_code = #{currentSiteCode,jdbcType=BIGINT}
            </if>
            <if test="currentSiteName != null and currentSiteName != ''">
                and current_site_name = #{currentSiteName,jdbcType=VARCHAR}
            </if>
            <if test="batchCode != null and batchCode != ''">
                and batch_code = #{batchCode,jdbcType=VARCHAR}
            </if>
            <if test="yn != null">
                and yn = #{yn,jdbcType=INTEGER}
            </if>
        </where>
    </select>


</mapper>