<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.loadAndUnload.dao.UnloadScanDao">

	<resultMap id="unloadScan" type="com.jd.bluedragon.distribution.loadAndUnload.UnloadScan" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
        <result column="seal_car_code" property="sealCarCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="waybill_code" property="waybillCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="package_amount" property="packageAmount" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="force_amount" property="forceAmount" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="load_amount" property="loadAmount" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="unload_amount" property="unloadAmount" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="status" property="status" javaType="java.lang.Integer" jdbcType="TINYINT" />
        <result column="create_user_code" javaType="java.lang.Integer" jdbcType="INTEGER" property="createUserCode"/>
        <result column="create_user_name" javaType="java.lang.String" jdbcType="VARCHAR" property="createUserName"/>
        <result column="update_user_code" javaType="java.lang.Integer" jdbcType="INTEGER" property="updateUserCode"/>
        <result column="update_user_name" javaType="java.lang.String" jdbcType="VARCHAR" property="updateUserName"/>
        <result column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="yn" javaType="java.lang.Integer" jdbcType="TINYINT" property="yn"/>
        <result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
		id,seal_car_code,waybill_code,package_amount,force_amount,load_amount,unload_amount,
		status,create_user_code,create_user_name,update_user_code,update_user_name,
		create_time,update_time,yn
	</sql>

    <sql id="Base_Condition_Sql" >
			and yn=1
	</sql>

    <insert id="add" parameterType="unloadScan">
        insert into unload_scan
        (
        <trim suffixOverrides=",">
            <if test="sealCarCode != null">
                seal_car_code,
            </if>
            <if test="waybillCode != null">
                waybill_code,
            </if>
            <if test="packageAmount != null">
                package_amount,
            </if>
            <if test="forceAmount != null">
                force_amount,
            </if>
            <if test="loadAmount != null">
                load_amount,
            </if>
            <if test="unloadAmount != null">
                unload_amount,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createUserCode != null">
                create_user_code,
            </if>
            <if test="createUserName != null">
                create_user_name,
            </if>
            <if test="updateUserCode != null">
                update_user_code,
            </if>
            <if test="updateUserName != null">
                update_user_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            yn,
            ts
        </trim>
        )
        values
        (
        <trim suffixOverrides=",">
            <if test="sealCarCode != null">
                #{sealCarCode,jdbcType=VARCHAR},
            </if>
            <if test="waybillCode != null">
                #{waybillCode,jdbcType=VARCHAR},
            </if>
            <if test="packageAmount != null">
                #{packageAmount,jdbcType=INTEGER},
            </if>
            <if test="forceAmount != null">
                #{forceAmount,jdbcType=INTEGER},
            </if>
            <if test="loadAmount != null">
                #{loadAmount,jdbcType=INTEGER},
            </if>
            <if test="unloadAmount != null">
                #{unloadAmount,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createUserCode != null">
                #{createUserCode,jdbcType=VARCHAR},
            </if>
            <if test="createUserName != null">
                #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="updateUserCode != null">
                #{updateUserCode,jdbcType=VARCHAR},
            </if>
            <if test="updateUserName != null">
                #{updateUserName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            1,
            now(3)
        </trim>
        )
    </insert>



    <select id="selectUnloadScanBySealCarCode" parameterType="java.lang.String" resultMap="unloadScan">
        select
        <include refid="Base_Column_List"/>
        from
        unload_scan
        <where>
            seal_car_code = #{sealCarCode,jdbcType=VARCHAR}
            <include refid="Base_Condition_Sql"/>
        </where>
    </select>

    <select id="selectUnloadByBySealAndWaybillCode" parameterType="unloadScan" resultMap="unloadScan">
        select
        <include refid="Base_Column_List"/>
        from
        unload_scan
        <where>
            seal_car_code = #{sealCarCode,jdbcType=VARCHAR} and waybill_code = #{waybillCode,jdbcType=VARCHAR} and yn = 1 limit 1
        </where>
    </select>


    <update id="updateByPrimaryKey" parameterType="unloadScan">
        update unload_scan
        <set>
            <if test="sealCarCode != null">seal_car_code = #{sealCarCode,jdbcType=VARCHAR},</if>
            <if test="waybillCode != null">waybill_code = #{waybillCode,jdbcType=VARCHAR},</if>
            <if test="packageAmount != null">package_amount = #{packageAmount,jdbcType=INTEGER},</if>
            <if test="forceAmount != null">force_amount = #{forceAmount,jdbcType=INTEGER},</if>
            <if test="loadAmount != null">load_amount = #{loadAmount,jdbcType=INTEGER},</if>
            <if test="unloadAmount != null">unload_amount = #{unloadAmount,jdbcType=INTEGER},</if>
            <if test="status != null">status = #{status,jdbcType=INTEGER},</if>
            <if test="createUserCode != null">create_user_code = #{createUserCode,jdbcType=VARCHAR},</if>
            <if test="createUserName != null">create_user_name = #{createUserName,jdbcType=VARCHAR},</if>
            <if test="updateUserCode != null">update_user_code = #{updateUserCode,jdbcType=VARCHAR},</if>
            <if test="updateUserName != null">update_user_name = #{updateUserName,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
        </set>
        where id = #{id,jdbcType=BIGINT} and yn = 1
    </update>

    <insert id="batchInsert" parameterType="com.jd.bluedragon.distribution.loadAndUnload.UnloadScan">
        insert into unload_scan (id,seal_car_code,waybill_code,package_amount,force_amount,load_amount,unload_amount,
        status,create_user_code,create_user_name,update_user_code,update_user_name,
        create_time,update_time,yn)  VALUES
        <foreach collection="waybillPackageNumInfoList" item="item" separator=",">
            (#{sealCarCode,jdbcType=VARCHAR},
             #{item.waybillCode,jdbcType=VARCHAR},
             #{packageAmount,jdbcType=INTEGER},
             #{item.packageNum,jdbcType=INTEGER},
             #{loadAmount,jdbcType=INTEGER},
             #{unloadAmount,jdbcType=INTEGER},
             #{status,jdbcType=INTEGER},
             #{createUserCode,jdbcType=VARCHAR},
             #{createUserName,jdbcType=VARCHAR},
             #{updateUserCode,jdbcType=VARCHAR},
             #{updateUserName,jdbcType=VARCHAR},
             #{createTime,jdbcType=TIMESTAMP},
             #{updateTime,jdbcType=TIMESTAMP},
              1,
             now(3))
        </foreach>
    </insert>


</mapper>