<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.loadAndUnload.dao.UnloadCarDistributionDao">

	<resultMap id="unloadCarDistribution" type="com.jd.bluedragon.distribution.loadAndUnload.UnloadCarDistribution" >
		<id column="unload_distribute_id" property="unloadDistributeId" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="seal_car_code" property="sealCarCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="unload_user_erp" property="unloadUserErp" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="unload_user_name" property="unloadUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="unload_user_type" property="unloadUserType" javaType="java.lang.Integer" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="yn" property="yn" javaType="java.lang.Integer" jdbcType="TINYINT" />
        <result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>

    <sql id="Base_Column_List" >
		unload_distribute_id,seal_car_code,unload_user_erp,unload_user_name,
		unload_user_type,create_time,update_time,yn
	</sql>

    <sql id="Base_Condition_Sql" >
			and yn=1
	</sql>

    <insert id="add" parameterType="com.jd.bluedragon.distribution.loadAndUnload.UnloadCarDistribution">
        insert into unload_car_distribute
        (
        <trim suffixOverrides=",">
            <if test="unloadDistributeId != null">
                unload_distribute_id,
            </if>
            <if test="sealCarCode != null">
                seal_car_code,
            </if>
            <if test="unloadUserErp != null">
                unload_user_erp,
            </if>
            <if test="unloadUserName != null">
                unload_user_name,
            </if>
            <if test="unloadUserType != null">
                unload_user_type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            yn
        </trim>
        )
        values
        (
        <trim suffixOverrides=",">
            <if test="unloadDistributeId != null">
                #{unloadDistributeId,jdbcType=BIGINT},
            </if>
            <if test="sealCarCode != null">
                #{sealCarCode,jdbcType=VARCHAR},
            </if>
            <if test="unloadUserErp != null">
                #{unloadUserErp,jdbcType=VARCHAR},
            </if>
            <if test="unloadUserName != null">
                #{unloadUserName,jdbcType=VARCHAR},
            </if>
            <if test="unloadUserType != null">
                #{unloadUserType,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            1
        </trim>
        )
    </insert>

    <select id="selectHelperBySealCarCode" parameterType="String" resultType="String">
        select
        unload_user_erp
        from
        unload_car_distribute
        <where>
            seal_car_code = #{sealCarCode,jdbcType=VARCHAR}
            and unload_user_type = 1
            <include refid="Base_Condition_Sql"/>
        </where>
    </select>

    <select id="selectUnloadCarTaskHelpers" parameterType="String" resultMap="unloadCarDistribution">
        select
        <include refid="Base_Column_List" />
        from
        unload_car_distribute
        <where>
            seal_car_code = #{sealCarCode,jdbcType=VARCHAR}
            and unload_user_type = 1
            <include refid="Base_Condition_Sql"/>
        </where>
    </select>

    <update id="deleteUnloadCarTaskHelpers" parameterType="unloadCarDistribution">
		update unload_car_distribute
		set
        update_time = #{updateTime,jdbcType=TIMESTAMP},
		yn = 0
		where
        seal_car_code = #{sealCarCode,jdbcType=VARCHAR}
        and unload_user_erp = #{unloadUserErp,jdbcType=VARCHAR}
        <include refid="Base_Condition_Sql"/>
	</update>

    <select id="selectTasksByUser" parameterType="String" resultType="String">
        select
        seal_car_code
        from
        unload_car_distribute
        <where>
            unload_user_erp = #{unloadUserErp,jdbcType=VARCHAR}
            and create_time <![CDATA[<=]]> timestampadd(minute, 0, now())
            and create_time <![CDATA[>=]]>  timestampadd(DAY, -3, now())
            <include refid="Base_Condition_Sql"/>
        </where>
    </select>

</mapper>