<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.gantry.dao.GantryExceptionDao">

    <resultMap id="gantryExceptionMap" type="com.jd.bluedragon.distribution.gantry.domain.GantryException">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <id column="MACHINE_ID" property="machineId" jdbcType="BIGINT"/>
        <result column="PACKAGE_CODE" property="packageCode" jdbcType="VARCHAR"/>
        <result column="WAYBILL_CODE" property="waybillCode" jdbcType="VARCHAR"/>
        <result column="CREATE_SITE_CODE" property="createSiteCode" jdbcType="BIGINT"/>
        <result column="CREATE_SITE_NAME" property="createSiteName" jdbcType="VARCHAR"/>
        <result column="VOLUME" property="volume" jdbcType="DECIMAL"/>
        <result column="TYPE" property="type" jdbcType="TINYINT"/>
        <result column="OPERATE_TIME" property="operateTime" jdbcType="TIMESTAMP"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="YN" property="yn" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="gantryExceptionColumn" >
        ID, MACHINE_ID, PACKAGE_CODE, WAYBILL_CODE,
        CREATE_SITE_CODE, CREATE_SITE_NAME, VOLUME,
        TYPE, OPERATE_TIME, CREATE_TIME,UPDATE_TIME,YN
    </sql>
    <sql id="gantryExceptionColumnNoID" >
        MACHINE_ID, PACKAGE_CODE, WAYBILL_CODE,
        CREATE_SITE_CODE, CREATE_SITE_NAME, VOLUME,
        TYPE, OPERATE_TIME, CREATE_TIME,UPDATE_TIME,YN
    </sql>

    <sql id="gantryExceptionQueryParam" >
      <where>
          <if test="machineId != null">
              AND MACHINE_ID = #{machineId, jdbcType=BIGINT}
          </if>
          <if test="startTime != null and startTime != ''">
              AND OPERATE_TIME <![CDATA[>=]]> #{startTime, jdbcType=TIMESTAMP}
          </if>
          <if test="endTime != null and endTime != ''" >
              AND OPERATE_TIME <![CDATA[<=]]> #{endTime, jdbcType=TIMESTAMP}
          </if>
          <if test="isSend != null">
              AND YN = #{isSend, jdbcType=TINYINT}
          </if>
      </where>
    </sql>

    <insert id="addGantryException" parameterType="com.jd.bluedragon.distribution.gantry.domain.GantryException">
        INSERT INTO GANTRY_EXCEPTION
          (<include refid="gantryExceptionColumnNoID" />)
        VALUES (
          #{machineId, jdbcType=BIGINT}, #{packageCode, jdbcType=VARCHAR},
          #{waybillCode, jdbcType=VARCHAR}, #{createSiteCode, jdbcType=BIGINT}, #{createSiteName, jdbcType=VARCHAR},
          #{volume, jdbcType=DECIMAL}, #{type, jdbcType=TINYINT}, #{operateTime, jdbcType=TIMESTAMP},
          now(), now()
        )
    </insert>
    
    <select id="queryGantryException" resultMap="gantryExceptionMap" parameterType="java.util.Map">
        SELECT 
        <include refid="gantryExceptionColumn"/>
        FROM GANTRY_EXCEPTION
        <include refid="gantryExceptionQueryParam"/>
    </select>

    <select id="queryGantryExceptionPage" resultMap="gantryExceptionMap" parameterType="java.util.Map">
        SELECT
          <include refid="gantryExceptionColumn"/>
        FROM GANTRY_EXCEPTION
          <include refid="gantryExceptionQueryParam" />
        ORDER BY CREATE_TIME
        <if test="startIndex != null">
			LIMIT #{startIndex},#{pageSize}
		</if>
        
    </select>

    <select id="queryGantryExceptionCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
          COUNT(1)
        FROM GANTRY_EXCEPTION
        <include refid="gantryExceptionQueryParam"/>
    </select>
</mapper>
