<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.gantry.dao.GantryExceptionDao">

    <resultMap id="gantryExceptionMap" type="com.jd.bluedragon.distribution.gantry.domain.GantryException">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <id column="MACHINE_ID" property="machineId" jdbcType="VARCHAR"/>
        <result column="BAR_CODE" property="barCode" jdbcType="VARCHAR"/>
        <result column="WAYBILL_CODE" property="waybillCode" jdbcType="VARCHAR"/>
        <result column="CREATE_SITE_CODE" property="createSiteCode" jdbcType="BIGINT"/>
        <result column="CREATE_SITE_NAME" property="createSiteName" jdbcType="VARCHAR"/>
        <result column="VOLUME" property="volume" jdbcType="DECIMAL"/>
        <result column="TYPE" property="type" jdbcType="TINYINT"/>
        <result column="OPERATE_TIME" property="operateTime" jdbcType="TIMESTAMP"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="YN" property="yn" jdbcType="TINYINT"/>
        <result column="SEND_STATUS" property="sendStatus" jdbcType="TINYINT"/>
        <result column="SEND_CODE" property="sendCode" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="gantryExceptionColumn" >
        ID, MACHINE_ID, BAR_CODE, WAYBILL_CODE,
        CREATE_SITE_CODE, CREATE_SITE_NAME, VOLUME,
        TYPE, OPERATE_TIME, CREATE_TIME,UPDATE_TIME,YN,SEND_STATUS,SEND_CODE
    </sql>
    <sql id="gantryExceptionColumnNoID" >
            MACHINE_ID,
            BAR_CODE,
        <if test = "waybillCode != null">
            WAYBILL_CODE,
        </if>
        <if test = "createSiteCode != null">
            CREATE_SITE_CODE,
        </if>
        <if test = "createSiteName != null">
            CREATE_SITE_NAME,
        </if>
        <if test = "volume != null">
            VOLUME,
        </if>
        TYPE, OPERATE_TIME, CREATE_TIME,UPDATE_TIME,YN,SEND_STATUS,SEND_CODE
    </sql>

    <insert id="addGantryException" parameterType="com.jd.bluedragon.distribution.gantry.domain.GantryException">
        INSERT INTO GANTRY_EXCEPTION
          (<include refid="gantryExceptionColumnNoID" />)
        VALUES (
        #{machineId, jdbcType=BIGINT}, #{barCode, jdbcType=VARCHAR},
        <if test = "waybillCode != null">
            #{waybillCode, jdbcType=VARCHAR},
        </if>
        <if test = "createSiteCode != null">
            #{createSiteCode, jdbcType=BIGINT},
        </if>
        <if test = "createSiteName != null">
            #{createSiteName, jdbcType=VARCHAR},
        </if>
        <if test = "volume != null">
            #{volume, jdbcType=DECIMAL},
        </if>
           #{type, jdbcType=TINYINT}, #{operateTime, jdbcType=TIMESTAMP},
          now(), now(), 1, 0 ,
          #{sendCode, jdbcType=VARCHAR}
        )
    </insert>

    <sql id="gantryExceptionQueryParam" >
        <where>
            <if test="machineId != null">
                AND MACHINE_ID = #{machineId, jdbcType=VARCHAR}
            </if>
            <if test="startTime != null and startTime != ''">
                AND OPERATE_TIME <![CDATA[>=]]> #{startTime, jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null and endTime != ''" >
                AND OPERATE_TIME <![CDATA[<=]]> #{endTime, jdbcType=TIMESTAMP}
            </if>
            <if test="sendStatus != null">
                AND SEND_STATUS = #{sendStatus, jdbcType=TINYINT}
            </if>
            <if test="type != null">
                AND TYPE = #{type, jdbcType=TINYINT}
            </if>
        </where>
    </sql>

    <select id="queryGantryException" resultMap="gantryExceptionMap" parameterType="java.util.Map">
        SELECT 
        <include refid="gantryExceptionColumn"/>
        FROM GANTRY_EXCEPTION
        <include refid="gantryExceptionQueryParam"/>
    </select>

    <select id="queryGantryExceptionPage" resultMap="gantryExceptionMap" parameterType="java.util.Map">
        SELECT
          <include refid="gantryExceptionColumn"/>
        FROM GANTRY_EXCEPTION
          <include refid="gantryExceptionQueryParam" />
        ORDER BY CREATE_TIME
        <if test="startIndex != null">
			LIMIT #{startIndex},#{pageSize}
		</if>
        
    </select>

    <select id="queryGantryExceptionCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
          COUNT(1)
        FROM GANTRY_EXCEPTION
        <include refid="gantryExceptionQueryParam"/>
    </select>

    <sql id="updateParam" >
        <where>
            BAR_CODE = #{barCode, jdbcType=VARCHAR} AND CREATE_SITE_CODE = #{createSiteCode, jdbcType=BIGINT}
        </where>
    </sql>

    <update id="updateSendStatus" parameterType="java.util.Map">
        UPDATE GANTRY_EXCEPTION SET SEND_STATUS = 1, UPDATE_TIME = NOW()
        <include refid="updateParam"/>
    </update>

    <select id="getGantryExceptionCountForUpdate" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM GANTRY_EXCEPTION
        <include refid="updateParam"/>
    </select>
</mapper>
