<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.bluedragon.distribution.globaltrade.dao.LoadBillReadDao">

	<resultMap id="LoadBillReport"
		type="com.jd.bluedragon.distribution.globaltrade.domain.LoadBillReport">
		<result column="id" property="id" />
		<result column="report_id" property="reportId" />
		<result column="load_id" property="loadId" />
		<result column="warehouse_id" property="warehouseId" />
		<result column="process_time" property="processTime" />
		<result column="status" property="status" />
		<result column="order_id" property="orderId" />
		<result column="notes" property="notes" />
		<result column="yn" property="yn" />
	</resultMap>



</mapper>